<mat-card class="example-card">
    <mat-card-header>

        <mat-card-subtitle>
            <p style="font-size: 16px; padding: 0; margin: 0;padding-top: 20px;">
                Add Academic History Record
            </p>
        </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>

        <div style="font-size: 13px;">
            <form [formGroup]="form">
                <table style="width: 100%;">
                    <tr>
                        <td style="width:100%;" colspan="3">
                            <mat-form-field style="width: 100%" appearance="fill">
                                <mat-label>Course
                                </mat-label>
                                <input matInput [formControl]="courseCtrl" [matAutocomplete]="autoCourse"
                                    (ngModelChange)="onChange($event,'course')">
                                <mat-autocomplete #autoCourse="matAutocomplete" [displayWith]="displayFnCourse">
                                    <mat-option *ngFor="let course of filteredCourses | async" [value]="course">
                                        {{course.program}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div *ngIf="courseCtrl.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="courseCtrl.errors.required">*Course is required or not found</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;" colspan="1">
                            <mat-form-field style="width:100%;" appearance="outline">
                                <mat-label>Subject ID</mat-label>
                                <input matInput formControlName="subjectID">
                            </mat-form-field>
                            <div *ngIf="f.subjectID.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="f.subjectID.errors.required">*Subject ID is required</div>
                            </div>
                        </td>
                        <td style="width:100%;" colspan="1">
                            <mat-form-field style="width:100%;" appearance="outline">
                                <mat-label>Grade</mat-label>
                                <input matInput formControlName="grade">
                            </mat-form-field>
                            <div *ngIf="f.grade.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="f.grade.errors.required">*Grade is required</div>
                            </div>
                        </td>
                        <td style="width:100%;" colspan="1">
                            <mat-form-field style="width:100%;" appearance="outline">
                                <mat-label>Units</mat-label>
                                <input matInput formControlName="units">
                            </mat-form-field>
                            <div *ngIf="f.units.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="f.units.errors.required">*Units is required</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;" colspan="3">
                            <mat-form-field style="width:100%;" appearance="outline">
                                <mat-label>Subject Title</mat-label>
                                <input matInput formControlName="subjectTitle">
                            </mat-form-field>
                            <div *ngIf="f.subjectTitle.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="f.subjectTitle.errors.required">*Subject Title is required</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;" colspan="3">
                            <mat-form-field style="width: 100%" appearance="fill">
                                <mat-label>School
                                </mat-label>
                                <input matInput [formControl]="schoolCtrl" [matAutocomplete]="auto"
                                    (ngModelChange)="onChange($event,'school')">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnSchool">
                                    <mat-option *ngFor="let school of filteredSchools | async" [value]="school">
                                        {{school.companyName}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div *ngIf="schoolCtrl.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="schoolCtrl.errors.required">*School is required or not found</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;" colspan="1">
                            <mat-form-field appearance="outline" style="width:100%;">
                                <mat-label>Semester</mat-label>
                                <mat-select formControlName="termValue" (ngModelChange)="onChange($event, 'termValue')">
                                    <mat-option value="1">
                                        First Semester
                                    </mat-option>
                                    <mat-option value="2">
                                        Second Semester
                                    </mat-option>
                                    <mat-option value="3">
                                        Summer
                                    </mat-option>
                                    <!-- <mat-option value="4">
                                        Transition
                                    </mat-option> -->
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="f.termValue.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="f.termValue.errors.required && this.submitted">Term is required</div>
                            </div>
                        </td>
                        <td style="width: 100%;" colspan="1">
                            <mat-form-field>
                                <mat-label>Year Start</mat-label>
                                <input matInput formControlName="year1" type="number" min="1900" max="2999"
                                    maxlength="4" (change)='yearchange1()' (ngModelChange)="onChange($event, 'year1')">
                            </mat-form-field>
                            <div *ngIf="f.year1.errors && this.submitted" class="invalid-feedback">
                                <div style="font-size:11px" *ngIf="f.year1.errors.required && this.submitted">
                                    *Start Year is Required
                                </div>
                                <div style="font-size:11px" *ngIf="f.year1.errors.minmaxlength && this.submitted">
                                    *Start Year should be 4 digits
                                </div>
                            </div>
                        </td>
                        <td style="width: 100%;" colspan="1">
                            <mat-form-field>
                                <mat-label>Year End</mat-label>
                                <input matInput formControlName="year2" type="number" min="1900" max="2999"
                                    maxlength="4" (change)='yearchange2()' (ngModelChange)="onChange($event, 'year2')">
                            </mat-form-field>
                            <div *ngIf="f.year2.errors && this.submitted" class="invalid-feedback">
                                <div style="font-size:11px" *ngIf="f.year2.errors.required && this.submitted">
                                    *End Year is Required
                                </div>
                                <div style="font-size:11px" *ngIf="f.year2.errors.minmaxlength && this.submitted">
                                    *End Year should be 4 digits
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <div style="margin:20px; text-align: right;">
            <ng-container *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryRecordPost')">
                <button mat-raised-button color="primary" (click)="onSubmit()" matTooltip="Save">
                    <mat-icon>save</mat-icon>
                </button>
                &nbsp;
            </ng-container>
            <!-- <ng-container>
                <button mat-raised-button color="primary" (click)="onReset()" matTooltip="Reset Form">
                    <mat-icon>clear_all</mat-icon>
                </button>
                &nbsp;
            </ng-container> -->
            <button mat-raised-button color="success" (click)="close()" matTooltip="Close/Cancel">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </mat-card-footer>
</mat-card>