<div class="example-container">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <th colspan="5" style="text-align: center;">
                EDIT INFORMATION
            </th>
        </tr>
        <div style="margin-top: 5px;"></div>
        <tr>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="nationality" placeholder="Nationality">
                </mat-form-field>
            </td>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="religion" placeholder="Religion">
                </mat-form-field>
            </td>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input readonly matInput [matDatepicker]="picker" placeholder="Birth Date" (click)="picker.open()" [(ngModel)]="dateofbirth" name="bdate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="emailAdd" placeholder="Email Address">
                </mat-form-field>
            </td>

            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="telno" placeholder="Home Contact Number">
                </mat-form-field>
            </td>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="telno2" placeholder="Current Contact Number">
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td width="30%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Street" [(ngModel)]="street1" name="lrno">
                </mat-form-field>
            </td>
            <td style="padding-left: 10px" colspan="2">
                <mat-form-field class="example-full-widthminus">
                    <input autofocus matInput placeholder="Home Address" [(ngModel)]="homeaddress" readonly="readonly">

                </mat-form-field>
                <button mat-mini-fab color="primary" (click)="openDialog(1)">
          <mat-icon>search</mat-icon>
        </button>
            </td>
        </tr>
        <tr>
            <td width="30%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Street" [(ngModel)]="street2" name="lrno">
                </mat-form-field>
            </td>
            <td style="padding-left: 10px" colspan="2">
                <mat-form-field class="example-full-widthminus">
                    <input autofocus matInput placeholder="Current/Local Address" [(ngModel)]="curraddress" readonly="readonly">
                </mat-form-field>
                <button mat-mini-fab color="primary" (click)="openDialog(2)">
          <mat-icon>search</mat-icon>
        </button>
            </td>
        </tr>

    </table>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <mat-select required [(ngModel)]="civilstatus" name="civilS" placeholder="Civil Status" (ngModelChange)="csType()">
                        <mat-option value="S">Single</mat-option>
                        <mat-option value="M">Married</mat-option>
                        <mat-option value="W">Widow</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td style="padding-right: 20px" *ngIf="civilstatus==='M' || civilstatus==='W'">
                <mat-form-field class="example-full-width" [formGroup]="form">
                    <!-- <input matInput [(ngModel)]="spouse" placeholder="Name of Spouse" required="checkCivilStatus()"> -->
                    <input matInput formControlName="spouse" placeholder="Name of Spouse" required>
                    <mat-error *ngIf="form.get('spouse').invalid && (form.get('spouse').touched )">Name of Spouse is required</mat-error>
                </mat-form-field>
            </td>
            <td style="padding-right: 20px" *ngIf="civilstatus==='M' || civilstatus==='W'">
                <mat-form-field class="example-full-width" [formGroup]="form">
                    <input readonly matInput [matDatepicker]="picker1" placeholder="Date of Marriage" (click)="picker1.open()" formControlName="dateofmarriage" name="dateofmarriage" required>
                    <mat-error *ngIf="form.get('dateofmarriage').invalid && (form.get('dateofmarriage').touched )">Date of Marriage is required</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </td>

            <td style="padding-right: 20px" *ngIf="civilstatus=='S'">
                <mat-form-field class="example-full-width">
                    <!-- <input matInput [(ngModel)]="spouse" placeholder="Name of Spouse" required="checkCivilStatus()"> -->
                    <input matInput placeholder="Name of Spouse" [disabled]="checker">
                    <!-- <mat-error *ngIf="form.get('spouse').invalid && (form.get('spouse').touched )">Name of Spouse is required</mat-error> -->
                </mat-form-field>
            </td>
            <td style="padding-right: 20px" *ngIf="civilstatus=='S'">
                <mat-form-field class="example-full-width">
                    <input readonly matInput [matDatepicker]="picker1" placeholder="Date of Marriage" (click)="picker1.open()" name="dateofmarriage" [disabled]="checker">
                    <!-- <mat-error *ngIf="form.get('dateofmarriage').invalid && (form.get('dateofmarriage').touched )">Date of Marriage is required</mat-error> -->
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
        <td style="padding-right: 20px" *ngIf="civilstatus==='M'">
            <mat-form-field class="example-full-width" [formGroup]="form">
                <input matInput formControlName="nameOfChurch" placeholder="Name of Church" required>
                <mat-error *ngIf="form.get('nameOfChurch').invalid && (form.get('nameOfChurch').touched )">Name of Church is required</mat-error>
            </mat-form-field>
        </td>

        <td style="padding-right: 20px" *ngIf="civilstatus==='W'">
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="nameOfChurch" placeholder="Name of Church">

            </mat-form-field>
        </td>

        <td style="padding-right: 20px" *ngIf="civilstatus=='S'">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name of Church" [disabled]="checker">
                <!-- <mat-error *ngIf="form.get('nameOfChurch').invalid && (form.get('nameOfChurch').touched )">Name of Church is required</mat-error> -->
            </mat-form-field>
        </td>

        <td style="padding-right: 20px">
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="occupation" placeholder="Occupation">
            </mat-form-field>
        </td>
    </table>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="tin" placeholder="TIN Number">
                </mat-form-field>
            </td>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="sssNo" placeholder="SSS Number">
                </mat-form-field>
            </td>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="philHealthNo" placeholder="Philhealth Number">
                </mat-form-field>
            </td>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="pagIbigNo" placeholder="Pag-ibig Number">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="CedNo" placeholder="Cedula Number">
                </mat-form-field>
            </td>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="PlaceIssued" placeholder="Place Issued">
                </mat-form-field>
            </td>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input readonly matInput [matDatepicker]="picker2" placeholder="Date Issued" (click)="picker2.open()" [(ngModel)]="DateIssued" name="DateIssued">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </td>
            <td style="padding-right: 20px">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="PTRNo" placeholder="PTR Number">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <mat-divider></mat-divider>
    <br>
    <div mat-dialog-actions style="float: right">
        <button mat-raised-button (click)="onNoClick()" color="warning">Close</button>
        <button mat-raised-button color="primary" (click)="savePersonalInfo()">
        <i class="material-icons">edit</i>Save
      </button>
    </div>
    <br> &nbsp;
</div>