.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-full-width th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #294a70;
    color: white;
}

.example-full-width2 {
    width: 175px;
}

.example-full-width3 {
    width: 60px;
}

.fw-1 {
    font-size: 10pt;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

::ng-deep .mat-card-header * {
    color: white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix {
    width: auto !important;
}

.example-full-widthminus {
    width: calc(100% - 50px)
}