<mat-card class="example-card" id="emplookup" style='padding: 0 !important;'>
    <mat-card-header>
        <mat-card-title><b>Assign/Change the Adviser of this Section</b></mat-card-title>
    </mat-card-header>
    <mat-card-content class='colo'>
        <mat-form-field class="example-full-widthminus">
            <input autofocus matInput #idno2 placeholder="" value="" [(ngModel)]="keyword" name="idno" required="required" (keydown)="keyDownFunction($event)" autocomplete="off">

        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="keyDownFunction('onoutfocus')">
			<mat-icon>search</mat-icon>
		</button>

        <div style="max-height: calc(100vh - 400px);overflow-y: auto;">
            <table style="width: 100%" (click)="select(f)" *ngFor="let f of arraystud">
                <tr>
                    <td>
                        <div style="height: 5px"></div>
                    </td>
                </tr>
                <tr>
                    <td><b style="color: #294a70 !important;font-size: 16px">{{f.fullName}}</b></td>
                </tr>
                <tr>
                    <td>{{f.position}}</td>
                </tr>
                <tr>
                    <td>ID Number: {{f.employeeId}}</td>
                </tr>
                <tr>
                    <td style="padding-left: 5px">

                    </td>
                    <td>
                        <div style="height: 5px"></div>
                    </td>
                </tr>
            </table>



            <p style="text-align: center;" *ngIf="x==1">
                <br> *Please enter part of the Employee's name in the SEARCH box then hit the [ENTER] key to initiate query.
                <br><br><br>
            </p>

            <div *ngIf="x==0">
                <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="arraystud==undefined"></mat-spinner>

                <div *ngIf="arraystud!=undefined">
                    <p style="text-align: center;" *ngIf="arraystud.length==0">
                        - No results for {{tempkeyword}} -
                    </p><br>
                </div>
            </div>

        </div><button mat-raised-button (click)="close()">Cancel</button>
    </mat-card-content>
</mat-card>