<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>Edit Classroom</b></mat-card-title>
    </mat-card-header>
    <div style="height: 10px"></div>
    <mat-card-content class='colo'>
        <table cellspacing="0" style="width: 400px">
            <tr>
                <td width="100%">
                    <mat-form-field style="width: 50%">
                        <mat-label>Building Location</mat-label>
                        <mat-select [(ngModel)]="location" (ngModelChange)="generate()" disabled>
                            <mat-option [disabled]="true" *ngFor="let location of uniqueOfLocation" 
                            [value]="location">
                                {{location}}
                            </mat-option>
                            
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td width="100%">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Room Number" [(ngModel)]="aroomNo" disabled>
                  </mat-form-field>
                </td>
              </tr>
            <tr>
                <td width="100%">
                    <mat-form-field class="example-full-width">
                        <input matInput min="0" type="number" placeholder="Capacity" [(ngModel)]="aseatingCapacity">

                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table cellspacing="0" style="width: 100%">
            <tr>
                <td width="100%">
                    <mat-form-field style="width: 270px;">
                        <mat-label>Type Description</mat-label>
                        <mat-select [(ngModel)]="atypeDesc">
                            <mat-option *ngFor="let atypeDesc of typeListFinal" [value]="atypeDesc">
                                {{atypeDesc}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <td></td>
        </table>
        
    </mat-card-content>
</mat-card>

    <p style="float: left; font-size: 12px;"> NOTE:Location and Room number cannot be edited</p>
    <button mat-raised-button style="float: right" (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button style="float: right" color="primary" (click)="Update()">Update</button>

<!-- <div>
   
</div> -->

<!-- 
  <td width="60%">
                    <mat-card>
                        <mat-card-content *ngIf="selectedType">{{selectedType.typeDesc}}</mat-card-content>
                      </mat-card>
                        <mat-label *ngIf="selectedType">{{selectedType.typeDesc}}</mat-label>
                    </td> -->