<div id="EOS">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>End of Service</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px;"></div>
        <mat-card-content class='colo'>
            <table cellspacing="0" style="width: 100%">

                <tr *ngIf="activeType===1">
                    <td width="100%" colspan="2">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>End of Service Type</mat-label>
                            <mat-select formControlName="selectedEOSType" required>
                                <mat-option value="{{c.eosType}}" *ngFor="let c of eosTypeArr">
                                    {{c.eosType}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('selectedEOSType').invalid && (form.get('selectedEOSType').touched )">End of Service Type is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>

                <tr *ngIf="activeType===0">
                    <td width="100%" colspan="2">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>End of Service Type</mat-label>
                            <mat-select formControlName="selectedEOSType" disabled="true">
                                <mat-option value="{{c.eosType}}" *ngFor="let c of eosTypeArr">
                                    {{c.eosType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Remarks" [(ngModel)]="Remarks"></textarea>
                        </mat-form-field>
                    </td>
                </tr>

                <td width="50%" style="padding-left: 5px" [formGroup]="form">
                    <mat-form-field class="example-full-width1">
                        <input readonly matInput required [matDatepicker]="picker2" placeholder="End of Service Date" (click)="picker2.open()" formControlName="eDate" name="eDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error *ngIf="form.get('eDate').invalid && (form.get('eDate').touched )">End of Service Date is required</mat-error>
                    </mat-form-field>
                </td>

            </table>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>