<div style="width: 100%;">
  <mat-card class="example-card" id="school-year-setting" style='padding: 0;'>
    <mat-card-header>
      <br>
      <mat-card-title><b>Manage Active School Year and School Year for Conflict Checking</b></mat-card-title>
      <mat-card-subtitle>
        <p>This page allows you to update Active School Year and School Year to check conflict in Codes Manager.</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class='colo'>
      <mat-form-field style="width: 300px">
        <mat-select [(ngModel)]="configSYToUpdate" (selectionChange)="onChange($event,'configSYToUpdate')">
          <mat-option value="0">Active School Year</mat-option>
          <mat-option value="1">School Year for Conflict Checking</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card style="width: 600px;">
        <mat-card-content>
          <form [formGroup]="form">
            <table>
              <tr>
                <td style="width: 125px">Term: &nbsp; &nbsp;</td>
                <td>
                  <mat-form-field style="width: 200px">

                    <mat-select formControlName="activeterm" (selectionChange)="onChange($event, 'activeterm')">
                      <mat-option value="1">
                        First Semester
                      </mat-option>
                      <mat-option value="2">
                        Second Semester
                      </mat-option>
                      <mat-option value="3">
                        Summer
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>School Year: &nbsp; &nbsp;</td>
                <td>
                  <table style="width: 100%">
                    <tr>
                      <td>
                        <mat-form-field style="width: 130px">
                          <input matInput formControlName="year1" type="number" min="1900" max="2999" maxlength="4"
                            (change)='yearchange1()' (ngModelChange)="onChange($event, 'year1')">
                        </mat-form-field>
                        <div *ngIf="f.year1.errors && this.submitted" class="invalid-feedback">
                          <div style="font-size:11px" *ngIf="f.year1.errors.required && this.submitted">
                            *Start Year is Required
                          </div>
                          <div style="font-size:11px" *ngIf="f.year1.errors.minmaxlength && this.submitted">
                            *Start Year should be 4 digits
                          </div>
                        </div>
                      </td>
                      <td> &nbsp; to &nbsp; </td>
                      <td>
                        <mat-form-field style="width: 130px">
                          <input matInput formControlName="year2" type="number" min="1900" max="2999" maxlength="4"
                            (change)='yearchange2()' (ngModelChange)="onChange($event, 'year2')">
                        </mat-form-field>
                        <div *ngIf="f.year2.errors && this.submitted" class="invalid-feedback">
                          <div style="font-size:11px" *ngIf="f.year2.errors.required && this.submitted">
                            *End Year is Required
                          </div>
                          <div style="font-size:11px" *ngIf="f.year2.errors.minmaxlength && this.submitted">
                            *End Year should be 4 digits
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </form>
        </mat-card-content>

        <mat-divider></mat-divider>
        <mat-card-footer>
          <div style="margin-right:20px; display: block; text-align: right; padding: 10px;">
            <ng-container *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryRecordPut')">
              <button mat-raised-button color="primary" (click)="save()" matTooltip="Save Changes"
                [disabled]="this.btnSaveDisabled">
                <mat-icon>save</mat-icon>
              </button>
              &nbsp;
            </ng-container>
            <button mat-raised-button color="success" (click)="cancel()" matTooltip="Cancel"
              [disabled]="this.btnSaveDisabled">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </mat-card-footer>

      </mat-card>

      <div style="width: 20px;"></div>
    </mat-card-content>
  </mat-card>
</div>