<mat-card class="example-card">
    <mat-card-header >
      <mat-card-title><b>Cancel Officical Receipt</b>
        </mat-card-title>
    </mat-card-header>
  
    <mat-card-content class='colo' >
        <mat-divider></mat-divider>
    <mat-accordion class="example-headers-align">
       <br>
            <legend class="form-legend">Reason for Cancellation of Official Receipt </legend>
            <mat-form-field style="width: 500px;">
              <textarea matInput [(ngModel)]="reason" required="required"></textarea>
            </mat-form-field>
    </mat-accordion>
    </mat-card-content>
  </mat-card>

  <div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </div>



