<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>STUDENT REQUIREMENTS CHECKLIST</b></mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 12px; padding: 0; margin: 0;">
                This section provides a tabular list of students along with their respective requirements for
                verification of completion.
            </p>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class='colo'>

        <div style="width: 100%;">
            <div *ngIf="isLoading" class="loading-spinner">
                <div class="spinner"></div>
                Loading...
            </div>


            <button mat-raised-button style="width: 170px; height:30px; background-color: red;color:white;float: left; margin-bottom: 10px; margin-right: -50px;"
              class="buttondesign" (click)="clearFilter()">
                <i class="material-icons">clear</i>
                <span style="margin-top: 7px">Clear Filter&nbsp;&nbsp;</span></button>

            <button mat-raised-button
                style="width: 170px; height:30px; background-color: green;color:white;float: right; margin-bottom: 10px; margin-right: 50px;"
                class="buttondesign" (click)="exportExcel()">
                <i class="material-icons">save_alt</i>
                <span style="margin-top: 7px"> Download Excel File&nbsp;&nbsp;</span></button>

            <table class="apptable" *ngIf="!isLoading">
                <tr>
                    <th style="width: 20px;">ID Number</th>
                    <th style="width: 150px;">Full Name</th>
                    <th style="width: 140px;">Department</th>
                    <th style="width: 30px;">Course</th>
                    <th style="width: 22px;">Year Level</th>
                    <th style="width: 15px;">Form 137A</th>
                    <th style="width: 13px;">Form 138</th>
                    <th style="width: 7px;">NSO</th>
                    <!-- <th style="width: 30px;">TEST</th> -->
                </tr>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="idnumber"
                            (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="fullname"
                            (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <mat-select [(ngModel)]="deptname" (ngModelChange)="filterall()">
                            <mat-option *ngFor="let a of dept" [value]="a">{{ a }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <mat-select [(ngModel)]="course" (ngModelChange)="filterall()">
                            <mat-option *ngFor="let a of courseee" [value]="a">{{ a }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <mat-select [(ngModel)]="gradelevel" (ngModelChange)="filterall()">
                            <mat-option *ngFor="let a of grade" [value]="a">{{ a }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <mat-select [(ngModel)]="form137A" (ngModelChange)="filterall()">
                            <mat-option [value]="'1'">YES</mat-option>
                            <mat-option [value]="'0'">NO</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <mat-select [(ngModel)]="form138" (ngModelChange)="filterall()">
                            <mat-option [value]="'1'">YES</mat-option>
                            <mat-option [value]="'0'">NO</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <mat-select [(ngModel)]="nso" (ngModelChange)="filterall()">
                            <mat-option [value]="'1'">YES</mat-option>
                            <mat-option [value]="'0'">NO</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <!-- <tr  *ngFor="let list of filteredStudentsList | slice:(currentPage - 1) * itemsPerPage: currentPage * itemsPerPage"> -->
                <tr *ngFor="let list of filteredStudentsList | paginate: configList">
                    <td>{{ list.idnumber }}</td>
                    <td>{{ list.fullname }}</td>
                    <td>{{ list.departmentname }}</td>
                    <td>{{ list.course }}</td>
                    <td style="text-align: center">{{ list.yearorgradelevel }}</td>
                    <td style="text-align: center"><input type="checkbox" [checked]="list.form137A === '1'" disabled />
                    </td>
                    <td style="text-align: center"><input type="checkbox" [checked]="list.form138 === '1'" disabled />
                    </td>
                    <td style="text-align: center"><input type="checkbox" [checked]="list.nso === '1'" disabled /></td>
                    <!-- <td style="text-align: center;"><input type="checkbox" [(ngModel)]="list.form138"></td> -->

                </tr>
                <tr *ngIf="filteredStudentsList ==''">
                    <td colspan="8">
                        <p style="text-align: center; width: 100%;">
                            <i>- No Data Found -</i>
                        </p>
                        <!-- <p style="text-align: center; width: 100%;">
                        <i>- Please Input ID Number -</i>
                      </p> -->
                    </td>
                </tr>

            </table>
            <!-- <table class="apptable" style="width: 100%" > -->

            <!-- </table> -->
            <!-- <mat-paginator *ngIf="filteredStudentsList" [length]="StudentsRequirementList.length"
                [pageSize]="itemsPerPage" [pageIndex]="currentPage - 1"
                (page)="currentPage = $event.pageIndex + 1"></mat-paginator> -->

            <div style="float: right; margin-right: 10px;">
                <pagination-controls (pageChange)="pageChangedList($event)"></pagination-controls>
            </div>
        </div>

    </mat-card-content>
</mat-card>