.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-full-width2 {
    width: 175px;
}

.example-full-width3 {
    width: 60px;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

::ng-deep .mat-card-header * {
    color: white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}


.mat-form-field {
    margin-bottom: -20px;
    padding: 0;
    width: 100%;
}


.apptable {
    table-layout: fixed;
}




.loading-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust as needed */
    font-size: 1.2rem;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db; /* Adjust the color as needed */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add this CSS to your component's CSS file or the global stylesheet */

.header-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-button {
    margin-right: 10px; /* Add spacing between button and paginator */
  }
  
  .right-paginator {
    flex: 1; /* Allow paginator to take remaining space */
    text-align: right; /* Align paginator content to the right */
  }
  