<mat-card class="example-card">
   <mat-card-header >
    <mat-card-title><b>Confirm Set Codes</b></mat-card-title>
  </mat-card-header>
  <mat-card-content class='colo'>
    <div  style="height: calc(100vh - 200px);overflow-x: auto">
      <table style="width: 100%" class="apptable">
        <tr>
        <th>Code</th>
        <th style="width: 80px">Subject ID</th>
        <th>Subject Title</th>
        <th style="width: 40px">Units</th>
        <th style="width: 40px">Day</th>
        <th style="width: 80px">Time</th>
        <th style="width: 40px">Room</th>
        <th style="width: 40px">Size</th>
        <th style="width: 60px">Available Slot</th>
      </tr>
        <tr  *ngFor="let x of data2.selectedData;let i=index" >
          <td>
            <span *ngIf="!showhide(i)">
              <!-- enable this to initially uncheck pre-requisites, but the subjects with pre-requisites are not disabled-->
              <mat-checkbox [disabled]="checkdisabled(x.availableSlot)" [checked]='checkthis(x.availableSlot,x.codeNo)' (click)="clickcheck(i)" *ngIf="global.checkaccess(':Enrollment:DropCode')">{{x.codeNo}}</mat-checkbox>

              <!-- enabled for initially disabling the subjects with pre-requisites -->
              <!-- if disabled and unchecked, dean has the access to drop code -->
              <ng-container *ngIf="checkdisabled2(x.codeNo); else template1">
                <mat-checkbox [disabled]="true" [checked]='false' (click)="clickcheck(i)" *ngIf="!global.checkaccess(':Enrollment:DropCode')">{{x.codeNo}}</mat-checkbox>
              </ng-container>
              <ng-template #template1>
                <mat-checkbox [disabled]="false" [checked]='checkthis(x.availableSlot,"")' (click)="clickcheck(i)" *ngIf="!global.checkaccess(':Enrollment:DropCode')">{{x.codeNo}}</mat-checkbox>
              </ng-template>

            </span>
          </td>
          <td style="text-align: center;"><span *ngIf="!showhide(i)">{{x.subjectId}}</span></td>
          <td><span *ngIf="!showhide(i)">{{x.subjectTitle}}</span></td>
          <td style="text-align: center;"><span *ngIf="!showhide(i)">{{x.units}}</span></td>
          <td style="text-align: center;">{{x.day}}</td>
          <td style="text-align: center;">{{x.time}}</td>
          <td style="text-align: center;">{{x.roomNumber}}</td>
          <td style="text-align: center;">
            <span *ngIf="!showhide(i)">{{x.oe + x.res}}/{{x.classSize}}</span>
          </td>
          <td style="text-align: center;"><span *ngIf="!showhide(i)">{{x.availableSlot}}</span></td>
        </tr>
      </table>
      <br>
      <div *ngIf="codeRequisite">
        <h3 style="text-align: center; color: red;">
          - Code/s has pre-requisites. -
        </h3>
        <!-- <h3 style="text-align: center; color: red; margin-bottom: -10px;">
          - Code/s has pre-requisites. -
        </h3> -->
        <!-- <p style="text-align: center;">
          Code/s listed below has pre-requisites and will not be added upon confirmation
        </p> -->
        <table style="width: 100%" border="0" class="apptable">
          <tr>
            <th>Code</th>
            <th>Subject Pre-requisite</th>
          </tr>
          <tr *ngFor="let x of codesWithRequisites">
            <td>{{x.code}}</td>
            <td>{{x.requisites}}</td>
          </tr>
        </table>
      </div>
    </div>

  </mat-card-content>
</mat-card>
  		<button mat-raised-button (click)="onNoClickclose()" color="warning" style="float: left;">Close</button>

        <button mat-raised-button (click)="confirm()" color="primary" style="float: right;">Confirm</button>
