#ares {
    /* overflow-y: scroll; */
    max-height: 90vh
}

.example-full-width {
    width: 100%;
}

.example-full-width2 {
    width: 175px;
}

.example-full-width3 {
    width: 60px;
}

#ares {
    .example-form {
        min-width: 150px;
        max-width: 580px;
        width: 100%;
    }
     ::ng-deep .mat-card-header {
        background-color: #294a70 !important;
        padding: 15px 5px 5px 5px !important;
        color: white;
    }
     ::ng-deep .mat-card-header * {
        color: white;
    }
     ::ng-deep .mat-card {
        padding: 0 !important;
    }
     ::ng-deep .mat-card-content {
        padding: 15px !important;
    }
    mat-form-field {
        margin-bottom: -20px;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

span {
    font-size: 14px
}