<div *ngIf="studentProfiles.arrayHomePlace!=null && studentProfiles.arrayHomePlace.length!=0" style="margin:10px;">
    <table class="apptable" *ngIf="studentProfiles.arrayHomePlace!=null" style="width: 650px" id="HomePlace">
        <tr>                
          <th style="width:200px">Year Or Grade Level</th>
          <th style="width:200px">Tuguegarao</th>
          <th style="width:200px">Outside Tuguegarao But Within Cagayan</th>
          <th style="width:100px">Outside Cagayan</th>                 
          <th style="width:100px">No Data</th>                 
        </tr>
      
        <tr *ngFor="let a of studentProfiles.arrayHomePlace">
              <td>{{a.yearOrGradeLevel}}</td>
              <td>{{a.tuguegarao}}</td>
              <td>{{a.outsideTuguegaraoButWithinCagayan}}</td>
              <td>{{a.outsideCagayan}}</td>
              <td>{{a.noData}}</td>                     
        </tr>                   
    </table> 
</div>
