<mat-tab-group>
    <mat-tab label="INDIVIDUAL">
        <mat-card class="example-card">
            <input type="file" (change)="onFileChange($event)" multiple="false" #uploadthis style="display: none;" />
            <mat-card-header>
                <mat-card-title>
                </mat-card-title>
                <mat-card-subtitle>
                    <p style="font-size: 12px; padding: 0; margin: 0;">
                        This page allows you to hide or unhide students grades with <strong>DUES</strong>
                        <br> Please enter the student's ID NUMBER and press the <strong>[ENTER]</strong> key on your keyboard.
                    </p>
                </mat-card-subtitle>
            </mat-card-header>
            <div style="width: 1040px;">

                <mat-card-content class='colo'>

                    <table style="margin: 0px; padding: 0px;">
                        <tr>
                            <td width="160" rowspan="2">
                                <img [src]="image" width="150" onError="this.src='assets/noimage.jpg'" />
                            </td>

                            <div class="search">
                                <td style="margin-top: 15px;">
                                    <mat-form-field class="example-full-widthminus">
                                        <input autofocus matInput #idno2 placeholder="ID Number" value="" [(ngModel)]="id" name="idno" required="required" (keydown)="keyDownFunction($event)" maxlength="7">
                                    </mat-form-field>
                                    <button mat-mini-fab color="primary" (click)="studentlookup()">
                              <mat-icon>search</mat-icon>
                            </button>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <td>
                                <div class="Name">
                                    <p style="margin-top: -5px; color: #555555;">First Name:</p> <br>
                                    <h3 style="margin-top: -25px; margin-bottom: -8px;">{{fName}}</h3>
                                </div>
                            </td>
                            <td>
                                <div class="Name">
                                    <p style="margin-top: -5px; color: #555555">Middle Name:</p> <br>
                                    <h3 style="margin-top: -25px; margin-bottom: -8px;">{{mName}}</h3>
                                </div>
                            </td>
                            <td>
                                <div class="Name">
                                    <p style="margin-top: -5px; color: #555555">Last Name:</p> <br>
                                    <h3 style="margin-top: -25px; margin-bottom: -8px;">{{lName}}</h3>
                                </div>
                            </td>
                            <td>
                                <div class="Suffix">
                                    <p style="margin-top: -5px; color: #555555">Suffix:</p> <br>
                                    <h3 style="margin-top: -25px; margin-bottom: -8px;">{{suffix}}</h3>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                <div class="HidingBox">
                                    <p style="margin-top: -5px; margin-bottom: 5px; color: #555555 ">Hide/Unhide</p>
                                    <mat-slide-toggle class="example-margin" style="width: 30px; margin-left: -10px;" *ngIf="lName != '' && checked == false && this.gradearray1 != 0 && global.checkaccess(':GradeHideUnhide:GradeHideUnhidePost') == true && global.checkaccess(':GradeHideUnhide:GradeHideUnhidePut') == true"
                                        [(ngModel)]="isChecked" (click)="toggleGradeHideUnhide()">
                                    </mat-slide-toggle>

                                    <mat-slide-toggle class="example-margin" style="width: 30px; margin-left: -10px;" [disabled]="true" *ngIf="lName == '' || this.checked == true || global.checkaccess(':GradeHideUnhide:GradeHideUnhidePost') == false || global.checkaccess(':GradeHideUnhide:GradeHideUnhidePut') == false">
                                    </mat-slide-toggle>

                                    <!-- <mat-button-toggle-group [(ngModel)]="isChecked" aria-label="Font Style" (ngModelChange)="toggleGradeHideUnhide()">
                                        <mat-button-toggle value="true">Bold</mat-button-toggle>
                                        <mat-button-toggle value="false">Italic</mat-button-toggle> 

                                    </mat-button-toggle-group> -->
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="Address">
                                    <p style="margin-top: -5px; color: #555555">Address:</p> <br>
                                    <h3 style="margin-top: -25px; margin-bottom: -8px;">{{address}}</h3>
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="ContactNumber">
                                    <p style="margin-top: -5px; color: #555555">Contact Number:</p> <br>
                                    <h3 style="margin-top: -25px; margin-bottom: -8px;">{{contactNumber}}</h3>
                                </div>
                            </td>
                        </tr>

                    </table>

                    <mat-divider style="width: 1020px; margin-top: 10px;"></mat-divider>

                    <div *ngIf="this.lName!='' && this.currentTab=='sheet1' && checked==false">

                        <div style="height: 10px"></div>
                        <mat-spinner diameter=50 *ngIf="IsWait && lName!=''" style="margin:10px auto 10px auto"></mat-spinner>

                        <div *ngIf="this.lName!=''">
                            <table>
                                <tr>
                                    <td style="text-align: left ;padding-bottom: 2px; margin-left: 15px; margin-bottom: 5px;">
                                        <section class="example-section">
                                            <mat-checkbox class="example-margin" [(ngModel)]="checked">Click to View Academic History</mat-checkbox>
                                        </section>
                                        <!-- <section class="example-section" *ngIf="this.lName==''">
                                            <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="checked">Click to View Academic History</mat-checkbox>
                                        </section> -->
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <table class="apptablegrade" *ngIf="this.lName!=''">
                            <tr>
                                <th style="width: 100px; padding-top:2px; padding-bottom: 2px;">Subject ID</th>
                                <th style="padding-top:2px; padding-bottom: 2px;">Descriptive Title</th>
                                <th style="width: 75px; padding-top:2px; padding-bottom: 2px;">Grade</th>
                                <th style="width: 75px; padding-top:2px; padding-bottom: 2px;">Units</th>
                            </tr>
                        </table>

                        <table class="apptablegrade" *ngIf="this.gradearray1 != 0">
                            <tr style="text-align: center; color:black; background-color: gray;">
                                <td colspan="4" style="margin: 5px; padding: 5px;">
                                    <b>{{ getsy(this.schoolYear) }}</b>
                                </td>
                            </tr>

                            <tr [ngStyle]="this.isChecked == true?{'background-color': 'AntiqueWhite'} : {}" style="background-color:silver;">
                                <td colspan="4" style="margin: 5px; padding: 5px;" [ngStyle]="this.isChecked == false?{'background-color': 'silver'} : {}">
                                    <b>{{ getsem(this.schoolYear) }}</b>
                                </td>
                            </tr>
                        </table>

                        <div style="max-height: calc(100vh - 250px);">
                            <table *ngFor="let grade of gradearray1; let i = index;" class="apptablegrade">
                                <tr>
                                    <td style="width: 100px; padding-top:1px; padding-bottom: 1px;">
                                        {{ grade.subjectID }}
                                    </td>
                                    <td>
                                        {{ grade.subjectTitle }}
                                    </td>

                                    <td style="width: 62px; padding-top:1px; padding-bottom: 1px;">
                                        {{ grade.gradeWasHidden==='0' ? grade.grade :'Hidden' }}
                                    </td>

                                    <td style="width: 69px; padding-top:1px; padding-bottom: 1px;">
                                        {{ grade.units }}
                                    </td>
                                </tr>
                                <tr *ngIf="sem3(grade.schoolYear,i)">
                                    <td colspan="4" style="text-align: right;color: red; margin: 0px; padding: 3px;">
                                        <b><i>{{grade.gradeWasHidden==='0'? calcgrade1(grade.schoolYear): '0.00' }}</i></b>
                                    </td>
                                </tr>

                            </table>

                            <tr>
                                <td colspan="10" *ngIf="this.gradearray1 == ''" style="margin: auto; text-align: right; width: 1350px; max-width: 100%; background-color: #ccc;">
                                    <div>
                                        <p style="text-align: center; width: 100%;">
                                            <i>- No Data -</i>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </div>

                    <div *ngIf="this.lName!='' && this.currentTab=='sheet1' && checked == true">
                        <div style="height: 10px"></div>
                        <mat-spinner diameter=50 *ngIf="IsWait && lName!=''" style="margin:10px auto 10px auto"></mat-spinner>

                        <table>
                            <tr>
                                <td style="text-align: left ;padding-bottom: 2px; margin-left: 15px; margin-bottom: 5px;">
                                    <section class="example-section" *ngIf="this.checked==true">
                                        <mat-checkbox class="example-margin" [(ngModel)]="checked">Click to View Academic History</mat-checkbox>
                                    </section>
                                </td>
                            </tr>
                        </table>

                        <table class="apptablegrade" *ngIf="this.lName!=''">
                            <tr>
                                <th style="width: 100px; padding-top:2px; padding-bottom: 2px;">Subject ID</th>
                                <th style="padding-top:2px; padding-bottom: 2px;">Descriptive Title</th>
                                <th style="width: 75px; padding-top:2px; padding-bottom: 2px;">Grade</th>
                                <th style="width: 75px; padding-top:2px; padding-bottom: 2px;">Units</th>
                            </tr>
                        </table>

                        <div style="max-height: calc(100vh - 250px);overflow-y: scroll;">
                            <table *ngFor="let grade of gradearray; let i = index;" class="apptablegrade">
                                <tr *ngIf="sy(grade.schoolYear)" style="text-align: center; color:black; background-color: gray;">
                                    <td colspan="4" style="margin: 5px; padding: 5px;">
                                        <b>{{ getsy(grade.schoolYear) }}</b>
                                    </td>
                                </tr>

                                <tr *ngIf="sem(grade.schoolYear)" style="background-color:silver;" [ngStyle]="grade.gradeWasHidden==='1'?{'background-color': 'AntiqueWhite'} : {}">
                                    <td colspan="4" style="margin: 5px; padding: 5px;">
                                        <b>{{ getsem(grade.schoolYear) }}</b>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 100px; padding-top:1px; padding-bottom: 1px;">
                                        {{ grade.subjectID }}
                                    </td>
                                    <td>
                                        {{ grade.subjectTitle }}
                                    </td>

                                    <td style="width: 62px; padding-top:1px; padding-bottom: 1px;">
                                        {{ grade.gradeWasHidden==='0' ? grade.grade :'Hidden' }}
                                    </td>

                                    <td style="width: 69px; padding-top:1px; padding-bottom: 1px;">
                                        {{ grade.units }}
                                    </td>
                                </tr>
                                <tr *ngIf="sem2(grade.schoolYear,i)">
                                    <td colspan="4" style="text-align: right;color: red; margin: 0px; padding: 3px;">
                                        <b><i>{{grade.gradeWasHidden==='0'? calcgrade(grade.schoolYear): '0.00' }}</i></b>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </mat-card-content>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="BATCH">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                </mat-card-title>
                <mat-card-subtitle>
                    <p style="font-size: 12px; padding: 0; margin: 0;">
                        This page allows you to hide multiple student grades with <strong>DUES</strong>
                        <br> Upload the file <strong> ENROLLMENTDUE-"SCHOOLYEAR".xls </strong> and press the <strong>UPDATE</strong> button
                    </p>
                </mat-card-subtitle>
            </mat-card-header>
            <div style="width: 1030px;">

                <button mat-button (click)="uploadthis.click()" *ngIf="global.checkaccess(':GradeHideUnhide:PersonGet')" style="font-size:12px; min-width:18px; line-height: 15px; height: 28px; padding: 0;
                   margin-right: 15px; background-color:#294a70;color: white;float: right;margin-bottom: 5px;margin-top: 15px">
                   &nbsp;&nbsp;<i class="material-icons"> cloud_upload</i>
                   <span style="margin-top: 7px"> Upload File&nbsp;&nbsp;&nbsp;</span>
                </button>

                <button mat-button *ngIf="global.checkaccess(':GradeHideUnhide:PersonGet') == false" style="font-size:12px; min-width:18px; line-height: 15px; height: 28px; padding: 0;
                   margin-right: 15px; background-color:#555555;color: white;float: right;margin-bottom: 5px;margin-top: 15px">
                   &nbsp;&nbsp;<i class="material-icons"> cloud_upload</i>
                   <span style="margin-top: 7px"> Upload File&nbsp;&nbsp;&nbsp;</span>
                </button>


                <button mat-button (click)="exportList()" style="font-size:12px; min-width:18px; line-height: 15px; height: 28px; padding: 0;
                   margin-right: 15px; background-color:#294a70;color: white;float: right;margin-bottom: 15px;margin-top: 15px">
                   &nbsp;&nbsp;<i class="material-icons"> cloud_download</i>
                   <span style="margin-top: 7px"> Download File&nbsp;&nbsp;&nbsp;</span>
               </button>

                <table class="apptablegrade" style="margin-top: 30px;">
                    <tr>
                        <!-- <th style="width: 20px; padding-top:2px; padding-bottom: 2px;">No.</th> -->
                        <th style="width: 100px; padding-top:2px; padding-bottom: 2px;">ID Number</th>
                        <th style="padding-top:2px; padding-bottom: 2px;">Name</th>
                        <!-- <th style="width: 75px; padding-top:2px; padding-bottom: 2px;">Course</th>
                    <th style="width: 75px; padding-top:2px; padding-bottom: 2px;">Department</th> -->
                    </tr>
                </table>

                <div style="max-height: calc(100vh - 250px);overflow-y: scroll;">
                    <table *ngFor="let batch of studentArray; let i = index;" class="apptablegrade" style="overflow-y: scroll;">
                        <tr>

                            <td *ngIf="batch.Name ==='Middle Name does not match!' || batch.Name==='First Name does not match!'|| batch.Name==='Last Name does not match!'" class="greenCell" style="width: 100px; padding-top:1px; padding-bottom: 1px;">
                                {{ batch.id }}
                            </td>

                            <td *ngIf="batch.Name ==='Middle Name does not match!' || batch.Name==='First Name does not match!'|| batch.Name==='Last Name does not match!'" class="greenCell">
                                {{ batch.Name}}
                                <button mat-raised-button (click)="deleteUploadedError(i)" matTooltip="Remove" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right">
                                &nbsp;&nbsp;<i class="material-icons">delete
                                </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span>
                            </button>

                            </td>
                            <td *ngIf="batch.Lname ==='ID Not Found' || batch.Lname==='Duplicated Value'" class="redCell" style="width: 100px; padding-top:1px; padding-bottom: 1px;">
                                {{ batch.id }}
                            </td>

                            <td *ngIf="batch.Lname ==='ID Not Found' || batch.Lname==='Duplicated Value'" class="redCell">
                                {{ batch.Lname}}
                                <button mat-raised-button (click)="deleteUploadedError(i)" matTooltip="Remove" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right">
                                &nbsp;&nbsp;<i class="material-icons">delete
                                </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span>
                            </button>
                            </td>

                            <td *ngIf="batch.Lname!='ID Not Found' && batch.Lname!='Duplicated Value' && batch.Name !='Middle Name does not match!' && batch.Name !='Last Name does not match!' && batch.Name !='First Name does not match!'" style="width: 100px; padding-top:1px; padding-bottom: 1px;">
                                {{batch.id}}
                            </td>

                            <td *ngIf="batch.Lname!='ID Not Found' && batch.Lname!='Duplicated Value' && batch.Name !='Middle Name does not match!' && batch.Name !='Last Name does not match!' && batch.Name !='First Name does not match!'">
                                {{batch.Lname}}, {{batch.Fname}} {{batch.Mname}}
                                <button mat-raised-button (click)="deleteUploadedError(i)" matTooltip="Remove" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right">
                                &nbsp;&nbsp;<i class="material-icons">delete
                             </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span>
                            </button>
                            </td>
                        </tr>
                    </table>
                </div>

                <tr>
                    <td colspan="10" *ngIf="studentArray.length === 0" style="margin: auto; text-align: right; width: 1350px; max-width: 100%; background-color: #ccc;">
                        <div>
                            <p style="text-align: center; width: 100%;">
                                <i>- No Data -</i>
                            </p>
                        </div>
                    </td>
                </tr>

                <table style="height: -50px;">
                    <tr>
                        <td>
                            <div class="RedBox" style="margin-left: 10px;"></div>
                        </td>

                        <td>
                            <h5>ID Number is Incorrect / <br> ID Number is Duplicated </h5>
                        </td>

                        <td>
                            <div class="GreenBox"></div>
                        </td>

                        <td>
                            <h5>ID Number and Name <br> does not match </h5>
                        </td>

                        <td style="width: 630px;">
                            <div style=" text-align: right; margin-right: 15px;">
                                <mat-divider style="width: 1030px;"></mat-divider>
                                <div *ngIf="errorData === false && studentArray.length != 0 && global.checkaccess(':GradeHideUnhide:GradeHideUnhidePost') && global.checkaccess(':GradeHideUnhide:GradeHideUnhidePut')">
                                    <button mat-raised-button (click)="updateStatus()" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;margin-bottom: 15px;background-color:#006600;color: white;">
                                  &nbsp;&nbsp;<i class="material-icons">done_all
                                 </i> <span style="margin-top: 7px"> Update&nbsp;&nbsp;&nbsp;</span>
                                </button>
                                </div>

                                <div *ngIf="errorData === true || studentArray.length === 0 ">
                                    <button mat-raised-button style=" font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;margin-bottom: 15px;background-color:#555555;color: white; text-align: right; ">
                                 &nbsp;&nbsp;<i class="material-icons ">done_all
                                   </i> <span style="margin-top: 7px "> Update&nbsp;&nbsp;&nbsp;</span>
                                 </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </mat-card>
    </mat-tab>
</mat-tab-group>