.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.example-full-width {
    width: 15%;
}

.example-full-width2 {
    width: 175px;
}

.example-full-width3 {
    width: 60px;
}

 ::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

 ::ng-deep .mat-card-header * {
    color: white;
}

 ::ng-deep .mat-card {
    padding: 0 !important;
}

 ::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix {
    width: auto !important;
}

.example-full-widthminus {
    width: calc(100% - 50px)
}

mat-header-cell:nth-child(1),
mat-cell:nth-child(1),
mat-header-cell:nth-child(3),
mat-cell:nth-child(3),
mat-header-cell:nth-child(4),
mat-cell:nth-child(4) {
    flex: 0 0 100px;
}

.mat-form-field {
    margin-bottom: -20px;
}

.example-spacer {
    flex: 1 1 auto;
}

span {
    font-size: 14px
}

 ::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

 ::ng-deep .mat-card-header * {
    color: white;
}

 ::ng-deep .mat-card {
    padding: 0 !important;
}

 ::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix {
    width: auto !important;
}

.mat-slide-toggle {
    transform: scale(1.3);
}

.td.fullName {
    display: inline-block;
    text-transform: lowercase;
}

.redCell {
    background-color: #FF6863;
}

.greenCell {
    background-color: #00b100;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #006600;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #006600;
}

.display-box {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    width: 1233px;
}

.display-box span {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.display-box p {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.Image {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    width: 130px;
}

.search {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
    width: 220px;
    margin-top: 10px;
}

.Name {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 220px;
    height: 35px;
}

.Suffix {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 80px;
    height: 35px;
}

.Address {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 470px;
    height: 35px;
}

.ContactNumber {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 328px;
    height: 35px;
}

.HidingBox {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 125px;
    height: 35px;
}

.RedBox {
    background-color: #FF6863;
    border-radius: 4px;
    height: 30px;
    width: 40px;
}

.GreenBox {
    background-color: #00b100;
    border-radius: 4px;
    height: 30px;
    width: 40px;
}