<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>LEARNER REFERENCE CHECKLIST</b></mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 12px; padding: 0; margin: 0;">
                List of students with their Learner Reference No.
            </p>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class='colo'>

        <div style="width: 100%;">
            <div *ngIf="isLoading" class="loading-spinner">
                <div class="spinner"></div>
                Loading...
              </div>
              <button mat-raised-button style="width: 170px; height:30px; background-color: red;color:white;float: left; margin-bottom: 10px; margin-right: -50px;"
              class="buttondesign" (click)="clearFilter()">
                <i class="material-icons">clear</i>
                <span style="margin-top: 7px">Clear Filter&nbsp;&nbsp;</span></button>
              <button mat-raised-button style="width: 170px; height:30px; background-color: green;color:white;float: right; margin-bottom: 10px; margin-right: 50px;"
              class="buttondesign" (click)="exportExcel()">
                <i class="material-icons">save_alt</i>
                <span style="margin-top: 7px"> Download Excel File&nbsp;&nbsp;</span></button>

            <table class="apptable" *ngIf="!isLoading">
                <tr>
                    <th style="width: 100%;">ID Number</th>
                    <th style="width: 100%;">Full Name</th>
                    <th style="width: 100%;">Birth Date</th>
                    <th style="width: 100%;">Year Level</th>
                    <th style="width: 100%;">Course</th>
                    <th style="width: 100%;">Strand</th>
                    <th style="width: 100%;">Section</th>
                    <th style="width: 100%;">LR No</th>
                    <!-- <th style="width: 30px;">TEST</th> -->
                </tr>
                <td>
                    <mat-form-field  appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="idnumber" (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="name" (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field  appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="birthdate" (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Filter</mat-label>
                      <mat-select [(ngModel)]="gradelevel" (ngModelChange)="filterall();UniqueSection();">
                        <mat-option *ngFor="let a of gradeLevels" [value]="a" [disabled]="isOptionDisabled(a)">{{ a }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Filter</mat-label>
                      <mat-select [(ngModel)]="courseCode" (ngModelChange)="filterall(); Unique();">
                        <mat-option *ngFor="let a of course" [value]="a" [disabled]="isOptionDisabled(a)">{{ a }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Filter</mat-label>
                      <mat-select [(ngModel)]="strand" (ngModelChange)="filterall()" [disabled]="gradelevel === '7' || gradelevel === '8' || gradelevel === '9' || gradelevel === '10'">
                        <mat-option *ngFor="let a of stranddd" [value]="a" [disabled]="isOptionDisabled(a)">{{ a }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Filter</mat-label>
                      <mat-select [(ngModel)]="section" (ngModelChange)="filterall()">
                        <mat-option *ngFor="let a of sectionnn" [value]="a">{{ a }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field  appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="lrn" (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <tr  *ngFor="let list of filteredStudentsList | paginate: configList">
                    <td>{{ list.idNumber }}</td>
                    <td>{{ list.name }}</td>
                    <td>{{ list.dateOfBirth }}</td>
                    <td>{{ list.gradeLevel }}</td>
                    <td>{{ list.courseCode }}</td>
                    <td>{{ list.strand }}</td>
                    <td>{{ list.section }}</td>
                    <td>{{ list.lrn }}</td>
                    <!-- <td style="text-align: center">{{ list.yearorgradelevel }}</td>
                    <td style="text-align: center"><input type="checkbox" [checked]="list.form137A === '1'" disabled /></td>
                    <td style="text-align: center"><input type="checkbox" [checked]="list.form138 === '1'" disabled /></td>
                    <td style="text-align: center"><input type="checkbox" [checked]="list.nso === '1'" disabled /></td> -->
                    <!-- <td style="text-align: center;"><input type="checkbox" [(ngModel)]="list.form138"></td> -->

                </tr>
                <tr *ngIf="filteredStudentsList ==''">
                    <td colspan="8">
                      <p style="text-align: center; width: 100%;">
                        <i>- No Data Found -</i>
                      </p>
                      <!-- <p style="text-align: center; width: 100%;">
                        <i>- Please Input ID Number -</i>
                      </p> -->
                    </td>
                  </tr>

            </table>
            <!-- <table class="apptable" style="width: 100%" > -->

              <!-- </table> -->
                <!-- <mat-paginator *ngIf="filteredStudentsList" [length]="StudentsRequirementList.length" [pageSize]="itemsPerPage" [pageIndex]="currentPage - 1"
                (page)="currentPage = $event.pageIndex + 1"></mat-paginator> -->
                <div style="float: right; margin-right: 10px;">
                    <pagination-controls (pageChange)="pageChangedList($event)"></pagination-controls>
                </div>
        </div>

    </mat-card-content>
</mat-card>
