<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><b>ASSESSMENT</b></mat-card-title>
    <mat-card-subtitle>
      <p style="font-size: 12px; padding: 0; margin: 0;">
        This page presents a table-based record of the student's assessment history.
      </p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
    <div style="width: 990px;">
      <div style="height: 605px;">

        <table class="apptable">
          <tr>
            <th style="text-align: center;width:575px;">FEES BREAKDOWN</th>
            <th style="text-align: center;">STATEMENT OF ACCOUNTS</th>
          </tr>
        </table>

        <table width="100%">
          <tr>

            <!-- 1st table -->
            <td>
              <div class="scrollable-content">
                <table class="apptable">
                  <thead>
                    <tr>
                      <th style="text-align: center;">Description</th>
                      <th style="text-align: center;">Amount</th>
                      <th style="text-align: center;">TF</th>
                      <th style="text-align: center;">MF</th>
                      <th style="text-align: center;">SF</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let assessment of arrAssessment">
                      <td>{{assessment.description}}</td>
                      <td style="text-align: center;">{{assessment.amount | currency:' '}}</td>
                      <td style="text-align: center">{{checkAssessmentStatus(assessment.tf)}}</td>
                      <td style="text-align: center">{{checkAssessmentStatus(assessment.mf)}}</td>
                      <td style="text-align: center;">{{checkAssessmentStatus(assessment.sf)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
            <!-- end1sttable -->

            <!-- 2nd table -->
            <td width="40%" VALIGN=TOP>
              <div>
                <table class="apptable" style="width: 100%;">
                  <tbody>
                    <tr>
                      <td>Tuition Fee</td>
                      <td>{{totalTF | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td>Miscellaneous Fees</td>
                      <td>{{totalMF | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td>Student fees</td>
                      <td>{{totalSF | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td>Laboratory fees</td>
                      <td>{{totalLabFee | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td>Computer fees</td>
                      <td>{{totalcompFee | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td>Contact fees</td>
                      <td>{{totalContactFee | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td><b>TOTAL FEES</b></td>
                      <td>{{getTotalAssessment() | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td>Previous Balance</td>
                      <td>{{totalprevBalance | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td>Credits</td>
                      <td>{{totalCredit | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td>Other Debits</td>
                      <td>{{totalDebit | currency:' '}}</td>
                    </tr>
                    <tr>
                      <td><b>TOTAL DUE</b></td>
                      <td>{{totalDues | currency:' '}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <table class="apptable">
                  <thead>
                    <tr>
                      <th style="text-align: center;">PERIOD</th>
                      <th style="text-align: center;">AMT DUE</th>
                      <th style="text-align: center;">DATE DUE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let due of arrDues">
                      <td><b>{{due.description}}</b></td>
                      <td style="text-align: center;"><b>{{ due.status }}</b></td>
                      <td style="text-align: center;">{{ due.dueDate | date }}  </td>
                    </tr> -->


                   
                    <!-- <tr>
                      <th>{{Entrance}}</th>
                      <td>{{ EntranceStatus === 0.00 ? 'CLEARED' : EntranceStatus | currency:' ' }}</td>
                      <td style="text-align: center;">--</td>
                    </tr>
                    <tr>
                      <th>{{Prelims1st}}</th>
                      <td style="text-align: center;"><b>{{ Prelims1stStatus === 0.00 ? 'CLEARED' : Prelims1stStatus | currency:' ' }}</b></td>
                      <td style="text-align: center;">{{ Prelims1stDue | date}}</td>
                    </tr>
                    <tr>
                      <th>{{Midterms2nd}}</th>
                      <td style="text-align: center;"><b>{{ Midterms2ndStatus === 0.00 ? 'CLEARED' : Midterms2ndStatus | currency:' ' }}</b></td>
                      <td style="text-align: center;">{{ Midterms2ndDue | date}}</td>
                    </tr>
                    <tr *ngIf="proglevel =='Elem' || proglevel =='HS'">
                      <th>{{Grading3rd}}</th>
                      <td style="text-align: center;"><b>{{ Grading3rdStatus === 0.00 ? 'CLEARED' : Grading3rdStatus | currency:' ' }}</b></td>
                      <td style="text-align: center;">{{ Grading3rdDue | date}}</td>
                    </tr>
                    <tr>
                      <th>{{Finals}}</th>
                      <td style="text-align: center;">{{ FinalsStatus === 0.00 ? 'CLEARED' : FinalsStatus | currency:' ' }}</td>
                      <td style="text-align: center;">{{ FinalsDue | date}}</td>
                    </tr>
                  <tr> -->

                    <tr>
                      <td><b>{{Entrance}}</b></td>
                      <td style="text-align: center;"><b>{{ EntranceStatus === 0.00 ? 'CLEARED' : EntranceStatus | currency:' ' }}</b></td>
                      <td style="text-align: center;">--</td>
                    </tr>
                    <tr>
                      <td><b>{{Prelims1st}}</b></td>
                      <td style="text-align: center;"><b>{{ Prelims1stStatus === 0.00 ? 'CLEARED' : Prelims1stStatus | currency:' ' }}</b></td>
                      <td style="text-align: center;">{{Prelims1stDue | date}}</td>
                    </tr>
                    <tr>
                      <td><b>{{Midterms2nd}}</b></td>
                      <td style="text-align: center;"><b>{{ Midterms2ndStatus === 0.00 ? 'CLEARED' : Midterms2ndStatus | currency:' ' }}</b></td>
                      <td style="text-align: center;">{{Midterms2ndDue | date}}</td>
                    </tr>
                    <tr *ngIf="Grading3rd != ''">
                      <td ><b>{{Grading3rd}}</b></td>
                      <td style="text-align: center;"><b>{{ Grading3rdStatus === 0.00 ? 'CLEARED' : Grading3rdStatus | currency:' ' }}</b></td>
                      <td style="text-align: center;">{{Grading3rdDue | date}}</td>
                    </tr>
                    <tr>
                      <td><b>{{Finals}}</b></td>
                      <td style="text-align: center;"><b>{{ FinalsStatus === 0.00 ? 'CLEARED' : FinalsStatus | currency:' ' }}</b></td>
                      <td style="text-align: center;">{{FinalsDue | date}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </td>
            <!-- end2ndtable -->

          </tr>
        </table>

      </div>

    </div>

  </mat-card-content>
</mat-card>
<b style="color:#294a70; font-size: 15px; margin-left: 10px;">TOTAL FEES: {{getTotalAssessment() | currency:' '}}</b>
<button mat-raised-button style="float: right" (click)="onNoClickclose()" color="warning">Close</button>