.scrollable-content {
    max-height: 540px;
    overflow-y: scroll;
    width: 100%;
}
    /* set the scrollbar design */
    ::-webkit-scrollbar {
      width: 8px; /* set the width to your desired value */
    }
    ::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* set the track background color */
    }
    ::-webkit-scrollbar-thumb {
      background-color: #e4dfdf; /* set the thumb color */
      border-radius: 4px; /* set the thumb border radius */
    }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #b3b0b0; /* set the thumb color on hover */
    }
