<mat-card class="example-card">
    <mat-card-header >
      <mat-card-title><b>Withdraw Conditionally Enrolled Student</b></mat-card-title>
      <mat-card-subtitle>This page allows you to Withraw Conditionally Enrolled Student with Incomplete submitted Requirements.</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content class='colo' style="overflow-x: auto;" >
        <mat-divider></mat-divider>
        <div class="row" style="margin: 0;">
            <div class="col s12 m4 l3" style="padding: 14px 0;">
                <mat-form-field id="fTType" appearance="outline" class="example-full-widthminus">
                    <mat-label>Transaction Type</mat-label>
                    <mat-select [(ngModel)]="transType" (ngModelChange)='loaddata()' [disabled]="updating">
                        <mat-option value='1'>Set Conditionally Enrolled to Admitted</mat-option>
                        <mat-option value='0'>Set Admitted to Officially Enrolled</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col s12 m4 l2" style="padding: 14px 0;">
                <mat-form-field id="fDomain" appearance="outline" class="example-full-widthminus" *ngIf="global.domain=='HIGHSCHOOL'">
                    <mat-label>Program Level</mat-label>
                    <mat-select [(ngModel)]="selectedLevel" [disabled]='tableArr==undefined || updating' (ngModelChange)='loadwithfilter()'>
                    <mat-option value="{{level}}"  *ngFor="let level of levelList">
                        {{level}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col s12 m6 l5"></div>
            <div class="col s12 m6 l2 center-container" style="padding: 34px">
                <button mat-raised-button color="primary" class="buttondesign center-content" (click)="exportAsXLSX()"  [disabled]="updating">
                    &nbsp;&nbsp;<i class="material-icons">cloud_download
                    </i> <span style="margin-top: 7px"> Export to excel&nbsp;&nbsp;&nbsp;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l2">
                <mat-form-field id="fSearch" class="example-full-widthminus">
                    <input autofocus matInput placeholder="Search" value="" [(ngModel)]="filter" (keyup)="loadwithfilter()" autocomplete="off">
                </mat-form-field>
                <!-- <button mat-mini-fab color="primary">
                    <mat-icon>Filter</mat-icon>
                </button> -->
            </div>
            <div class="col s12 m6 l1" style="padding: 20px 0;">
                {{temp.length}} Record(s)
            </div>
            <div class="col s12 m6 l7">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
            <div class="col s12 m6 l2 center-container" style="padding: 24px;">
                <button mat-raised-button color="primary"  class="buttondesign center-content" (click)="updateAll(0,temp,0,0)"
                    *ngIf="(global.checkaccess(':Enrollment:UpdateStatusPaidToAdmittedPut')||global.checkaccess(':Enrollment:UpdateStatusAdmittedToPaidPut')) && (temp.length>0)"
                    [disabled]="updating">
                    <i class="material-icons">edit_attributes</i>
                    <span style="margin-top: 7px"> Update All &nbsp;&nbsp;</span>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="showUpdateProgress===true">
            <div class="col s12 m6 l2" style="padding: 19px 1px;">
                Updating: 
                <span>{{updateProgress}}% {{updatingID}}</span>
            </div>
            <div class="col s12 m6 l10" style="padding: 20px 0;">
                <div class="progress-bar">
                    <div class="progress-bar-fill" [ngStyle]="{'width.%': updateProgress}"></div>
                  </div>
            </div>
        </div>
  <div style="max-height: calc(100vh - 420px);overflow-y: scroll;margin-top: -10px">
      <table class="apptable" id="excel-table" style="overflow-x: scroll !important;" matSort (matSortChange)="sortData($event)">
        <tr class="fixedHeader">
            <th style="width:100px" mat-sort-header="idno">ID Number</th>
            <th mat-sort-header="name">Name</th>
            <th style="width:70px" mat-sort-header="course">Course</th>
            <th style="width:70px" mat-sort-header="level">Level</th>
            <th style="width:70px" mat-sort-header="reportCard">Report Card</th>
            <th style="width:125px" mat-sort-header="birthCert">Birth Certificate</th>
            <th style="width:200px;text-align: center;min-width: 100px">
            - Action -
            </th>
        </tr>
        <tr *ngFor="let item of temp | paginate: config">
            <td >{{item.idNumber}}</td>
            <td>{{item.name}}</td>
            <td>{{item.courseCode}}</td>
            <td> {{item.yearOrGradeLevel}}</td>
            <td style="text-align: center;"><input type="checkbox" [disabled]="true" [(ngModel)]="item.reportCard"></td>
            <td style="text-align: center;"><input type="checkbox" [disabled]="true" [(ngModel)]="item.birthCert"></td>
              <td style="text-align: center;">
                    <button mat-raised-button color="primary" class="buttondesign"style="width: 100px;color:white;margin-bottom: 5px" (click)="updateStatus(item)"
                        *ngIf="global.checkaccess(':Enrollment:UpdateStatusPaidToAdmittedPut')||global.checkaccess(':Enrollment:UpdateStatusAdmittedToPaidPut')"
                        [disabled]="updating">
                        <i class="material-icons" >edit_attributes</i>
                        <span style="margin-top: 7px"> Update Status&nbsp;&nbsp;</span>
                    </button>
                </td>
            </tr>
        </table>
        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="tableArr===undefined"></mat-spinner>
         <div *ngIf="tableArr!=undefined">
          <p *ngIf="temp.length===0" style="text-align: center;"><i>- No result found! -</i></p>
        </div>
    </div>
    </mat-card-content>
  </mat-card>
  
