<mat-card class="example-card">
    <mat-card-header>
        <mat-card-subtitle>
            <p style="font-size: 16px; padding: 0; margin: 0;padding-top: 20px;">
                Academic History Record Details
            </p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style="font-size: 14px;">
            <form [formGroup]="form">
                <table style="width: 100%">
                    <tr>
                        <td style="width:50%;" colspan="1">
                            <mat-form-field style="width: 100%" appearance="outline">
                                <mat-label>Code No</mat-label>
                                <input matInput formControlName="codeNo" (ngModelChange)="onChange($event,'codeNo')">
                            </mat-form-field>
                        </td>
                        <td style="width:50%" colspan="1">
                            <mat-form-field style="width: 100%" appearance="outline">
                                <mat-label>Subject ID</mat-label>
                                <input matInput formControlName="subjectID"
                                    (ngModelChange)="onChange($event,'subjectID')">
                            </mat-form-field>
                            <!-- <div *ngIf="f.subjectID.errors && this.submitted" class="invalid-feedback">
                            <div *ngIf="f.subjectID.errors.required && this.submitted">Subject ID is required</div>
                        </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;" colspan="3">
                            <mat-form-field style="width: 100%" appearance="outline">
                                <mat-label>Subject Title</mat-label>
                                <input matInput formControlName="subjectTitle"
                                    (ngModelChange)="onChange($event,'subjectTitle')">
                            </mat-form-field>
                            <!-- <div *ngIf="f.subjectTitle.errors && this.submitted" class="invalid-feedback">
                            <div *ngIf="f.subjectTitle.errors.required && this.submitted">Subject Title is required</div>
                        </div> -->
                        </td>
                    </tr>
                    <tr>
                        <td style="width:50%" colspan="1">
                            <mat-form-field style="width: 100%" appearance="outline">
                                <mat-label>Grade</mat-label>
                                <input matInput formControlName="grade" (ngModelChange)="onChange($event,'grade')">
                            </mat-form-field>
                            <div *ngIf="f.grade.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="f.grade.errors.required && this.submitted">Grade is required</div>
                            </div>
                        </td>
                        <td style="width:50%" colspan="1">
                            <mat-form-field style="width: 100%" appearance="outline">
                                <mat-label>Units</mat-label>
                                <input matInput formControlName="units" (ngModelChange)="onChange($event,'units')">
                            </mat-form-field>
                            <div *ngIf="f.units.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="f.units.errors.required && this.submitted">Units is required</div>
                            </div>
                        </td>
                        <td style="width:50%" colspan="1">
                            <mat-form-field style="width: 100%" appearance="outline">
                                <mat-label>Set No</mat-label>
                                <input matInput formControlName="setNo">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;" colspan="3">
                            <mat-form-field style="width: 100%" appearance="fill">
                                <mat-label>School
                                </mat-label>
                                <input matInput [formControl]="schoolCtrl" [matAutocomplete]="auto"
                                    (ngModelChange)="onChange($event,'school')">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let school of filteredSchools | async" [value]="school">
                                        {{school.companyName}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div *ngIf="schoolCtrl.errors" class="invalid-feedback">
                                <div *ngIf="schoolCtrl.errors.notfound">*School is required or not found</div>
                                <!-- <div style="font-size:11px" *ngIf="f.schoolCtrl.errors.minmaxlength && this.submitted">
                                    *Grade be 2 digits
                                </div> -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;" colspan="1">
                            <mat-form-field appearance="outline" style="width:100%;">
                                <mat-label>Semester</mat-label>
                                <mat-select formControlName="termValue" (ngModelChange)="onChange($event, 'termValue')">
                                    <mat-option value="1">
                                        First Semester
                                    </mat-option>
                                    <mat-option value="2">
                                        Second Semester
                                    </mat-option>
                                    <mat-option value="3">
                                        Summer
                                    </mat-option>
                                    <!-- <mat-option value="4">
                                        Transition
                                    </mat-option> -->
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="f.termValue.errors && this.submitted" class="invalid-feedback">
                                <div *ngIf="f.termValue.errors.required && this.submitted">Term is required</div>
                            </div>
                        </td>
                        <td style="width: 100%;" colspan="1">
                            <mat-form-field>
                                <mat-label>Year Start</mat-label>
                                <input matInput formControlName="year1" type="number" min="1900" max="2999"
                                    maxlength="4" (change)='yearchange1()' (ngModelChange)="onChange($event, 'year1')">
                            </mat-form-field>
                            <div *ngIf="f.year1.errors && this.submitted" class="invalid-feedback">
                                <div style="font-size:11px" *ngIf="f.year1.errors.required && this.submitted">
                                    *Start Year is Required
                                </div>
                                <div style="font-size:11px" *ngIf="f.year1.errors.minmaxlength && this.submitted">
                                    *Start Year should be 4 digits
                                </div>
                            </div>
                        </td>
                        <td style="width: 100%;" colspan="1">
                            <mat-form-field>
                                <mat-label>Year End</mat-label>
                                <input matInput formControlName="year2" type="number" min="1900" max="2999"
                                    maxlength="4" (change)='yearchange2()' (ngModelChange)="onChange($event, 'year2')">
                            </mat-form-field>
                            <div *ngIf="f.year2.errors && this.submitted" class="invalid-feedback">
                                <div style="font-size:11px" *ngIf="f.year2.errors.required && this.submitted">
                                    *End Year is Required
                                </div>
                                <div style="font-size:11px" *ngIf="f.year2.errors.minmaxlength && this.submitted">
                                    *End Year should be 4 digits
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <div style="margin:20px; text-align: right;">
            <ng-container *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryRecordPut')">
                <button mat-raised-button color="primary" (click)="save()" matTooltip="Save Changes"
                    [disabled]="this.btnSaveDisabled">
                    <mat-icon>save</mat-icon>
                </button>
                &nbsp;
            </ng-container>
            <ng-container
                *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryRecordDelete') && this.codeExists==='False'">
                <button mat-raised-button color="warn" (click)="delete()" matTooltip="Delete Record">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                &nbsp;
            </ng-container>
            <button mat-raised-button color="success" (click)="close()" matTooltip="Close/Cancel">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </mat-card-footer>
</mat-card>