<!-- <div *ngIf="studentProfiles.array!=null && studentProfiles.array.length!=0 && studentProfiles.profile==='Age'" style="margin:10px;"> -->

<div *ngIf="studentProfiles.arrayAge!=null && studentProfiles.arrayAge.length!=0" style="margin:10px;">  
    <table class="apptable" *ngIf="studentProfiles.arrayAge!=null" style="width: 650px" id="Age">
        <tr>
          <th style="width:150px">Age</th>
          <th style="width:200px">Year Or Grade Level</th>
          <th style="width:200px">Gender</th>
          <th style="width:100px">Total</th>                 
        </tr>
       
        <tr *ngFor="let a of studentProfiles.arrayAge">
              <td>{{a.age}}</td>
              <td>{{a.yearOrGradeLevel}}</td>
              <td>{{a.gender}}</td>
              <td>{{a.total}}</td>                      
        </tr>                   
    </table> 
</div>
