<mat-card class="example-card">

    <mat-card-header >
      <mat-card-title><b>Corporate Email List - {{global.syDisplay(sy)}}</b></mat-card-title>
      <mat-card-title>NOTE: This report will list down all Corporate Email of students currently enrolled in this university.</mat-card-title>
    </mat-card-header>

    <mat-card-content class="colo">      
    <mat-divider></mat-divider>
    <div style="padding: 10px"></div>

    <table style="width:100%">
      <tr>
        <td colspan="3">
          <mat-form-field style="width: 650px" appearance="outline">
            <mat-label>Departments</mat-label>
            <mat-select  [(ngModel)]="deptCodeVar" (selectionChange)="matSelectonChange()">
              <!-- <mat-option value=''  *ngIf="!this.submitted">
              </mat-option> -->
              <mat-option value='All'>
                - All -
              </mat-option>
              <mat-option value="{{a.departmentCode}}" *ngFor="let a of departments2">
                {{setDeptCode(a.departmentCode)}} - {{a.departmentName}}
              </mat-option>
            </mat-select>          
          </mat-form-field>
        </td>
        <!-- <td>
          <button mat-raised-button (click)="loaddata()"  color="primary"  [disabled]="this.btnGenerateDisabled">
            &nbsp;&nbsp;
            <span> Generate</span>
         </button>
        </td> -->
      </tr>
    </table>


    <table style="width: 100%;" *ngIf="array!=undefined">
    	<tr>       
        <td>
          {{ array!=undefined ? array.length : 0 }} Record(s) found.
        </td>
        <td *ngIf="array!=undefined">
        <button mat-raised-button (click)="exportexcel()" 
          style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#006600;color: white;float: right;"
          *ngIf="array.length!=0"
        >
          &nbsp;&nbsp;<i class="material-icons">cloud_download
          </i>
          <span style="margin-top: 7px">
            Export to excel {{ (this.submitted) ? '('+this.setDeptCode(this.deptCodeVar) +')' : ''}}
            &nbsp;&nbsp;&nbsp;
          </span>
        </button>
        </td>
  		</tr>
    </table>
    <div style="height: 30px">

    </div>

    <div style="width: 100%;max-height: calc(100vh - 330px); overflow-y: scroll;margin-top: -20px" *ngIf="array!=undefined">

        <table class="apptable" *ngIf="arraycomp.length!=0">
            <tr>
              <th style="width:150px">ID Number</th>
              <th style="width:200px">Last Name</th>
              <th style="width:200px">First Name</th>
              <th style="width:200px">Email Address</th>
              <th style="width:100px">Department</th>
              <th style="width:100px">Password</th>
              <th style="width:150px">Date Created</th>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="outline" style="padding: 0px !important; margin: 0px !important; height: 50px !important;">
                        <!-- <mat-label>ID#</mat-label> -->
                        <input matInput [(ngModel)]="idNumber" (keyup)="Filter()" autocomplete="off">
                  </mat-form-field>
                </td>
                <td>
                    <mat-form-field  appearance="outline" style="padding: 0px !important; margin: 0px !important; height: 50px !important;">
                        <!-- <mat-label>Last Name</mat-label> -->
                        <input matInput [(ngModel)]="lastName" (keyup)="Filter()" autocomplete="off">
                  </mat-form-field>
                </td>
                <!-- <td></td>
                <td></td>
                <td> -->
                    
                    <!-- <mat-form-field style="width: 120px" appearance="outline">
                        <mat-label>Dept. Code</mat-label>
                        <mat-select  [(ngModel)]="deptCodeVar" (ngModelChange)="Filter()" >
                            <mat-option value='all'>
                                - All -
                            </mat-option>
                          <mat-option value="{{a}}" *ngFor="let a of deptCode" >
                          {{a == "" ? '-Blank-' : a}}
                        </mat-option>
                        </mat-select>
                      </mat-form-field> -->
                <!-- </td>
                <td></td>
                <td></td> -->
            </tr>
            <tr *ngFor="let a of array | paginate: config">
                  <td>{{a.idNumber}}</td>
                  <td>{{a.lastName}}</td>
                  <td>{{a.firstName}}</td>
                  <td>{{a.emailAddress}}</td>
                  <td >{{a.departmentCode}}</td>
                  <td>{{a.password}}</td>
                  <td>{{a.dateCreated}}</td>
              </tr>           
        </table> 
    </div>                   
    
    <ng-container *ngIf="array!=undefined">
      <pagination-controls (pageChange)="pageChanged($event)"  *ngIf="array.length!=0"></pagination-controls> 
    </ng-container>
    <!-- <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="array===undefined"></mat-spinner> -->
    <div *ngIf="array!=undefined">
      <p *ngIf="array.length===0" style="text-align: center;"><i>- No result found! -</i></p>
    </div>
    </mat-card-content>
</mat-card>
