<div id="aWE" style="">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>Add Work Experience</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>
            <table cellspacing="0" style="width: 100%">

                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="Company Name" formControlName="company">
                            <mat-error *ngIf="form.get('company').invalid && (form.get('company').touched)">Company is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="Position" formControlName="position">
                            <mat-error *ngIf="form.get('position').invalid && (form.get('position').touched)">Position is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker" placeholder="Start Date" (click)="picker.open()" formControlName="sdate" name="sdate" required>
                            <mat-error *ngIf="form.get('sdate').invalid && (form.get('sdate').touched)">Start Date is required</mat-error>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker2" placeholder="End Date" (click)="picker2.open()" formControlName="edate" name="edate" required>
                            <mat-error *ngIf="form.get('edate').invalid && (form.get('edate').touched)">End Date is required</mat-error>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>