<mat-card class="example-card" id="emplookup" style='padding: 0 !important;'>
	<mat-card-header>
		<mat-card-title>
      <b>Code {{codeNo}} Evaluation Details</b>

    </mat-card-title>
	</mat-card-header>

	<mat-card-content>

    <div style="overflow-y: scroll; height:600px;">
      <style type="text/css">
        #users td{
          border: 0px solid #ddd;
          font-size: 12px
        }
      </style>
      <table class="apptable" id="users" border="0" style="max-width: 760px !important;border: 0px solid #ddd!important;">
        <tr>
          <td width="170px"><b>Subject ID: </b></td>
          <td>{{data.selectedData.subjectID}}</td>
        </tr>
        <tr>
          <td><b>Subject title: </b></td>
          <td>{{data.selectedData.subjectTitle}}</td>
        </tr>
        <tr>
          <td><b>Shedule type: </b></td>
          <td>{{schedType}}</td>
        </tr>
        <tr>
          <td><b>Officially enrolled students: </b></td>
          <td>{{data.selectedData.oe}}</td>
        </tr>
        <tr>
          <td><b>No. of not submitted evaluation: </b></td>
          <td>{{notEvaluated.length}}</td>
        </tr>
        <tr>
          <td><b>No. of submitted evaluation: </b></td>
          <td>{{evaluated.length}}</td>
        </tr>

      </table>
      <br>
      <br>
      <button mat-raised-button color="primary" class="btnstyle" style="min-width: 10px;width: 190px!important;margin-bottom: 10px;" (click)="generateEvaluationDetails()">
        &nbsp;&nbsp;<i class="material-icons">library_books</i> <span style="margin-top: 7px"> Generate Evaluation Details&nbsp;&nbsp;&nbsp;</span>
      </button>&nbsp;
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" (closed)="setStep(-1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong *ngIf="step !=0">Click to view of students who didn't evaluate yet</strong>
            <strong *ngIf="step ==0">List of students who didn't evaluate yet</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <table class="apptable">
            <tr>
              <th>ID Number</th>
              <th>NAME</th>
            </tr>
            <tr *ngFor="let item of notEvaluated">
              <td>{{item.idnumber}}</td>
              <td>{{item.name}}</td>
            </tr>
          </table>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" (closed)="setStep(-1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong *ngIf="step != 1">Click to view of students who submitted their evaluation</strong>
            <strong *ngIf="step == 1">List of students who submitted their evaluation</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <table class="apptable">
            <tr>
              <th>ID Number</th>
              <th>NAME</th>
            </tr>
            <tr *ngFor="let item of evaluated">
              <td>{{item.idnumber}}</td>
              <td>{{item.name}}</td>
            </tr>
          </table>
        </div>
      </mat-expansion-panel>
    </div>
    <br>
    <button mat-raised-button (click)="close()" style="float: right; margin-bottom: 3px;margin-right: 3px;">Close</button>

	</mat-card-content>
</mat-card>
