.example-form {
    min-width: 150px;
    max-width: 580px;
    width: 100%;
}

 ::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

 ::ng-deep .mat-card-header * {
    color: white;
}

 ::ng-deep .mat-card {
    padding: 0 !important;
}

 ::ng-deep .mat-card-content {
    padding: 15px !important;
}

mat-form-field {
    margin-bottom: -20px;
    padding: 0%;
    width: 100%;
}

.apptable {
    table-layout: fixed;
}

.button-container {
    display: flex;
    /* Use flexbox to align buttons side by side */
    justify-content: center;
    /* Center horizontally */
}

.buttondesign {
    width: 80px;
    background-color: #990000;
    color: white;
    /* Add margin between the buttons if needed */
}

.buttondesign1 {
    width: 80px;
    background-color: #294a70;
    color: white;
    /* Add margin between the buttons if needed */
}


/* Style other elements as needed */