<mat-card class="example-card" style="padding: 0">
    <mat-card-header>
        <mat-card-title><b>End of Serivce Batch</b></mat-card-title>
    </mat-card-header>
    <mat-card-content class='colo'>
        <mat-divider></mat-divider>

        <div style="height: 14px"></div>

        <button mat-raised-button [disabled]="!global.checkaccess(':Employee:EndOfServicePost')" style="width: 80px; height:30px; background-color: #294a70;color:white;float: right; margin-bottom: 10px; margin-right: 50px;" class="buttondesign" (click)="save()">
        <i class="material-icons">save</i>
        <span style="margin-top: 7px"> Save All</span>

         </button>

        <div style="width: 100%;">
            <table class="apptable">
                <tr>
                    <th style="width: 80px;">ID Number</th>
                    <th style="width: 150px;">Full Name</th>
                    <th style="width: 135px;">Department</th>
                    <th style="width: 135px;">Position</th>
                    <th style="width: 150px;">EOS Type</th>
                    <th style="width: 60px;">EOS Date</th>
                    <th style="width: 135px;">Remarks</th>
                    <th style="width:100px; text-align: center;">--ACTIONS--</th>

                </tr>
                <tr>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="idNumber" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="name" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="department" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="position" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>

                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="eosType" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>

                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="eosDate" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>

                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="remarks" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>


                    <td align="center">
                        <button mat-raised-button style="width: 80px;background-color:#990000;color:white;margin-top: 5px;" class="buttondesign" (click)="filterClear()">
                            <i class="material-icons">code</i> 
                              <span style="margin-top: 7px"> Clear&nbsp;&nbsp;</span>
                          </button>
                    </td>



                </tr>

                <tr *ngFor="let item of filteredList | paginate: configList">
                    <td>{{item.Idnumber}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Department}}</td>
                    <td>{{item.Position}}</td>

                    <td>
                        <mat-form-field style="width: 100%">
                            <mat-label>End of Service Type</mat-label>
                            <mat-select [(ngModel)]="item.eosType">
                                <mat-option value="{{c.id}}" *ngFor="let c of eosTypeArr">
                                    {{c.eosType}}
                                </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="form.get('selectedEOSType').invalid && (form.get('selectedEOSType').touched )">End of Service Type is required</mat-error> -->
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 100%;">
                            <input readonly matInput [matDatepicker]="picker2" placeholder="End Date" [(ngModel)]="item.eosDate" (ngModelChange)="changeDate(item.Idnumber,item.eosDate,item.Department,item.Position)" (click)="picker2.open()" name="edate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <!-- <mat-error *ngIf="form.get('edate').invalid && (form.get('edate').touched )">End Date is required</mat-error> -->
                        </mat-form-field>
                    </td>

                    <td width="100%">
                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Remarks" [(ngModel)]="item.remarks">
                        </mat-form-field>
                    </td>
                    <td>
                        <div class="button-container">
                            <button mat-raised-button class="buttondesign" (click)="removeEmployee(item.Idnumber,item.Name,item.Department,item.Position)">
                            <i class="material-icons">delete</i> 
                            <span>Delete</span>
                          </button>

                            <button mat-raised-button [disabled]="!global.checkaccess(':Employee:EndOfServicePost')" style="background-color: #294a70 !important;" class="buttondesign" (click)="individualSave(item.Idnumber,item.eosType,item.eosDate,item.remarks,item.Department,item.Position)">
                                <i class="material-icons">save</i>
                                <span > Save</span>
                          </button>
                        </div>
                    </td>




                </tr>


                <tr *ngIf="filteredList.length == 0">
                    <td colspan="8">
                        <p style="text-align: center; width: 100%;">
                            <i>- No Data -</i>
                        </p>
                    </td>
                </tr>
            </table>

        </div>
        <div style="float: right; margin-right: 10px;">
            <pagination-controls (pageChange)="pageChangedList($event)"></pagination-controls>
        </div>
    </mat-card-content>
</mat-card>