<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>Manage Corporate Email</b></mat-card-title>
        <mat-card-title *ngIf="tabbing==0">
            <p>NOTE: This page allows you to create/update STUDENT'S Corporate Email.
                Please enter the student's ID NUMBER and hit the [ENTER] key on your keyboard.</p>
        </mat-card-title>
        <mat-card-title *ngIf="tabbing==1">
            <p>NOTE: This page allows you to create/update EMPLOYEES'S Corporate Email.
                Please enter the employee's ID NUMBER and hit the [ENTER] key on your keyboard.</p>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class='colo'>
        <mat-divider></mat-divider>
        <br>

        <mat-tab-group (selectedTabChange)='getindex($event)'>
            <mat-tab label="Student">
                <div style="width: 800px;">
                    <mat-card *ngIf="tabbing===0">
                        <form class="example-form">

                            <div style="width: 250px;margin-left: 10px; margin-top: 20px;">
                                <mat-form-field class="txtid">
                                    <input matInput placeholder="ID Number" [(ngModel)]="id2"
                                        (keydown)="keyDownFunction2($event)" name="id2">
                                </mat-form-field>
                                <button mat-mini-fab color="primary" (click)="studlookup()">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </div>

                            <div *ngIf="this.name2!=''" style="margin-left: 10px;">
                                <table style="border-collapse: collapse;  border: 1px solid #dddddd; width: 750px;">
                                    <tr>
                                        <td style="border: 1px solid #dddddd;">
                                            <mat-card-header>
                                                <mat-card-title><b>Student Information</b></mat-card-title>
                                            </mat-card-header>
                                        </td>
                                        <td style="border: 1px solid #dddddd;">
                                            <mat-card-header>
                                                <mat-card-title><b>Corporate Email Details</b></mat-card-title>
                                            </mat-card-header>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #dddddd; width: 350px;">
                                            <mat-card>
                                                <mat-card-content>
                                                    <table style="width: 350px;">
                                                        <tr>
                                                            <td>
                                                                <img [src]="image2" width="100"
                                                                    onError="this.src='assets/noimage.jpg'" />
                                                            </td>
                                                            <td>
                                                                <h4 style="margin-bottom: 0;margin-top: 0;">{{name2}}
                                                                </h4>
                                                                <span style="margin-top: 5px"
                                                                    *ngIf="position2!=' - 0'">{{position2}}<br></span>
                                                                <span *ngIf="bday!=''">Birth date: {{bday | date: '
                                                                    MM/dd/yyyy'}}</span><br>
                                                                <span *ngIf="enrollmentStatus!=''">Enrollment
                                                                    Status:{{enrollmentStatus}}</span>
                                                                <span class="notfound"
                                                                    *ngIf="enrollmentStatus===''">Enrollment Status: For Admission </span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </mat-card-content>
                                            </mat-card>
                                        </td>
                                        <td style="border: 1px solid #dddddd;">
                                            <mat-card>
                                                <mat-card-content>
                                                    <table *ngIf="corporateEmail_Array!=undefined"
                                                        style="width: 300px;">
                                                        <tr>
                                                            <th>Email Address:</th>
                                                            <td>{{corporateEmail_Array.emailAddress}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Password:</th>
                                                            <td>{{corporateEmail_Array.password}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>For SchoolYear:</th>
                                                            <td>{{corporateEmail_Array.schoolYear}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Date Created:</th>
                                                            <td>{{corporateEmail_Array.dateCreated}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Created At:</th>
                                                            <td>{{corporateEmail_Array.createdAt}}</td>
                                                        </tr>
                                                    </table>
                                                    <span *ngIf="corporateEmail_Array==null">
                                                        <p class="notfound">Corporate Email has not yet been created!
                                                        </p>
                                                    </span>
                                                    <div *ngIf="corporateEmail_Array!=null && newSY!=corporateEmail_Array.schoolYear"
                                                        class="notfound" style="text-align: center;">
                                                        <mat-divider></mat-divider>
                                                        <br>
                                                        <b>Corporate Email does not match with Active Configuration SY
                                                            selected!</b>
                                                    </div>
                                                </mat-card-content>

                                            </mat-card>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                        <div style="margin-top: 10px;"></div>
                        <mat-divider></mat-divider>

                        <div style="margin-left: 15px;">
                            <mat-card-actions>
                                <button mat-raised-button (click)="clear2()" [disabled]="!submit2" *ngIf="name2!=''">Clear</button>

                                <button mat-raised-button color="primary" (click)="onSubmit('create')"
                                    [disabled]="emailFound"
                                    *ngIf="(global.checkaccess(':Account:CorporateEmailPost') && emailFound == false && corporateEmail_Array == null && enrollmentStatus =='PAID')">
                                    Create</button>

                                <button mat-raised-button color="primary" (click)="onSubmit('update')"
                                    [disabled]="!emailFound && global.syear===corporateEmail_Array.schoolYear"
                                    *ngIf="global.checkaccess(':Account:CorporateEmailPost') && corporateEmail_Array!=null && global.syear!=corporateEmail_Array.schoolYear && enrollmentStatus=='PAID'">Update
                                    School Year</button>

                                <button mat-raised-button color="warn" (click)="onSubmit('delete')"
                                    [disabled]="!emailFound && corporateEmail_Array!==null"
                                    *ngIf="global.checkaccess(':Account:CorporateEmailDelete') && corporateEmail_Array!=null">Delete</button>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Employee">
                <mat-card *ngIf="tabbing===1">

                </mat-card>
            </mat-tab>


        </mat-tab-group>

    </mat-card-content>
</mat-card>