<mat-card class="example-card" id="emplookup" style='padding: 0 !important;'>
	<mat-card-header>
		<mat-card-title><b>Specify the Document Puspose</b></mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
			specific
			manner.</p>
		<br>
		<p>This certification is issued on {{data.date}} upon the request of MR./MRS. {{data.person}} for: </p>

		<mat-form-field [style.width.px]=477>
			<mat-label>Purpose</mat-label>
			<textarea autofocus matInput placeholder="" value="" [(ngModel)]="purpose" name="idno" required="required"
				autocomplete="off"></textarea>
		</mat-form-field>

		<button mat-raised-button (click)="close()">Cancel</button>

		<button mat-raised-button (click)="download()"
			style="color: white; background-color: #294A70; float: right">Download PDF</button>

	</mat-card-content>
</mat-card>