.example-form {
    min-width: 150px;
    max-width: 1200px;
    width: 100%;
  }
  input {
    width: 148px;
  }
  
  .example-full-width {
    width: 100%;
  }
  .txtid {
    width: calc(100% - 50px);
  }
  .example-full-width2 {
    width: 169px;
  }
  .example-full-width3 {
    width: 60px;
  }
  
  ::ng-deep .mat-card-header {
      background-color: #294a70 !important;
      padding: 15px 5px 5px 5px !important;
      color:white;
  }
  ::ng-deep .mat-card-header * {
      color:white;
  }
  
  ::ng-deep .mat-card {
      padding: 0 !important;
  }
  
  ::ng-deep .mat-card-content {
      padding: 15px !important;
  }
  
  .mat-form-field-infix{
    width: auto !important;
  }
  
  .action {
    padding-top:7px;
    opacity: 0;
  }
  
  /* .rolerow:hover {
    .action{
      opacity: 1;
    }
  } */
  .rolerow{
    padding-top:10px;
    padding-bottom:10px;
  }
  
  .actionlink {
    text-decoration:none;
  }
  
  a{
    color: #294a70;
  }
  .notfound{
    color: orangered;
  }

  .tdClassSHAS {
    padding:0;
    margin: 0;
    border-bottom: 3px solid green;
  }
  .tdClassSABH {
    padding:0;
    margin: 0;
    border-bottom: 3px solid orange;
  }
  .tdClassSEAITE {
    padding:0;
    margin: 0;
    border-bottom: 3px solid maroon;
  }
  .tdClassSEAS {
    padding:0;
    margin: 0;
    border-bottom: 3px solid blue;
  }
