<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>ACADEMIC ACHIEVERS</b></mat-card-title>
        <mat-card-title >
            <p>NOTE: This report shows the official list of Academic Achievers for {{global.displaysem +' '+ global.displayyear}}</p>
        </mat-card-title>
    </mat-card-header>

    <mat-card>
    <mat-card-subtitle>
            <div style="margin:10px;padding: 10px;">
            <h4 style="margin: 0; padding: 0; font-size: 14px;"><b>LEGEND:</b></h4>
            <hr>
            <p style="margin: 0; padding: 0; font-size: 12px;"><b>FULL ACADEMIC SCHOLAR:</b> Average grade of at least 92% with no grade lower than 85%</p>
            <p style="margin: 0; padding: 0;font-size: 12px;"><b>HALF ACADEMIC SCHOLAR:</b> Average grade of at least 90% with no grade lower than 85%</p>
            <p style="margin: 0; padding: 0;font-size: 12px;"><b>DEAN'S LISTER 10% DISCOUNT:</b> Average grade of at least 88% with no grade lower than 83%</p>
            <p style="margin: 0; padding: 0;font-size: 12px;"><b>DEAN'S LISTER:</b> Average grade is 88% with no grade lower than 80%</p>
        </div>
    </mat-card-subtitle>
    </mat-card>

    <mat-card-content class='colo'>
    <mat-divider></mat-divider>
    <div style="padding: 10px"></div>

    <table style="width: 700px">
        <tr>
          <td colspan="3">
            <mat-form-field style="width: 650px" appearance="outline">
              <mat-label>Departments</mat-label>
              <mat-select  [(ngModel)]="deptCodeVar" (selectionChange)="matSelectonChange()">
                <mat-option value="{{a.departmentCode}}" *ngFor="let a of departments2">
                  {{setDeptCode(a.departmentCode)}} - {{a.departmentName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <!-- <mat-progress-spinner style="margin:0 auto;" diameter=50  mode="indeterminate" *ngIf="IsWait">
    </mat-progress-spinner>        -->


    <ng-container *ngIf="submitted">
        <button mat-raised-button (click)="exportMyDataToExcel('single')"  *ngIf="submitted" style="padding:0px; margin:0px;background-color:#0e058f;color: white; font-size: 11px;">
            &nbsp;&nbsp;<i class="material-icons">cloud_download
            </i> <span style="margin-top: 7px"> Export to Excel ({{finalDepCode}})&nbsp;&nbsp;&nbsp;</span></button>
    </ng-container>

    <div *ngIf="submitted">
        <mat-tab-group>
            <mat-tab>
                <mat-accordion style="overflow: hidden">
                    <mat-expansion-panel id="FULL ACADEMIC SCHOLAR">
                        <mat-expansion-panel-header>
                            <mat-panel-title><p><b>FULL ACADEMIC SCHOLAR (<span *ngIf="array!=null">{{getLength(deptCodeVar, 'Full Academic Scholar')}}</span>)</b></p></mat-panel-title>
                        </mat-expansion-panel-header>
                            <mat-panel-description>
                                <table *ngIf="array!=null" style="width: 500px;margin-top: 2px;">
                                    <ng-container *ngFor="let a of (array)" >
                                    <tr *ngIf="a.remarks==='Full Academic Scholar' && a.departmentCode==deptCodeVar">
                                        <td >
                                            <tr>
                                                <td rowspan="4">
                                                    <ng-container *ngIf="a.idPicture!=null">
                                                        <img [ngClass]="setBottomBorderColor(deptCodeVar)" [src]="a.idPicture" width="60" onError="this.src='assets/noimage.jpg'" />
                                                    </ng-container>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;"><b>{{a.name}}</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;">COURSE:
                                                    {{a.course}}&nbsp;{{a.yearorgradelevel}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;">AVERAGE: <b>{{a.average}}</b></td>
                                            </tr>
                                        </td>

                                    </tr>
                                    </ng-container>
                                </table>
                            </mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel id="HALF ACADEMIC SCHOLAR">
                        <mat-expansion-panel-header>
                            <mat-panel-title><p><b>HALF ACADEMIC SCHOLAR (<span *ngIf="array!=null">{{getLength(deptCodeVar, 'Half Academic Scholar')}}</span>)</b></p></mat-panel-title>
                        </mat-expansion-panel-header>
                            <mat-panel-description>
                                <table *ngIf="array!=null" style="width: 500px;margin-top: 2px;">
                                    <ng-container *ngFor="let a of (array)" >
                                    <tr *ngIf="a.remarks==='Half Academic Scholar' && a.departmentCode==deptCodeVar">
                                        <td >
                                            <tr>
                                                <td rowspan="4">
                                                    <ng-container *ngIf="a.idPicture!=null">
                                                        <img [ngClass]="setBottomBorderColor(deptCodeVar)" [src]="a.idPicture" width="60" onError="this.src='assets/noimage.jpg'" />
                                                    </ng-container>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;"><b>{{a.name}}</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;">COURSE:
                                                    {{a.course}}&nbsp;{{a.yearorgradelevel}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;">AVERAGE: <b>{{a.average}}</b></td>
                                            </tr>
                                        </td>

                                    </tr>
                                    </ng-container>
                                </table>
                            </mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel id="DEAN'S LISTER 10% DISCOUNT">
                        <mat-expansion-panel-header>
                            <mat-panel-title><p><b>DEAN'S LISTER 10% DISCOUNT (<span *ngIf="array!=null">{{getLength(deptCodeVar, 'Dean\'s Lister (No Grade Below 85)')}}</span>)</b></p></mat-panel-title>
                        </mat-expansion-panel-header>
                            <mat-panel-description>
                                <table *ngIf="array!=null" style="width: 500px;margin-top: 2px;">
                                    <ng-container *ngFor="let a of (array)" >
                                    <tr *ngIf="a.remarks==='Dean\'s Lister (No Grade Below 85)' && a.departmentCode==deptCodeVar">
                                        <td >
                                            <tr>
                                                <td rowspan="4">
                                                    <ng-container *ngIf="a.idPicture!=null">
                                                        <img [ngClass]="setBottomBorderColor(deptCodeVar)" [src]="a.idPicture" width="60" onError="this.src='assets/noimage.jpg'" />
                                                    </ng-container>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;"><b>{{a.name}}</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;">COURSE:
                                                    {{a.course}}&nbsp;{{a.yearorgradelevel}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;">AVERAGE: <b>{{a.average}}</b></td>
                                            </tr>
                                        </td>

                                    </tr>
                                    </ng-container>
                                </table>
                            </mat-panel-description>
                    </mat-expansion-panel>

                    <mat-expansion-panel id="DEAN'S LISTER">
                        <mat-expansion-panel-header>
                            <mat-panel-title><p><b>DEAN'S LISTER (<span *ngIf="array!=null">{{getLength(deptCodeVar, 'Dean\'s Lister')}}</span>)</b></p></mat-panel-title>
                        </mat-expansion-panel-header>
                            <mat-panel-description>
                                <table *ngIf="array!=null" style="width: 500px;margin-top: 2px;">
                                    <ng-container *ngFor="let a of (array)" >
                                    <tr *ngIf="a.remarks==='Dean\'s Lister' && a.departmentCode==deptCodeVar">
                                        <td >
                                            <tr>
                                                <td rowspan="4">
                                                    <ng-container *ngIf="a.idPicture!=null">
                                                        <img [ngClass]="setBottomBorderColor(deptCodeVar)" [src]="a.idPicture" width="60" onError="this.src='assets/noimage.jpg'" />
                                                    </ng-container>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;"><b>{{a.name}}</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;">COURSE:
                                                    {{a.course}}&nbsp;{{a.yearorgradelevel}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;margin: 0; padding-left: 2px; border: 0px;">AVERAGE: <b>{{a.average}}</b></td>
                                            </tr>
                                        </td>

                                    </tr>
                                    </ng-container>
                                </table>
                            </mat-panel-description>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
        </mat-tab-group>
    </div>
    </mat-card-content>
</mat-card>

