<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>Leave Management</b></mat-card-title>
        <mat-card-subtitle>Use to manage employee's leave information/details</mat-card-subtitle>
    </mat-card-header>


    <mat-card-content class='colo'>

        <table>
            <tr>
                <table style="margin: 0px; padding: 0px;">
                    <tr>
                        <td width="110">
                            <img [src]="image" width="150" onError="this.src='assets/noimage.jpg'" />
                        </td>
                        <td>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td width="100">
                                        <form class="example-form1" id="ngForm" #documentEditForm="ngForm" style="margin-top: 5px;">
                                            <mat-form-field class="txtid">
                                                <input matInput #idno maxlength="7" placeholder="ID Number" [(ngModel)]="id" value="" name="idno" required="required" (keydown)="keyDownFunction($event)">
                                                <!-- <mat-hint align="start">{{idno.value.length}} / 7</mat-hint> -->
                                            </mat-form-field>
                                        </form>
                                    </td>
                                    <td>
                                        <button mat-mini-fab color="primary" (click)="employeelookup()">
													<mat-icon>search</mat-icon>
												</button>
                                    </td>
                                </tr>
                            </table>
                            <div style="margin-top: -10px;">
                                <h4 *ngIf="id !=''" style="margin: 0px">{{name}} <i class="material-icons" (click)="nameUpdate()" style="color: #294a70" *ngIf="updatenamevar==false&&global.checkaccess(':Employee:EmployeePersonPut')">edit</i></h4>
                                <span *ngIf="id !=''"><strong>{{dtridnum}} </strong>Position: <strong>{{position}} </strong> </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </tr>
        </table>
        <mat-divider style="margin-top: 5px;"></mat-divider>

        <div *ngIf="id !=''">

            <mat-tab-group (selectedTabChange)='getindex($event)'>

                <mat-tab label="Schedule">
                    <mat-card *ngIf="tabbing===0">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">
                                Schedule is not available
                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Available Leave Credits">
                    <mat-card *ngIf="tabbing===1">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table id="hr" *ngIf="name!=''">
                                    <tr>
                                        <td>
                                            <br>
                                            <b style="color: #294a70">Available Leave Credits:</b>
                                            <hr>

                                            <table class="apptable" id="users" style="width: 400px !important">
                                                <tr>
                                                    <td width="100px" align="center"><strong>Leave Type</strong></td>
                                                    <td width="50px" align="center"><strong>Days</strong></td>
                                                    <td width="50px" align="center"><strong>Hours</strong></td>
                                                    <td width="75px" align="center"><strong>Minutes</strong></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Sick Leave</strong></td>
                                                    <td align="center">{{slDay}}</td>
                                                    <td align="center">{{slHour}}</td>
                                                    <td align="center">{{slMin}}</td>

                                                </tr>
                                                <tr>
                                                    <td><strong>Vacation Leave</strong></td>
                                                    <td align="center">{{vlDay}}</td>
                                                    <td align="center">{{vlHour}}</td>
                                                    <td align="center">{{vlMin}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 20px"></td>
                                        <td *ngIf="pendingTrigger">
                                            <br>
                                            <b style="color: #294a70">Available leave credits after pending leave/s are approved:</b>
                                            <hr>

                                            <table class="apptable" id="users" style="width: 400px !important">
                                                <tr>
                                                    <td width="100px" align="center"><strong>Leave Type</strong></td>
                                                    <td width="50px" align="center"><strong>Days</strong></td>
                                                    <td width="50px" align="center"><strong>Hours</strong></td>
                                                    <td width="75px" align="center"><strong>Minutes</strong></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Sick Leave</strong></td>
                                                    <td align="center">{{fSL[0].days}}</td>
                                                    <td align="center">{{fSL[0].hours}}</td>
                                                    <td align="center">{{fSL[0].minutes}}</td>

                                                </tr>
                                                <tr>
                                                    <td><strong>Vacation Leave</strong></td>
                                                    <td align="center">{{fVL[0].days}}</td>
                                                    <td align="center">{{fVL[0].hours}}</td>
                                                    <td align="center">{{fVL[0].minutes}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Pending Leaves">
                    <mat-card *ngIf="tabbing===2">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <p *ngIf='VPAdmin;' style="color: red;font-size: 12px;margin-top: -20px">*Note: Click on the record to take action.</p>
                                <p *ngIf='!VPAdmin;' style="color: red;font-size: 12px;margin-top: -20px">*Note: Click on the highlighted record to take action.</p>
                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="text-align: center; width: 8%">
                                            DATE FILED
                                        </th>
                                        <th style="text-align: center; width: 8%">
                                            LEAVE TYPE
                                        </th>
                                        <th style="text-align: center;">
                                            REASON
                                        </th>
                                        <th style="text-align: center;width: 14%">
                                            DATE OF LEAVE
                                        </th>
                                        <th style="text-align: center;width: 8%">
                                            FROM
                                        </th>
                                        <th style="text-align: center;width: 8%">
                                            TO
                                        </th>
                                        <th style="text-align: center;width: 5%">
                                            TOTAL MINUTES
                                        </th>
                                        <th *ngIf="VPAdmin===false">
                                            ACTION/STATUS
                                        </th>
                                        <th *ngIf="VPAdmin" style="text-align: center;width: 20%">
                                            HoF ACTION/STATUS
                                        </th>
                                    </tr>
                                    <ng-container *ngIf='VPAdmin; else hof'>
                                        <tr *ngFor="let x of filteredVPPendingLeaveArr;let i = index;" (click)="actionTakenHoF(i,x)">

                                            <td *ngIf="compare(i,x)==false" style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                                            <td *ngIf="compare(i,x)"></td>
                                            <td *ngIf="compare(i,x)==false">{{x.leaveTypeDescription}}</td>
                                            <td *ngIf="compare(i,x)"></td>
                                            <td *ngIf="compare(i,x)==false">{{x.leaveDescription}}</td>
                                            <td *ngIf="compare(i,x)"></td>
                                            <td style="text-align: center">{{x.daterange}}</td>
                                            <td style="text-align: center">{{validateTimeAMPM(x.startDate.substring(11,16))}}</td>
                                            <td style="text-align: center">{{validateTimeAMPM(x.endDate.substring(11,16))}}</td>
                                            <td>{{x.totalMinutes}}</td>
                                            <td>Approved by Head of Office<br>{{x.actionTaken}}</td>

                                        </tr>
                                    </ng-container>

                                    <ng-template #hof>
                                        <ng-container>
                                            <tr *ngFor="let x of filteredPendingLeaveArr;let i = index;" (click)="actionTakenHoF(i,x)">
                                                <ng-container *ngIf="validateRoute(x) == false; else second">
                                                    <td class="hofApproval" *ngIf="compare(i,x)==false" style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                                                    <td class="hofApproval" *ngIf="compare(i,x)"></td>
                                                    <td class="hofApproval" *ngIf="compare(i,x)==false">{{x.leaveTypeDescription}}</td>
                                                    <td class="hofApproval" *ngIf="compare(i,x)"></td>
                                                    <td class="hofApproval" *ngIf="compare(i,x)==false">{{x.leaveDescription}}</td>
                                                    <td class="hofApproval" *ngIf="compare(i,x)"></td>
                                                    <td class="hofApproval" style="text-align: center">{{x.daterange}}</td>
                                                    <td class="hofApproval" style="text-align: center">{{validateTimeAMPM(x.startDate.substring(11,16))}}</td>
                                                    <td class="hofApproval" style="text-align: center">{{validateTimeAMPM(x.endDate.substring(11,16))}}</td>
                                                    <td class="hofApproval">{{x.totalMinutes}}</td>
                                                    <td class="hofApproval">Needs action</td>
                                                </ng-container>
                                                <ng-template #second>
                                                    <td *ngIf="compare(i,x)==false" style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                                                    <td *ngIf="compare(i,x)"></td>
                                                    <td *ngIf="compare(i,x)==false">{{x.leaveTypeDescription}}</td>
                                                    <td *ngIf="compare(i,x)"></td>
                                                    <td *ngIf="compare(i,x)==false">{{x.leaveDescription}}</td>
                                                    <td *ngIf="compare(i,x)"></td>
                                                    <td style="text-align: center">{{x.daterange}}</td>
                                                    <td style="text-align: center">{{validateTimeAMPM(x.startDate.substring(11,16))}}</td>
                                                    <td style="text-align: center">{{validateTimeAMPM(x.endDate.substring(11,16))}}</td>
                                                    <td>{{x.totalMinutes}}</td>
                                                    <td>For approval of VP Admin</td>
                                                </ng-template>


                                                <!--  -->
                                            </tr>
                                        </ng-container>
                                    </ng-template>


                                </table>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Leave History">
                    <mat-card *ngIf="tabbing===3">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <ng-container *ngIf="LHistoryArr!=null ; else LhisNone">


                                    <table class="apptable" id="childrenCSS">
                                        <tr>
                                            <th style="text-align: center; width: 8%">
                                                DATE FILED
                                            </th>
                                            <th style="text-align: center; width: 8%">
                                                LEAVE TYPE
                                            </th>
                                            <th style="text-align: center;">
                                                REASON
                                            </th>
                                            <th style="text-align: center;width: 10%">
                                                FROM
                                            </th>
                                            <th style="text-align: center;width: 10%">
                                                TO
                                            </th>
                                            <th style="text-align: center;width: 5%">
                                                TOTAL MINUTES
                                            </th>
                                            <th style="text-align: center;width: 15%">
                                                ACTION
                                            </th>
                                            <th style="text-align: center;width: 120px">
                                                REMARKS
                                            </th>
                                        </tr>

                                        <tr *ngFor="let x of filteredLeaveHistoryArr | paginate: LeaveHistoryConfig">
                                            <td style="text-align: center">{{x.dateFiled | date: 'MM/dd/yyyy'}}</td>
                                            <td>{{x.leaveTypeDescription}}</td>
                                            <td>{{x.leaveDescription}}</td>
                                            <td style="text-align: center">{{x.startDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                                            <td style="text-align: center">{{x.endDate | date: 'MM/dd/yyyy hh:ss'}}</td>
                                            <td>{{x.totalMinutes}}</td>
                                            <td>{{validateAction(x.actionTaken,x.cancelled)}}</td>
                                            <td>{{validateRemark(x.remarks,x.cancelledRemarks_HoF)}}</td>

                                        </tr>
                                    </table>
                                    <pagination-controls (pageChange)="LeaveHistoryPageChanged($event)" style="float: right;"></pagination-controls>
                                    <br>
                                </ng-container>
                                <ng-template #LhisNone>
                                    <ng-container>
                                        <table width="100%">
                                            <tr align="center">
                                                <td>
                                                    <h3>No leave history available</h3>
                                                </td>
                                            </tr>
                                        </table>
                                    </ng-container>
                                </ng-template>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

            </mat-tab-group>
        </div>
    </mat-card-content>


    <!-- <div style="margin: 10px 15px 0 15px" id="hr" *ngIf="name!=''">
			    	<mat-accordion style="overflow: hidden">
				    	<mat-expansion-panel [expanded]="true">
						    <mat-expansion-panel-header>
						      <mat-panel-title>
						         Pending Leaves
						      </mat-panel-title>
						    </mat-expansion-panel-header>

						 

						</mat-expansion-panel>
				    	
				    	<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
						    <mat-expansion-panel-header>
						      <mat-panel-title>
						         Leave History
						      </mat-panel-title>
						    </mat-expansion-panel-header>

							    
						</mat-expansion-panel>

			    	</mat-accordion>
			    	
			    </div> -->
    <!-- </mat-tab> -->
    <!-- </mat-tab-group> -->

</mat-card>