<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>SCHOOL GRADUATED FROM</b></mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 12px; padding: 0; margin: 0;">
                Retrieve school graduated from of college and high school students.
            </p>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class='colo'>

        <div style="width: 100%;">
            <div *ngIf="isLoading" class="loading-spinner">
                <div class="spinner"></div>
                Loading...
            </div>

            <button mat-raised-button style="width: 170px; height:30px; background-color: red;color:white;float: left; margin-bottom: 10px; margin-right: -50px;"
            class="buttondesign" (click)="clearFilter()">
              <i class="material-icons">clear</i>
              <span style="margin-top: 7px">Clear Filter&nbsp;&nbsp;</span></button>

            <button mat-raised-button
                style="width: 170px; height:30px; background-color: green;color:white;float: right; margin-bottom: 10px; margin-right: 50px;"
                class="buttondesign" (click)="exportExcel()">
                <i class="material-icons">save_alt</i>
                <span style="margin-top: 7px"> Download Excel File&nbsp;&nbsp;</span></button>

            <table class="apptable" *ngIf="!isLoading">
                <tr>
                    <th style="width: 100%;">ID Number</th>
                    <th style="width: 100%;">Full Name</th>
                    <th style="width: 100%;">Gender</th>
                    <th style="width: 100%;">
                        {{ this.level === 'highschool' ? 'Grade Level' : 'Year Level' }}
                      </th>                      
                    <th style="width: 100%;">School</th>
                    <th style="width: 100%;">Birthdate</th>
                    <th style="width: 100%;">Course</th>
                    <!-- <th style="width: 100%;">LR No</th> -->
                    <!-- <th style="width: 30px;">TEST</th> -->
                </tr>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="idnumber"
                            (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="fullname"
                            (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <mat-select [(ngModel)]="gender" (ngModelChange)="filterall()">
                            <mat-option [value]="'M'">MALE</mat-option>
                            <mat-option [value]="'F'">FEMALE</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <mat-select [(ngModel)]="yearOrGradeLevel" (ngModelChange)="filterall()">
                            <mat-option *ngFor="let a of yearlevel" [value]="a">{{ a }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="companyName"
                            (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="dateofbirth"
                            (keyup)="filterall($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <mat-select [(ngModel)]="course" (ngModelChange)="filterall()">
                            <mat-option *ngFor="let a of coursee" [value]="a">{{ a }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <!-- <td>
                    <mat-form-field  appearance="outline">
                        <mat-label>filter</mat-label>
                        <input matInput placeholder="" autocomplete="off" [(ngModel)]="lrn" (keyup)="filterall($event)">
                    </mat-form-field>
                </td> -->
                <tr *ngFor="let list of filteredStudentsList | paginate: configList">
                    <td>{{ list.idNumber }}</td>
                    <td>{{ list.fullName }}</td>
                    <td>{{ list.gender }}</td>
                    <td>{{ list.yearOrGradeLevel }}</td>
                    <td>{{ list.companyName }}</td>
                    <td>{{ list.dateofbirth }}</td>
                    <td>{{ list.course }}</td>
                    <!-- <td>{{ list.lrn }}</td> -->
                    <!-- <td style="text-align: center">{{ list.yearorgradelevel }}</td>
                    <td style="text-align: center"><input type="checkbox" [checked]="list.form137A === '1'" disabled /></td>
                    <td style="text-align: center"><input type="checkbox" [checked]="list.form138 === '1'" disabled /></td>
                    <td style="text-align: center"><input type="checkbox" [checked]="list.nso === '1'" disabled /></td> -->
                    <!-- <td style="text-align: center;"><input type="checkbox" [(ngModel)]="list.form138"></td> -->

                </tr>
                <tr *ngIf="filteredStudentsList ==''">
                    <td colspan="8">
                        <p style="text-align: center; width: 100%;">
                            <i>- No Data Found -</i>
                        </p>
                        <!-- <p style="text-align: center; width: 100%;">
                        <i>- Please Input ID Number -</i>
                      </p> -->
                    </td>
                </tr>

            </table>
            <!-- <table class="apptable" style="width: 100%" > -->

            <!-- </table> -->
            <!-- <mat-paginator *ngIf="filteredStudentsList" [length]="StudentsRequirementList.length" [pageSize]="itemsPerPage" [pageIndex]="currentPage - 1"
                (page)="currentPage = $event.pageIndex + 1"></mat-paginator> -->
            <div style="float: right; margin-right: 10px;">
                <pagination-controls (pageChange)="pageChangedList($event)"></pagination-controls>
            </div>
        </div>

    </mat-card-content>
</mat-card>