<mat-card class="example-card">
  <mat-card-header >
    <mat-card-title><b>DTR Viewer</b></mat-card-title>
  </mat-card-header>

  <mat-card-content class='colo'>
  	<mat-divider></mat-divider>
      <div>
        <table style="margin: 0px; padding: 0px;">
          <tr>
              <td width="110">
                  <img [src]="image" width="100" onError="this.src='assets/noimage.jpg'" />
              </td>
              <td>
                  <table class="example-full-width" cellspacing="0">
                      <tr>
                          <td width="50%">
                              <mat-form-field class="example-full-widthminus">
                                  <input autofocus matInput #idno2 placeholder="ID Number" value="" [(ngModel)]="id"
                                      name="idno" required="required" (keydown)="keyDownFunction($event)" maxlength="7">
                              </mat-form-field>
                              <button mat-mini-fab color="primary" (click)="personlookup()">
                                  <mat-icon>search</mat-icon>
                              </button>
                          </td>
                      </tr>
                  </table>

                  <h3 *ngIf="lname!=''" style="margin: 0px">{{lname}}, {{fname}} {{mname}} {{suffix}}</h3>
                  <div style="height: 10px"></div>
              </td>
          </tr>
        </table>
      </div>
      <div *ngIf="fname">
        <table style="width: 100%">
          <tr align="left">
            <td>
              <br>
              <strong>Select dates to generate</strong>
              <!-- <p style="color: red;">Note: DTR are auto generated upon changing/selection of dates to generate</p> -->
              <table style="width: 20%">
                <td width="50%" style="padding-left: 5px">
                  <mat-form-field class="example-full-width">
                    <input readonly matInput [matDatepicker]="picker" placeholder="Start Date" (click)="picker.open()" (dateChange)="checkDateRange()" [(ngModel)]="sdate" name="sdate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>
                <td width="50%" style="padding-left: 5px">
                  <mat-form-field class="example-full-width">
                    <input readonly matInput [matDatepicker]="picker2" placeholder="End Date" (click)="picker2.open()" (dateChange)="checkDateRange()" [(ngModel)]="edate" name="edate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </td>
                <td>
                  <button mat-raised-button (click)="checkDTR()"
                    style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;margin-top: 15px;"
                    [disabled]="generateTrigger" [ngClass]="activateGenerate() ? 'buttonPDFGray' : 'buttonPDFGreen'">
                    &nbsp;&nbsp;<i class="material-icons">date_range</i>
                    <span style="margin-top: 7px"> Generate DTR&nbsp;&nbsp;&nbsp;</span>
                  </button>
                </td>
                <td align="right">
                  <button mat-raised-button (click)="generatePDF()" *ngIf="exportPDFTrigger"
                    style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#006600;color: white;margin-top: 15px;">
                    &nbsp;&nbsp;<i class="material-icons">cloud_download</i>
                    <span style="margin-top: 7px"> Export to PDF&nbsp;&nbsp;&nbsp;</span>
                  </button>
                </td>
              </table>
            </td>
          </tr>
          <tr align="center">
            <td><strong>EMPLOYEE'S ATTENDANCE SUMMARY</strong></td>
          </tr>
          <tr>
            <td align="left" colspan="2">
              <table class="apptable" id="childrenCSS" style="width: 95%">
                <tr>
                  <th style="text-align: center;width: 200px" rowspan="2">
                    DATE
                  </th>
                  <th style="text-align: center;" colspan="2">
                    ACTUAL DTR
                  </th>
                  <th style="text-align: center;" colspan="2">
                    CORRECTED ENTRY
                  </th>
                  <th style="text-align: center;"  colspan="2">
                    SCHEDULE
                  </th>
                  <th style="text-align: center;width: 200px" rowspan="2">
                    LATE
                  </th>
                  <th style="text-align: center;width: 200px" rowspan="2">
                    UNDER TIME
                  </th>
                  <th style="text-align: center;width: 300px" rowspan="2">
                    REMARKS
                  </th>
                </tr>

                <tr>
                  <th style="text-align: center;width: 125px">
                    Time-In
                  </th>
                  <th style="text-align: center;width: 125px">
                    Time-Out
                  </th>
                  <th style="text-align: center;width: 125px">
                    Time-In
                  </th>
                  <th style="text-align: center;width: 125px">
                    Time-Out
                  </th>
                  <th style="text-align: center;width: 125px">
                    Time-In
                  </th>
                  <th style="text-align: center;width: 125px">
                    Time-Out
                  </th>
                </tr>
                <tr *ngFor="let el of attendanceArray  | paginate: dtrConfig">
                  <td style="text-align: center;" *ngIf="el.theDate!==lastdate">{{setLastDate(el.theDate)}}</td>
                  <td style="text-align: center;" *ngIf="el.theDate===lastdate"></td>
                  <td style="text-align: center;">{{el.timeIn}}</td>
                  <td style="text-align: center;">{{el.timeOut}}</td>
                  <td style="text-align: center;">{{el.correctedTI}}</td>
                  <td style="text-align: center;">{{el.correctedTO}}</td>
                  <td style="text-align: center;">{{el.scheduledTI}}</td>
                  <td style="text-align: center;">{{el.scheduledTO}}</td>
                  <td>{{el.late}}</td>
                  <td>{{el.undertime}}</td>
                  <td>{{el.comment}}</td>
                </tr>
              </table>

              <table width="95%" >
                <tr>
                  <td width="60%">
                    <pagination-controls (pageChange)="dtrPageChanged($event)" style="float: left;margin-left:-45px"></pagination-controls>
                  </td>
                  <td width="40%">
                    <table width="100%">
                      <tr>
                        <td width="50%"><strong>Total Late: {{displayTotalLate}}</strong></td>
                        <td width="50%"><strong>Total Undertime: {{displayTotalUndertime}}</strong></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>


  </mat-card-content>
</mat-card>
