.example-form {
  min-width: 150px;
  width: 100%;
}
input {
  width: 148px;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color:white;
}
::ng-deep .mat-card-header * {
    color:white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}
#EmpIDPicNSig{
  display: block;
}

#info1stCol{
  float: left;
  margin-top: -50px;
}

#info2ndCol{
  width: 125px;
  height: 185px;
}

#EmpPosition{
  margin-top: -20px;
}
#EmpIDnumber{
  margin-top: -5px;
  float: left;
}
#DTRIDnum{
  margin-top: 15px;
  margin-left: -64px;
  float: left;
}
#hr{margin-top: -10px;}



#EmpPersonalInfo{
  display: inline;
  width: 100%
}

#tableCSS,.tableCSS{
  height: 12px;
    text-align: left;
    background-color: #294a70;
    color: white;
}

#childrenCSS {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#childrenCSS td, #childrenCSS th {
  border: 1px solid #ddd;
  padding: 8px;
}

#childrenCSS tr:nth-child(even){background-color: #f2f2f2;}

#childrenCSS tr:hover {background-color: #ddd;}

#childrenCSS th {
  padding-top: 8px;
  padding-bottom: 8;
  text-align: left;
  background-color: #294a70;
  color: white;
}

.btnstyle{
  font-size:11px;
  width: 70px;
  min-width:18px;
  line-height: 15px;
  height: 28px;
  padding: 0;
  margin-left: 5px
}
.buttonPDFGray{
  background-color: gray!important;
}

.buttonPDFGreen{
  background-color: #294a70!important;
}
