<mat-card class="example-card" id="emplookup" style='padding: 0 !important;'>
	<mat-card-header>
		<mat-card-title><b>Edit Time</b></mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<mat-form-field style="width: 40%;">
			<mat-label>
				<h3>Start</h3>
			</mat-label>
			<br>
			<input matInput type="time" min="06:00" max="20:00" [(ngModel)]="time"
				style="font-weight: bold; font-size: 25px;" required="required"
				>
		</mat-form-field>

		<mat-form-field style="width: 40%;  float: right;">
			<mat-label>
				<h3>End</h3>
			</mat-label>
			<br>
			<input matInput type="time" min="06:00" max="20:00" [(ngModel)]="time2"
				style="font-weight: bold; font-size: 25px;" required="required"
				>
		</mat-form-field>

		<div style="width: 100%; text-align: center;">
			<i>(hh:mm AM/PM)</i>
		</div>
		<br>

		<button mat-raised-button (click)="close()">Cancel</button>

		<button mat-raised-button (click)="save()" *ngIf="time=='' || time2==''" disabled
			style="color: white; background-color: #7C7C7C; float: right">Save</button>

		<button mat-raised-button (click)="save()" *ngIf="time!='' && time2!=''"
			style="color: white; background-color: #294A70; float: right">Save</button>

	</mat-card-content>
</mat-card>
