<mat-card class="example-card">
    <mat-card-header>

        <mat-card-title>
            <p style="font-size: 14px; padding: 0; margin: 0; padding-top: 5px;"><b>BATCH UPLOADER</b></p>
        </mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 14px; padding: 0; margin: 0; margin-bottom: -10px;">
                This module allows you to search the employees by their deparment.<br> Click the Department Dropdown and click the GENERATE Button. <br> After filling out the necessary details press the SAVE button.
            </p>
        </mat-card-subtitle>

    </mat-card-header>


    <mat-card-content class='colo'>

        <table>
            <tr>
                <td style="width: 60%">
                    <mat-form-field style="width: 700px;">
                        <input style="width: 700px" type="text" placeholder="- Department -" aria-label="Number" matInput (keydown)="keyDownFunction($event)" [formControl]="myControl" [matAutocomplete]="autoProgName">
                        <mat-autocomplete #autoProgName="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <button mat-raised-button (click)="generate()" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;margin-top: 15px;margin-left: 5px">
                    &nbsp;&nbsp;
                    <span style="margin-top: 7px"> Generate&nbsp;&nbsp;&nbsp;</span>
                    </button>

                    <button mat-raised-button [disabled]="hasEmptyValues()" (click)="save()" [ngClass]="{'disabled-button': hasEmptyValues(), 'enabled-button': !hasEmptyValues()}" *ngIf="employeeArr != undefined && employeeArr != null && global.checkaccess(':Employee:RankPost')">
                        &nbsp;&nbsp;
                        <span style="margin-top: 7px"> Save&nbsp;&nbsp;&nbsp;</span>
                    </button>

                </td>

                <!-- <td align="left" style="width: 100%;">

            </td> -->

                <!-- <td align="right" style="width: 100%">

                </td> -->
            </tr>
        </table>

        <div style="width: 100%; overflow-x: auto; overflow-y: hidden;">
            <table class="apptable1" *ngIf="employeeArr != undefined && employeeArr != null" style="width: 100%;">

                <tr>
                    <th>ID Number</th>
                    <th>Full Name</th>
                    <th>Appointments</th>
                    <th>School Year</th>
                    <th>Ranks</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Rank Status</th>
                    <th>Evaluation</th>
                    <th>Evaluation Status</th>
                    <th>Term Of Contract</th>
                    <th>Recommendation</th>
                    <th style="text-align: center;">- Action -</th>
                </tr>

                <!-- <mat-spinner style="margin-left: auto;margin-right: auto; width: 50px; height: 50px;" *ngIf="employeeArr==undefined || employeeArr == null"></mat-spinner> -->

                <tr *ngFor="let a of displayArr | paginate: configRooms ">

                    <td>
                        <div style="width: 75px;"></div>{{a.idNumber}}</td>
                    <td>
                        <div style="width: 200px;"></div>{{a.employeeName}}</td>

                    <td>
                        <mat-form-field style="width: 250px; margin-bottom: -18px;margin-top: -4px;">
                            <mat-label>Appointment</mat-label>
                            <mat-select [(ngModel)]="a.appointmentModel" (ngModelChange)="appointmentPopulate(a.appointmentModel,a.idNumber)">
                                <mat-option value="{{c.appointmentID}}" *ngFor="let c of a.appointments">
                                    {{ c.position + ' ' + (c.dateAppointed | date:'yyyy') }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 40%; margin-bottom: -18px;margin-top: -4px;">
                            <input matInput [(ngModel)]="a.year1Model" (ngModelChange)="year1Change(a.idNumber,a.year1Model)" type="number" min="1900" max="2999" style="text-align: center;">
                        </mat-form-field>
                        &nbsp; to &nbsp;
                        <mat-form-field style="width: 40%; margin-bottom: -18px;margin-top: -4px;">
                            <input matInput [(ngModel)]="a.year2Model" (ngModelChange)="year2Change(a.idNumber,a.year2Model)" type="number" min="1900" max="2999" style="text-align: center;">
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 170px; margin-bottom: -18px; margin-top: -4px;">
                            <mat-label>Rank</mat-label>
                            <mat-select [(ngModel)]="a.rankModel">
                                <mat-option *ngFor="let c of rankArr" [value]="c.rank">{{ c.rank }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 400px; margin-bottom: -18px;margin-top: -4px;">
                            <input type="text" placeholder="Department" aria-label="Number" matInput [(ngModel)]="a.departmentModel" (ngModelChange)="departmentValueChange(a.departmentModel,a.idNumber)" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of deparmentOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 350px; margin-bottom: -18px;margin-top: -4px;">
                            <input type="text" placeholder="Position" aria-label="Number" matInput [(ngModel)]="a.positionModel" (ngModelChange)="positionValueChange(a.positionModel,a.idNumber)" [matAutocomplete]="auto1">
                            <mat-autocomplete #auto1="matAutocomplete">
                                <mat-option *ngFor="let option1 of positionOptions | async" [value]="option1">
                                    {{option1}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 100px; margin-bottom: -18px;margin-top: -4px;">
                            <mat-label>Status</mat-label>
                            <mat-select [(ngModel)]="a.statusModel">
                                <mat-option value="{{c.classificationId}}" *ngFor="let c of classArr">
                                    {{c.classification}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 125px; margin-bottom: -18px;margin-top: -4px;">
                            <mat-label>Rank Status</mat-label>
                            <mat-select [(ngModel)]="a.rankStatusModel">
                                <mat-option value="{{c.rankStatusID }}" *ngFor="let c of rankStatusArr">
                                    {{c.rankStatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 75px; margin-bottom: -18px;margin-top: -4px;">
                            <mat-label>Evaluation</mat-label>
                            <input matInput type="number" min="1" max="100" [(ngModel)]="a.evaluationModel" (input)="eval(a.idNumber,a.evaluationModel)">
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 130px; margin-bottom: -18px;margin-top: -4px;">
                            <mat-label>Evaluation Status</mat-label>
                            <mat-select [(ngModel)]="a.evaluationStatusModel">
                                <mat-option value="{{c.evaluationStatusID}}" *ngFor="let c of evalStatArr">
                                    {{c.evaluationStatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 130px; margin-bottom: -18px;margin-top: -4px;">
                            <mat-label>Term of Contract</mat-label>
                            <mat-select [(ngModel)]="a.tocModel">
                                <mat-option value="{{c.empStatusID}}" *ngFor="let c of tocArr">
                                    {{c.empStatus}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                    <td>
                        <div style="width: 300px;"></div>
                        <mat-form-field style="width: 100%; margin-bottom: -18px;margin-top: -4px;">
                            <mat-label>Recommendation</mat-label>
                            <input style="width: 100%;" matInput #Input [(ngModel)]="a.recommendationModel" (ngModelChange)="recommendationValueChange(a.recommendationModel,a.idNumber)" [matAutocomplete]="auto2" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add(a.idNumber, $event)" />
                            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selected(a.idNumber, $event)">
                                <mat-option *ngFor="let option of filteredRecommendations | async" [value]="option">{{ option }}</mat-option>
                            </mat-autocomplete>
                            <mat-chip-list #chipList aria-label="Recommendation selection">
                                <mat-chip *ngFor="let option of a.recommendationArr" (removed)="remove(a.idNumber, option)">
                                    {{ option }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </td>

                    <td align="center">
                        <button mat-raised-button style="width: 80px;background-color:#990000;color:white;margin-top: 5px; margin-right: 5px;" class="buttondesign" (click)="removeEmployee(a.idNumber,a.employeeName)">
                            <i class="material-icons">delete</i> 
                              <span style="margin-top: 7px"> Delete&nbsp;&nbsp;</span>
                          </button>
                    </td>

                </tr>

                <tr *ngIf="displayArr.length == 0">
                    <td colspan="14">
                        <p style="text-align: center; width: 100%;">
                            <i>- No Data -</i>
                        </p>
                    </td>
                </tr>
            </table>
        </div>

        <div style="float: right; margin-right: 10px;">
            <pagination-controls (pageChange)="pageChangedRooms($event)" *ngIf="displayArr.length != 0"></pagination-controls>
        </div>

    </mat-card-content>
</mat-card>