.apptable1 {
    border-collapse: collapse;
    width: 100%;
}

.apptable1 td,
.apptable1 th {
    border: 1px solid #ddd;
    padding: 8px;
}

.apptable1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.apptable1 tr:hover {
    background-color: #ddd;
}

.apptable1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #294a70;
    color: white;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

::ng-deep .mat-card-header * {
    color: white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.disabled-button {
    background-color: gray;
    width: 75px;
    font-size: 12px;
    min-width: 18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
    background-color: #006600;
    color: white;
    margin-top: 15px;
    margin-left: 5px;
}

.enabled-button {
    background-color: #006600;
    width: 75px;
    font-size: 12px;
    min-width: 18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
    background-color: #006600;
    color: white;
    margin-top: 15px;
    margin-left: 5px;
}