<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><b>A\R LEDGER HISTORY</b></mat-card-title>
    <mat-card-subtitle>
      <p style="font-size: 12px; padding: 0; margin: 0;">
        This page presents a table-based record of the student's ledger history.
      </p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class='colo'>
    <mat-divider></mat-divider>
    <div style="width: 990px;">
      <div style="max-height: calc(100vh - 385px);overflow-y: scroll;width: 100%;">
        <table class="apptable" style="width: 100%">
          <thead>
            <tr>
              <th style="text-align: center;">Ref Date</th>
              <th style="text-align: center;">Ref Number</th>
              <th style="text-align: center;">Particulars</th>
              <th style="text-align: center;">Debit</th>
              <th style="text-align: center;">Credit</th>
              <th style="text-align: center;">Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ledger of arrLedger">
              <td style="text-align: center;">{{ledger.refDate | date}}</td>
              <td style="text-align: center;">{{ledger.refNo}}</td>
              <td style="text-align: center;">{{ledger.particulars}}</td>
              <td style="text-align: center;" *ngIf="ledger.transType === 'D'">{{ledger.amount | currency:' '}}</td>
              <td style="text-align: center;" *ngIf="ledger.transType === 'D'"></td>

              <td style="text-align: center;" *ngIf="ledger.transType === 'C'"></td>
              <td style="text-align: center;" *ngIf="ledger.transType === 'C'">{{ledger.amount | currency:' '}}</td>

              <td style="text-align: center;">{{ ledger.balance | currency:' ' }}</td>
            </tr>
          </tbody>
        </table>



      </div>
    </div>
  </mat-card-content>
</mat-card>
<button mat-raised-button style="float: right" (click)="onNoClickclose()" color="warning">Close</button>