<mat-card class="example-card" id="emplookup" style='padding: 0 !important; width: 350px;'>

    <mat-card-header>

        <mat-card-title>
            <p style=" padding: 0; margin: 0; padding-top: 5px;"><b>EDIT NAME</b></p>
        </mat-card-title>

    </mat-card-header>


    <mat-card-content>
        <table style="width: 100%;">
            <tr>
                <td colspan="2">
                    <mat-form-field class="example-full-width2" [formGroup]="form">
                        <input matInput placeholder="Last Name" formControlName="lname" name="lname" required autocomplete="off">
                        <mat-error *ngIf="form.get('lname').invalid && (form.get('lname').touched )">Last Name is required</mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-form-field class="example-full-width2" [formGroup]="form">
                        <input matInput placeholder="First Name" formControlName="fname" name="fname" required autocomplete="off">
                        <mat-error *ngIf="form.get('fname').invalid && (form.get('fname').touched )">First Name is required</mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-form-field class="example-full-width2">
                        <input matInput placeholder="Middle Name" [(ngModel)]="mname" name="mname" autocomplete="off">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width:145px">
                        <mat-label>Gender</mat-label>
                        <mat-select [(ngModel)]="gender">
                            <mat-option value="{{g.value}}" *ngFor="let g of genderArray">
                                {{g.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>

                <td>
                    <mat-form-field style="width:145px">
                        <input matInput placeholder="Suffix" [(ngModel)]="suffix" name="suffix" autocomplete="off">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <!-- <button mat-raised-button color="primary" style="width: 75px;color:white;margin-bottom: 5px; float: right; margin-bottom: 10px;" class="buttondesign" (click)="updatenameapi()">
        <i class="material-icons" >edit</i>
        <span style="margin-top: 7px">Update&nbsp;&nbsp;</span>
          </button>

        <button mat-raised-button style="width: 75px;background-color:#990000;color:white; float: left; margin-bottom: 10px;" class="buttondesign" (click)="updatename()">
          <i class="material-icons">close</i>
        <span style="margin-top: 7px"> Cancel&nbsp;&nbsp;</span>
          </button> -->

    </mat-card-content>
</mat-card>

<div style="float:right; margin-bottom: 10px; margin-right: 10px;">
    <button style="margin-right: 5px;" mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="updatenameapi()">
            <i class="material-icons"></i>Save
            </button>
</div>