.txtid {
    width: 100px;
}

.example-full-width2 {
    width: 310px;
    font-size: 16px;
}

.example-full-width3 {
    width: 50%;
}

.material-icons {
    font-size: 5px;
    /* adjust the size as needed */
}