<mat-card class="example-card">
    <mat-card-header >
     <mat-card-title><b>Code information</b></mat-card-title>
   </mat-card-header>
   <mat-card-content class='colo'>
    <ng-container *ngIf="evaluation; else computation">
      <div>
        <table style="width: 100%" class="apptable">
          <tr>
              <td>
                  Code Number:
              </td>
              <td>
                  {{data.evaluationSheetData.codeNo}}
              </td>
          </tr>
          <tr>
              <td>
                  Room:
              </td>
              <td>
                  {{data.subjectData.roomNumber}}
              </td>
          </tr>
          <tr>
              <td>
                  Subject:
              </td>
              <td>
                  {{data.subjectData.subjectID}} {{data.subjectData.subjectTitle}}
              </td>
          </tr>
          <tr>
              <td>
                  Subject Schedule:
              </td>
              <td>
                  {{data.subjectData.day}} {{data.subjectData.time}}
              </td>
          </tr>
          <tr>
              <td>
                  Department:
              </td>
              <td>
                  {{data.subjectData.departmentName}}
              </td>
            </tr>

        </table>
        <p>
            <strong>Evaluation sheet created by: </strong>
        </p>
        <p>{{data.evaluationSheetData.createdBy}} - {{headName}}</p>
        <p>{{headPosition}}</p>
      </div>
      <div *ngIf="multipleHead">
          <p><strong style="color: red;">Evaluation created by another program chair</strong></p>
          <button mat-raised-button (click)="reCreateEval()" color="warn" style="float: left;margin-bottom: 5px;">Remove evaluation</button>
          <br>
      </div>
    </ng-container>

    <ng-template #computation>

    </ng-template>
   </mat-card-content>
 </mat-card>
           <button mat-raised-button (click)="onNoClickclose()"style="float: right;">Close</button>

         <!-- <button mat-raised-button (click)="confirm()" color="primary" style="float: right;">Confirm</button> -->
