<mat-card class="example-card">

    <mat-card-header >
      <mat-card-title><b>Student Profile Summary ({{ global.domain }}) </b></mat-card-title>
      <mat-card-title><p>NOTE: This report will list down all the profile summary of students currently enrolled in this university. </p></mat-card-title>
    </mat-card-header>

    <mat-card-content class='colo'>      

        <mat-divider></mat-divider>

        <table style="width: 400px">
            <tr>
                <td style="width: 350px">
                    <mat-form-field style="width: 300px" appearance="outline" >
                      <mat-label>Profile</mat-label>
                      <mat-select  
                        [(ngModel)]="profile"
                        (selectionChange)="onChangeMatSelect()">    
                        <mat-option value="All">
                          All
                        </mat-option>                  
                        <mat-option value="Age">
                          Age
                        </mat-option>
                        <mat-option value="Gender">
                          Gender
                        </mat-option>
                        <mat-option value="Religion">
                          Religion
                        </mat-option>
                        <mat-option value="HomePlace">
                          Home Place
                        </mat-option>
                        <mat-option *ngIf="global.domain==='COLLEGE'" value="SeniorHighSchoolGraduatedFrom">
                            Senior High School Graduated From
                          </mat-option>
                          <mat-option *ngIf="global.domain==='HIGHSCHOOL'" value="Senior_JuniorHighSchoolGraduatedFrom">
                            Junior High School Graduated From
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                 </td>

                <td valign="top" style="width: 100px">
                    <button mat-raised-button (click)="generate()"  style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;margin-top: 15px;margin-left: 5px">
                            &nbsp;&nbsp;
                            <span style="margin-top: 7px"> Generate&nbsp;&nbsp;&nbsp;</span>
                        </button>
                </td>

                <td valign="top">
                    <button mat-raised-button 
                      (click)="exportexcel(this.profile)"  
                      style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;background-color:#006600;color: white;float: right;"   
                      *ngIf="(arrayAge!=null && arrayAge.length!=0)
                          || (arrayGender!=null && arrayGender.length!=0)
                          || (arrayReligion!=null && arrayReligion.length!=0)
                          || (arrayHomePlace!=null && arrayHomePlace.length!=0)
                          || (arraySHS!=null && arraySHS.length!=0)
                          || (arrayJHS!=null && arrayJHS.length!=0)
                        "
                    >
                      &nbsp;&nbsp;
                      <i class="material-icons">print</i>
                      <span style="margin-top: 7px"> Export to Excel &nbsp;&nbsp; </span>
                    </button>
                </td>

            </tr>            
        </table>
      
      <div *ngIf="profile==='All'">

        <mat-card-title *ngIf="arrayAge!=null && arrayAge.length!=0"><b>Age</b></mat-card-title>
          <app-age></app-age>

        <mat-card-title *ngIf="arrayGender!=null && arrayGender.length!=0"><b>Gender</b></mat-card-title>
          <app-gender></app-gender>

          <mat-card-title *ngIf="arrayReligion!=null && arrayReligion.length!=0"><b>Religion</b></mat-card-title>
          <app-religion></app-religion>

          <mat-card-title *ngIf="arrayHomePlace!=null && arrayHomePlace.length!=0"><b>Home Place</b></mat-card-title>
          <app-home-place></app-home-place>

          <div *ngIf="global.domain==='COLLEGE'">
            <mat-card-title *ngIf="arraySHS!=null && arraySHS.length!=0"><b>Senior High School Graduated From</b></mat-card-title>
            <app-senior-highschool-graduated-from></app-senior-highschool-graduated-from>                          
          </div>

          <div *ngIf="global.domain==='HIGHSCHOOL'">
            <mat-card-title *ngIf="arrayJHS!=null && arrayJHS.length!=0"><b>Senior - Junior High School Graduated From</b></mat-card-title>
            <app-junior-highschool-graduated-from></app-junior-highschool-graduated-from>               
          </div>

      </div>      

      <div *ngIf="profile==='Age'">
        <mat-card-title *ngIf="arrayAge!=null && arrayAge.length!=0"><b>{{profile}}</b></mat-card-title>
          <app-age></app-age>
      </div>

    <div *ngIf="profile==='Gender'">
        <mat-card-title *ngIf="arrayGender!=null && arrayGender.length!=0"><b>{{profile}}</b></mat-card-title>
        <app-gender></app-gender>
    </div>
    
    <div *ngIf="profile==='Religion'">
      <mat-card-title *ngIf="arrayReligion!=null && arrayReligion.length!=0"><b>{{profile}}</b></mat-card-title>
      <app-religion></app-religion>
    </div>

  <div *ngIf="profile==='HomePlace'">
    <mat-card-title *ngIf="arrayHomePlace!=null && arrayHomePlace.length!=0"><b>{{profile}}</b></mat-card-title>
    <app-home-place></app-home-place>
  </div>

  <div *ngIf="profile==='SeniorHighSchoolGraduatedFrom'">
    <mat-card-title *ngIf="arraySHS!=null && arraySHS.length!=0"><b>{{profile}}</b></mat-card-title>
    <app-senior-highschool-graduated-from></app-senior-highschool-graduated-from>
  </div>

  <div *ngIf="profile==='Senior_JuniorHighSchoolGraduatedFrom'">
    <mat-card-title *ngIf="arrayJHS!=null && arrayJHS.length!=0"><b>{{profile}}</b></mat-card-title>
    <app-junior-highschool-graduated-from></app-junior-highschool-graduated-from>
  </div>
       

    </mat-card-content>

</mat-card>