<mat-drawer-container class="example-container"
	style="max-height: 100vh"
	id="main">
	<mat-drawer #drawer
		mode="side"
		opened="true">
		<div id="coverp">
			<img [src]="image"
				width="110"
				id="photop"
				onError="this.src='assets/noimage.jpg'">
			<div id="fullname"
				style="padding-bottom: 5px">
				{{ id }}
				<br>
				{{ name | titlecase}}
				<style type="text/css">
                    .chapsign:focus {
                        background-color: inherit !important;
                    }
                </style>
				<table style="width: 100%">
					<tbody>
						<tr>
							<td style="width: 55%">
								<small>
									<a (click)="openDialogchangepassword()"
										mat-button
										color='default'
										style="font-size: 10px;text-align: right;"
										class="chapsign">
										<i class="material-icons iconsize">lock</i>
										Change Password
									</a>
								</small>
							</td>
							<td style="text-align: center;text-align: left;">
								<small>
									<a (click)="logout()"
										mat-button
										color='default'
										class="chapsign"
										style="font-size: 10px;float: left">
										<mat-icon>exit_to_app</mat-icon>
										Sign Out
									</a>
								</small>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div *ngIf="global.domain!=null"style="max-height: calc(100vh - 360px);overflow-y: auto;">

		<mat-accordion>
<!--#region GENERAL TAB -->
				<mat-expansion-panel *ngIf="global.checkaccess(':Person:PersonGet')||global.checkaccess(':Person:PersonPost')">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<i class="material-icons iconsize">assessment</i>
							<b>&nbsp; General</b>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<a *ngIf="global.checkaccess(':Person:PersonPost')"
						[routerLink]="['../main',{outlets:{div:'person-information'}}]"
						mat-button>
						<i class="material-icons iconsize">person_add</i>
						New Person Registration
					</a>

					<a *ngIf="global.checkaccess(':Person:PersonPut')"
						[routerLink]="['../main',{outlets:{div:'update-person'}}]"
						mat-button>
						<i class="material-icons iconsize">edit</i>
						Update Person Information
					</a>

				</mat-expansion-panel>
<!--#endregion GENERAL TAB -->

<!--#region ACADEMICS TAB -->
				<!-- global.checkaccess(':Admission:Admit')||
  global.checkaccess(':Admission:Register')||
  global.checkaccess(':Student:SectionPut')||
  global.checkaccess(':Maintenance:OnlineApplicantPut') ||
  global.checkaccess(':Maintenance:PreEnrolledStudentPut') ||
  global.checkaccess(':Curriculum:CurriculumLookup')|| -->
				<mat-expansion-panel *ngIf="
                  global.checkaccess(':Student:Get')||
                  global.checkaccess(':Enrollment:EnrolledSubjectsGet')||
                  global.checkaccess(':Code:SetHeadersGet')||
                  global.checkaccess(':Admission:SYSettingsGet')||
                  global.checkaccess(':Enrollment:PurgeListGet')||
                  global.checkaccess(':Curriculum:SubjectGet')||
                  (global.checkaccess(':StudentEvaluation:Get') && global.checkaccess(':StudentEvaluation:ChecklistGet')&&
                  global.checkaccess(':StudentEvaluation:AcademicHistoryEvaluationGet')&&
                  global.checkaccess(':StudentEvaluation:CurriculumGet'))||
                  global.checkaccess(':Code:ExamScheduleGet')||
                  (global.checkaccess(':Code:SetHeadersGet')||
                  global.checkaccess(':Maintenance:CompanyGet'))||
                  global.checkaccess(':OnlineRegistration:ApplicantGet')||
                  global.checkaccess(':Placement:PlacementInformationGet')||
                  global.checkaccess(':Maintenance:EntranceTestGet')||
                  global.checkaccess(':Enrollment:HSStudentElectiveListGet')||
                  global.checkaccess(':Enrollment:LearningModalitiesGet')||
                  global.checkaccess(':OnlineGradingSheet:OnlineGadingSheetGet')||
                  global.checkaccess(':Maintenance:ScheduleBasicEdPost')||
                  global.checkaccess(':Maintenance:ScheduleBasicEdGet')||
                  global.checkaccess(':Enrollment:PreEnrollmentSubmittedReqGet') ||
                  global.checkaccess(':AcademicHistory:AcademicHistoryGet') ||
                  global.checkaccess(':Maintenance:MenuHeaderGet') ||
                  global.checkaccess(':Enrollment:EnrollmentListToBeWithdrawnGet')">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<i class="material-icons iconsize">chrome_reader_mode</i>
							<b>&nbsp; Academic</b>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<a *ngIf="global.checkaccess(':Student:Get')"
						[routerLink]="['../main',{outlets:{div:'student-information'}}]"
						mat-button>
						<i class="material-icons iconsize">person_outline</i>
						Student Information
					</a>

					<a *ngIf="global.checkaccess(':Admission:Admit')"
						[routerLink]="['../main',{outlets:{div:'admission'}}]"
						mat-button>
						<i class="material-icons iconsize">exit_to_app</i>
						Student Admission
					</a>

					<a *ngIf="global.checkaccess(':Admission:Register')"
						[routerLink]="['../main',{outlets:{div:'Student-Registration'}}]"
						mat-button>
						<i class="material-icons iconsize">assignment_ind</i>
						Student Registration
					</a>

					<a *ngIf="global.checkaccess(':Enrollment:EnrolledSubjectsGet')"
						[routerLink]="['../main',{outlets:{div:'Enrollment-Manager'}}]"
						mat-button>
						<i class="material-icons iconsize">assignment</i>
						Enrollment Manager
					</a>

					<a *ngIf="global.checkaccess(':Enrollment:EnrollmentListToBeWithdrawnGet') && (this.global.domain==='COLLEGE' || this.global.domain==='HIGHSCHOOL')"
						[routerLink]="['../main',{outlets:{div:'Withdraw-CES'}}]"
						mat-button>
						<i class="material-icons iconsize">assignment_return</i>
						Withdraw Conditionally Enrolled
					</a>

					<!-- Added By Loui Academic Hist -->
					<a *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryGet') && (this.global.domain==='COLLEGE' || this.global.domain==='GRADUATE SCHOOL')"
						[routerLink]="['../main',{outlets:{div:'Academic-academic-history'}}]"
						mat-button>
						<i class="material-icons iconsize">grade</i>
						Academic History Manager
					</a>
					<!-- -------------------------------- -->

					<!-- Revised by Loui--Included Active School Year Setting -->
					<a *ngIf="global.checkaccess(':Maintenance:SYSettingsPut') || global.checkaccess(':Maintenance:OnlineRegistrationSettingsGet')"
						[routerLink]="['../main',{outlets:{div:'sy-setting'}}]"
						mat-button>
						<i class="material-icons iconsize">build</i>
						School Year Settings Manager
					</a>
					<!-- -------------------------------------------- -->

					<a *ngIf="global.checkaccess(':Enrollment:PurgeListGet')"
						[routerLink]="['../main',{outlets:{div:'purge-list'}}]"
						mat-button>
						<i class="material-icons iconsize">select_all</i>
						Purging
					</a>

					<mat-expansion-panel *ngIf="global.checkaccess(':Curriculum:CurriculumLookup')"
						style="display:inline;padding: 0">
						<mat-expansion-panel-header [collapsedHeight]="'36px'"
							[expandedHeight]="'36px'"
							style="padding-left: 7px;">
							<mat-panel-title>
								<i class="material-icons iconsize">chrome_reader_mode</i>
								&nbsp;Curriculum Manager
							</mat-panel-title>
						</mat-expansion-panel-header>
						<a *ngIf="global.checkaccess(':Curriculum:CurriculumLookup')"
							[routerLink]="['../main',{outlets:{div:'curriculum'}}]"
							mat-button>
							<i class="material-icons iconsize">library_books</i>
							Courses
						</a>

						<a *ngIf="global.checkaccess(':Curriculum:SubjectGet')"
							[routerLink]="['../main',{outlets:{div:'subjects'}}]"
							mat-button>
							<i class="material-icons iconsize">toc</i>
							Subjects
						</a>
					</mat-expansion-panel>

					<a *ngIf="
            global.checkaccess(':StudentEvaluation:Get')&&
            global.checkaccess(':StudentEvaluation:ChecklistGet')&&
            global.checkaccess(':StudentEvaluation:AcademicHistoryEvaluationGet')&&
            global.checkaccess(':StudentEvaluation:CurriculumGet')"
						[routerLink]="['../main',{outlets:{div:'student-evaluation'}}]"
						mat-button>
						<i class="material-icons iconsize">
							assignment_turned_in
						</i>
						Student Evaluation
					</a>

					<a *ngIf="global.checkaccess(':Enrollment:role-managemen')"
						[routerLink]="['../main',{outlets:{div:'enrollment-summary'}}]"
						mat-button>
						<i class="material-icons iconsize">dashboard</i>
						Enrollment Summary
					</a>

					<a *ngIf="global.checkaccess(':Code:ExamScheduleGet')"
						[routerLink]="['../main',{outlets:{div:'exam-schedule'}}]"
						mat-button>
						<i class="material-icons iconsize">vertical_split</i>
						Exam Schedule
					</a>

					<mat-expansion-panel *ngIf="
            global.checkaccess(':Code:SetHeadersGet')||
            global.checkaccess(':Maintenance:CompanyGet')||
            global.checkaccess(':Maintenance:EntranceTestGet') ||
            global.checkaccess(':Maintenance:OnlineApplicantGet') ||
            global.checkaccess(':Maintenance:PreEnrolledStudentGet')||
            global.checkaccess(':Classroom:ClassroomGet')"
						style="display:inline;padding: 0">
						<mat-expansion-panel-header [collapsedHeight]="'36px'"
							[expandedHeight]="'36px'"
							style="padding-left: 7px;">
							<mat-panel-title>
								<i class="material-icons iconsize">perm_data_setting</i>
								&nbsp; Maintenance
							</mat-panel-title>
						</mat-expansion-panel-header>

						<a *ngIf="global.checkaccess(':Code:SetHeadersGet')"
							[routerLink]="['../main',{outlets:{div:'Sets-Manager'}}]"
							mat-button>
							<i class="material-icons iconsize">toc</i>
							Sets Manager
						</a>

						<a *ngIf="global.checkaccess(':Maintenance:CompanyGet')"
							[routerLink]="['../main',{outlets:{div:'academic-company'}}]"
							mat-button>
							<i class="material-icons iconsize">apartment</i>
							School Manager
						</a>

						<a *ngIf="global.checkaccess(':Maintenance:EntranceTestGet')"
							[routerLink]="['../main',{outlets:{div:'entrance-exam-schedule-manager'}}]"
							mat-button>
							<i class="material-icons iconsize">vertical_split</i>
							Entrance Exam Sched Mngr.
						</a>

						<a *ngIf="global.checkaccess(':Classroom:ClassroomGet')"
							[routerLink]="['../main',{outlets:{div:'Classroom-Manager-Component'}}]"
							mat-button>
							<i class="material-icons iconsize">meeting_room</i>
							Classroom Manager
						</a>

						<!-- Added by loui -->
						<a *ngIf="global.checkaccess(':Maintenance:OnlineApplicantPut') || global.checkaccess(':Maintenance:PreEnrolledStudentPut')"
							[routerLink]="['../main',{outlets:{div:'Academic-Maintenance-Clear-Online-Submitted-Requirements'}}]"
							mat-button>
							<i class="material-icons iconsize">border_clear</i>
							Clear Online Submitted Req
						</a>
						<!-- ------ -->

					</mat-expansion-panel>

					<a *ngIf="global.checkaccess(':OnlineRegistration:ApplicantGet')"
						[routerLink]="['../main',{outlets:{div:'online-registration'}}]"
						mat-button>
						<i class="material-icons iconsize">how_to_vote</i>
						Applicant Manager
					</a>

					<a *ngIf="global.checkaccess(':Placement:PlacementInformationGet')"
						[routerLink]="['../main',{outlets:{div:'placement-manager'}}]"
						mat-button>
						<i class="material-icons iconsize">how_to_reg</i>
						Placement Manager
					</a>

					<a *ngIf="global.checkaccess(':Enrollment:HSStudentElectiveListGet')"
						[routerLink]="['../main',{outlets:{div:'Grade-9-Elective'}}]"
						mat-button>
						<i class="material-icons iconsize">dashboard</i>
						G9 Elective
					</a>

					<a *ngIf="global.checkaccess(':Enrollment:LearningModalitiesGet')"
						[routerLink]="['../main',{outlets:{div:'Modality'}}]"
						mat-button>
						<i class="material-icons iconsize">dns</i>
						Learning Modality
					</a>

					<a *ngIf="global.checkaccess(':Student:SectionPut')"
						[routerLink]="['../main',{outlets:{div:'Section-Manager'}}]"
						mat-button>
						<i class="material-icons iconsize">cloud_upload</i>
						Section Uploader
					</a>

					<!-- Commented by Kurt Lopez 9/15/2022 -->
					<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Hs-Class-Schedule-Uploader'}}]"
            *ngIf="global.checkaccess(':Maintenance:ScheduleBasicEdPost')"><i
              class="material-icons iconsize">cloud_upload</i> HS Schedule Uploader</a> -->


					<!-- Added by Kurt Lopez 9/15/2022 -->
					<!-- <mat-expansion-panel style="display:inline;padding: 0"
            *ngIf="global.checkaccess(':Maintenance:ScheduleBasicEdGet')">
            <mat-expansion-panel-header style="padding-left: 7px;" [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
              <mat-panel-title>
                <i class="material-icons iconsize">chrome_reader_mode</i>&nbsp;BE Schedule Manager
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-button [routerLink]="['../main',{outlets:{div:'Hs-Class-Schedule-Uploader'}}]"
              *ngIf="global.checkaccess(':Maintenance:ScheduleBasicEdPost')"><i
                class="material-icons iconsize">cloud_upload</i> Schedule Uploader</a>

            <a mat-button [routerLink]="['../main',{outlets:{div:'Schedule-Viewer-Component'}}]"
              *ngIf="global.checkaccess(':Maintenance:ScheduleBasicEdGet')"><i
                class="material-icons iconsize">cloud_upload</i> Schedule Viewer</a>
          </mat-expansion-panel> -->
					<a *ngIf="global.checkaccess(':Maintenance:ScheduleBasicEdGet') && (global.domain != 'COLLEGE' && global.domain!= 'GRADUATE SCHOOL')"
						[routerLink]="['../main',{outlets:{div:'BE-Schedule-Manager'}}]"
						mat-button>
						<i class="material-icons iconsize">cloud_upload</i>
						Class Schedule Uploader
					</a>

					<a *ngIf="global.checkaccess(':OnlineGradingSheet:OnlineGadingSheetGet')"
						[routerLink]="['../main',{outlets:{div:'Electronic-Grading-Sheet'}}]"
						mat-button>
						<i class="material-icons iconsize">vertical_split</i>
						Electronic Grading Sheet
					</a>

					<a *ngIf="global.checkaccess(':Enrollment:PreEnrollmentSubmittedReqGet')"
						[routerLink]="['../main',{outlets:{div:'College-Preenrollment'}}]"
						mat-button>
						<i class="material-icons iconsize">toc</i>
						Pre-enrollment
					</a>

					<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'official-transcript-of-records'}}]" *ngIf="global.checkaccess(':OTR:OTRInfoGet')"><i class="material-icons iconsize">file_copy</i>
                        Official Transcript of Records</a> -->
					<mat-expansion-panel *ngIf="global.checkaccess(':FacultyEvaluation:EvaluationToolGet')"
						style="display:inline;padding: 0">
						<mat-expansion-panel-header [collapsedHeight]="'36px'"
							[expandedHeight]="'36px'"
							style="padding-left: 5px;">
							<mat-panel-title>
								<i class="material-icons iconsize">chrome_reader_mode</i>
								&nbsp;Faculty Evaluation
							</mat-panel-title>
						</mat-expansion-panel-header>

						<a *ngIf="global.checkaccess(':FacultyEvaluation:FacultyLoadGet')"
							[routerLink]="['../main',{outlets:{div:'Faculty-Evaluation'}}]"
							mat-button>
							<i class="material-icons iconsize">event_note</i>
							Evaluation Results
						</a>

						<a *ngIf="global.checkaccess(':FacultyEvaluation:FacultyEvalSettingsGet')"
							[routerLink]="['../main',{outlets:{div:'Faculty-Evaluation-settings'}}]"
							mat-button>
							<i class="material-icons iconsize">build</i>
							Settings
						</a>
						<a *ngIf="global.checkaccess(':FacultyEvaluation:GetProgramProgramChairFaculty')"
							[routerLink]="['../main',{outlets:{div:'Faculty-Evaluation-uploader'}}]"
							mat-button>
							<i class="material-icons iconsize">cloud_upload</i>
							Program/Area Uploader
						</a>
						<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Schedule-Viewer-Component'}}]"
              *ngIf="global.checkaccess(':Maintenance:ScheduleBasicEdPost')"><i
                class="material-icons iconsize">cloud_upload</i> Schedule Viewer</a> -->
					</mat-expansion-panel>

					<a *ngIf="global.checkaccess(':GradeHideUnhide:StudentInfoGet')"
						[routerLink]="['../main',{outlets:{div:'Grades-hiding-unhiding-Component'}}]"
						mat-button>
						<i class="material-icons iconsize">rate_review</i>
						Grades Hiding/Unhiding
					</a>

					<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Codes-Manager-Component'}}]"><i
              class="material-icons iconsize">event_note</i> Codes Manager</a> -->


					<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'otr-component'}}]"
                        *ngIf="global.checkaccess(':GradeHideUnhide:StudentInfoGet')"><i
                            class="material-icons iconsize">file_copy</i> OTR</a> -->


					<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Codes-Manager-Component'}}]"><i
              class="material-icons iconsize">event_note</i> Codes Manager</a> -->
					<!-- <mat-expansion-panel style="display:inline;padding: 0"> -->
					<!-- <mat-expansion-panel-header style="padding-left: 7px;" [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                                 <mat-panel-title>
                                     <i class="material-icons iconsize">list_alt</i>&nbsp; Credentials
                                 </mat-panel-title>
                             </mat-expansion-panel-header> -->


					<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'otr-component'}}]" *ngIf="global.checkaccess(':Student:PersonGet')">
                                 <i class="material-icons iconsize">description</i>Credentials</a> -->
					<a *ngIf="global.checkaccess(':OTR:OTRInfoGet')"
						[routerLink]="['../main',{outlets:{div:'otr-component'}}]"
						mat-button>
						<i class="material-icons iconsize">description</i>
						Credentials
					</a>
					<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'otr-component'}}]" *ngIf="global.checkaccess(':GradeHideUnhide:StudentInfoGet')">
                                    <i class="material-icons iconsize">assignment</i> True Copy of Grades</a> -->


					<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'otr-component'}}]" *ngIf="global.checkaccess(':GradeHideUnhide:StudentInfoGet')">
                                        <i class="material-icons iconsize">insert_drive_file</i> Registrar Certification</a>

                            <a mat-button [routerLink]="['../main',{outlets:{div:'otr-component'}}]" *ngIf="global.checkaccess(':GradeHideUnhide:StudentInfoGet')">
                                            <i class="material-icons iconsize">file_copy</i> Certification of Transfer of Eligibility</a> -->

					<!-- </mat-expansion-panel> -->
				</mat-expansion-panel>
<!--#endregion ACADEMICS TAB -->

<!--#region HRIS TAB -->
        <mat-expansion-panel *ngIf="
                                    global.checkaccess(':Employee:EmployeeGet')||
                                    global.checkaccess(':Employee:ScheduleGet')||
                                    global.checkaccess(':LeaveManagement:LeavesGet')||
                                    global.checkaccess(':HRISMaintenance:DepartmentGet')||
                                    global.checkaccess(':HRISMaintenance:PositionGet')||
                                    global.checkaccess(':HRISMaintenance:RankGet')||
                                    global.checkaccess(':HRISMaintenance:ItemsGet')||
                                    global.checkaccess(':HRISMaintenance:JobPostingGet')">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<i class="material-icons">recent_actors</i>
							<b>&nbsp; HRIS</b>
						</mat-panel-title>
					</mat-expansion-panel-header>

					<!-- Added by Loui --------------------------------- -->
					<mat-expansion-panel style="display:inline;padding: 0">
						<mat-expansion-panel-header [collapsedHeight]="'36px'"
							[expandedHeight]="'36px'"
							style="padding-left: 5px;">
							<mat-panel-title>
								<i class="material-icons iconsize">group_add</i>
								&nbsp; Employee Manager
							</mat-panel-title>
						</mat-expansion-panel-header>

						<a *ngIf="global.checkaccess(':Employee:EmployeeGet')"
							[routerLink]="['../main',{outlets:{div:'HRIS-Employee-Manager'}}]"
							mat-button>
							<i class="material-icons iconsize">person_add</i>
							Employee Manager
						</a>

						<a *ngIf="global.checkaccess(':Employee:RankGet')"
							[routerLink]="['../main',{outlets:{div:'Rank-Record-Batch-Uploader-Component'}}]"
							mat-button>
							<i class="material-icons iconsize">library_books</i>
							Rank Record Batch
						</a>

						<a *ngIf="global.checkaccess(':ReportHRIS:ActiveEmployeeMasterListRGet') && global.checkaccess(':Employee:EndOfServicePost')"
							[routerLink]="['../main',{outlets:{div:'End-Of-Serivce-Batch-Component'}}]"
							mat-button>
							<i class="material-icons iconsize">folder_shared</i>
							End of Service Batch
						</a>

					</mat-expansion-panel>

					<!-- -------------------------------------------- -->

					<mat-expansion-panel style="display:inline;padding: 0">
						<mat-expansion-panel-header [collapsedHeight]="'36px'"
							[expandedHeight]="'36px'"
							style="padding-left: 5px;">
							<mat-panel-title>
								<i class="material-icons iconsize">people</i>
								&nbsp; Employee Information
							</mat-panel-title>
						</mat-expansion-panel-header>

						<a *ngIf="global.checkaccess(':Employee:EmployeeGet')"
							[routerLink]="['../main',{outlets:{div:'employee-information'}}]"
							mat-button>
							<i class="material-icons iconsize">assignment_ind</i>
							Personal Information
						</a>

						<a *ngIf="global.checkaccess(':Employee:EmployeeGet')"
							[routerLink]="['../main',{outlets:{div:'Other-Information-Component'}}]"
							mat-button>
							<i class="material-icons iconsize">assignment</i>
							Other Information
						</a>

						<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Employment-Records-Component'}}]" *ngIf="global.checkaccess(':Employee:EmployeeGet')"><i
                            class="material-icons iconsize">person</i> Employment Records</a> -->

					</mat-expansion-panel>

					<a *ngIf="global.checkaccess(':LeaveManagement:LeavesGet')"
						[routerLink]="['../main',{outlets:{div:'leave-management'}}]"
						mat-button>
						<i class="material-icons iconsize">how_to_vote</i>
						Leave Management
					</a>

					<a *ngIf="global.checkaccess(':Employee:ScheduleGet')"
						[routerLink]="['../main',{outlets:{div:'hris-schedule-manager'}}]"
						mat-button>
						<i class="material-icons iconsize">av_timer</i>
						Schedule Manager
					</a>

					<a *ngIf="global.checkaccess(':DTRUploader:AttendancePost')"
						[routerLink]="['../main',{outlets:{div:'Dtr-Uploader-Component'}}]"
						mat-button>
						<i class="material-icons iconsize">av_timer</i>
						DTR Uploader
					</a>

					<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'Job-Posting-Components'}}]" *ngIf="global.checkaccess(':HRISMaintenance:JobPostingGet')"><i
                      class="material-icons iconsize">notes</i>Job Posting</a> -->

					<mat-expansion-panel *ngIf="global.checkaccess(':HRISMaintenance:DepartmentGet')||
                        global.checkaccess(':HRISMaintenance:PositionGet')||
                        global.checkaccess(':HRISMaintenance:RankGet')||
                        global.checkaccess(':HRISMaintenance:ItemsGet')"
						style="display:inline;padding: 0">
						<mat-expansion-panel-header [collapsedHeight]="'36px'"
							[expandedHeight]="'36px'"
							style="padding-left: 7px;">
							<mat-panel-title>
								<i class="material-icons iconsize">perm_data_setting</i>
								&nbsp; Maintenance
							</mat-panel-title>
						</mat-expansion-panel-header>
						<a *ngIf="global.checkaccess(':HRISMaintenance:DepartmentGet')"
							[routerLink]="['../main',{outlets:{div:'hris-maintenance-departments'}}]"
							mat-button>
							<i class="material-icons iconsize">device_hub</i>
							Departments
						</a>

						<a *ngIf="global.checkaccess(':HRISMaintenance:PositionGet')"
							[routerLink]="['../main',{outlets:{div:'hris-maintenance-positions'}}]"
							mat-button>
							<i class="material-icons iconsize">bubble_chart</i>
							Positions
						</a>

						<a *ngIf="global.checkaccess(':HRISMaintenance:RankGet')"
							[routerLink]="['../main',{outlets:{div:'hris-maintenance-ranks'}}]"
							mat-button>
							<i class="material-icons iconsize">flag</i>
							Ranks
						</a>

						<a *ngIf="global.checkaccess(':HRISMaintenance:ItemsGet')"
							[routerLink]="['../main',{outlets:{div:'hris-maintenance-items'}}]"
							mat-button>
							<i class="material-icons iconsize">linear_scale</i>
							Items
						</a>

					</mat-expansion-panel>

				</mat-expansion-panel>
<!--#endregion HRIS TAB -->

<!--#region FMIS TAB -->
				<mat-expansion-panel *ngIf="global.checkaccess(':FMIS_PaymentVerification:PaymentVerificationGet')
                                            || global.checkaccess(':FMIS_ARSetUp:SchoolTermGet')
                                            || global.checkaccess(':FMIS_ARSetUp:PaymentSchedCurrentGet')">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<i class="material-icons">ballot</i>
							<b>&nbsp; FMIS</b>
						</mat-panel-title>
					</mat-expansion-panel-header>


					<mat-expansion-panel style="display:inline;padding: 0">
						<mat-expansion-panel-header [collapsedHeight]="'36px'"
							[expandedHeight]="'36px'"
							style="padding-left: 5px;">
							<mat-panel-title>
								<i class="material-icons iconsize">chrome_reader_mode</i>
								&nbsp;Accounts Receivable
							</mat-panel-title>
						</mat-expansion-panel-header>
						<a *ngIf="global.checkaccess(':FMIS_ARSetUp:SchoolTermGet') || global.checkaccess(':FMIS_ARSetUp:PaymentSchedCurrentGet')"
							[routerLink]="['../main',{outlets:{div:'Assessment-Setup'}}]"
							mat-button>
							<i class="material-icons iconsize">assessment</i>
							Assessment Setup
						</a>

						<!-- <a mat-button [routerLink]="['../main',{outlets:{div:'OR-Manager-Component'}}]"><i class="material-icons iconsize" >receipt</i> OR Manager</a>
                      <a mat-button [routerLink]="['../main',{outlets:{div:'Collections-Component'}}]"><i class="material-icons iconsize">event_note</i> Collections</a> -->
						<a *ngIf="global.checkaccess(':FMIS_PaymentVerification:PaymentVerificationGet')"
							[routerLink]="['../main',{outlets:{div:'Accounts-Verification-Manager'}}]"
							mat-button>
							<i class="material-icons iconsize">event_note</i>
							Payment Verification Manager
						</a>


					</mat-expansion-panel>

					<!-- <mat-expansion-panel style="display:inline;padding: 0">
                        <mat-expansion-panel-header style="padding-left: 7px;" [collapsedHeight]="'36px'"
                            [expandedHeight]="'36px'">
                            <mat-panel-title>
                                <i class="material-icons iconsize">payments</i>&nbsp; Accounts Payable
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a mat-button [routerLink]="['../main',{outlets:{div:'CheckDisbursement-Component'}}]"><i class="material-icons iconsize">payments</i> Check Disbursement</a>
                    </mat-expansion-panel> -->

				</mat-expansion-panel>
<!--#endregion FMIS TAB -->

<!--#region CONTROL PANEL TAB -->
				<mat-expansion-panel *ngIf="global.checkaccess(':Role:RoleGet')
          ||global.checkaccess(':Account:UserGet')
          ||global.checkaccess(':Account:RegisterStudent')
          ||global.checkaccess(':Account:Register')
          ||global.checkaccess(':ClientApplication:ClientApplicationGet')">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<i class="material-icons">
								settings_applications
							</i>
							<b>
								&nbsp; Control Panel
							</b>
						</mat-panel-title>
					</mat-expansion-panel-header>


					<mat-expansion-panel *ngIf="global.checkaccess(':Account:UserGet')"
						style="display:inline;padding: 0">
						<mat-expansion-panel-header [collapsedHeight]="'36px'"
							[expandedHeight]="'36px'"
							style="padding-left: 7px;">
							<mat-panel-title>
								<i class="material-icons iconsize">contacts</i>
								&nbsp;User Management
							</mat-panel-title>
						</mat-expansion-panel-header>
						<a *ngIf="global.checkaccess(':Account:Register')"
							[routerLink]="['../main',{outlets:{div:'user-management'}}]"
							mat-button>
							<i class="material-icons iconsize">person</i>
							Employee
						</a>


						<a *ngIf="global.checkaccess(':Account:RegisterStudent')"
							[routerLink]="['../main',{outlets:{div:'user-management-student'}}]"
							mat-button>
							<i class="material-icons iconsize">person_pin</i>
							Student
						</a>




						<!-- Added by Loui -->
						<a *ngIf="global.checkaccess(':Account:CorporateEmailGet')"
							[routerLink]="['../main',{outlets:{div:'Corporate-Email'}}]"
							mat-button>
							<i class="material-icons iconsize">email</i>
							Corporate Email
						</a>



						<!--  -->


					</mat-expansion-panel>


					<a *ngIf="global.checkaccess(':Role:RoleGet')"
						[routerLink]="['../main',{outlets:{div:'role-management'}}]"
						mat-button>
						<i class="material-icons iconsize">
							assignment_turned_in
						</i>
						Role Management
					</a>


					<a *ngIf="global.checkaccess(':ClientApplication:ClientApplicationGet')"
						[routerLink]="['../main',{outlets:{div:'app-manager'}}]"
						mat-button>
						<i class="material-icons iconsize">surround_sound</i>
						Application Manager
					</a>
				</mat-expansion-panel>
<!--#endregion CONTROL PANEL TAB -->

		</mat-accordion>

		</div>
		<div style="bottom: 0 !important;position: fixed;width: 300px;background-color: #294a70;color: white;">
			<div style="height: 5px;background-color: #ffab1f;"></div>
			<p style="font-size: 11px;line-height: 1.3;padding-left: 10px">
				©{{global.year}} USL ERP
				<br>
				University of Saint Louis - Tuguegarao City, Cagayan
				<br>
				Maintained by: CICT.Team
			</p>
		</div>
	</mat-drawer>

	<mat-drawer-content>
		<div style="padding-left: 10px;padding-top: 10px;">
			<p style="margin:0;color:#294a70;">
				<small>
					<b>
						Active Configuration:
					</b>
					<span *ngIf="
            global.checkdomain('0001')||
            global.checkdomain('0002')||
            global.checkdomain('0003')||
            global.checkdomain('0004')||
            global.checkdomain('0005')||
            global.checkdomain('0006')||
            global.checkdomain('0008')||
            global.checkdomain('0009')||
            global.checkdomain('0071')||
            global.checkdomain('0072')||
            global.checkdomain('0073')">{{ global.domain }}</span>
					{{ global.displaysem }} {{global.displayyear}}
				</small>
				<button (click)="openDialog()"
					color="primary"
					style="background-color:#294a70;color:white;border-radius: 10px;border: none;padding-bottom: 3px">
					<small>change</small>
				</button>
			</p>
		</div>


		<div style="margin-left: 10px;margin-top: 8px;"
			class="hnav">


			<button (click)="drawer.toggle()"
				mat-button
				color="primary"
				style="min-width: 10px;width: 32px;">
				<mat-icon>menu</mat-icon>
			</button>


			<button [routerLink]="['../main',{outlets:{div:'home'}}]"
				mat-button
				color="primary"
				style="min-width: 10px;width: auto;">
				<mat-icon>home</mat-icon>
				Home &nbsp;
			</button>

			<button *ngIf="
        global.checkaccess(':ReportSummary:RPTSubjectProjectionGet')||
        global.checkaccess(':ReportSummary:RPTPlacementSummaryGet')||
        global.checkaccess(':ReportTeacher:RPTClassListGet')||
        global.checkaccess(':ReportTeacher:RPTCodeSummaryGet')||
        global.checkaccess(':ReportSummary:RPTEnrollmentListGet')||
        global.checkaccess(':ReportSummary:RPTApplicantSummaryByProgLevelGet')||
        global.checkaccess(':ReportCHED:RPTEnrollmentListCHEDGet')||
        global.checkaccess(':ReportCHED:RPTEnrollmentSummaryCHEDGet')||
        global.checkaccess(':ReportCHED:RPTNstpCHEDGet')||
        global.checkaccess(':ReportSummary:RPTEnrolledStudentsListGet')||
        global.checkaccess(':ReportTeacher:RPTClassListGet')||
        global.checkaccess(':ReportHRIS:RPTEmployeeProfileByDeptGet')||
        global.checkaccess(':ReportSummary:RPTPreEnrollmentStatsDepartpmentGet')||
        global.checkaccess(':ReportSummary:RPTPreEnrollmentStatsCourseGet')||
        global.checkaccess(':ReportSummary:RPTApplicantSummaryListRecommendedGet')||
        global.checkaccess(':ReportHRIS:EmployeeLookupGet') ||
        global.checkaccess(':ReportSummary:RequirementGet') ||
        global.checkaccess(':ReportSummary:LearnerReferenceListGet') ||
        global.checkaccess(':ReportSummary:SchoolGraduatedFromGet')"
				[matMenuTriggerFor]="reports"
				mat-button
				color="primary"
				style="min-width: 10px;width: auto;">
				<mat-icon>assignment</mat-icon>
				Reports
				<i class="material-icons">arrow_drop_down</i>
			</button>


			<button *ngIf="global.checkaccess(':Tools:SubjectScheduleGet')||global.checkaccess(':Tools:PersonLookup')"
				[matMenuTriggerFor]="tools"
				mat-button
				color="primary"
				style="min-width: 10px;width: auto;">
				<mat-icon>build</mat-icon>
				Tools
				<i class="material-icons">arrow_drop_down</i>
			</button>



			<mat-menu #reports="matMenu">
				<button [matMenuTriggerFor]="academic"
					mat-menu-item>
					Academic
				</button>
				<button *ngIf="global.checkaccess(':ReportCHED:RPTEnrollmentListCHEDGet')||
          global.checkaccess(':ReportCHED:RPTEnrollmentSummaryCHEDGet')||
          global.checkaccess(':ReportCHED:RPTNstpCHEDGet')"
					[matMenuTriggerFor]="ched"
					mat-menu-item>
					Ched
				</button>
				<button *ngIf="global.checkaccess(':ReportHRIS:EmployeeLookupGet')"
					[matMenuTriggerFor]="hris"
					mat-menu-item>
					HRIS
				</button>
				<!-- <button mat-menu-item [matMenuTriggerFor]="fmis">FMIS</button> -->
			</mat-menu>


			<mat-menu #hris="matMenu">
				<button *ngIf="global.checkaccess(':ReportHRIS:RPTEmployeeProfileByDeptGet')"
					[routerLink]="['../main',{outlets:{div:'Report-Employee-Profile'}}]"
					mat-menu-item>
					Employee profile
				</button>
				<button *ngIf="global.checkaccess(':ReportHRIS:RPTEmployeeProfileByDeptGet')"
					[routerLink]="['../main',{outlets:{div:'Report-Seminars-Trainings'}}]"
					mat-menu-item>
					Seminars and Trainings
				</button>
				<button *ngIf="global.checkaccess(':ReportHRIS:EmployeeDTRGet')"
					[routerLink]="['../main',{outlets:{div:'Dtr-Viewer-Component'}}]"
					mat-menu-item>
					DTR Viewer
				</button>
				<button *ngIf="global.checkaccess(':ReportHRIS:ActiveEmployeeMasterListRGet')"
					[routerLink]="['../main',{outlets:{div:'Active-Employee-Masterlist-Components'}}]"
					mat-menu-item>
					Active Employee Masterlist
				</button>
			</mat-menu>


			<mat-menu #fmis="matMenu">
				<button [routerLink]="['../main',{outlets:{div:'Accounts-Receivable-Component'}}]"
					mat-menu-item>
					Accounts Receivable
				</button>
				<button [routerLink]="['../main',{outlets:{div:'Accounts-Payable-Component'}}]"
					mat-menu-item>
					Accounts Payable
				</button>
				<button [routerLink]="['../main',{outlets:{div:'General-Ledger-Component'}}]"
					mat-menu-item>
					General Ledger
				</button>
			</mat-menu>


			<mat-menu #ched="matMenu">
				<button *ngIf="global.checkaccess(':ReportCHED:RPTEnrollmentSummaryCHEDGet')"
					[routerLink]="['../main',{outlets:{div:'ched/enrolment-summary'}}]"
					mat-menu-item>
					CHED C1 Annex (Enrollment Summary)
				</button>
				<button *ngIf="global.checkaccess(':ReportCHED:RPTEnrollmentListCHEDGet')"
					[routerLink]="['../main',{outlets:{div:'ched/enrolment-list'}}]"
					mat-menu-item>
					CHED C2 Annex (Enrollment List)
				</button>
				<button *ngIf="global.checkaccess(':ReportCHED:RPTNstpCHEDGet')"
					[routerLink]="['../main',{outlets:{div:'ched/NSTP'}}]"
					mat-menu-item>
					NSTP
				</button>
			</mat-menu>


			<mat-menu #academic="matMenu">
				<button *ngIf="
          global.checkaccess(':ReportSummary:RPTSubjectProjectionGet')||
          global.checkaccess(':ReportSummary:RPTPlacementSummaryGet')||
          global.checkaccess(':ReportSummary:RPTApplicantSummaryByProgLevelGet')||
          global.checkaccess(':ReportSummary:RPTPreEnrollmentStatsDepartpmentGet')||
          global.checkaccess(':ReportSummary:RPTPreEnrollmentStatsCourseGet')||
          global.checkaccess(':ReportSummary:RPTApplicantSummaryListRecommendedGet')"
					[matMenuTriggerFor]="preenrollment"
					mat-menu-item>
					Pre-enrolment
				</button>


				<button *ngIf="global.checkaccess(':ReportTeacher:RPTCodeSummaryGet') || global.checkaccess(':ReportTeacher:RPTClassListGet')"
					[matMenuTriggerFor]="faculty"
					mat-menu-item>
					Faculty
				</button>


				<button *ngIf="
            global.checkaccess(':ReportSummary:RPTEnrollmentListGet')||
            global.checkaccess(':ReportSummary:RPTEnrollmentStatisticsGet')||
            global.checkaccess(':ReportSummary:RPTEnrollmentSummaryGet') ||
            global.checkaccess(':ReportSummary:RequirementGet') ||
            global.checkaccess(':ReportSummary:LearnerReferenceListGet')||
            global.checkaccess(':ReportSummary:SchoolGraduatedFromGet')
          "
					[matMenuTriggerFor]="student"
					mat-menu-item>
					Student
				</button>


				<!-- <button mat-menu-item [routerLink]="['../main',{outlets:{div:'Learning-Modality-Report'}}]" *ngIf="global.checkaccess(':ReportSummary:RPTEnrolledStudentsListGet')">Learning Modality</button>
                <button mat-menu-item [routerLink]="['../main',{outlets:{div:'School-grad-from-Component'}}]" *ngIf="global.checkaccess(':ReportSummary:SchoolGraduatedFromGet')">School Graduated From</button> -->
			</mat-menu>
			<mat-menu #preenrollment="matMenu">
				<mat-menu #tools="matMenu">
					<button *ngIf="global.checkaccess(':Tools:SubjectScheduleGet')"
						[routerLink]="['../main',{outlets:{div:'Code-Lookup-Component'}}]"
						mat-menu-item>
						Code lookup
					</button>
					<button *ngIf="global.checkaccess(':Tools:PersonLookup')"
						[routerLink]="['../main',{outlets:{div:'Person-Finder-Component'}}]"
						mat-menu-item>
						Person finder
					</button>
				</mat-menu>

				<button *ngIf="
          global.checkaccess(':ReportSummary:RPTApplicantSummaryByProgLevelGet')||
          global.checkaccess(':ReportSummary:RPTApplicantSummaryListRecommendedGet')
          "
					[matMenuTriggerFor]="preenrollmentapplicant"
					mat-menu-item>
					Applicant
				</button>

				<button *ngIf="global.checkaccess(':ReportSummary:RPTPlacementSummaryGet')"
					[routerLink]="['../main',{outlets:{div:'report-placement-summary'}}]"
					mat-menu-item>
					Placement Exam Result Summary
				</button>

				<!-- <button mat-menu-item [routerLink]="['../main',{outlets:{div:'report-placement-summary'}}]"
          *ngIf="global.checkaccess(':ReportSummary:RPTPlacementSummaryGet')">Schools</button> -->


				<button *ngIf="global.checkaccess(':ReportSummary:RPTSubjectProjectionGet')"
					[routerLink]="['../main',{outlets:{div:'report-code-projection'}}]"
					mat-menu-item>
					Subject Projection
				</button>


				<button *ngIf="
          global.checkaccess(':ReportSummary:RPTPreEnrollmentStatsDepartpmentGet')||
          global.checkaccess(':ReportSummary:RPTPreEnrollmentStatsCourseGet')
          "
					[matMenuTriggerFor]="collegepreenrolment"
					mat-menu-item>
					Pre-enrolled Summary Reports
				</button>


			</mat-menu>


			<mat-menu #preenrollmentapplicant="matMenu">
				<button *ngIf="global.checkaccess(':ReportSummary:RPTApplicantSummaryByProgLevelGet')"
					[routerLink]="['../main',{outlets:{div:'applicant-summary'}}]"
					mat-menu-item>
					Summary
				</button>
				<button *ngIf="global.checkaccess(':ReportSummary:RPTApplicantSummaryListRecommendedGet')"
					[routerLink]="['../main',{outlets:{div:'Applicant-List-Report-Recommended-Report'}}]"
					mat-menu-item>
					With Placement Result(Recommended)
				</button>
			</mat-menu>


			<mat-menu #collegepreenrolment="matMenu">
				<button *ngIf="global.checkaccess(':ReportSummary:RPTPreEnrollmentStatsDepartpmentGet')"
					[routerLink]="['../main',{outlets:{div:'College-PreenrollmentStat-Department-Report'}}]"
					mat-menu-item>
					By Department
				</button>


				<button *ngIf="global.checkaccess(':ReportSummary:RPTPreEnrollmentStatsCourseGet')"
					[routerLink]="['../main',{outlets:{div:'College-PreenrollmentStat-Course-Report'}}]"
					mat-menu-item>
					By Course
				</button>
			</mat-menu>




			<mat-menu #faculty="matMenu">
				<button *ngIf="global.checkaccess(':ReportTeacher:RPTClassListGet')"
					[routerLink]="['../main',{outlets:{div:'Faculty/Classlist'}}]"
					mat-menu-item>
					Classlist
				</button>
				<button *ngIf="global.checkaccess(':ReportTeacher:RPTCodeSummaryGet')"
					[routerLink]="['../main',{outlets:{div:'Faculty/Code-summary'}}]"
					mat-menu-item>
					Faculty Loads
				</button>
			</mat-menu>


			<mat-menu #student="matMenu">
				<!-- Reports->Academic->Student->Academic Achievers -->
				<button *ngIf="global.checkaccess(':ReportSummary:AcademicAchieversGet') && this.global.domain==='COLLEGE'"
					[routerLink]="['../main',{outlets:{div:'Report-Student-Academic-Achievers'}}]"
					mat-menu-item>
					Academic Achievers
				</button>
				<!-- --------------------------------------------------------------------------------------- -->

				<button *ngIf="global.checkaccess(':ReportSummary:RPTEnrollmentListGet')"
					[routerLink]="['../main',{outlets:{div:'student/enrolment-list'}}]"
					mat-menu-item>
					Enrollment List
				</button>


				<button *ngIf="global.checkaccess(':ReportSummary:RPTEnrollmentStatisticsGet')"
					[routerLink]="['../main',{outlets:{div:'Report-Enrollment-Statistic'}}]"
					mat-menu-item>
					Enrollment Statistics
				</button>


				<button *ngIf="global.checkaccess(':ReportSummary:RPTEnrollmentSummaryGet')"
					[routerLink]="['../main',{outlets:{div:'Report-Enrollment-Summary'}}]"
					mat-menu-item>
					Enrollment Summary
				</button>


				<!-- Added by Loui------------------------------------------------------------------------ -->
				<!-- Reports->Academic->Student->Student Profile -->
				<button *ngIf="global.checkaccess(':ReportSummary:StudentProfileAgeGet')
            || global.checkaccess(':ReportSummary:StudentProfileGenderGet')
            || global.checkaccess(':ReportSummary:StudentProfileReligionGet')
            || global.checkaccess(':ReportSummary:StudentProfileHomePlaceGet')
            || global.checkaccess(':ReportSummary:StudentProfileCollegeSHSGraduatedFromGet')
            || global.checkaccess(':ReportSummary:StudentProfileSHSJHSGraduatedFromGet')
          "
					[routerLink]="['../main',{outlets:{div:'Report-Student-Profile'}}]"
					mat-menu-item>
					Profile Summary
				</button>


				<!-- Reports->Academic->Student->Corporate Email -->
				<button *ngIf="global.checkaccess(':ReportSummary:CorporateEmailAllGet')"
					[routerLink]="['../main',{outlets:{div:'Report-Student-Corporate-Email'}}]"
					mat-menu-item>
					Corporate Email
				</button>
				<button *ngIf="global.checkaccess(':ReportSummary:RPTEnrolledStudentsListGet')"
					[routerLink]="['../main',{outlets:{div:'Learning-Modality-Report'}}]"
					mat-menu-item>
					Learning Modality
				</button>
				<!-- --------------------------------------------------------------------------------------- -->


				<button *ngIf=" global.checkaccess(':ReportSummary:RequirementGet')"
					[routerLink]="['../main',{outlets:{div:'RequirementList-Component'}}]"
					mat-menu-item>
					Requirement List
				</button>


				<button *ngIf=" global.checkaccess(':ReportSummary:LearnerReferenceListGet')"
					[routerLink]="['../main',{outlets:{div:'Lr-list-Component'}}]"
					mat-menu-item>
					Learner Reference List
				</button>


				<button *ngIf="global.checkaccess(':ReportSummary:SchoolGraduatedFromGet')"
					[routerLink]="['../main',{outlets:{div:'School-grad-from-Component'}}]"
					mat-menu-item>
					School Graduated From
				</button>


			</mat-menu>
		</div>


		<mat-card class="matcontainer"
			id="routererp"
			style="padding: 0;">
			<router-outlet name="div"></router-outlet>
		</mat-card>
		<div>
			<div style="height: 5px;background-color: #ffab1f;"></div>
			<div style="height: 5px;background-color: #294a70;"></div>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
