<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <p style="font-size: 14px; padding: 0; margin: 0; padding-top: 5px;"><b>EMPLOYMENT RECORDS</b></p>
        </mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 14px; padding: 0; margin: 0; margin-bottom: -10px;">
                Use to search, update employee's Employment Records
            </p>
        </mat-card-subtitle>
    </mat-card-header>


    <mat-card-content class='colo'>

        <!-- <table>
            <tr>
                <td width="160">
                    <form class="example-form" id="ngForm" #documentEditForm="ngForm" style="margin-top: 5px;">
                        <mat-form-field class="txtid">
                            <input matInput #idno maxlength="7" placeholder="ID Number" [(ngModel)]="id" value="" name="idno" required="required" (keydown)="keyDownFunction($event)">
                            <mat-hint align="start">{{idno.value.length}} / 7</mat-hint>
                        </mat-form-field>
                    </form>
                </td>
                <td>
                    <button mat-mini-fab color="primary" (click)="employeelookup()">
                      <mat-icon>search</mat-icon>
                  </button>
                </td>
            </tr>
        </table>
        <div style="height: 120px" *ngIf="showContent">
            <table class="tblInfo" #content>
                <tr>
                    <td id="info1stCol">
                        <div class="BasicInformationDisplay">

                            <table>
                                <tr>
                                    <td>
                                        <h1 id="EmpFullName" *ngIf="updatenamevar==false">{{name}}</h1>
                                        <div *ngIf="updatenamevar==true">
                                            <table cellspacing="0" width="100%" style="width: 100%!important">
                                                <tr>
                                                    <td>
                                                        <mat-form-field class="example-full-width2">
                                                            <input matInput placeholder="Last Name" [(ngModel)]="lname" name="lname" required autocomplete="off">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field class="example-full-width2">
                                                            <input matInput placeholder="First Name" [(ngModel)]="fname" name="fname" required autocomplete="off">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field class="example-full-width2">
                                                            <input matInput placeholder="Middle Name" [(ngModel)]="mname" name="mname" autocomplete="off">
                                                        </mat-form-field>
                                                    </td>

                                                    <td>
                                                        <mat-form-field class="example-full-width3">
                                                            <input matInput placeholder="Suffix" [(ngModel)]="suffix" name="suffix" autocomplete="off">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                            </table>
                                            <br>
                                        </div>

                                    </td>
                                    <td>
                                        <i class="material-icons" (click)="updatename()" style="color: #294a70" *ngIf="updatenamevar==false&&global.checkaccess(':Employee:EmployeePersonPut')">edit</i>
                                        <button mat-raised-button color="primary" style="width: 75px;color:white;margin-bottom: 5px" class="buttondesign" (click)="updatenameapi()" *ngIf="updatenamevar==true">
                                          <i class="material-icons" >edit</i>
                                          <span style="margin-top: 7px"> Update&nbsp;&nbsp;</span>
                                      </button>

                                        <button mat-raised-button style="width: 75px;background-color:#990000;color:white;" class="buttondesign" (click)="updatename()" *ngIf="updatenamevar==true">
                                            <i class="material-icons">close</i>
                                          <span style="margin-top: 7px"> Cancel&nbsp;&nbsp;</span>
                                      </button>
                                    </td>
                                </tr>
                                <tr>
                                    <p id="EmpPosition">{{position}}</p>
                                    <hr id="hr">
                                    <h3 id="EmpIDnumber">{{idnumber}}</h3>
                                    <p id="DTRIDnum">{{dtridnum}}</p>
                                </tr>
                            </table>

                        </div>

                    </td>

                </tr>
            </table>
        </div> -->

        <table>
            <tr>
                <table style="margin: 0px; padding: 0px;">
                    <tr>
                        <td width="110">
                            <img [src]="image" width="100" onError="this.src='assets/noimage.jpg'" />
                        </td>
                        <td>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td width="100">
                                        <form class="example-form1" id="ngForm" #documentEditForm="ngForm" style="margin-top: 5px;">
                                            <mat-form-field class="txtid">
                                                <input matInput #idno maxlength="7" placeholder="ID Number" [(ngModel)]="id" value="" name="idno" required="required" (keydown)="keyDownFunction($event)">
                                                <!-- <mat-hint align="start">{{idno.value.length}} / 7</mat-hint> -->
                                            </mat-form-field>
                                        </form>
                                    </td>
                                    <td>
                                        <button mat-mini-fab color="primary" (click)="employeelookup()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    </td>
                                </tr>
                            </table>
                            <div style="margin-top: -10px;">
                                <h4 *ngIf="showContent" style="margin: 0px">{{name}} <i class="material-icons" (click)="nameUpdate()" style="color: #294a70" *ngIf="updatenamevar==false&&global.checkaccess(':Employee:EmployeePersonPut')">edit</i></h4>
                                <span *ngIf="showContent"><strong>{{dtridnum}} </strong>Position: <strong>{{position}} </strong> </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </tr>
        </table>
        <mat-divider style="margin-top: 5px;"></mat-divider>
        <div *ngIf="showContent">

            <mat-tab-group (selectedTabChange)='getindex($event)'>

                <!--Appointments-->
                <mat-tab label="Appointments">
                    <mat-card *ngIf="tabbing===0">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display:none;">
                                            ID
                                        </th>
                                        <th style="display:none;">
                                            DEPTID
                                        </th>
                                        <th style="text-align: center;">
                                            DEPARTMENT
                                        </th>
                                        <th style="display:none;">
                                            ITEMID
                                        </th>
                                        <th style="display:none;">
                                            effectivity
                                        </th>
                                        <th style="text-align: center;">
                                            POSITION
                                        </th>
                                        <th style="text-align: center;">
                                            DATE
                                        </th>
                                        <th style="text-align: center;">
                                            FROM
                                        </th>
                                        <th style="text-align: center;">
                                            TO
                                        </th>
                                        <th style="text-align: center;">
                                            STATUS
                                        </th>
                                        <th style="width: 180px;text-align: center;" *ngIf="global.checkaccess(':Employee:AppointmentPost')">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let a of appointmentArr">
                                        <td style="display:none;">{{a.appointmentID}}</td>
                                        <td style="display:none;">{{a.departmentID}}</td>
                                        <td width="25%">{{a.departmentName}}</td>
                                        <td style="display:none;">{{a.itemID}}</td>
                                        <td style="display:none;">{{a.hasEffectivity}}</td>
                                        <td>{{a.position}}</td>
                                        <td>{{a.dateAppointed}}</td>
                                        <td>{{a.startdate}}</td>
                                        <td>{{a.enddate}}</td>
                                        <td *ngIf="a.hasEffectivity===1">Active</td>
                                        <td *ngIf="a.hasEffectivity===0">Not Active</td>
                                        <td style="text-align: center;">
                                            <button mat-raised-button color="primary" class="btnstyle" (click)="updateAppointmentOpenDialog(a)">
                                                <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                            <button mat-raised-button color="warn" (click)="deleteAppointment(a.appointmentID)" class="btnstyle">
                                                <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addAppointmentOpenDialog()" style="margin-left: 10px;">
                                      <i class="material-icons">add</i> Add new (Appointment)
                                    </button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <!--Contracts-->
                <mat-tab label="Contracts">
                    <mat-card *ngIf="tabbing===1">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display:none;">
                                            ID
                                        </th>

                                        <th style="text-align: center;">
                                            START DATE
                                        </th>
                                        <th style="text-align:center;">
                                            END DATE
                                        </th>
                                        <th style="text-align: center;">
                                            TERM OF CONTRACT
                                        </th>
                                        <th style="text-align: center;">
                                            DESCRIPTION
                                        </th>
                                        <th style="text-align: center;">
                                            STATUS
                                        </th>
                                        <th style="width: 180px;text-align: center;" *ngIf="global.checkaccess(':Employee:ConractPost')">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let c of contractArr">
                                        <td style="display:none;">{{c.contractid}}</td>
                                        <td>{{c.startdate}}</td>
                                        <td>{{c.enddate}}</td>
                                        <td>{{c.classification}}</td>
                                        <td>{{c.description}}</td>
                                        <td *ngIf="c.active==='True'">Active</td>
                                        <td *ngIf="c.active==='False'">Not Active</td>
                                        <td style="text-align: center;">
                                            <button mat-raised-button color="primary" class="btnstyle" (click)="updateContractOpenDialog(c)">
                                                <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                            <button mat-raised-button color="warn" (click)="deleteContract(c.contractid)" class="btnstyle">
                                                <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addContractOpenDialog()" style="margin-left: 10px;">
                                      <i class="material-icons">add</i> Add new (Contract)
                                  </button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <!--Rank Record-->
                <mat-tab label="Rank Record">
                    <mat-card *ngIf="tabbing===2">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display:none;">
                                            ID
                                        </th>

                                        <th style="text-align: center;">
                                            SCHOOL YEAR
                                        </th>
                                        <th style="text-align:center;">
                                            RANK
                                        </th>
                                        <th style="text-align: center;">
                                            DEPARTMENT/OFFICE
                                        </th>
                                        <th style="text-align: center;">
                                            POSITION
                                        </th>
                                        <th style="text-align: center;">
                                            STATUS
                                        </th>
                                        <th style="text-align: center;">
                                            TERMS OF CONTRACT
                                        </th>
                                        <th style="text-align: center;">
                                            EVALUATION
                                        </th>
                                        <th style="text-align: center;">
                                            RECOMMENDATION
                                        </th>
                                        <th style="width: 180px;text-align: center;" *ngIf="global.checkaccess(':Employee:RankPost')">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let c of rankRecordsArr">
                                        <td style="display:none;">{{c.evaluationid}}</td>
                                        <td>{{c.sy}}</td>
                                        <td>{{c.rank}}</td>
                                        <td>{{c.department}}</td>
                                        <td>{{c.position}}</td>
                                        <td *ngIf="c.status==='1'">Part Time</td>
                                        <td *ngIf="c.status==='2'">Full Time</td>
                                        <td>{{c.empStatus}}</td>
                                        <td>{{c.evaluation}}</td>
                                        <td>{{c.recommendation}}</td>
                                        <td style="text-align: center;">
                                            <button mat-raised-button color="primary" class="btnstyle" (click)="updateRankRecordOpenDialog(c)">
                                                <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                            <button mat-raised-button color="warn" (click)="deleteRankRecord(c.evaluationid)" class="btnstyle">
                                                <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addRankRecordOpenDialog()" style="margin-left: 10px;">
                                      <i class="material-icons">add</i> Add new (Rank Record)
                                  </button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>




            </mat-tab-group>
        </div>
    </mat-card-content>

</mat-card>