.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-full-width {
    width: 100%;
  }
  .example-full-width2 {
    width: 175px;
  }
  .example-full-width3 {
    width: 60px;
  }
  
  ::ng-deep .mat-card-header {
      background-color: #294a70 !important;
      padding: 15px 5px 5px 5px !important;
      color:white;
  }
  ::ng-deep .mat-card-header * {
      color:white;
  }
  
  ::ng-deep .mat-card {
      padding: 0 !important;
  }
  
  ::ng-deep .mat-card-content {
      padding: 15px !important;
  }
  
  .mat-form-field-infix{
    width: auto !important;
  }
  
  .example-full-widthminus{
    width: calc(210 - 10px)
  }
  
  mat-header-cell:nth-child(1), mat-cell:nth-child(1),mat-header-cell:nth-child(3), mat-cell:nth-child(3),mat-header-cell:nth-child(4), mat-cell:nth-child(4){
      flex: 0 0 100px;
  }
  
  .mat-form-field{
    margin-bottom: -20px;
  }
  .btnstyle{
    font-size:11px;
    width: 70px;
    min-width:18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
    margin-left: 5px
  }
  
  
  
  tr.example-detail-row {
    height: 0;
  }
  .mat-row:hover {
    background-color: rgb(180, 180, 180);
  }
  .transmutationTable tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  .transmutationTable tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .grid-container {
    margin: 10px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  .example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .codeCSS{
    width: 120px;flex: 0 0 auto;
  }
  .sectionCSS{
    width: 500px;flex: 0 0 auto;
  }
  .Image {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    width: 130px;
  }
  
  .search {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
    width: 220px;
    margin-top: 10px;
  }
  
  .Name {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 470px;
    height: 35px;
  }
  
  .Course {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 328px;
    height: 35px;
  }
  
  .Suffix {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 80px;
    height: 35px;
  }
  
  .Address {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 470px;
    height: 35px;
  }
  
  .ContactNumber {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 328px;
    height: 35px;
  }
  
  .HidingBox {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    width: 125px;
    height: 35px;
  }
  
  .RedBox {
    background-color: #FF6863;
    border-radius: 4px;
    height: 30px;
    width: 40px;
  }
  
  .GreenBox {
    background-color: #00b100;
    border-radius: 4px;
    height: 30px;
    width: 40px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row > div {
    flex: 1 1 330px;
    margin-right: 10px;
  }
  
  .row > div:last-child {
    margin-right: 0;
  }
  
  
  .balance-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0px;
  }
  
  .balance-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    
  }
  
  .balance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
  }
  
  .toggle-icon {
    margin-right: 8px;
  }
  
  .toggle-label {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  
  
  /* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
  
  button.mat-mini-fab {
    font-size: 14px; /* set the font size to 14 pixels */
  }
  
  button.mat-mini-fab {
    transform: scale(0.8); /* increase the size of the button by 50% */
  }
  
  
    .sksksksk {
      font-size: 12px !important;
      min-width: 13px !important;
      line-height: 10px !important;
      height: 23px !important;
      padding: 0 !important;
      margin-left: 1px !important;
    }
  
    #icon {
      font-size: 17px; /* Replace with desired size in pixels */
    }
  
  
    .arrow-visible ::ng-deep .mat-input-element::-webkit-inner-spin-button,
    .arrow-visible ::ng-deep .mat-input-element::-webkit-outer-spin-button {
      opacity: 1;
      pointer-events: auto;
    }
    
  
    // @font-face {
    //   font-family: 'MyCustomFont';
    //   src: url('../assets/fonts/MyCustomFont.ttf') format('truetype');
    // }

    // body {
    //   font-family: 'MyCustomFont', sans-serif;
    // }
    .sksksksk {
      font-size: 12px !important;
      min-width: 13px !important;
      line-height: 10px !important;
      height: 23px !important;
      padding: 0 !important;
      margin-left: 1px !important;
    }

    .popup-message {
      background-color: red;
      color: white;
      padding: 10px;
      margin-top: 10px;
    }

    .responsive-div {
      width: 100%;
      padding-bottom: 100%; /* Adjust this value to control the aspect ratio */
    
      /* Additional styling */
      background-color: #ccc;
    }
    
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }