<!-- 
<table>
  <tr>
    <td>
      <button class="sksksksk"><mat-icon>keyboard_arrow_up</mat-icon></button>
    </td>
  </tr>
  <tr>
    <td>
      <button class="sksksksk"><mat-icon>keyboard_arrow_down</mat-icon></button>
    </td>
  </tr>
</table> -->
<!-- <mat-slide-toggle [(ngModel)]="toggleValue" (change)="toggleChanged()"></mat-slide-toggle> -->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><b>CREDENTIALS DETAILS</b>
      <mat-card-subtitle>
        <p style="font-size: 12px; padding: 0; margin: 0;">
          <br>
          NOTE: This page allows you to update and generate <b>STUDENT'S CREDENTIALS INFORMATION.</b><br>
          Please enter the student's <b>ID NUMBER</b> and press the <b>[ENTER]</b> key on your keyboard.
        </p>
      </mat-card-subtitle>
    </mat-card-title>
  </mat-card-header>

  <!-- <button (click)="test()">Click me</button> -->

  <table>
    <tr>
      <td width="40px">
        <img [src]="image" width="110px" onError="this.src='assets/noimage.jpg'" />
      </td>
      <td>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td width="250px" style="font-size: 14px;">
              <mat-form-field style="width: 100px;">
                <input autofocus matInput #idno2 placeholder="ID Number" [(ngModel)]="idNumber" name="idno"
                  (keydown)="keyDownFunction($event)" required="required" maxlength="7">
              </mat-form-field>
              <button mat-mini-fab color="primary" (click)="studentlookup()">
                <mat-icon>search</mat-icon>
              </button>
            </td>
          </tr>
        </table>

        <h3 style="margin: 0px; font-size: 17px;" *ngIf="FullName !=''">{{FullName}} | {{gender | uppercase}}
        </h3>
        <h3 style="margin: 0px; font-size: 15px;" *ngIf="FullName !=''">{{Address | uppercase}} | {{mobileNo}}
        </h3>
        <h3 style="margin: 0px; font-size: 12px;" *ngIf="courseCollege !=''">
          COLLEGE:&nbsp;{{courseCollege | uppercase}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
          MASTERAL:&nbsp;{{courseMasteral | uppercase}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
          DOCTORAL:&nbsp;{{courseDoctoral | uppercase}}</h3>
        <h3 style="margin: 0px; font-size: 12px;" *ngIf="courseMasteral !=''"></h3>
        <h3 style="margin: 0px; font-size: 12px;" *ngIf="courseDoctoral !=''"></h3>
        <!-- <h3  style="margin: 0px; font-size: 15px;">juandelacruz@gmail.com</h3>
              <h3  style="margin: 0px; font-size: 15px;">09123456789</h3> -->
      </td>
    </tr>
  </table>
  <!-- *ngIf="global.checkaccess(':OTR:OTRInfoGet') && global.checkaccess(':OTR:EnrolledCourseGet')" -->
  <!-- *ngIf="global.checkaccess(':RegistrarCertification:EnrolledCourseGet')" -->
  <mat-tab-group>
    <mat-tab label="Transcript of Records" *ngIf="global.checkaccess(':OTR:OTRInfoGet')&&global.checkaccess(':OTR:GraduationRecordDelete')">
      <table class="apptable" style="width: 100%" *ngIf="idNumber ==''">
        <tr>
          <td colspan="4">
            <p style="text-align: center; width: 100%;">
              <i>- No Data -</i>
            </p>
            <p style="text-align: center; width: 100%;">
              <i>- Please Input ID Number -</i>
            </p>
          </td>
        </tr>
      </table>
      <div style="width: 80%; align-content: center;">
        <mat-card-content class='colo' *ngIf="idNumber !=''">
          <mat-divider></mat-divider>
          <mat-accordion class="example-headers-align">
            <div>

              <mat-divider></mat-divider>


              <mat-expansion-panel [expanded]="true" *ngIf="FullName !=''">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>RECORD OF GRADUATION</b>
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                Allows you to view and add graduation record
              </mat-panel-description> -->
                </mat-expansion-panel-header>
                <table class="apptable" *ngIf="FullName !=''">

                  <tr>
                    <th style="text-align: center;">Degree/Title</th>
                    <th style="text-align: center;">Major</th>
                    <th style="text-align: center;">Date of Graduation</th>
                    <th style="text-align: center;">S.O. Number</th>
                    <th style="text-align: center;">Awards</th>
                    <th style="text-align: center;">NSTP Serial No.</th>
                    <th style="text-align: center;">Evaluation</th>
                    <th style="text-align: center;">Clearance</th>
                    <th style="text-align: center;">-Action-</th>
                  </tr>
                  <tr *ngIf="degreeTitle!= ''">
                    <td style="text-align: center;">
                      {{degreeTitle}}
                    </td>
                    <td style="text-align: center;">
                      {{majorr}}
                    </td>
                    <td style="text-align: center;">
                      {{dateofGraduation | date}}
                    </td>
                    <td style="text-align: center;">
                      {{specialOrderNumber}}
                    </td>
                    <td style="text-align: center;">
                      {{awardsReceived}}
                    </td>
                    <td style="text-align: center;">
                      {{nstpSerialNo}}
                    </td>
                    <td style="text-align: center;">
                      {{withEvaluation}}
                    </td>
                    <td style="text-align: center;">
                      {{withClearance}}
                    </td>

                    <td style="text-align: center;">
                      <!-- <button mat-raised-button color="primary" class="btnstyle" (click)="update">
                      <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                    </button> -->

                      <button mat-raised-button color="warn" (click)="delete(ProgramIDD)" class="btnstyle">
                        <i class="material-icons">delete</i><span
                          style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td *ngIf="degreeTitle == '' && otrType == 1" colspan="14">
                      <p style="text-align: center; width: 100%;">
                        <i>- No Graduation Record For Baccalaureate-</i>
                      </p>
                    </td>
                    <td *ngIf="degreeTitle == '' && otrType == 2" colspan="14">
                      <p style="text-align: center; width: 100%;">
                        <i>- No Graduation Record For Masteral-</i>
                      </p>
                    </td>
                    <td *ngIf="degreeTitle == '' && otrType == 3" colspan="14">
                      <p style="text-align: center; width: 100%;">
                        <i>- No Graduation Record For Doctoral-</i>
                      </p>
                    </td>
                  </tr>
                </table>

                <button mat-raised-button (click)="AddRecord()"
                  style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;float: right; margin-top: 7px; margin-bottom: 7px; margin-right: 6px;">
                  &nbsp;&nbsp;<i class="material-icons">add
                  </i> <span style="margin-top: 7px"> Add Graduation Record&nbsp;&nbsp;&nbsp;</span></button>
              </mat-expansion-panel>

            </div>



            <table *ngIf="FullName !=''">
              <mat-tab-group
                style="background-color: #ffffff; border: 1px solid #d4d4d4; padding: 10px; display: flex; justify-content: center; align-items: center;"
                [selectedIndex]="0" (selectedTabChange)="tabClick($event)">
                <mat-tab label="Baccalaureate" style="background-color: #fff; padding: 10px;">
                  <td>
                    <fieldset style="height: 75px; width: 920px">
                      <legend>Remarks</legend>
                      <textarea [(ngModel)]="Baccalaureate" name="Baccalaureate"
                        style="width: 100%; height: 100%; box-sizing: border-box; white-space: pre-wrap; font-weight: bold; font-size: 16px;"></textarea>
                    </fieldset>
                  </td>
                </mat-tab>
                <mat-tab label="Masteral" style="background-color: #fff; padding: 10px;">
                  <td>
                    <fieldset style="height: 75px; width: 920px">
                      <legend>Remarks</legend>
                      <textarea [(ngModel)]="AdditionalRemarks" name="AdditionalRemarks"
                        style="width: 100%; height: 100%; box-sizing: border-box; white-space: pre-wrap; font-weight: bold; font-size: 16px;"></textarea>
                    </fieldset>
                  </td>
                </mat-tab>
                <mat-tab label="Doctoral" style="background-color: #fff; padding: 10px;">
                  <td>
                    <fieldset style="height: 75px; width: 920px">
                      <legend>Remarks</legend>
                      <textarea [(ngModel)]="AdditionalRemarks" name="AdditionalRemarks"
                        style="width: 100%; height: 100%; box-sizing: border-box; white-space: pre-wrap; font-weight: bold; font-size: 16px;"></textarea>
                    </fieldset>
                  </td>
                </mat-tab>
                <mat-tab label="College" style="background-color: #fff; padding: 10px;">
                  <td>
                    <fieldset style="height: 75px; width: 920px">
                      <legend>Remarks</legend>
                      <textarea [(ngModel)]="College" name="College"
                        style="width: 100%; height: 100%; box-sizing: border-box; white-space: pre-wrap; font-weight: bold; font-size: 16px;"></textarea>
                    </fieldset>
                  </td>
                </mat-tab>
                <mat-tab label="Pre-Baccalaureate" style="background-color: #fff; padding: 10px;">
                  <td>
                    <fieldset style="height: 75px; width: 920px">
                      <legend>Remarks</legend>
                      <textarea [(ngModel)]="PreBaccalaureate" name="PreBaccalaureate"
                        style="width: 100%; height: 100%; box-sizing: border-box; white-space: pre-wrap; font-weight: bold; font-size: 16px;"></textarea>
                    </fieldset>
                  </td>
                </mat-tab>
              </mat-tab-group>
            </table>
            <!-- </mat-expansion-panel> -->
            <button mat-raised-button (click)="AddingRecordValidation()" *ngIf="FullName !='' && courseCollege !=''"
              style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;float: right; margin-top: 7px; margin-bottom: 7px; margin-right: 6px;">
              &nbsp;&nbsp;<i class="material-icons">add
              </i> <span style="margin-top: 7px">Generate PDF&nbsp;&nbsp;&nbsp;</span></button>

            <button mat-raised-button (click)="UpdateRemarks()" *ngIf="FullName !='' && courseCollege !=''"
              style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;float: left; margin-top: 7px; margin-bottom: 7px; margin-right: 6px;">
              &nbsp;&nbsp;<i class="material-icons">save
              </i> <span style="margin-top: 7px"> Quick Save&nbsp;&nbsp;&nbsp;</span></button>

          </mat-accordion>
        </mat-card-content>
      </div>
    </mat-tab>
    <!--  -->
    <mat-tab label="Certifications" *ngIf="global.checkaccess(':OTR:EnrolledCourseGet')&&!global.checkaccess(':OTR:GraduationRecordDelete')" >
      <table class="apptable" style="width: 100%" *ngIf="idNumber ==''">
        <tr>
          <td colspan="4">
            <p style="text-align: center; width: 100%;">
              <i>- No Data -</i>
            </p>
            <p style="text-align: center; width: 100%;">
              <i>- Please Input ID Number -</i>
            </p>
          </td>
        </tr>
      </table>
      <!-- <mat-card-header>
        <mat-card-title><b>CERTIFICATIONS OPTIONS</b></mat-card-title>
      </mat-card-header> -->

      <mat-card-content *ngIf="FullName !=''">
        <mat-form-field style="width: 300px;" appearance="outline">
          <mat-label>Select Certification Letter</mat-label>
          <mat-select [(ngModel)]="Certificate" style="font-size: 14px;">
            <mat-option [value]="'Registrar'">Registrar</mat-option>
            <mat-option [value]="'Graduation'">Graduation</mat-option>
            <mat-option [value]="'GradesCompletion'">Completion of Grades</mat-option>
            <mat-option [value]="'GWA'">General Weighted Average</mat-option>
            <mat-option [value]="'Spes'">SPES</mat-option>
            <mat-option [value]="'NSTP'">NSTP</mat-option>
            <mat-option [value]="'ROTC'">ROTC</mat-option>
            <mat-option [value]="'WithHonor'">With Honors</mat-option>
            <mat-option [value]="'Enrollment'">Enrolment/Attendance</mat-option>
            <mat-option [value]="'GradesCert'">Grades</mat-option>
            <!-- <mat-option [value]="'1'">Cert 1</mat-option>
            <mat-option [value]="'1'">Cert 1</mat-option> -->
          </mat-select>

        </mat-form-field>
        <button mat-raised-button color="primary" (click)="CertFunction()" style="margin-left: 7px;">Generate
          PDF</button>

          <div *ngIf="Certificate === 'Registrar'" style="width: 50%;">

            <mat-card-header>
              <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
            </mat-card-header>
  
         
  
            <table>
              <tr>
                <!-- <td style="font-size: 14px;">
                  <mat-form-field style="width: 130px;">
                    <mat-label style="font-size: 10px;">Level</mat-label>
                    <mat-select [(ngModel)]="proglevel" style="font-size: 14px;">
                      <mat-option [value]="'ELEMENTARY'">Elementary</mat-option>
                      <mat-option [value]="'HIGHSCHOOL'">High School</mat-option>
                      <mat-option [value]="'COLLEGE'">College</mat-option>
                      <mat-option [value]="'GRADUATE SCHOOL'">Graduate School</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td> -->
  
                <td style="font-size: 14px;" *ngIf="proglevel =='COLLEGE' || proglevel =='GRADUATE SCHOOL'">
                  <mat-form-field style="width: 115px;">
                    <mat-label style="font-size: 10px;">Semester</mat-label>
                    <mat-select [(ngModel)]="term" (selectionChange)="Term(term)" style="font-size: 14px;">
                      <mat-option [value]="'1'">1st Semester</mat-option>
                      <mat-option [value]="'2'">2nd Semester</mat-option>
                      <mat-option [value]="'3'">Summer</mat-option>
                    </mat-select>
  
                  </mat-form-field>
                </td>
  
                <td>
                  <mat-form-field style="width: 95px;">
                    <mat-label style="font-size: 10px;">School Year</mat-label>
                    <div style="display: flex;">
                      <input matInput [(ngModel)]="y1" type="number" min="1900" max="2999" (click)="year1(); "
                        style="font-size: 13px;">
  
  
                      <input matInput [(ngModel)]="y2" type="number" min="1900" max="2999" (click)="year2();"
                        style="font-size: 13px;">
  
                    </div>
                  </mat-form-field>
                </td>
              </tr>
            </table>
  
            <mat-card-content>
              <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
                specific
                manner.</p>
  
              <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
                {{middleName}} for: </p>
  
              <!-- <mat-form-field style="width: 570px;"> -->
              <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
              <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
          </mat-form-field> -->
  
  
              <mat-form-field [style.width.px]=477>
                <mat-label>Purpose</mat-label>
                <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                  required="required" autocomplete="off"></textarea>
              </mat-form-field>
              <mat-card-actions style="display: flex; justify-content: flex-end;">
                <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
            <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->
  
                <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
                <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
              </mat-card-actions>
            </mat-card-content>
          </div>
        <!--Graduation-->
        <div *ngIf="Certificate === 'Graduation'" style="width: 50%;">

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option *ngFor="let degreelevel of EnrolledCourse" [value]="degreelevel">
                {{degreelevel.programTitle}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option [value]="'1'">Baccalaureate</mat-option>
              <mat-option [value]="'2'">Masteral</mat-option>
              <mat-option [value]="'3'">Doctoral</mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="showPopup" class="popup-message">
            Please select a degree level.
          </div>

          <mat-card-content>
            <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p>

            <!-- <mat-form-field style="width: 570px;"> -->
            <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
            <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
        </mat-form-field> -->


            <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                required="required" autocomplete="off"></textarea>
            </mat-form-field>
            <mat-card-actions style="display: flex; justify-content: flex-end;">
              <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
          <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->

              <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
              <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
            </mat-card-actions>
          </mat-card-content>
        </div>

        <div *ngIf="Certificate === 'GradesCompletion'" style="width: 50%;">

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option *ngFor="let degreelevel of EnrolledCourse" [value]="degreelevel">
                {{degreelevel.programTitle}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option [value]="'1'">Baccalaureate</mat-option>
              <mat-option [value]="'2'">Masteral</mat-option>
              <mat-option [value]="'3'">Doctoral</mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="showPopup" class="popup-message">
            Please select a degree level.
          </div>

          <mat-card-content>
            <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p>

            <!-- <mat-form-field style="width: 570px;"> -->
            <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
            <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
        </mat-form-field> -->


            <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                required="required" autocomplete="off"></textarea>
            </mat-form-field>
            <mat-card-actions style="display: flex; justify-content: flex-end;">
              <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
          <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->

              <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
              <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
            </mat-card-actions>
          </mat-card-content>
        </div>

        <div *ngIf="Certificate === 'GWA'" style="width: 50%;">

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option *ngFor="let degreelevel of EnrolledCourse" [value]="degreelevel">
                {{degreelevel.programTitle}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option [value]="'1'">Baccalaureate</mat-option>
              <mat-option [value]="'2'">Masteral</mat-option>
              <mat-option [value]="'3'">Doctoral</mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="showPopup" class="popup-message">
            Please select a degree level.
          </div>

          <mat-card-content>
            <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p>

            <!-- <mat-form-field style="width: 570px;"> -->
            <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
            <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
        </mat-form-field> -->


            <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                required="required" autocomplete="off"></textarea>
            </mat-form-field>
            <mat-card-actions style="display: flex; justify-content: flex-end;">
              <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
          <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->

              <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
              <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
            </mat-card-actions>
          </mat-card-content>
        </div>

        <div *ngIf="Certificate === 'Spes'" style="width: 50%;">

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option *ngFor="let degreelevel of EnrolledCourse" [value]="degreelevel">
                {{degreelevel.programTitle}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option [value]="'1'">Baccalaureate</mat-option>
              <mat-option [value]="'2'">Masteral</mat-option>
              <mat-option [value]="'3'">Doctoral</mat-option>
            </mat-select>
          </mat-form-field> -->

          <table>
            <tr>
              <!-- <td style="font-size: 14px;">
                <mat-form-field style="width: 130px;">
                  <mat-label style="font-size: 10px;">Level</mat-label>
                  <mat-select [(ngModel)]="proglevel" style="font-size: 14px;">
                    <mat-option [value]="'ELEMENTARY'">Elementary</mat-option>
                    <mat-option [value]="'HIGHSCHOOL'">High School</mat-option>
                    <mat-option [value]="'COLLEGE'">College</mat-option>
                    <mat-option [value]="'GRADUATE SCHOOL'">Graduate School</mat-option>
                  </mat-select>
                </mat-form-field>
              </td> -->

              <td style="font-size: 14px;" *ngIf="proglevel =='COLLEGE' || proglevel =='GRADUATE SCHOOL'">
                <mat-form-field style="width: 115px;">
                  <mat-label style="font-size: 10px;">Semester</mat-label>
                  <mat-select [(ngModel)]="term" (selectionChange)="setTerm(term)" style="font-size: 14px;">
                    <mat-option [value]="'1'">1st Semester</mat-option>
                    <mat-option [value]="'2'">2nd Semester</mat-option>
                    <mat-option [value]="'3'">Summer</mat-option>
                  </mat-select>

                </mat-form-field>
              </td>

              <td>
                <mat-form-field style="width: 95px;">
                  <mat-label style="font-size: 10px;">School Year</mat-label>
                  <div style="display: flex;">
                    <input matInput [(ngModel)]="y1" type="number" min="1900" max="2999" (click)="yearchange1(); "
                      style="font-size: 13px;">


                    <input matInput [(ngModel)]="y2" type="number" min="1900" max="2999" (click)="yearchange2();"
                      style="font-size: 13px;">

                  </div>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <div *ngIf="showPopup" class="popup-message">
            Please select a degree level.
          </div>

          <mat-card-content>
            <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p>

            <!-- <mat-form-field style="width: 570px;"> -->
            <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
            <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
        </mat-form-field> -->


            <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                required="required" autocomplete="off"></textarea>
            </mat-form-field>
            <mat-card-actions style="display: flex; justify-content: flex-end;">
              <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
          <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->

              <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
              <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
            </mat-card-actions>
          </mat-card-content>
        </div>

        <div *ngIf="Certificate === 'NSTP'" style="width: 50%;">

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option *ngFor="let degreelevel of EnrolledCourse" [value]="degreelevel">
                {{degreelevel.programTitle}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option [value]="'1'">Baccalaureate</mat-option>
              <mat-option [value]="'2'">Masteral</mat-option>
              <mat-option [value]="'3'">Doctoral</mat-option>
            </mat-select>
          </mat-form-field> -->

          <div *ngIf="showPopup" class="popup-message">
            Please select a degree level.
          </div>

          <mat-card-content>
            <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p>

            <!-- <mat-form-field style="width: 570px;"> -->
            <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
            <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
        </mat-form-field> -->


            <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                required="required" autocomplete="off"></textarea>
            </mat-form-field>
            <mat-card-actions style="display: flex; justify-content: flex-end;">
              <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
          <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->

              <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
              <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
            </mat-card-actions>
          </mat-card-content>
        </div>
        <div *ngIf="Certificate === 'ROTC'" style="width: 50%;">

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option *ngFor="let degreelevel of EnrolledCourse" [value]="degreelevel">
                {{degreelevel.programTitle}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option [value]="'1'">Baccalaureate</mat-option>
              <mat-option [value]="'2'">Masteral</mat-option>
              <mat-option [value]="'3'">Doctoral</mat-option>
            </mat-select>
          </mat-form-field> -->

          <div *ngIf="showPopup" class="popup-message">
            Please select a degree level.
          </div>

          <mat-card-content>
            <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p>

            <!-- <mat-form-field style="width: 570px;"> -->
            <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
            <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
        </mat-form-field> -->


            <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                required="required" autocomplete="off"></textarea>
            </mat-form-field>
            <mat-card-actions style="display: flex; justify-content: flex-end;">
              <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
          <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->

              <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
              <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
            </mat-card-actions>
          </mat-card-content>
        </div>

        <div *ngIf="Certificate === 'WithHonor'" style="width: 50%;">

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option *ngFor="let degreelevel of EnrolledCourse" [value]="degreelevel">
                {{degreelevel.programTitle}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option [value]="'1'">Baccalaureate</mat-option>
              <mat-option [value]="'2'">Masteral</mat-option>
              <mat-option [value]="'3'">Doctoral</mat-option>
            </mat-select>
          </mat-form-field> -->

          <div *ngIf="showPopup" class="popup-message">
            Please select a degree level.
          </div>

          <mat-card-content>
            <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p>

            <!-- <mat-form-field style="width: 570px;"> -->
            <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
            <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
        </mat-form-field> -->


            <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                required="required" autocomplete="off"></textarea>
            </mat-form-field>
            <mat-card-actions style="display: flex; justify-content: flex-end;">
              <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
          <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->

              <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
              <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
            </mat-card-actions>
          </mat-card-content>
        </div>
        
        <div *ngIf="Certificate === 'Enrollment'" style="width: 50%;">

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option *ngFor="let degreelevel of EnrolledCourse" [value]="degreelevel">
                {{degreelevel.programTitle}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option [value]="'1'">Baccalaureate</mat-option>
              <mat-option [value]="'2'">Masteral</mat-option>
              <mat-option [value]="'3'">Doctoral</mat-option>
            </mat-select>
          </mat-form-field> -->

          <table>
            <tr>
              <!-- <td style="font-size: 14px;">
                <mat-form-field style="width: 130px;">
                  <mat-label style="font-size: 10px;">Level</mat-label>
                  <mat-select [(ngModel)]="proglevel" style="font-size: 14px;">
                    <mat-option [value]="'ELEMENTARY'">Elementary</mat-option>
                    <mat-option [value]="'HIGHSCHOOL'">High School</mat-option>
                    <mat-option [value]="'COLLEGE'">College</mat-option>
                    <mat-option [value]="'GRADUATE SCHOOL'">Graduate School</mat-option>
                  </mat-select>
                </mat-form-field>
              </td> -->

              <td style="font-size: 14px;" *ngIf="proglevel =='COLLEGE' || proglevel =='GRADUATE SCHOOL'">
                <mat-form-field style="width: 115px;">
                  <mat-label style="font-size: 10px;">Semester</mat-label>
                  <mat-select [(ngModel)]="term" (selectionChange)="setTerm(term)" style="font-size: 14px;">
                    <mat-option [value]="'1'">1st Semester</mat-option>
                    <mat-option [value]="'2'">2nd Semester</mat-option>
                    <mat-option [value]="'3'">Summer</mat-option>
                  </mat-select>

                </mat-form-field>
              </td>

              <td>
                <mat-form-field style="width: 95px;">
                  <mat-label style="font-size: 10px;">School Year</mat-label>
                  <div style="display: flex;">
                    <input matInput [(ngModel)]="y1" type="number" min="1900" max="2999" (click)="yearchange1(); "
                      style="font-size: 13px;">


                    <input matInput [(ngModel)]="y2" type="number" min="1900" max="2999" (click)="yearchange2();"
                      style="font-size: 13px;">

                  </div>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <div *ngIf="showPopup" class="popup-message">
            Please select a degree level.
          </div>

          <mat-card-content>
            <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p>

            <!-- <mat-form-field style="width: 570px;"> -->
            <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
            <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
        </mat-form-field> -->


            <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                required="required" autocomplete="off"></textarea>
            </mat-form-field>
            <mat-card-actions style="display: flex; justify-content: flex-end;">
              <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
          <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->

              <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
              <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
            </mat-card-actions>
          </mat-card-content>
        </div>

        <div *ngIf="Certificate === 'GradesCert'" style="width: 50%;">

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <!-- <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevel" style="font-size: 14px;" required>
              <mat-option *ngFor="let degreelevel of EnrolledCourse" [value]="degreelevel">
                {{degreelevel.programTitle}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field style="width: 190px;" appearance="outline">
            <mat-label>Select Degree</mat-label>
            <mat-select [(ngModel)]="DegreeLevelT" style="font-size: 14px;" required>
              <mat-option [value]="'1'">Baccalaureate</mat-option>
              <mat-option [value]="'2'">Masteral</mat-option>
              <mat-option [value]="'3'">Doctoral</mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="showPopup" class="popup-message">
            Please select a degree level.
          </div>

          <mat-card-content>
            <!-- <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p> -->

            <!-- <mat-form-field style="width: 570px;"> -->
            <!-- <textarea matInput placeholder="Enter purpose" [(ngModel)]="purpose" name="purpose" required></textarea> -->
            <!-- <input matInput [(ngModel)]="data" name="data" placeholder="Enter purpose"  required>
        </mat-form-field> -->


            <!-- <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purposeGrad" name="idno"
                required="required" autocomplete="off"></textarea>
            </mat-form-field> -->
            <mat-card-actions style="display: flex; justify-content: flex-end;">
              <!-- <button mat-button (click)="close()" color="warning">Cancel</button>
          <button mat-raised-button color="primary" (click)="download()">Download PDF</button> -->

              <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button> -->
              <!-- <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button> -->
            </mat-card-actions>
          </mat-card-content>
        </div>

        
        <!--End Graduation-->
      </mat-card-content>




      <!-- <table class="apptable" style="width: 100%" *ngIf="idNumber ==''">
        <tr>
          <td colspan="4">
            <p style="text-align: center; width: 100%;">
              <i>- No Data -</i>
            </p>
            <p style="text-align: center; width: 100%;">
              <i>- Please Input ID Number -</i>
            </p>
          </td>
        </tr>
      </table> -->
    </mat-tab>
    <!-- <mat-tab label="Registrar Certification">

     
      <table class="apptable" style="width: 100%" *ngIf="idNumber ==''">
        <tr>
          <td colspan="4">
            <p style="text-align: center; width: 100%;">
              <i>- No Data -</i>
            </p>
            <p style="text-align: center; width: 100%;">
              <i>- Please Input ID Number -</i>
            </p>
          </td>
        </tr>
      </table>

      <div style="width:50%; align-content: center;">
        <mat-card *ngIf="idNumber !=''">
        

          <table>
            <tr>
              <td style="font-size: 14px;">
                <mat-form-field style="width: 130px;">
                  <mat-label style="font-size: 10px;">Level</mat-label>
                  <mat-select [(ngModel)]="proglevel" style="font-size: 14px;">
                    <mat-option [value]="'ELEMENTARY'">Elementary</mat-option>
                    <mat-option [value]="'HIGHSCHOOL'">High School</mat-option>
                    <mat-option [value]="'COLLEGE'">College</mat-option>
                    <mat-option [value]="'GRADUATE SCHOOL'">Graduate School</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td style="font-size: 14px;" *ngIf="proglevel =='COLLEGE' || proglevel =='GRADUATE SCHOOL'">
                <mat-form-field style="width: 115px;">
                  <mat-label style="font-size: 10px;">Semester</mat-label>
                  <mat-select [(ngModel)]="term" (selectionChange)="setTerm(term)" style="font-size: 14px;">
                    <mat-option [value]="'1'">1st Semester</mat-option>
                    <mat-option [value]="'2'">2nd Semester</mat-option>
                    <mat-option [value]="'3'">Summer</mat-option>
                  </mat-select>

                </mat-form-field>
              </td>

              <td>
                <mat-form-field style="width: 95px;">
                  <mat-label style="font-size: 10px;">School Year</mat-label>
                  <div style="display: flex;">
                    <input matInput [(ngModel)]="y1" type="number" min="1900" max="2999" (click)="yearchange1(); "
                      style="font-size: 13px;">


                    <input matInput [(ngModel)]="y2" type="number" min="1900" max="2999" (click)="yearchange2();"
                      style="font-size: 13px;">

                  </div>
                </mat-form-field>
              </td>
            </tr>
          </table>
         

          <mat-card-header>
            <mat-card-title><b>Specify Document Purpose</b></mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p>Please provide a specific purpose for the Certificate Content so that it can be completed in a formal and
              specific
              manner.</p>

            <p>This certification is issued on {{today}} upon the request of MR./MRS. {{lastName}} {{firstName}}
              {{middleName}} for: </p>

        

            <mat-form-field [style.width.px]=477>
              <mat-label>Purpose</mat-label>
              <textarea autofocus matInput placeholder="" value="" [(ngModel)]="purpose" name="idno" required="required"
                autocomplete="off"></textarea>
            </mat-form-field>
            <mat-card-actions style="display: flex; justify-content: flex-end;">
             
              <button mat-raised-button color="primary" (click)="downloadpdf()">Download PDF</button>
            </mat-card-actions>
          </mat-card-content>



        </mat-card>
      </div>
    </mat-tab> -->
    <!-- <mat-tab label="Certification of Transfer of Eligibility">
      <table class="apptable" style="width: 100%" *ngIf="idNumber ==''">
        <tr>
          <td colspan="4">
            <p style="text-align: center; width: 100%;">
              <i>- No Data -</i>
            </p>
            <p style="text-align: center; width: 100%;">
              <i>- Please Input ID Number -</i>
            </p>
          </td>
        </tr>
      </table>
      <button mat-raised-button color="primary" (click)="generatePDF()">GeneratePDF</button>
    </mat-tab> -->


  </mat-tab-group>
</mat-card>




























































































































































<!-- 
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title><b>OTR DETAILS</b></mat-card-title>
                <mat-card-subtitle>
                    <p style="font-size: 12px; padding: 0; margin: 0;">
                        NOTE: This page allows you to update STUDENT'S OTR INFORMATION.
                    </p>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class='colo'>


                <div style="width: 65%; align-content: center;">
                <div>
                    <table>
                      <tr>
                        <td width="40px">
                          <img [src]="image" width="110px" onError="this.src='assets/noimage.jpg'" />
                        </td>
                        <td>
                          <table class="example-full-width" cellspacing="0">
                            <tr>
                              <td width="250px" style="font-size: 14px;">
                                <mat-form-field class="example-full-widthminus">
                                    <input autofocus matInput #idno2 placeholder="ID Number" [(ngModel)]="idNumber" name="idno" (keydown)="keyDownFunction($event)">
                                </mat-form-field>
                                <button mat-mini-fab color="primary" (click)="studentlookup()">
                                  <mat-icon>search</mat-icon>
                                </button>
                              </td>      
                            </tr>
                          </table>
            
                          
                          <h3  style="margin: 0px; font-size: 15px;">{{FullName}}</h3>
                          <h3  style="margin: 0px; font-size: 15px;">{{Address}}</h3>
                          <h3  style="margin: 0px; font-size: 15px;">juandelacruz@gmail.com</h3>
                          <h3  style="margin: 0px; font-size: 15px;">09123456789</h3>
                        </td>
                      </tr>
                    </table>
            <mat-divider></mat-divider>
            
            <table class="apptable">
            
              <tr>
                  <th style="text-align: center;">Degree/Title</th>
                  <th style="text-align: center;">Major</th>
                  <th style="text-align: center;">Date of Graduation</th>
                  <th style="text-align: center;">S.O. Number</th>
                  <th style="text-align: center;">Awards</th>
                  <th style="text-align: center;">NSTP Serial No.</th>
                  <th style="text-align: center;">Evaluation</th>
                  <th style="text-align: center;">Clearance</th>
                  <th style="text-align: center;">-Action-</th>
              </tr>
              <tr>
                 <td>
                  GG
                 </td>
                 <td>
                  GG
                 </td>
                 <td>
                  GG
                 </td>
                 <td>
                  GG
                 </td>
                 <td>
                  GG
                 </td>
                 <td>
                  GG
                 </td>
                 <td>
                  GG
                 </td>
                 <td>
                  GG
                 </td>
                 <td style="text-align: center;">
                  <button mat-raised-button color="primary" class="btnstyle" (click)="updateChildrenOpenDialog(c)">
            <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
            </button>
                  <button mat-raised-button color="warn" (click)="deleteChild(c)" class="btnstyle">
            <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
            </button>
              </td>
              </tr>
            </table>
            
            <button mat-raised-button (click)="eval()" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;float: right; margin-top: 7px; margin-bottom: 7px; margin-right: 6px;">
                &nbsp;&nbsp;<i class="material-icons">add
                </i> <span style="margin-top: 7px"> Add Graduate Record&nbsp;&nbsp;&nbsp;</span></button>
              </div>
                
              <table>
                  <mat-tab-group style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 10px; display: flex; justify-content: center; align-items: center;">
                    <mat-tab label="Baccalaureate" style="background-color: #fff; padding: 10px;">
                      <td>
                        <fieldset style="height: auto; width: auto;">
                          <legend>Remarks</legend>
                          <h3 style="margin-top: 5px;">
                            GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                            Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
                          </h3>              
                        </fieldset>
                      </td>
                    </mat-tab>
                    <mat-tab label="Masteral" style="background-color: #fff; padding: 10px;">
                      <td>
                        <fieldset style="height: auto; width: auto;">
                          <legend>Remarks</legend>
                          <h3 style="margin-top: 5px;">
                            GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                            Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
                          </h3>              
                        </fieldset>
                      </td>
                    </mat-tab>
                    <mat-tab label="Doctoral" style="background-color: #fff; padding: 10px;">
                      <td>
                        <fieldset style="height: auto; width: auto;">
                          <legend>Remarks</legend>
                          <h3 style="margin-top: 5px;">
                            GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                            Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
                          </h3>              
                        </fieldset>
                      </td>
                    </mat-tab>
                    <mat-tab label="College" style="background-color: #fff; padding: 10px;">
                      <td>
                        <fieldset style="height: auto; width: auto;">
                          <legend>Remarks</legend>
                          <h3 style="margin-top: 5px;">
                            GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                            Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
                          </h3>              
                        </fieldset>
                      </td>
                    </mat-tab>
                    <mat-tab label="Pre-Baccalaureate" style="background-color: #fff; padding: 10px;">
                      <td>
                        <fieldset style="height: auto; width: auto;">
                          <legend>Remarks</legend>
                          <h3 style="margin-top: 5px;">
                            GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                            Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
                          </h3>              
                        </fieldset>
                      </td>
                    </mat-tab>
                  </mat-tab-group>
              </table>
            </div>

                
            </mat-card-content>
        </mat-card> -->



<!-- 
        GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
        Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
      </h3>              
    </fieldset>
  </td>
</mat-tab>
<mat-tab label="Pre-Baccalaureate" style="background-color: #fff; padding: 10px;">
  <td>
    <fieldset style="height: auto; width: auto;">
      <legend>Remarks</legend>
      <h3 style="margin-top: 5px;">
        GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
        Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
      </h3>              
    </fieldset>
  </td>
</mat-tab>
</mat-tab-group>
</table>
</div>


</mat-card-content>
</mat-card> -->