<div style="width: 100%;">
  <mat-card class="example-card" id="school-year-setting" style='padding: 0;'>
    <mat-card-header>
      <br>
      <mat-card-title><b>Manage Online Registration Settings</b></mat-card-title>
      <mat-card-subtitle>
        <p>This page allows you to update Online Registration Settings.</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class='colo'>
      <mat-form-field style="width: 450px">
        <mat-label>Online Registration Setting</mat-label>
        <mat-select [(ngModel)]="onlineRegSettingToUpdate"
          (selectionChange)="onChange($event,'onlineRegSettingToUpdate')">
          <mat-option *ngFor="let a of onlineRegistrationSettingsArray" value={{a.code}}>
            {{a.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card style="width: 600px;" *ngIf="onlineRegSettingToUpdate!==''">
        <mat-card-content>
          <div style="color:green;" *ngIf="this.f.year1.value != null && this.f.year2.value != null"><b>
              <span *ngIf="onlineRegSettingLevel!='' && onlineRegSettingLevel === '06'">
                {{onlineRegSettingName}} - {{this.f.year1.value.toString()+ this.f.year2.value.toString().substr(2,2)
                +this.f.term.value.toString()}}
              </span>
              <span *ngIf="onlineRegSettingLevel!='' && onlineRegSettingLevel !== '06'">
                {{onlineRegSettingName}} - {{this.f.year1.value.toString()+ this.f.year2.value.toString().substr(2,2)}}
              </span>
            </b></div>
          <form [formGroup]="form">
            <table>
              <tr>
                <td style="width: 125px">Term: &nbsp; &nbsp;</td>
                <td>
                  <mat-form-field style="width: 200px">
                    <mat-select formControlName="term" (selectionChange)="onChange($event, 'term')">
                      <mat-option value="1">
                        First Semester
                      </mat-option>
                      <mat-option value="2">
                        Second Semester
                      </mat-option>
                      <mat-option value="3">
                        Summer
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>School Year: &nbsp; &nbsp;</td>
                <td>
                  <table style="width: 100%">
                    <tr>
                      <td>
                        <mat-form-field style="width: 130px">
                          <input matInput formControlName="year1" type="number" min="1900" max="2999" maxlength="4"
                            (change)='yearchange1()' (ngModelChange)="onChange($event, 'year1')">
                        </mat-form-field>
                        <div *ngIf="f.year1.errors && this.submitted" class="invalid-feedback">
                          <div style="font-size:11px" *ngIf="f.year1.errors.required && this.submitted">
                            *Start Year is Required
                          </div>
                          <div style="font-size:11px" *ngIf="f.year1.errors.minmaxlength && this.submitted">
                            *Start Year should be 4 digits
                          </div>
                        </div>
                      </td>
                      <td> &nbsp; to &nbsp; </td>
                      <td>
                        <mat-form-field style="width: 130px">
                          <input matInput formControlName="year2" type="number" min="1900" max="2999" maxlength="4"
                            (change)='yearchange2()' (ngModelChange)="onChange($event, 'year2')">
                        </mat-form-field>
                        <div *ngIf="f.year2.errors && this.submitted" class="invalid-feedback">
                          <div style="font-size:11px" *ngIf="f.year2.errors.required && this.submitted">
                            *End Year is Required
                          </div>
                          <div style="font-size:11px" *ngIf="f.year2.errors.minmaxlength && this.submitted">
                            *End Year should be 4 digits
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="width: 125px">Status: &nbsp; &nbsp;</td>
                <td>
                  <mat-form-field style="width: 200px">
                    <mat-select formControlName="status" (selectionChange)="onChange($event, 'status')">
                      <mat-option value="1">
                        Active
                      </mat-option>
                      <mat-option value="0">
                        InActive
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td style="width: 125px">Date: &nbsp; &nbsp;</td>
                <td>
                  <mat-form-field appearance="outline" style="height: 50px;">
                    <!-- <mat-label>Start Date</mat-label>                    -->
                    <input matInput 
                      formControlName="startDate" 
                      [matDatepicker]="dp1" 
                      (ngModelChange)="onChange($event, 'startDate')">
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
          <div style="margin-right:20px; display: block; text-align: right; padding: 10px;">
            <ng-container *ngIf="global.checkaccess(':Maintenance:OnlineRegistrationSettingsPut')">
              <button mat-raised-button color="primary" (click)="save()" matTooltip="Save Changes"
                [disabled]="btnSaveDisabled">
                <mat-icon>save</mat-icon>
              </button>
              &nbsp;
            </ng-container>
            <button mat-raised-button color="success" (click)="cancel()" matTooltip="Cancel"
              [disabled]="btnSaveDisabled">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </mat-card-footer>
      </mat-card>

      <div style="width: 20px;"></div>
    </mat-card-content>
  </mat-card>