<mat-card class="example-card">

    <mat-card-header>
        <mat-card-title>
            <p style="font-size: 14px; padding: 0; margin: 0; padding-top: 5px;"><b>PERSONAL INFORMATION</b></p>
        </mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 14px; padding: 0; margin: 0; margin-bottom: -10px;">
                Use to search, edit update employee's personal information
            </p>
        </mat-card-subtitle>

    </mat-card-header>

    <mat-card-content class='colo'>

        <table>
            <tr>
                <table style="margin: 0px; padding: 0px;">
                    <tr>
                        <td width="110">
                            <img [src]="image" width="150" onError="this.src='assets/noimage.jpg'" />
                        </td>
                        <td>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td width="100">
                                        <form class="example-form1" id="ngForm" #documentEditForm="ngForm" style="margin-top: 5px;">
                                            <mat-form-field class="txtid">
                                                <input matInput #idno maxlength="7" placeholder="ID Number" [(ngModel)]="id" value="" name="idno" required="required" (keydown)="keyDownFunction($event)">
                                                <!-- <mat-hint align="start">{{idno.value.length}} / 7</mat-hint> -->
                                            </mat-form-field>
                                        </form>
                                    </td>
                                    <td>
                                        <button mat-mini-fab color="primary" (click)="employeelookup()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    </td>
                                </tr>
                            </table>
                            <div style="margin-top: -10px;">
                                <h4 *ngIf="headerContent" style="margin: 0px">{{name}} <i class="material-icons" (click)="nameUpdate()" style="color: #294a70" *ngIf="updatenamevar==false&&global.checkaccess(':Employee:EmployeePersonPut')">edit</i></h4>
                                <span *ngIf="headerContent"><strong>{{dtridnum}} </strong>Position: <strong>{{position}} </strong> </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </tr>
        </table>

        <mat-divider style="margin-top: 5px;"></mat-divider>
        <div *ngIf="showContent">

            <mat-tab-group (selectedTabChange)='getindex($event)'>

                <mat-tab label="Personal information">
                    <mat-card *ngIf="tabbing===0">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">
                                <table width="100%">
                                    <td align="left">
                                        <button mat-button color="primary" style="min-width: 10px;width: auto;" (click)="editInfoOpenDialog()" [disabled]="!global.checkaccess(':Employee:PersonalInfoPut')"><mat-icon>edit</mat-icon> Edit Information &nbsp;</button>
                                    </td>

                                    <td align="right"><button mat-raised-button color="primary" style="min-width: 10px;width: auto;" (click)="exportCV()"><mat-icon>print</mat-icon> Generate CV &nbsp;</button></td>
                                </table>

                                <br>
                                <table class="EmpPersonalInfo" #content>

                                    <tr>

                                        <!-- <td rowspan="7">
                                            <div style="margin-left: 5px;">
                                                <img width="120" height="120" [src]="image" onError="this.src='assets/noimage.jpg'"><br>
                                                <img width="120" height="40" [src]="signature" onError="this.src='assets/nosignature.jpg'">
                                            </div>
                                        </td> -->

                                        <td id="offset" width="150"><strong>Nationality: </strong></td>
                                        <td><span id="EmpNationality">{{nationality}}</span></td>

                                    </tr>
                                    <tr>
                                        <td id="offset"><strong>Religion: </strong></td>
                                        <td id="EPI2ndCol" colspan="2"><span id="EmpReligion">{{religion}}</span></td>

                                    </tr>
                                    <tr>
                                        <td id="offset"><strong>Home Address: </strong></td>
                                        <td id="EPI2ndCol" colspan="2"><span id="EmpHomeAddress">{{homeAddress}}</span></td>

                                    </tr>
                                    <tr>
                                        <td id="offset"><strong>Contact No: </strong></td>
                                        <td id="EPI2ndCol" colspan="2"><span id="EmpContactNo">{{contactNo1}}</span></td>

                                    </tr>
                                    <tr>
                                        <td id="offset"><strong>Local Address: </strong></td>
                                        <td id="EPI2ndCol" colspan="2"><span id="EmpLocalAddress">{{localAddress}}</span></td>
                                    </tr>
                                    <tr>
                                        <td id="offset"><strong>Date of Birth: </strong></td>
                                        <td><span id="EmpBdate"></span>{{dOfBirth | date}}</td>
                                        <td width="150"><strong>Civil Status: </strong></td>
                                        <td><span id="EmpCivilStatus"></span>{{civilStatus}}</td>
                                    </tr>
                                    <tr>
                                        <td id="offset" width="150"><strong>Contact No: </strong></td>
                                        <td id="EPI22ndCol"><span id="EmpAddrContactNo">{{contactNo2}}</span></td>
                                        <td><strong>Email Address: </strong></td>
                                        <td id="EPI4thCol"><span id="EmpEmailAddress">{{emailAddress}}</span></td>
                                    </tr>


                                    <tr>
                                        <!-- <td width="120"></td> -->
                                        <td id="offset"><strong>Name of Church: </strong></td>
                                        <td><span id="EmpNameofChurch"></span>{{nameOfChurch}}</td>
                                        <td><strong>Date of Marriage: </strong></td>
                                        <td><span id="EmpDateofMarriage"></span>{{dateOfMarriage}}</td>
                                    </tr>
                                    <tr>
                                        <!-- <td width="120"></td> -->
                                        <td id="offset"><strong>Name of Spouse: </strong></td>
                                        <td><span id="EmpSpouse"></span>{{nameOfSpouse}}</td>
                                        <td><strong>Occupation: </strong></td>
                                        <td><span id="EmpOccupation"></span>{{occupation}}</td>
                                    </tr>
                                </table>
                                <br>

                                <table>
                                    <tr>
                                        <!-- <td width="120"></td> -->
                                        <td colspan="2"><strong>Government Issued Numbers/Informations:</strong></td>
                                    </tr>
                                    <tr>
                                        <!-- <td width="120"></td> -->
                                        <td id="offset" width="150"><strong>TIN: </strong></td>
                                        <td id="EPI22ndCol"><span id="EmpTIN">{{TIN}}</span></td>
                                        <td width="150"><strong>Cedula Number: </strong></td>
                                        <td><span id="EmpSSSNo"></span>{{CedNo}}</td>
                                    </tr>
                                    <tr>
                                        <!-- <td width="120"></td> -->
                                        <td id="offset"><strong>Philhealth Number: </strong></td>
                                        <td><span id="EmpPNo"></span>{{philhealth}}</td>
                                        <td><strong>Place Issued: </strong></td>
                                        <td><span id="EmpPINo"></span>{{PlaceIssued}}</td>
                                    </tr>
                                    <tr>
                                        <!-- <td width="120"></td> -->
                                        <td id="offset" width="150"><strong>SSS Number: </strong></td>
                                        <td id="EPI22ndCol"><span id="EmpTIN">{{SSS}}</span></td>
                                        <td width="150"><strong>Date Issued: </strong></td>
                                        <td><span id="EmpSSSNo"></span>{{DateIssued}}</td>
                                    </tr>
                                    <tr>
                                        <!-- <td width="120"></td> -->
                                        <td id="offset"><strong>Pag-ibig Numberr: </strong></td>
                                        <td><span id="EmpPNo"></span>{{pagibig}}</td>
                                        <td><strong>PTR Number: </strong></td>
                                        <td><span id="EmpPINo"></span>{{PTRNo}}</td>
                                    </tr>
                                </table>

                                <br>
                                <hr>
                                <strong style="margin-left: 10px;">Children:</strong>
                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display:none;">ID</th>
                                        <th style="text-align: center;">
                                            LAST NAME
                                        </th>
                                        <th style="text-align: center;">
                                            FIRST NAME
                                        </th>
                                        <th style="text-align: center;">
                                            MIDDLE NAME
                                        </th>
                                        <th style="text-align: center;">
                                            DATE OF BIRTH
                                        </th>
                                        <th style="text-align: center;">
                                            USLT ID #
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let c of ChildrenArr">
                                        <td style="display:none;">{{c.childID}}</td>
                                        <td>{{c.lastName}}</td>
                                        <td>{{c.firstName}}</td>
                                        <td>{{c.middleName}}</td>
                                        <td width="12%">{{c.dateOfBirth}}</td>
                                        <td width="7%">{{c.usltid}}</td>
                                        <td style="text-align: center;">
                                            <button mat-raised-button color="primary" class="btnstyle" (click)="updateChildrenOpenDialog(c)" [disabled]="!global.checkaccess(':Employee:ChildPut')">
						    			<i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
						    		</button>
                                            <button mat-raised-button color="warn" (click)="deleteChild(c)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:ChildDelete')">
						    			<i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
						    		</button>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addingChildOpenDialog()" style="margin-left: 10px;" [disabled]="!global.checkaccess(':Employee:ChildPost')">
										<i class="material-icons">add</i> Add new (Child info)
									</button>
                                </table>

                                <br>
                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Educational attainment/background">
                    <mat-card *ngIf="tabbing===1">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">
                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display: none;">
                                            educID
                                        </th>
                                        <th style="display: none;">
                                            proglvlID
                                        </th>
                                        <th style="text-align: center;">
                                            PROGRAM NAME
                                        </th>
                                        <th style="text-align: center;">
                                            YEAR GRADUATED
                                        </th>
                                        <th style="text-align: center;">
                                            SCHOOL NAME
                                        </th>
                                        <th style="text-align: center;">
                                            UNITS EARNED
                                        </th>
                                        <th style="text-align: center;">
                                            S.O. NUMBER
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let et of EducTableArr">
                                        <td style="display: none;">{{et.educBGID}}</td>
                                        <td style="display: none;">{{et.programLevelID}}</td>
                                        <td>{{et.programName}}</td>
                                        <td width="12%">{{et.yearGraduated}}</td>
                                        <td>{{et.schoolName}}</td>
                                        <td>{{et.units_Earned}}</td>
                                        <td width="12%">{{et.sonumber}}</td>
                                        <td style="text-align: center;">
                                            <button mat-raised-button color="primary" class="btnstyle" (click)="updateEducBcgOpenDialog(et)" [disabled]="!global.checkaccess(':Employee:EducationalBackgroundPut')">
						    			<i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
						    		</button>
                                            <button mat-raised-button color="warn" (click)="deleteEducBcg(et.educBGID)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:EducationalBackgroundDelete')">
						    			<i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
						    		</button>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addingEducBcgOpenDialog()" style="margin-left: 10px;" [disabled]="!global.checkaccess(':Employee:EducationalBackgroundPost')">
										<i class="material-icons">add</i> Add new (Educational attainment/background)
									</button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Eligibilities">
                    <mat-card *ngIf="tabbing===2">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display:none;">
                                            eligid
                                        </th>
                                        <th style="text-align: center;">
                                            DATE
                                        </th>
                                        <th style="text-align: center;">
                                            EXAMINATION
                                        </th>
                                        <th style="text-align: center;">
                                            RATING
                                        </th>
                                        <th style="text-align: center;">
                                            LICENSE NUMBER
                                        </th>
                                        <th style="text-align: center;">
                                            EXPIRATION DATE
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let eLt of EligTableArr">
                                        <td style="display:none;">{{eLt.eligibilityid}}</td>
                                        <td width="12%">{{eLt.datepassed}}</td>
                                        <td>{{eLt.examination}}</td>
                                        <td>{{eLt.rating}}</td>
                                        <td>{{eLt.licenseNumber}}</td>
                                        <td>{{eLt.expirationDate}}</td>
                                        <td style="text-align: center;">
                                            <button mat-raised-button color="primary" class="btnstyle" (click)="updateEligOpenDialog(eLt)" [disabled]="!global.checkaccess(':Employee:EligibilityPut')">
						    			<i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
						    		</button>
                                            <button mat-raised-button color="warn" (click)="deleteeligibility(eLt.eligibilityid)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:EligibilityDelete')">
						    			<i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
						    		</button>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addEligibilityOpenDialog()" style="margin-left: 10px;" [disabled]="!global.checkaccess(':Employee:EligibilityPost')">
			  							<i class="material-icons">add</i> Add new (Eligibility)
			  						</button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Work experiences">
                    <mat-card *ngIf="tabbing===3">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">

                                    <tr>
                                        <th style="display: none;">
                                            ID
                                        </th>
                                        <th style="text-align: center;">
                                            POSITION
                                        </th>
                                        <th style="text-align: center;">
                                            COMPANY NAME
                                        </th>
                                        <th style="text-align: center;">
                                            START DATE
                                        </th>
                                        <th style="text-align: center;">
                                            END DATE
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let wt of WorkTableArr">
                                        <td style="display: none;">{{wt.workid}}</td>
                                        <td>{{wt.position}}</td>
                                        <td>{{wt.companyname}}</td>
                                        <td width="12%">{{wt.startdate}}</td>
                                        <td width="12%">{{wt.enddate}}</td>
                                        <td style="text-align: center;">
                                            <button mat-raised-button color="primary" class="btnstyle" (click)="updateWEOpenDialog(wt)" [disabled]="!global.checkaccess(':Employee:WorkExperiencePut')">
						    			<i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
						    		</button>
                                            <button mat-raised-button color="warn" (click)="deleteWE(wt.workid)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:WorkExperienceDelete')">
						    			<i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
						    		</button>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addWEOpenDialog()" style="margin-left: 10px;" [disabled]="!global.checkaccess(':Employee:WorkExperiencePost')">
			  							<i class="material-icons">add</i> Add new (Work Experience)
			  						</button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

            </mat-tab-group>
        </div>
    </mat-card-content>

</mat-card>