.txtid {
    width: 100px;
}

.custom-pagination .page-number {
    display: inline-block;
    /* padding: 5px 12px; */
    background: #afffe6;
    margin: 0px 4px;
    border-radius: 25px;
}

.page-number.current {
    background: #ffffff!important;
    border: 2px solid #458873;
}

.page-number span {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}

.pagination-previous,
.pagination-next {
    display: inline-block;
    font-weight: bold;
}

.example-container {
    height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

.example-form {
    margin-right: 10px;
    height: 100%;
}

input {
    width: 148px;
}

.example-full-width {
    width: 100%;
}

.example-full-width2 {
    width: 169px;
}

.example-full-width3 {
    width: 60px;
}

.tblInfo {
    width: 100%;
}

.EmpInfoPanels,
.EmpRecPanels {
    display: block;
    margin-top: 25px;
}

.BasicInformationDisplay {
    width: 100%;
    display: block;
}

.mat-column-seminardescription,
.mat-column-companyname,
.mat-column-venue {
    flex: 0 0 22%;
}

.mat-column-startdate,
.mat-column-enddate,
.mat-column-trainingType,
.mat-column-dateConducted,
.mat-column-dateCompleted,
.mat-column-copyrightYear,
.mat-column-yearGraduated,
.mat-column-datepassed {
    flex: 0 0 11.33%;
}

#EmpIDPicNSig {
    display: block;
}

#info1stCol {
    float: left;
    //margin-top: -50px;
}

#info2ndCol {
    width: 125px;
    height: 185px;
}

#EmpPosition {
    margin-top: -20px;
}

#EmpIDnumber {
    margin-top: -5px;
    float: left;
}

#DTRIDnum {
    margin-top: 15px;
    margin-left: -64px;
    float: left;
    //margin-left: -25px;
}

#hr {
    margin-top: -10px;
}

#EmpPersonalInfo {
    display: inline;
    width: 100%
}

#tableCSS,
.tableCSS {
    height: 12px;
    text-align: left;
    background-color: #294a70;
    color: white;
}

#EPI22ndCol {
    width: 350px;
}

#offset {
    padding-left: 15px;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

::ng-deep .mat-card-header * {
    color: white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix {
    width: auto !important;
}

.btnLabel {
    margin: -1px 0 0 -9px;
    padding-left: 2px;
}

.btnLabel p {
    display: inline;
    font-size: 12px;
}

.btnLabel1 {
    margin: -1px 0 0 -5px;
    padding-left: 2px;
}

.btnLabel1 p {
    display: inline;
    font-size: 12px;
}

.updateBtn {
    padding: 0 0 0 0;
    border: 0;
    min-width: 30px;
    width: 35px;
    height: 35px;
}

.deleteBtn {
    padding: 0 0 0 0;
    border: 0;
    min-width: 30px;
    width: 35px;
    height: 35px;
}

.approveBtn {
    padding: 0 0 0 0;
    border: 0;
    min-width: 30px;
    width: 35px;
    height: 35px;
}

#childrenCSS {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#childrenCSS td,
#childrenCSS th {
    border: 1px solid #ddd;
    padding: 8px;
}

#childrenCSS tr:nth-child(even) {
    background-color: #f2f2f2;
}

#childrenCSS tr:hover {
    background-color: #ddd;
}

#childrenCSS th {
    padding-top: 8px;
    padding-bottom: 8;
    text-align: left;
    background-color: #294a70;
    color: white;
}

.btnstyle {
    font-size: 11px;
    width: 70px;
    min-width: 18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
    margin-left: 5px
}

#redbtn {
    background-color: #990000;
    color: white;
}