.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-full-width {
    width: 100%;
  }
  .example-full-width2 {
    width: 175px;
  }
  .example-full-width3 {
    width: 60px;
  }
  
  ::ng-deep .mat-card-header {
      background-color: #294a70 !important;
      padding: 15px 5px 5px 5px !important;
      color:white;
  }
  ::ng-deep .mat-card-header * {
      color:white;
  }
  
  ::ng-deep .mat-card {
      padding: 0 !important;
  }
  
  ::ng-deep .mat-card-content {
      padding: 15px !important;
  }
  
 
  
  .example-full-widthminus{
    width: calc(100% - 50px)
  }
  
  mat-header-cell:nth-child(1), mat-cell:nth-child(1),mat-header-cell:nth-child(3), mat-cell:nth-child(3),mat-header-cell:nth-child(4), mat-cell:nth-child(4){
      flex: 0 0 100px;
  }
  
 
  .btnstyle{
    font-size:11px;
    width: 70px;
    min-width:18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
    margin-left: 5px
  }
  .btn{
    font-size:11px;
    width: 120px;
    min-width:18px;
    line-height: 15px;
    height: 28px;
    padding: 0;
    margin-left: 5px
  }
  
  
  tr.example-detail-row {
    height: 0;
  }
  .mat-row:hover {
    background-color: rgb(180, 180, 180);
  }
  .transmutationTable tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  .transmutationTable tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .grid-container {
    margin: 10px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  .example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .codeCSS{
    width: 120px;flex: 0 0 auto;
  }
  .sectionCSS{
    width: 500px;flex: 0 0 auto;
  }

  .row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
    flex-direction: row;
  }
  
  .column1 {
    flex: 100%;
    padding: 5px;
    
  }
  
  .column2 {          
    flex: 50%;
    padding: 5px;
  
  }

  .apptable {
    overflow-x: scroll;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  
  }
  
  /* .field1, .field2 {
    width: 100%;
  } */
  
  @media screen and (min-width: 768px) {
    .field1 {
      width: 40%;
      margin-left: 20px;
      margin-right: 50px;
      height: 300px;
    }
    
    .field2 {
      width: 50%;
      height: 180px;
    }
  }
