<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>Official Receipt Manager</b>
        </mat-card-title>
        <mat-card-subtitle>asdadadadad</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class='colo'>
        <mat-divider></mat-divider>
        <mat-accordion class="example-headers-align">
            <br>

            <div>
                <!-- <mat-form-field style="width: 230px; margin-right: 20px;">
                    <input matInput placeholder="O.R Number*" [(ngModel)]="transNumber" (input)="search()">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field> -->

                <mat-form-field class="example-half-width">
                    <input autofocus matInput #ORnumber value="" placeholder="O.R Number" [(ngModel)]="transNumber"
                        (keydown)="keyDownFunction($event)" required="required">
                </mat-form-field>
                <!-- <button mat-mini-fab color="primary">
                    <mat-icon>search</mat-icon>
                </button> -->

                <button mat-raised-button color="primary" style="min-width: 10px;width: auto; margin-left: 20px;" *ngIf="ORinfoArray && !(ORinfoArray.data.officialReceiptHeader.posted === 1)" (click)="postORDialog()"> Post Official Receipt &nbsp;</button>
                <button mat-raised-button color="primary" style="min-width: 10px;width: auto; margin-left: 20px;" *ngIf="ORinfoArray && !(ORinfoArray.data.officialReceiptHeader.status === 1)" (click)="cancelledDialog()"> Cancel Official Receipt &nbsp;</button>
                
            

            </div>  

<!-- student info -->
            <div class="row">
                <div class="column1">

                    <div *ngIf="ORinfoArray">

                        <table>
                            <tr>
                                <td>
                                    <div *ngIf="ORinfoArray">

                                        <h2 style="margin: 0px">{{ ORinfoArray?.data?.studentInfo.name }}</h2>
                                        <div style="height: 5px"></div>
                                        <b style="font-size: 20px">{{ ORinfoArray?.data?.studentInfo.course }} - {{ ORinfoArray?.data?.studentInfo.yearOrGradeLevel }}</b>
                                    </div>
                                </td>
                            </tr>
                        </table>
         
                              <table style="width:100%">
                                  <tr>
                                      <td style="width:450px;padding-right: 20px">
                                      <table>
                                        <tr>
                                          <td style="width: 120px" valign="top">
                                            Gender:
                                          </td>
                                          <td style="width: calc(100% - 200px)">
                                            <b>{{ ORinfoArray?.data?.studentInfo.gender }}</b>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="width: 120px" valign="top">
                                            Section:
                                          </td>
                                          <td style="width: calc(100% - 200px)">
                                            <b>{{ ORinfoArray?.data?.studentInfo.section }}</b>
                                          </td>
                                        </tr>       
                                        <tr>
                                          <td style="width: 120px" valign="top">
                                            Department:
                                          </td>
                                          <td style="width: calc(100% - 200px)">
                                            <b>{{ ORinfoArray?.data?.studentInfo.department }}</b>
                                          </td>
                                        </tr>
                                      </table>
                                  </td> 
                                </tr>
                            </table>
                           

                            <br>
                            <div style="width: 100%;max-height: calc(100vh - 440px); overflow-y: scroll;">
                               

                                <style type="text/css">
                                    #users td{
                                        border: 0px solid #ddd;
                                        font-size: 12px
                                    }
                                    .schedule td{
                                        font-size: 12px
                                    }
                                </style>
                                <strong style="font-size: 14px">OFFICIAL RECEIPT INFORMATION:</strong>
                                <table class="apptable" id="users" border="0" style="max-width: 700px !important">
                                <tr>
                                </tr>
                                <tr>
                                  <td width="90px"><b>O.R Number:</b></td>
                                  <td width="150px">{{ORinfoArray?.data?.officialReceiptHeader.transNumber}}</td>
                                  <td width="90px"><b>O.R Date:</b></td>
                                  <td>{{ORinfoArray?.data?.officialReceiptHeader.transDate | date }}</td>
                                </tr>
                                <tr>
                                  <td width="90px"><b>ID Number:</b></td>
                                  <td>{{ORinfoArray?.data?.officialReceiptHeader.slidNumber}}</td>
                                  <td width="90px"><b>O.R Status:</b></td>
                                  <td>Printed: <mat-checkbox [checked]="isPrinted" disabled></mat-checkbox> Posted: <mat-checkbox [checked]="isPosted" disabled></mat-checkbox> Cancelled: <mat-checkbox [checked]="isCancelled" disabled></mat-checkbox></td>
                                </tr>
                                <tr>
                                    <td width="90px"><b>Cashier:</b></td>
                                    <td width="150px">{{ORinfoArray?.data?.officialReceiptHeader.userID}}</td>
                                    <td width="90px"><b>School Year:</b></td>
                                    <td>{{global.syDisplay(ORinfoArray?.data?.officialReceiptHeader.schoolYear)}}</td>
                                </tr>
                                <tr>
                                    <td width="150px"><b>Remarks:</b></td>
                                    <td colspan="3">{{ORinfoArray?.data?.officialReceiptHeader.remarks}}</td>
                                </tr>
                                
                              </table>
                              <br>
                                <strong style="font-size: 14px">DETAILS:</strong>
                                <table  class="apptable" id="users" border="0" style="max-width: 700px !important">
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td width="90px"><b>Particulars:</b></td>
                                        <td>{{ORinfoArray?.data?.officialReceiptDetails[0].particulars}}</td>

                                        <td width="90px"><b>Amount:</b></td>
                                        <td>{{ORinfoArray?.data?.officialReceiptDetails[0].amount | currency: ' ' }}</td>
                                    </tr>
                                    <tr>
                                        <td width="90px"><b>Remarks:</b></td>
                                        <td colspan="3">{{ORinfoArray?.data?.officialReceiptDetails[0].remarks}}</td>

                                    </tr>
                                   
                                </table>

                                
                              </div>


                        <!-- <div class="container">
                            <fieldset [class.field1]="true">
                                <legend>OR Information</legend>
                                <br>
                                <div class="example-container">
                                    <mat-form-field style="width: 200px; margin-right: 15px;" appearance="fill">
                                        <mat-label>O.R Number</mat-label>
                                        <input matInput type="text"
                                            [(ngModel)]="ORinfoArray.data?.officialReceiptHeader.transNumber" readonly>
                                    </mat-form-field>
                                    <mat-form-field style="width: 180px; margin-right: 15px;" appearance="fill">
                                        <mat-label>O.R Date</mat-label>
                                        <input matInput type="text"
                                            [ngModel]="ORinfoArray.data?.officialReceiptHeader.transDate | date"
                                            (ngModelChange)="ORinfoArray.data?.officialReceiptHeader.transDate = $event"
                                            name="transDate" placeholder="Transaction Date" readonly>
                                    </mat-form-field>
                                    <mat-form-field style="width: 200px; " appearance="fill">
                                        <mat-label>ID Number</mat-label>
                                        <input matInput type="text"
                                            [(ngModel)]="ORinfoArray.data?.officialReceiptHeader.slidNumber" readonly>
                                    </mat-form-field>

                                    <mat-form-field style="width: 250px; margin-right: 15px;" appearance="fill">
                                        <mat-label>Remarks</mat-label>
                                        <input matInput type="text"
                                            [(ngModel)]="ORinfoArray.data?.officialReceiptHeader.remarks" readonly>
                                    </mat-form-field>
                                    <label>Printed:</label> &nbsp; &nbsp;
                                    <mat-checkbox [checked]="isPrinted" disabled></mat-checkbox>
                                    &nbsp; &nbsp;&nbsp; &nbsp;<label>Posted:</label> &nbsp; &nbsp;
                                    <mat-checkbox [checked]="isPosted" disabled></mat-checkbox>
                                    &nbsp; &nbsp;&nbsp; &nbsp;<label>Cancelled:</label> &nbsp; &nbsp;
                                    <mat-checkbox [checked]="isCancelled" disabled></mat-checkbox>

                                    <mat-form-field style="width: 295px; margin-right: 15px;" appearance="fill">
                                        <mat-label>School Year</mat-label>
                                        <input matInput type="text"
                                            [(ngModel)]="ORinfoArray.data?.officialReceiptHeader.schoolYear" readonly>
                                    </mat-form-field>
                                    <mat-form-field style="width: 295px; " appearance="fill">
                                        <mat-label>Cashier</mat-label>
                                        <input matInput type="text"
                                            [(ngModel)]="ORinfoArray.data?.officialReceiptHeader.userID" readonly>
                                    </mat-form-field>

                                    <mat-form-field style="width: 200px; margin-right: 15px;" appearance="fill">
                                        <mat-label>Particulars</mat-label>
                                        <input matInput type="text"
                                            [(ngModel)]="ORinfoArray.data?.officialReceiptDetails[0].particulars"
                                            readonly>
                                    </mat-form-field>
                                    <mat-form-field style="width: 180px; margin-right: 15px;" appearance="fill">
                                        <mat-label>Amount</mat-label>
                                        <input matInput type="text"
                                            [(ngModel)]="ORinfoArray.data?.officialReceiptDetails[0].amount" readonly>
                                    </mat-form-field>
                                    <mat-form-field style="width: 200px; " appearance="fill">
                                        <mat-label>Remarks</mat-label>
                                        <input matInput type="text"
                                            [(ngModel)]="ORinfoArray.data?.officialReceiptDetails[0].remarks" readonly>
                                    </mat-form-field>
                                     
                                </div>
                            </fieldset>

                            <fieldset [class.field2]="true">
                                <legend>Student Information</legend>
                                <br>
                                <div class="example-container">
                                    <mat-form-field style="width: 350px; margin-right: 15px;" appearance="fill">
                                        <mat-label>Name</mat-label>
                                        <input matInput type="text" [(ngModel)]="ORinfoArray.data?.studentInfo.name"
                                            readonly>
                                    </mat-form-field>
                                    <mat-form-field style="width: 80px; margin-right: 15px;" appearance="fill">
                                        <mat-label>Gender</mat-label>
                                        <input matInput type="text" [(ngModel)]="ORinfoArray.data?.studentInfo.gender"
                                            readonly>
                                    </mat-form-field>
                                    <mat-form-field style="width: 300px;" appearance="fill">
                                        <mat-label>Course</mat-label>
                                        <input matInput type="text" [(ngModel)]="ORinfoArray.data?.studentInfo.course"
                                            readonly>
                                    </mat-form-field>

                                    <mat-form-field style="width: 110px; margin-right: 15px;" appearance="fill">
                                        <mat-label>Year</mat-label>
                                        <input matInput type="text" [(ngModel)]="ORinfoArray.data?.studentInfo.year"
                                            readonly>
                                    </mat-form-field>
                                    <mat-form-field style="width: 310px;  margin-right: 15px; " appearance="fill">
                                        <mat-label>Section</mat-label>
                                        <input matInput type="text" [(ngModel)]="ORinfoArray.data?.studentInfo.section"
                                            readonly>
                                    </mat-form-field>
                                    <mat-form-field style="width: 310px;" appearance="fill">
                                        <mat-label>Department</mat-label>
                                        <input matInput type="text"
                                            [(ngModel)]="ORinfoArray.data?.studentInfo.department" readonly>
                                    </mat-form-field>


                                </div>

                            </fieldset>
                        </div> -->

                    </div>
                </div>
            </div>

            <br>
            <div *ngIf="ORinfoArray">
                <strong style="font-size: 14px">SUBSIDIARY LEDGER</strong>
                <table class="apptable">
                    <thead>
                        <th>Reference No</th>
                        <th>Reference Date</th>
                        <th>Particulars</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>School Year</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of ORinfoArray.data?.officialReceiptARLedgers">
                            <td>{{element.refNo}}</td>
                            <td>{{element.refDate | date}}</td>
                            <td>{{element.particulars}}</td>
                            <td>{{element.amount | currency: ' '}}</td>
                            <td>{{element.transType}}</td>
                            <td>{{global.syDisplay(element.schoolYear)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </mat-accordion>


    </mat-card-content>
</mat-card>