#example-card-x {

	.redCell {
		background-color: #FF6863;
	}

	.example-form {
		min-width: 150px;
		max-width: 580px;
		width: 100%;
	}

	::ng-deep .mat-card-header {
		background-color: #294a70 !important;
		padding: 15px 5px 5px 5px !important;
		color: white;
	}

	::ng-deep .mat-card-header * {
		color: white;
	}

	::ng-deep .mat-card {
		padding: 0 !important;
	}

	::ng-deep .mat-card-content {
		padding: 15px !important;
	}

	mat-form-field {
		margin-bottom: -20px;
	}

	.custom-file-input::-webkit-file-upload-button {
		visibility: hidden !important;
	}

	.custom-file-input:active::before {
		background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
	}

	input[type='file'] {
		opacity: 0
	}

	.btnstyle {
		font-size: 11px !important;
		width: 70px !important;
		min-width: 18px !important;
		line-height: 15px !important;
		height: 28px !important;
		padding: 0 !important;
		margin-left: 5px !important
	}

	.green {
		background-color: green;
		color: green;
	  }
	  
	  button[disabled] {
		background-color: grey;
		cursor: not-allowed;
	  }

}