<input type="file" style="display: none" (change)="onFileChange($event)" multiple="false" #uploadthis />

<mat-card class="example-card" id="example-card-x" style="padding: 0">

    <mat-card-header>
        <mat-card-title><b>DTR Uploader</b></mat-card-title>
    </mat-card-header>

    <div style="width: 700px;">
        <br>
        <!-- <button mat-raised-button (click)="downloadExcel()" color="primary" class="btnstyle"
            style="min-width: 10px;width: 120px!important;margin-bottom: 10px">
            &nbsp;&nbsp;<i class="material-icons">cloud_download
            </i> <span style="margin-top: 7px"> Download File&nbsp;&nbsp;&nbsp;</span>
        </button> -->

        <button mat-raised-button (click)="uploadthis.click()" color="primary" class="btnstyle"
            style="min-width: 10px;width: 120px!important;margin-bottom: 10px">
            &nbsp;&nbsp;<i class="material-icons">cloud_upload
            </i> <span style="margin-top: 7px"> Upload File&nbsp;&nbsp;&nbsp;</span>
        </button>

        <button mat-raised-button (click)="upload()" color="primary" class="btnstyle"
            style="min-width: 10px;width: 120px!important;margin-bottom: 10px; float: right;"
            *ngIf="data.length != 0 && error == false && !loadingSpinner">
            &nbsp;&nbsp;<i class="material-icons">done_all
            </i> <span style="margin-top: 7px"> Upload to Server&nbsp;&nbsp;&nbsp;</span>
        </button>

        <table class="apptableSmall" *ngIf="data.length!=0">
            <tr>
                <th>
                    DTR ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Time Record
                </th>
            </tr>

            <ng-container *ngIf="!loadingSpinner;else second">
                <tr *ngFor="let array of data">

                    <td
                        [style.background-color]="array[1].includes('Unrecognized DTR ID') || (array[2] && array[2].includes('Invalid')) ? '#FF6863' : ''">
                        {{array[0]}}</td>
                    <td
                        [style.background-color]="array[1].includes('Unrecognized DTR ID') || (array[2] && array[2].includes('Invalid')) ? '#FF6863' : ''">
                        {{array[1]}}</td>
                    <td
                        [style.background-color]="array[1].includes('Unrecognized DTR ID') || (array[2] && array[2].includes('Invalid')) ? '#FF6863' : ''">
                        {{array[2]}}</td>
                </tr>
            </ng-container>
            <ng-template #second>
                <tr>
                    <td colspan="3" align="center">
                        {{percentageValue}}%
                        <mat-spinner></mat-spinner>
                    </td>
                </tr>
            </ng-template>
            

        </table>

    </div>
</mat-card>