


<table>
  <tr>
    <td colspan="2">
      <table>
        <tr>
          <td><h4>Upload picture:</h4></td>
          <td><input type="file" (change)="fileChangeEvent($event)" /></td>
        </tr>
      </table>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <image-cropper class="img-container"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          format="jpeg"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </td>
    <td>
      <img class="img-preview" [src]="croppedImage" />
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table>
        <tr>
          <td><h4>Upload signature:</h4></td>
          <td><input type="file" (change)="fileChangeEvent_sign($event)" /></td>
        </tr>
      </table>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <image-cropper class="img-container-sig"
          [imageChangedEvent]="imageChangedEvent_sign"
          [maintainAspectRatio]="true"
          [aspectRatio]="3.08 / 1"
          format="jpeg"
          (imageCropped)="imageCropped_sign($event)"
          (imageLoaded)="imageLoaded_sign()"
          (cropperReady)="cropperReady_sign()"
          (loadImageFailed)="loadImageFailed_sign()"
      ></image-cropper>
    </td>
    <td>
      <img class="img-preview-sig" [src]="croppedImage_sign" />
    </td>
  </tr>

</table>
<br>

<div mat-dialog-actions style="float: right">
  <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
<!-- <button (click)="getCroppedImage()">check cropped image</button> -->
