.img-container {
  width: 540px;
  height: 380px;
  float: left;
  border-style: ridge;
}

.img-preview {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 10px;
  border-style: ridge;
}
.img-container-sig {
  width: 540px;
  height: 180px;
  float: left;
  border-style: ridge;
}

.img-preview-sig {
  width: 200px;
  height: 70px;
  float: left;
  margin-left: 10px;
  border-style: ridge;
}
