<!-- <table>
  <tr>
    <td width="160">
      <img [src]="image" width="150" onError="this.src='assets/noimage.jpg'"/>
    </td>
    <td>
      <form class="example-form"  id="ngForm" #documentEditForm="ngForm">
  <table class="example-full-width" cellspacing="0">
  <tr>
    <td width="50%"><mat-form-field class="example-full-width2">
      <input autofocus matInput #idno2 placeholder="ID Number" [(ngModel)]="id" name="idno" (keydown)="keyDownFunction($event)" [disabled]="updatenamevar">

    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="studentlookup()">
      <mat-icon>search</mat-icon>
    </button></td>
  </tr>
  </table>

<div style="height: 10px"></div>
    <div style="height: 40px" *ngIf="!(lname!='')"></div>
<table *ngIf="lname!=''" >
  <tr>
    <td>
     <h2 style="margin: 0px" *ngIf="updatenamevar==false">{{lname}}, {{fname}} {{mname}} {{suffix}}</h2>
      <h3 style="margin-top: -2px">LR Number: {{lrno}}</h3>
      <button mat-raised-button color="primary"style="color:white;margin-bottom: 5px" class="buttondesign" (click)="Getdatab4pdf()">
        <i class="material-icons">edit</i>
          <span style="margin-top: 7px"> Enrollment Form&nbsp;&nbsp;</span>
      </button>
      <button mat-raised-button color="primary"style="color:white;margin-bottom: 5px" class="buttondesign" (click)="showClassSchedule()" *ngIf="global.domain == 'COLLEGE'">
        <i class="material-icons">calendar_today</i>
          <span style="margin-top: 7px"> Class Schedule&nbsp;&nbsp;</span>
      </button>
      <button mat-raised-button color="primary"style="color:white;margin-bottom: 5px" class="buttondesign" (click)="showBasicEdClassSchedule()" *ngIf="global.domain == 'HIGHSCHOOL'">
        <i class="material-icons">calendar_today</i>
          <span style="margin-top: 7px"> Class Schedule&nbsp;&nbsp;</span>
      </button>
  <button mat-raised-button color="primary"style="color:white;margin-bottom: 5px" class="buttondesign" (click)="openRegistrarCertificationComponent()" *ngIf="global.checkaccess(':Student:EnrolledSubjectsCertificationGet')">
        <i class="material-icons">assignment</i>
          <span style="margin-top: 7px"> Registrar Certification&nbsp;&nbsp;</span>
      </button>
  <table cellspacing="0"   *ngIf="updatenamevar==true"><tr>
    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="First Name" [(ngModel)]="fname" name="fname" required autocomplete="off">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="Middle Name" [(ngModel)]="mname" name="mname" autocomplete="off">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width2">
      <input matInput placeholder="Last Name" [(ngModel)]="lname" name="lname" required autocomplete="off">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width3">
      <input matInput placeholder="Suffix" [(ngModel)]="suffix" name="suffix" autocomplete="off" >
    </mat-form-field></td>
  </tr>
</table>

    </td>
    <td valign="top"><i class="material-icons" (click)="updatename()" style="color: #294a70"   *ngIf="updatenamevar==false&&global.checkaccess(':Student:PersonStudInfoPut')">edit</i>

         <button mat-raised-button color="primary"style="width: 75px;color:white;margin-bottom: 5px" class="buttondesign" (click)="updatenameapi()" *ngIf="updatenamevar==true"><i class="material-icons" >edit
                    </i>
                    <span style="margin-top: 7px"> Update&nbsp;&nbsp;</span></button>

          <button mat-raised-button style="width: 75px;background-color:#990000;color:white;" class="buttondesign" (click)="updatename()" *ngIf="updatenamevar==true"><i class="material-icons">close
                    </i>
                    <span style="margin-top: 7px"> Cancel&nbsp;&nbsp;</span></button>
    </td>
  </tr>
</table>
<div style="height: 20px"></div>

</form>
    </td>
  </tr>
</table>
   -->


<!-- ------------------------------------------------ -->

<!-- <tr *ngFor="let assessment of ArrParticulars">
          <td>{{assessment.particulars}}</td>
        </tr> -->

<!-- <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select [(ngModel)]="department">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

<button (click)="Test()">Test</button>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><b>Collections</b>
    </mat-card-title>
  </mat-card-header>


  <div style="width: 65%; align-content: center;">

    <mat-card-content class='colo'>
      <mat-divider></mat-divider>
      <mat-accordion class="example-headers-align">


        

<!--        
        <div>
        <table>
          <tr>
            <td width="40px">
              <img [src]="image" width="110px" onError="this.src='assets/noimage.jpg'" />
            </td>
            <td>
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td width="250px" style="font-size: 14px;">
                    <mat-form-field class="example-full-widthminus">
                      <input autofocus matInput #idno2 [placeholder]="idNumber ? '' : 'ID Number'" [(ngModel)]="idNumber"
                        name="idno" required="required" (keydown)="keyDownFunction($event)" maxlength="7">
                    </mat-form-field>
                    <button mat-mini-fab color="primary" (click)="studentlookup()">
                      <mat-icon>search</mat-icon>
                    </button>
                  </td>      
                </tr>
              </table>

              
              <h3 *ngIf="name!=''" style="margin: 0px; font-size: 15px;">{{name}} | {{course | uppercase}}-{{year}}</h3>
              <h3 *ngIf="name!=''" style="margin: 0px; font-size: 15px;">ADDRESS</h3>
              <h3 *ngIf="name!=''" style="margin: 0px; font-size: 15px;">juandelacruz@gmail.com</h3>
              <h3 *ngIf="name!=''" style="margin: 0px; font-size: 15px;">09123456789</h3>
            </td>
          </tr>
        </table>
<mat-divider></mat-divider>

<table class="apptable">

  <tr>
      <th style="text-align: center;">Degree/Title</th>
      <th style="text-align: center;">Major</th>
      <th style="text-align: center;">Date of Graduation</th>
      <th style="text-align: center;">S.O. Number</th>
      <th style="text-align: center;">Awards</th>
      <th style="text-align: center;">NSTP Serial No.</th>
      <th style="text-align: center;">Evaluation</th>
      <th style="text-align: center;">Clearance</th>
      <th style="text-align: center;">-Action-</th>
  </tr>
  <tr *ngFor="let due of arrDues">
     <td>
      {{due.description}}
     </td>
     <td>
      GG
     </td>
     <td>
      GG
     </td>
     <td>
      GG
     </td>
     <td>
      GG
     </td>
     <td>
      GG
     </td>
     <td>
      GG
     </td>
     <td>
      GG
     </td>
     <td style="text-align: center;">
      <button mat-raised-button color="primary" class="btnstyle" (click)="updateChildrenOpenDialog(c)">
<i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
</button>
      <button mat-raised-button color="warn" (click)="deleteChild(c)" class="btnstyle">
<i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
</button>
  </td>
  </tr>
</table>

<button mat-raised-button (click)="eval()" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;float: right; margin-top: 7px; margin-bottom: 7px; margin-right: 6px;">
    &nbsp;&nbsp;<i class="material-icons">add
    </i> <span style="margin-top: 7px"> Add Graduate Record&nbsp;&nbsp;&nbsp;</span></button>
  </div>
     -->
  <!-- <table>
      <mat-tab-group style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 10px; display: flex; justify-content: center; align-items: center;">
        <mat-tab label="Baccalaureate" style="background-color: #fff; padding: 10px;">
          <td>
            <fieldset style="height: auto; width: auto;">
              <legend>Remarks</legend>
              <h3 style="margin-top: 5px;">
                GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
              </h3>              
            </fieldset>
          </td>
        </mat-tab>
        <mat-tab label="Masteral" style="background-color: #fff; padding: 10px;">
          <td>
            <fieldset style="height: auto; width: auto;">
              <legend>Remarks</legend>
              <h3 style="margin-top: 5px;">
                GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
              </h3>              
            </fieldset>
          </td>
        </mat-tab>
        <mat-tab label="Doctoral" style="background-color: #fff; padding: 10px;">
          <td>
            <fieldset style="height: auto; width: auto;">
              <legend>Remarks</legend>
              <h3 style="margin-top: 5px;">
                GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
              </h3>              
            </fieldset>
          </td>
        </mat-tab>
        <mat-tab label="College" style="background-color: #fff; padding: 10px;">
          <td>
            <fieldset style="height: auto; width: auto;">
              <legend>Remarks</legend>
              <h3 style="margin-top: 5px;">
                GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
              </h3>              
            </fieldset>
          </td>
        </mat-tab>
        <mat-tab label="Pre-Baccalaureate" style="background-color: #fff; padding: 10px;">
          <td>
            <fieldset style="height: auto; width: auto;">
              <legend>Remarks</legend>
              <h3 style="margin-top: 5px;">
                GRADUATED - Bachelor of Science in Computer Science as of June 18, 2022 as per Special Order (B) No.50-464101-001-B1
                Series 2022. OTR issued on July 4, 2022. <br><br>NSTP SERIAL NO. C-02-18068-20
              </h3>              
            </fieldset>
          </td>
        </mat-tab>
      </mat-tab-group>
  </table> -->


<mat-divider></mat-divider>
       
        <!-- student info -->
        <table>
          <tr>
            <td width="40px">
              <img [src]="image" width="110px" onError="this.src='assets/noimage.jpg'" />
              <!-- <h3
                style="text-align: center;font-size: 6px; background-color: #294a70;color: white;padding: 3px 6px 3px 6px;border-radius:5px; margin-top: 4px;">
                {{status | uppercase}}
              </h3> -->
            </td>
            <td>
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td width="250px" style="font-size: 14px;">
                    <mat-form-field class="example-full-widthminus">
                      <input autofocus matInput #idno2 [placeholder]="idNumber ? '' : 'ID Number'" [(ngModel)]="idNumber"
                        name="idno" required="required" (keydown)="keyDownFunction($event)" maxlength="7">
                    </mat-form-field>
                    <button mat-mini-fab color="primary" (click)="studentlookup()">
                      <mat-icon>search</mat-icon>
                    </button>
                  </td>      
                  
                  <div>
                  <td style="font-size: 14px;" *ngIf="name !=''">
                    <mat-form-field  style="width: 68px;   margin-left:-27px;">
                    <mat-label style="font-size: 10px;">Level</mat-label>
                    <mat-select [(ngModel)]="proglevel" style="font-size: 14px;">
                      <mat-option [value]="'Elem'">Elem</mat-option>
                      <mat-option [value]="'HS'">HS</mat-option>
                      <mat-option [value]="'College'">College</mat-option>
                      <mat-option [value]="'GS'">GS</mat-option>
                    </mat-select>
                  </mat-form-field>
                  </td>

                  <td style="font-size: 14px;" *ngIf="proglevel =='College' || proglevel =='GS' && name !=''">
                    <mat-form-field  style="width: 76px;  ">
                    <mat-label style="font-size: 10px;">Semester</mat-label>
                    <mat-select [(ngModel)]="term" (selectionChange)="setschoolyear()" style="font-size: 14px;">
                      <mat-option [value]="'1'">1st Sem</mat-option>
                      <mat-option [value]="'2'">2nd Sem</mat-option>
                      <mat-option [value]="'3'">Summer</mat-option>
                    </mat-select>
                  </mat-form-field>
                  </td>

                  <td *ngIf="name !=''">
                    <mat-form-field  style="width: 87px;">
                    <mat-label style="font-size: 10px;">School Year</mat-label>
                    <div style="display: flex;">
                      <input matInput [(ngModel)]="y1" type="number" min="1900" max="2999"
                        (click)="yearchange1(); setschoolyear()" (ngModelChange)="setschoolyear()"  style="font-size: 13px;">
                      <input matInput [(ngModel)]="y2" type="number" min="1900" max="2999"
                        (click)="yearchange2(); setschoolyear()" (ngModelChange)="setschoolyear()"  style="font-size: 13px;">
                    </div>
                  </mat-form-field>
                  </td>
                </div>
                  <!-- <td *ngIf="name !=''">
                    <mat-form-field  style="height: 10px;">
                      <mat-label style="font-size: 10px;">Level</mat-label>
                      <mat-select [(ngModel)]="proglevel" style="font-size: 15px; height: 20px;">
                        <mat-option [value]="'Elem'">Elem</mat-option>
                        <mat-option [value]="'HS'">HS</mat-option>
                        <mat-option [value]="'College'">College</mat-option>
                        <mat-option [value]="'GS'">GS</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>                  
                  <td *ngIf="proglevel =='College' || proglevel =='GS' && name !=''" style="float: right;">
                    <mat-form-field style="width: 102px" >
                      <mat-label style="text-align: center;">Semester</mat-label>
                      <mat-select [(ngModel)]="term" (selectionChange)="setschoolyear()">
                        <mat-option [value]="'1'">1st Sem</mat-option>
                        <mat-option [value]="'2'">2nd Sem</mat-option>
                        <mat-option [value]="'3'">Summer</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td *ngIf="name !=''">
                    <mat-form-field style="width: 116px"  style="float: right;">
                      <mat-label style="text-align: center;">School Year</mat-label>
                      <div style="display: flex;">
                        <input matInput [(ngModel)]="y1" type="number" min="1900" max="2999"
                          (click)="yearchange1(); setschoolyear()" (ngModelChange)="setschoolyear()">
                        <input matInput [(ngModel)]="y2" type="number" min="1900" max="2999"
                          (click)="yearchange2(); setschoolyear()" (ngModelChange)="setschoolyear()">
                      </div>
                    </mat-form-field>
                  </td>            -->
                </tr>
              </table>
              <!-- <table>
                <tr>

                </tr>
              </table> -->

              <div *ngIf="name!=''">
              <button mat-raised-button color="primary" style="color:white;margin-bottom: 5px" (click)="Assessment()" class="sksksksk">
                <i class="material-icons" id="icon">assessment</i>
                <span style="margin-top: 7px"> Assessment&nbsp;&nbsp;</span>
              </button>
              <button mat-raised-button color="primary" style="color:white;margin-bottom: 5px" (click)="Ledger()" class="sksksksk">
                <i class="material-icons" id="icon">library_books</i>
                <span style="margin-top: 7px"> A\R Ledger&nbsp;&nbsp;</span>
              </button>
              <button mat-raised-button color="primary" style="color:white;margin-bottom: 5px"(click)="Miscellaneous()" class="sksksksk">
                <i class="material-icons" id="icon">inbox</i>
                <span style="margin-top: 7px"> Miscellaneous&nbsp;&nbsp;</span>
              </button>
              <button mat-raised-button color="primary" style="color:white;margin-bottom: 5px" (click)="Subjects()" class="sksksksk">
                <i class="material-icons" id="icon">subject</i>
                <span style="margin-top: 7px;"> Subjects&nbsp;&nbsp;</span>
              </button>
            </div>

              
              <h3 *ngIf="name!=''" style="margin: 0px; font-size: 15px;">{{name}} | {{course | uppercase}}-{{year}}</h3>
              <!-- <span *ngIf="name!=''"><b>Grants:Notes:</b></span> -->
              <div></div>
              <span [style.color]="getStatusColor(status)">
                <b style="font-size: 14px;">{{status | uppercase}}</b>
              </span>
              <div></div>
            </td>
          </tr>
        </table>
        <mat-divider></mat-divider>

        <!-- ------------------------------------------------------------------ -->
<!-- 
        <ng-container *ngIf="name">
          <hr style="border-top: 1px solid rgb(126, 125, 125); margin: 20px 0;">
        </ng-container> -->

        <!-- <mat-expansion-panel [expanded]="true" *ngIf="name !=''">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 style="font-size: medium;">CASHIER: GLENN</h3>
            </mat-panel-title>
          </mat-expansion-panel-header> -->

          <!-- <tr style="float: center;">
            <td style="padding-left: 10px;">
              <button mat-raised-button color="primary" (click)="Assessment()">
                <i class="material-icons">assessment</i> Assessment
              </button>
            </td>
            <td style="padding-left: 10px;">
              <button mat-raised-button color="primary" (click)="Ledger()">
                <i class="material-icons">library_books</i> A\R Ledger
              </button>
            </td>
            <td style="padding-left: 10px;">
              <button mat-raised-button color="primary" (click)="Miscellaneous()">
                <i class="material-icons">inbox</i> Miscellaneous
              </button>
            </td>
            <td style="padding-left: 10px;">
              <button mat-raised-button color="primary" (click)="Subjects()">
                <i class="material-icons">subject</i> Subjects
              </button>
            </td>
          </tr> -->

          <div class="row" *ngIf="name!=''">
            <div style="width: 100%;padding: 10px;">

              <div>
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Official Receipt</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <table class="apptable">
                    <tr>
                      <td>OR Number</td>
                      <td>{{ or }}</td>
                    </tr>
                    <tr>
                      <td>OR Date</td>
                      <td>{{ ordate }}</td>
                    </tr>
                    <tr>
                      <td>Check Number</td>
                      <td>12345</td>
                    </tr>
                    <tr>
                      <td>Check Date</td>
                      <td>03/06/2023</td>
                    </tr>
                    <tr>
                      <td>Bank</td>
                      <td>123456590</td>
                    </tr>
                  </table>
                </mat-card-content>
              </mat-card>
            </div>
              <div style="height: 5px"></div>
              

              <mat-card>
                <mat-card-header>
                  <mat-card-title>A/R Collection</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <table class="apptable">
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td>Total Balance</td>
                      <td>{{ totalDues | currency:' ' }}</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td>Previous Balance</td>
                      <td>{{ totalprevBalance | currency:' ' }}</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td>Entrance Fee</td>
                      <td>{{ entrancestatus === 0.00 ? 'CLEARED' : entrancestatus | currency:' ' }}</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td>Tuition: {{ currentStatus === 0.00 ? 'CLEARED' : currentStatus }}</td>
                      <td>{{ amountDue | currency:' ' }}</td>
                    </tr>
                  </table>
                </mat-card-content>
              </mat-card>
              <div style="height: 5px"></div>
              
            </div>













            <div style="width: 330px;padding: 10px;">
              <fieldset style="width: 400px;">
                <legend>Other Collection</legend>


                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Education-Related Fees</mat-label>
                  <input type="text" placeholder="Enter Fee Particulars" aria-label="Fee particulars" matInput
                    [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="particulars">
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                    <mat-option *ngFor="let a of filteredParticulars | async" [value]="a.particulars">
                      {{a.particulars}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-card>
                  <mat-card-content>
                    <table class="balance-table">
                      <!-- <tr *ngFor="let due of arrDues">
                        <td><b>{{due.description}}</b></td>
                        <td>{{ due.status }}</td>
                        <td style="text-align: center;"><b>{{ due.dueDate | date }}</b></td>
                      </tr> -->

                      <tr>
                        <th>{{Entrance}}</th>
                        <td>{{ EntranceStatus === 0.00 ? 'CLEARED' : EntranceStatus | currency:' ' }}</td>
                      </tr>
                      <tr>
                        <th>{{Prelims1st}}</th>
                        <td>{{ Prelims1stStatus === 0.00 ? 'CLEARED' : Prelims1stStatus | currency:' ' }}</td>
                      </tr>
                      <tr>
                        <th>{{Midterms2nd}}</th>
                        <td>{{ Midterms2ndStatus === 0.00 ? 'CLEARED' : Midterms2ndStatus | currency:' ' }}</td>
                      </tr>
                      <tr *ngIf="proglevel =='Elem' || proglevel =='HS'">
                        <th >{{Grading3rd}}</th>
                        <td>{{ Grading3rdStatus === 0.00 ? 'CLEARED' : Grading3rdStatus | currency:' ' }}</td>
                      </tr>
                      <tr>
                        <th>{{Finals}}</th>
                        <td>{{ FinalsStatus === 0.00 ? 'CLEARED' : FinalsStatus | currency:' ' }}</td>
                      </tr>
                    <tr>
                      <th>Total</th>
                      <td>{{totalDues | currency:' '}}</td>
                    </tr>
<!-- 
                      <tr>
                          <th>Entrance Fee</th>
                          <td>{{ entrancestatus === 0.00 ? 'CLEARED' : entrancestatus | currency:' ' }}</td>
                        </tr> 
                        <tr>
                          <th>Prelims</th>
                          <td>{{ statusprelim === 0.00 ? 'CLEARED' : statusprelim | currency:' ' }}</td>
                        </tr>
                        <tr>
                          <th>Midterms</th>
                          <td>{{ statusmidterm === 0.00 ? 'CLEARED' : statusmidterm | currency:' ' }}</td>
                        </tr>
                        <tr>
                          <th>Finals</th>
                          <td>{{ statusfinals === 0.00 ? 'CLEARED' : statusfinals | currency:' ' }}</td>
                        </tr>
                       <tr>
                        <th>Total</th>
                        <td>{{totalDues | currency:' '}}</td>
                      </tr> -->
                    </table>

                    <div style="display: flex; justify-content: center; align-items: center; margin-top: 16px;">
                      <mat-button-toggle-group>
                        <mat-button-toggle matTooltip="Pay with Cash" class="toggle-button">
                          <mat-icon class="toggle-icon">attach_money</mat-icon>
                          <span class="toggle-label">Cash</span>
                        </mat-button-toggle>
                        <mat-button-toggle matTooltip="Pay with Cheque" class="toggle-button">
                          <mat-icon class="toggle-icon">payment</mat-icon>
                          <span class="toggle-label">Cheque</span>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>


                    <div style="display: flex; justify-content: center; align-items: center; margin-top: 16px;">
                      <div class="payment-container;">
                        <mat-form-field appearance="fill">
                          <mat-label style="text-align: center;">Amount Received:</mat-label>
                          <input matInput type="number" [(ngModel)]="paymentAmount">
                        </mat-form-field>
                      </div>
                      <div class="payment-container;">
                        <mat-form-field appearance="fill">
                          <mat-label>Amount Change:</mat-label>
                          <input matInput type="number" [(ngModel)]="paymentAmount">
                        </mat-form-field>
                      </div>

                    </div>

                    <div style="display: flex; justify-content: center; margin-top: 20px;">
                      <button mat-raised-button color="primary" (click)="printBill()" style="width: 150px;">
                        <mat-icon>print</mat-icon> Print Bill
                      </button>
                    </div>
                  </mat-card-content>
                </mat-card>

                <div style="height: 5px"></div>
              </fieldset>
            </div>

          </div>

        <!-- </mat-expansion-panel> -->

      </mat-accordion>
    </mat-card-content>
  </div>
</mat-card>

<!-- <div style="width: 330px;padding: 10px;">
  <fieldset>
    <legend>Official Receipt</legend>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Release Date:</mat-label>
      <input readonly matInput>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>


    <button mat-raised-button
      style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; background-color:#006600;color: white;">
      &nbsp;&nbsp;<i class="material-icons">update</i>
      <span style="margin-top: 7px"> Update release info&nbsp;&nbsp;&nbsp;</span>
    </button>
    <div style="height: 5px"></div>
  </fieldset>
</div> -->

<!-- <mat-card>
        <mat-card-content>
          <div class="mat-display-1">Balance Information</div>
          <div class="mat-body-1">
            <mat-label>Total Balance:</mat-label>
            <mat-label>{{ totalBalance }}</mat-label>
          </div>
          <div class="mat-body-1">
            <mat-label>Previous Balance:</mat-label>
            <mat-label>{{ previousBalance }}</mat-label>
          </div>
          <div class="mat-body-1">
            <mat-label>Entrance Fee:</mat-label>
            <mat-label>{{ entranceFee }}</mat-label>
          </div>
          <div class="mat-body-1">
            <mat-label>Tuition Fee:</mat-label>
            <mat-label>{{ tuitionFee }}</mat-label>
          </div>
          <div class="mat-body-1">
            <mat-label>Dorm Fee:</mat-label>
            <mat-label>{{ dormFee }}</mat-label>
          </div>
        </mat-card-content>
      </mat-card>
       -->




<!-- OLD DESIGN -->
<!-- <table style="margin: 0px; padding: 0px;">


        <tr>
          <td width="160" rowspan="2">
            <img [src]="image" width="150" onError="this.src='assets/noimage.jpg'" />
          </td>

          
    
          <div>
            <td style="margin-top: 15px;">
              <fieldset style="flex: 1; padding-right: 10px;">
                <legend>BARCODE</legend>
                <mat-form-field class="example-half-width">
                  <input autofocus matInput #idno2 value="" [(ngModel)]="idNumber" name="idno" required="required"
                    (keydown)="keyDownFunction($event)" maxlength="7">
                </mat-form-field>
                <button mat-mini-fab color="primary" (click)="studentlookup()">
                  <mat-icon>search</mat-icon>
                </button>
              </fieldset>
            </td>
         
            <td *ngIf="name !=''">
            <mat-form-field style="width: 93px;" appearance="outline">
              <mat-label>Level</mat-label>
              <mat-select [(ngModel)]="proglevel">
                <mat-option [value]="'Elem'">Elem</mat-option>
                <mat-option [value]="'HS'">HS</mat-option>
                <mat-option [value]="'College'">College</mat-option>
                <mat-option [value]="'GS'">GS</mat-option>
              </mat-select>
            </mat-form-field>
          </td>   

        <td *ngIf="proglevel =='College' || proglevel =='GS'">
          <mat-form-field style="width: 102px" appearance="outline">
            <mat-label style="text-align: center;">Semester</mat-label>
            <mat-select [(ngModel)]="term" (selectionChange)="setschoolyear()">
              <mat-option [value]="'1'">1st Sem</mat-option>
              <mat-option [value]="'2'">2nd Sem</mat-option>
              <mat-option [value]="'3'">Summer</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        
        <td *ngIf="name !=''">
          <mat-form-field style="width: 116px" appearance="outline">
            <mat-label style="text-align: center;">School Year</mat-label>
            <div style="display: flex;">
               <input matInput [(ngModel)]="y1" type="number" min="1900" max="2999" (click)="yearchange1(); setschoolyear()" (ngModelChange)="setschoolyear()">
              <input matInput [(ngModel)]="y2" type="number" min="1900" max="2999" (click)="yearchange2(); setschoolyear()" (ngModelChange)="setschoolyear()">
             

          </div>            
          </mat-form-field>
        </td>
               
        </div>

      
        </tr>

        <tr>
          <td *ngIf="name !=''">
            <fieldset style="height: auto; width: auto;">
              <legend>Full Name</legend>
              <h3 style="margin-top: 5px;">{{name}}</h3>
            </fieldset>
          </td>
          <td *ngIf="name !=''">
            <fieldset style="height: auto; width: auto;">
              <legend>Course</legend>
              <h3 style="margin-top: 5px;">{{course}}</h3>
            </fieldset>
          </td>
          <td *ngIf="name !=''">
            <fieldset style="height: auto; width: auto;">
              <legend>Year</legend>
              <h3 style="margin-top: 5px;">{{year}}</h3>
            </fieldset>
          </td>
        </tr>

        <tr>
          <td style="text-align: center;" *ngIf="name !=''">
            <fieldset style="height: auto; width: auto;">
              <legend style="display: flex; align-items: center;">
                <mat-label>Status</mat-label>
              
              </legend>
              <h3
                style="float: center;font-size: 15px; background-color: #294a70;color: white;padding: 3px 6px 3px 6px;border-radius:5px; margin-top: 4px;">
                {{status | uppercase}}</h3>
            </fieldset>
          </td>
          
         <td *ngIf="name !=''">
            <fieldset style="height: auto; width: auto;">
              <legend>Address</legend>
              <h3 style="margin-top: 5px;">{{address}}</h3>
            </fieldset>
          </td> 
         <td *ngIf="name !=''">
            <fieldset style="height: auto; width: auto;">
              <legend>ID Number</legend>
              <h3 style="margin-top: 5px;">{{idno}}</h3>
            </fieldset>
          </td> 
         <td *ngIf="name !=''">
            <fieldset style="height: auto; width: auto;">
              <legend>Gender</legend>
              <h3 style="margin-top: 5px;">{{gender}}</h3>
            </fieldset>
          </td> 

        </tr>
        <tr>
          <td colspan="2" *ngIf="name !=''">
            <fieldset style="height: auto; width: auto;">
              <legend>Grant</legend>
              <h3 style="margin-top: 5px;"></h3>
            </fieldset>
          </td>
          <td colspan="2" *ngIf="name !=''">
            <fieldset style="height: auto; width: auto;">
              <legend>Notes</legend>
              <h3 style="margin-top: 5px;"></h3>
            </fieldset>
          </td>
        </tr>
      </table> -->
<!-- ---------------------- -->