<mat-card class="example-card">
    <mat-card-content class='colo'>
        <mat-form-field style="width: 200px" *ngIf="this.global.domain==='HIGHSCHOOL'">
            <mat-label>Sub Level</mat-label>
            <mat-select [(ngModel)]="sublevel" (selectionChange)="onChangeSubLevel($event)" [disabled]="disableSubLevel">
                <mat-option value="Junior High" *ngIf="this.global.viewdomainname.includes('HS')">Junior High</mat-option>
                <mat-option value="Senior High"*ngIf="this.global.viewdomainname.includes('HSS')">Senior High</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 200px">
            <mat-label>Requirement to Clear</mat-label>
            <mat-select [(ngModel)]="reqToClear" (selectionChange)="onChange($event)" [disabled]="disableReqToClear">
                <mat-option value=1>Proof of Payment</mat-option>
                <mat-option value=2>Birth Certificate</mat-option>
                <mat-option value=3>ID Picture</mat-option>
                <mat-option value=4>Signature</mat-option>
                <mat-option value=5>Report Card</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-card style="width: 550px;" *ngIf="reqToClear != 0">
            <mat-card-header>
                <mat-card-title> Records Cleared: {{recordCleared}} / {{listCount}} </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="center" *ngIf="IsWait">
                    <div style="position:relative; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;"
                        *ngIf="IsWait">
                        <mat-progress-spinner style="width: 100px;height: 100px;position: absolute;top: 0;left: 0;"
                            [color]="'primary'" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <h3>{{timeLeft}}</h3>
                    </div>
                </div>

                <div style="text-align: center; margin-bottom: -20px; padding-bottom: -20px;  color: green;"
                    *ngIf="student != ''">
                    <p style="font-weight: bold; font-size: 14px;">
                        Clearing: <b>{{student}}</b> 's {{reqToClearName}}.
                    </p>
                </div>

            </mat-card-content>
            <mat-card-footer *ngIf="timeLeft != 0">
                <mat-divider></mat-divider>
                <div style="margin-right:20px; display: block; text-align: center; padding: 10px;"
                    *ngIf="global.checkaccess(':Maintenance:PreEnrolledStudentPut')">
                    <button mat-raised-button color="primary" (click)='swalConfirm()'>Start</button> &nbsp;
                    <button mat-raised-button color="primary" (click)='pauseTimer()'
                        [disabled]="disablePauseBtn">Pause</button> &nbsp;
                    <button mat-raised-button color="primary" (click)='resetTimer()'
                        [disabled]="disableResetBtn">Reset</button>
                </div>
            </mat-card-footer>
        </mat-card>        
        <div style="height: 10px;"></div>
    </mat-card-content>
</mat-card>