.codered{
	background-color: red !important;
	color: white !important;
}

.codered:hover{
	background-color: red !important;
	color: white !important;

}

.codeorange{
	background-color: orange !important;
	color: white !important;
}

.codeorange:hover{
	background-color: orange !important;
	color: white !important;

}

.codegray{
	background-color: rgb(123, 123, 123) !important;
	color: white !important;
}

.codegray:hover{
	background-color: rgb(123, 123, 123) !important;
	color: white !important;

}
