<mat-card class="example-card" id="example-card-x" style="padding: 0;">
    <mat-card-header>
        <mat-card-title><b *ngIf="checkIfActionIsString()">{{action}}</b><b *ngIf="!checkIfActionIsString()"> Edit
                Schedule</b></mat-card-title>
    </mat-card-header>


    <!-- subject -->
    <div style="padding-left: 12px; padding-right: 12px; height: 500px; overflow: auto; position: relative; display: flex; flex-direction: column;"
        *ngIf="action == 'Add Code'">

        <div style="display: flex; width: 100%;">
            <mat-form-field appearance="outline" style="margin-top: 10px; width: 50%;">
                <mat-label>Code Number</mat-label>
                <input matInput (keyup)="keyDownFunctionForCode($event)" [(ngModel)]="codeString">
            </mat-form-field>

            <div style="margin-left: 4px; margin-top: 20px; width: 12%; margin-left: auto; margin-right: 3px;">
                <mat-form-field style="width: 100%;">
                    <mat-label style="font-size: small;">Class Size</mat-label>
                    <input type="number" aria-label="Number" matInput id="roomInputRef" [(ngModel)]="classSize"
                        (wheel)="mouseWheel()">
                </mat-form-field>
            </div>
            <!-- <div style="margin-left: 4px; margin-top: 20px; width: 7%; margin-right: 3px;">
                <mat-form-field style="width: 100%;">
                    <mat-label style="font-size: small;">LabUnits</mat-label>
                    <input type="number" aria-label="Number" matInput id="roomInputRef" [ngModel]="labUnits"
                        (wheel)="mouseWheel()">
                </mat-form-field>
            </div> -->
            <div style="margin-left: 4px; margin-top: 20px; width: 12%;">
                <mat-form-field style="width: 100%;">
                    <mat-label style="font-size: small;">Gender</mat-label>
                    <mat-select [(value)]="gender">
                        <mat-option value="M">M</mat-option>
                        <mat-option value="F">F</mat-option>
                        <mat-option value="">M/F</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <br>
        <div id="your-div-id" [style.margin-bottom.px]="searchData.length > 0 ? 107 : 100">
            <mat-form-field appearance="outline" id="loadData"
                style="margin-top: 5px; width: calc(100% - 24px); position: absolute; background-color: #ffffff; z-index: 999;"
                (click)="onInput()">
                <mat-label style="margin-left: 27px;">Course&nbsp;</mat-label>
                <div style="display: flex;">
                    <mat-chip-list *ngIf="selectedCourse.length != 0" [@fadeInOut]>
                        <mat-chip
                            style="display: flex; align-items: center; user-select: none; padding-top: 21px; padding-bottom: 18px;"
                            matToolTip="selectedCourse[0][1]">
                            <div>
                                <div style="display: flex; width: 100%; margin-top: 5px;">
                                    <div style="white-space: nowrap; margin-right: 10px; font-weight: bold;">
                                        {{selectedCourse[0][0]}}
                                    </div>
                                    <div
                                        style="white-space: nowrap; max-width: 330px; overflow: hidden; text-overflow: ellipsis;">
                                        {{selectedCourse[0][1]}}
                                    </div>
                                </div>
                                <div style="display: flex; margin-bottom: 7px; margin-top: 1px;">
                                    <div style="font-size: 12px; font-weight: bold;">
                                        {{selectedCourse[0][2]}}&nbsp;&nbsp;
                                    </div>
                                    <div style="font-size: 12px; font-weight: bold; color: #888888;">
                                        Ver.&nbsp;
                                    </div>
                                    <div style="font-size: 12px;">{{selectedCourse[0][3]}}&nbsp;&nbsp;</div>
                                    <div style="font-size: 12px;">{{selectedCourse[0][4]}}</div>
                                </div>
                            </div>
                            <mat-icon
                                style="font-size: 21px; margin-top: 3.3px; margin-right: -7px; margin-left: 10px; color: #7A7A7A; user-select: none; cursor: pointer;"
                                (click)="removeSelectedCourse()">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <mat-icon style="color: gray;" *ngIf="selectedCourse.length == 0"
                        [matTooltip]="'Hint: Easily find courses by entering the Course ID, Course Title, or Program in the search bar. To search for a specific course within a program, type the Course Code or Course Title followed by an asterisk (*) and the program name.'"
                        [ngStyle]="{'margin-top.px': (typing || courseString.length > 1) ? 0 : -8, 'transition': 'margin-top 0.175s ease'}">search</mat-icon>
                    <input matInput (keyup)="keyUpFunctionForCourse($event)" [(ngModel)]="courseString" #myInput
                        (input)="onInput($event)" [disabled]="disableCourseInput" style="margin-left: 5px;"
                        autocomplete="off">
                    <p (click)="onCheckboxChange()"
                        style="margin-top: 0px !important; margin-bottom: 0px !important; font-size: small; margin-right: 5px; height: max-content;"
                        [ngClass]="{'dayCheckbox': !CO, 'dayCheckbox-active': CO}">
                        CO</p>
                    <mat-icon style="float: right; color: #294A70; cursor: pointer; margin-right: 5px;"
                        (click)="openCourseLookup()" matTooltip='Open Curriculum Lookup'>library_books</mat-icon>
                </div>
                <div class="glowing-line" *ngIf="courseString.length > 2 && loadingSearch == true"></div>
                <!-- Row Layout of the recommended courses -->
                <div style="width: 100%;" *ngIf="typing == true && searchData.length != 0 && selectedCourse.length == 0"
                    [@slideInOut]>
                    <hr>
                    <!-- <div style="width: 100%;"> -->
                    <span style="font-size: small; color: gray;">{{searchData.length}} results in {{0.3 + seconds}}
                        seconds</span>
                    <div class="scrollable-div">
                        <table class="searchTable" style="width: 100%;">
                            <tr *ngFor="let subject of searchData" style="cursor: pointer; width: 100%;"
                                (click)="selectCourse(subject.subjectID, subject.subjectTitle, subject.courseCode, subject.version, subject.programStatus, subject.recordID)">
                                <td style="width: 100%;">
                                    <div style="display: flex; width: 100%; margin-top: 5px;">
                                        <div style="white-space: nowrap; margin-right: 10px; font-weight: bold;">
                                            {{subject.subjectID}}
                                        </div>
                                        <div style="white-space: nowrap; width: 100%;">{{subject.subjectTitle}}
                                        </div>
                                    </div>
                                    <div style="display: flex; margin-bottom: 7px; margin-top: 1px;">
                                        <div style="font-size: 12px; font-weight: bold;">
                                            {{subject.courseCode}}&nbsp;&nbsp;
                                        </div>
                                        <div style="font-size: 12px; font-weight: bold; color: #888888;">
                                            Ver.&nbsp;
                                        </div>
                                        <div style="font-size: 12px;">{{subject.version}}&nbsp;&nbsp;</div>
                                        <div style="font-size: 12px;">{{subject.programStatus}}</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="courseString.length > 2 && isSearchEmpty == true && typing == true">
                    <hr>
                    <p style="color: gray;">
                        Nothing found</p>
                </div>
            </mat-form-field>
        </div>

        <!-- view for selected schedule of the code -->
        <div style="margin-bottom: 3px; z-index: 10; margin-top: 10px;" *ngIf="finalSchedules.length != 0" [@fadeInOut]>
            <mat-chip-list>
                <mat-chip *ngFor="let timeDetails of finalSchedules; let i of index"
                    style="display: flex; align-items: center; user-select: none; padding-top: 21px; padding-bottom: 18px;">
                    <div>
                        <div style="display: flex; width: 100%; margin-top: 5px;">
                            <div style="white-space: nowrap; margin-right: 10px; font-weight: bold;">
                                {{timeDetails.room}}
                            </div>
                            <div
                                style="white-space: nowrap; max-width: 330px; overflow: hidden; text-overflow: ellipsis;">
                                {{timeDetails.dayString + ' ' + timeDetails.startTime + "-" + timeDetails.endTime}}
                            </div>
                        </div>
                        <div style="display: flex; margin-bottom: 7px; margin-top: 1px;">
                            <div style="font-size: 12px; font-weight: bold; color: #888888;">
                                classif.:&nbsp;
                            </div>
                            <div *ngIf="timeDetails.lec == true" style="font-size: 12px;">Lecture</div>
                            <div *ngIf="timeDetails.lab == true" style="font-size: 12px;">Laboratory</div>
                        </div>
                    </div>
                    <mat-icon
                        style="font-size: 21px; margin-top: 3.3px; margin-right: -7px; margin-left: 10px; color: #7A7A7A; user-select: none; cursor: pointer;"
                        (click)="removeRoomFromTimeFrame(i)">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>

        <!-- add schedule button -->
        <button
            style="display: inline-flex; align-items: center; cursor: pointer; padding: 3px; border: none; background-color: white; margin-bottom: 7px"
            tabindex="0" (click)="openAddSchedule()">
            <mat-icon style="margin-right: 3px; padding: 0px; margin: 0px; color: gray;">add</mat-icon>
            <p style="color: gray; font-size: 14px; padding: 0px; margin: 0px;">Add Schedule</p>
        </button>

        <!-- view for selected instructor of the code -->
        <div *ngIf="selectedInstructor.length != 0" style="margin-top: 10px;" [@fadeInOut]>
            <mat-chip-list>
                <mat-chip style="display: flex; align-items: center; user-select: none;">
                    <div style="display: flex; width: 100%;">
                        <div style="white-space: nowrap; margin-right: 10px; font-weight: bold;">
                            {{selectedInstructor.employeeID}}
                        </div>
                        <div style="white-space: nowrap; max-width: 330px; overflow: hidden; text-overflow: ellipsis;">
                            {{selectedInstructor.fullname}}
                        </div>
                    </div>
                    <mat-icon
                        style="font-size: 21px; margin-top: 3.3px; margin-right: -7px; margin-left: 10px; color: #7A7A7A; user-select: none; cursor: pointer;"
                        (click)="removeSelectedInstructor(i)">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>

        <!-- add instructor button -->
        <button
            style="display: inline-flex; align-items: center; cursor: pointer; padding: 3px; border: none; background-color: white;"
            tabindex="0" (click)="openInstructorLookup('Add Instructor')">
            <mat-icon style="margin-right: 3px; padding: 0px; margin: 0px; color: gray;">{{selectedInstructor.length !=
                0 ? 'loop' : 'add'}}</mat-icon>
            <p style="color: gray; font-size: 14px; padding: 0px; margin: 0px;">
                {{selectedInstructor.length != 0 ? 'Change' : 'Add'}} Instructor
            </p>
        </button>

        <!-- bottom buttons -->
        <div style="margin-top: auto;">
            <button style="margin-bottom: 10px; background-color: #FFFFFF;" mat-raised-button
                (click)="close('close')">Cancel</button>
            <button style="margin-bottom: 10px; background-color: #294A70; color: white; float: right;"
                mat-raised-button (click)="close('close')">Save & Add Set<i
                    class="material-icons">navigate_next</i></button>
            <button
                style="margin-bottom: 10px; margin-right: 5px; background-color: #294A70; color: white; float: right;"
                mat-raised-button (click)="addCode()">Save</button>
        </div>
    </div>

    <!-- schedule -->
    <div style="padding-left: 12px; padding-right: 12px; margin-top: 10px; overflow: auto; max-height: 430px;"
        *ngIf="displayAddScheduleForm()">

        <!-- select room -->
        <div style="display: flex; margin-bottom: 15px;">
            <mat-form-field style="margin-left: 4px; width: 60%;" id="matFieldInput">
                <mat-label style="color: gray; margin-bottom: -15px; font-size: small;">Select Room <mat-icon
                        style="color: green; position: relative;"
                        *ngIf="selectedRoom.length != 0">check</mat-icon></mat-label>
                <input type="text" aria-label="Number" matInput id="roomInputRef" [formControl]="myControl"
                    autofocus="false" [matAutocomplete]="auto" [(ngModel)]="roomString"
                    *ngIf="selectedRoom.length == 0">
                <mat-chip-list *ngIf="selectedRoom.length != 0">
                    <mat-chip
                        style="display: flex; align-items: center; user-select: none; padding-top: 21px; padding-bottom: 18px;"
                        matToolTip="selectedCourse[0][1]">
                        <div style="background-color: transparent;">
                            <div style="display: flex; width: 100%; margin-top: 5px;">
                                <div style="white-space: nowrap; margin-right: 10px; font-weight: bold;">
                                    {{selectedRoom.roomNo}}
                                </div>
                                <div
                                    style="white-space: nowrap; max-width: 200px; overflow: hidden; text-overflow: ellipsis; background-color: transparent;">
                                    {{selectedRoom.location}}
                                </div>
                            </div>
                            <div style="display: flex; margin-bottom: 7px; margin-top: 1px;">
                                <div style="font-size: 12px; font-weight: bold; color: #888888;">
                                    Capacity:&nbsp;
                                </div>
                                <div style="font-size: 12px;">{{selectedRoom.seatingCapacity}}&nbsp;&nbsp;</div>
                                <div style="font-size: 12px; font-weight: bold; color: #888888;">
                                    Type:&nbsp;
                                </div>
                                <div
                                    style="font-size: 12px; white-space: nowrap; max-width: 100px; overflow: hidden; text-overflow: ellipsis;">
                                    {{selectedRoom.typeDesc}}</div>
                            </div>
                        </div>
                        <mat-icon
                            style="font-size: 21px; margin-top: 3.3px; margin-right: -7px; margin-left: 10px; color: #7A7A7A; user-select: none; cursor: pointer;"
                            (click)="removeSelectedRoom()">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async; let i = index" [value]="option"
                        (click)="selectRoom(option)">
                        {{ option.roomNo }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div style="margin-left: 4px; margin-top: auto; width: 12%;">
                <mat-form-field style="width: 100%;">
                    <mat-label style="font-size: small;">Capacity <mat-icon style="color: green; position: relative;"
                            *ngIf="capacity != '' && capacity != 0 && capacity != null">check</mat-icon>
                    </mat-label>
                    <input type="number" aria-label="Number" matInput id="roomInputRef" [ngModel]="capacity"
                        (wheel)="mouseWheel()">
                </mat-form-field>
            </div>

            <button *ngIf="selectedRoom.length != 0" (click)="openClassroomManager('viewClassroom')"
                style="margin-left: 20px; margin-top: auto; margin-bottom: 10px; background-color: #294A70; padding: 4px; border-radius: 3px; color: white; border: none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); cursor: pointer;">
                &nbsp;View {{selectedRoom.roomNo}}&nbsp;
            </button>
        </div>

        <!-- schedule chip for displaying selected schedules -->
        <div style="display: flex;" *ngIf="finalSchedules.length != 0">
            <p class="form-label">Timeframes&nbsp;</p>
            <div style="margin-top: 10px; position: relative;" *ngIf="timeDayValidation">
                <mat-icon style="color: green; font-size: large; position: absolute;">check</mat-icon>
            </div>
        </div>
        <mat-chip-list *ngIf="finalSchedules.length != 0" [@fadeInOut]>
            <mat-chip *ngFor="let timeDetails of finalSchedules; let i of index"
                style="display: flex; align-items: center; user-select: none; padding-top: 21px; padding-bottom: 18px;">
                <div>
                    <div style="display: flex; width: 100%; margin-top: 5px;">
                        <div style="white-space: nowrap; margin-right: 10px; font-weight: bold;">
                            {{timeDetails.dayString}}
                        </div>
                        <div style="white-space: nowrap; max-width: 330px; overflow: hidden; text-overflow: ellipsis;">
                            {{timeDetails.startTime + " - " + timeDetails.endTime}}
                        </div>
                    </div>
                    <div style="display: flex; margin-bottom: 7px; margin-top: 1px;">
                        <div style="font-size: 12px; font-weight: bold; color: #888888;">
                            classif.:&nbsp;
                        </div>
                        <div *ngIf="timeDetails.lec == true" style="font-size: 12px;">Lecture</div>
                        <div *ngIf="timeDetails.lab == true" style="font-size: 12px;">Laboratory</div>
                    </div>
                </div>
                <mat-icon
                    style="font-size: 21px; margin-top: 3.3px; margin-right: -7px; margin-left: 10px; color: #7A7A7A; user-select: none; cursor: pointer;"
                    (click)="removeRoomFromTimeFrame(i)">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>

        <!-- time picker -->
        <div style="display: flex;">
            <p class="form-label">Time&nbsp;</p>
            <div style="position: relative; margin-top: 10px;" *ngIf="timeDayValidation">
                <mat-icon style="color: green; font-size: large; position: absolute;">check</mat-icon>
            </div>
        </div>
        <div style="display: flex; align-items: center; margin-left: 4px;">
            <div style="width: 34px;">
                <div class="timeBox-input"
                    style="display: flex; align-items: center; justify-content: center; width: 37px;"
                    (keydown)="keyDownFunctionForHour($event, '1')">
                    <input type="text" (wheel)="handleWheelHourInput($event, '1')" [value]="hour1" maxlength="2"
                        style="border: none; width: 65%; height: 70%; outline: none; font-size: 19px; margin-right: -3px;">
                    <div style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%;">
                        <div style="height: 100%; display: flex; align-items: center; cursor: pointer;"
                            (click)="incrementHour('1')">
                            <div class="arrow-up" style="margin-top: 5.7px;"></div>
                        </div>
                        <div style="height: 100%; display: flex; align-items: center; cursor: pointer;"
                            (click)="decrementHour('1')">
                            <div class="arrow-down" style="margin-bottom: 5.7px; cursor: pointer;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="margin-left: 11px; margin-right: 7px; font-weight: bold; color: gray;">:</p>
            <div style="width: 34px; margin-right: 14px;" (click)="timeToggle('1')">
                <p class="timeBox-text">{{minute1}}</p>
            </div>
            <div style="width: 34px;" (click)="timeToggle('2')">
                <p class="timeBox-text">{{meridiem1}}</p>
            </div>
            <p style="color: gray; margin-left: 15px; margin-right: 11px; font-size: x-small;">TO</p>
            <div style="width: 34px;">
                <div class="timeBox-input"
                    style="display: flex; align-items: center; justify-content: center; width: 37px;"
                    (keydown)="keyDownFunctionForHour($event, '2')">
                    <input type="text" (wheel)="handleWheelHourInput($event, '2')" [value]="hour2" maxlength="2"
                        style="border: none; width: 65%; height: 70%; outline: none; font-size: 19px; margin-right: -3px;">
                    <div style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%;">
                        <div style="height: 100%; display: flex; align-items: center; cursor: pointer;"
                            (click)="incrementHour('2')">
                            <div class="arrow-up" style="margin-top: 5.7px;"></div>
                        </div>
                        <div style="height: 100%; display: flex; align-items: center; cursor: pointer;"
                            (click)="decrementHour('2')">
                            <div class="arrow-down" style="margin-bottom: 5.7px; cursor: pointer;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <p style="margin-left: 11px; margin-right: 7px; font-weight: bold; color: gray;">:</p>
            <div style="width: 34px; margin-right: 14px;" (click)="timeToggle('3')">
                <p class="timeBox-text">{{minute2}}</p>
            </div>
            <div style="width: 34px;" (click)="timeToggle('4')">
                <p class="timeBox-text">{{meridiem2}}</p>
            </div>

            <!-- schedule conflicts view -->
            <div *ngIf="conflictSchedules.length != 0" style="margin-left: 15px;">
                <div style="display: flex;">
                    <p class="form-label" style="color: red; margin-top: 4px;">Schedule Conflict!</p>
                    <div style="display: flex; align-items: center; margin-left: 4px;"
                        (click)="hideUnhideScheduleConflict()" *ngIf="hideScheduleConflictView == true">
                        <mat-icon
                            style="user-select: none; cursor: pointer; color: gray;">keyboard_arrow_down</mat-icon>
                    </div>
                    <div style="display: flex; align-items: center; margin-left: 4px;"
                        (click)="hideUnhideScheduleConflict()" *ngIf="hideScheduleConflictView == false">
                        <mat-icon style="user-select: none; cursor: pointer; color: gray;">keyboard_arrow_up</mat-icon>
                    </div>
                </div>
                <div style="width: 100%; margin-left: -40px;" *ngIf="hideScheduleConflictView == false" [@slideInOut]>
                    <div style="position: relative;">
                        <table
                            style="position: absolute; background-color: #CAE9F5; width: 200px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); border-radius: 5px; padding: 3px;">
                            <tr>
                                <td style="font-size: small; font-weight: bold; width: 30%;">Code</td>
                                <td style="font-size: small; font-weight: bold; width: 30%;">Day</td>
                                <td style="font-size: small; font-weight: bold; width: 40%;">Time</td>
                            </tr>
                            <tr *ngFor="let conflict of conflictSchedules">
                                <td style="font-size: small;">{{conflict.codeno}}</td>
                                <td style="font-size: small;">{{conflict.day}}</td>
                                <td style="font-size: small;">{{conflict.time}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <p class="form-label" style="color: green; margin-top: 3px; margin-left: 15px;"
                *ngIf="conflictSchedules.length == 0 && completeForm">No conflict detected!</p>

        </div>

        <!-- duration view -->
        <div style="display: flex; margin-top: -5px;">
            <p *ngIf="duration != '' && !duration.includes('Invalid')" class="form-label"
                style="margin-left: 5px; margin-top: 0px;">
                Duration:&nbsp;</p>
            <p *ngIf="duration != ''" [ngClass]="{'invalid-form-label': duration.includes('Invalid')}"
                class="form-label" style="margin-left: 5px; margin-top: 0px;">
                {{duration}}</p>
        </div>

        <!-- pick available schedule button -->
        <button *ngIf="selectedRoom.length != 0" (click)="openClassroomManager('selectSchedule')"
            style="margin-left: 4px; margin-top: 5px; background-color: #294A70; padding: 4px; border-radius: 3px; color: white; border: none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); cursor: pointer;">
            &nbsp;Pick from available schedules of this room instead&nbsp;
        </button>

        <!-- day range picker -->
        <div style="display: flex;">
            <p class="form-label">Day&nbsp;</p>
            <div style="margin-top: 10px; position: relative;" *ngIf="timeDayValidation">
                <mat-icon style="color: green; font-size: large; position: absolute;">check</mat-icon>
            </div>
        </div>
        <div>
            <div style="display: flex; width: 100%; align-items: stretch;">
                <p (click)="selectDay('mwf')"
                    [ngClass]="{'dayCheckbox': !monday || tuesday || !wednesday || thursday || !friday || saturday || sunday, 'dayCheckbox-active': monday && !tuesday && wednesday && !thursday && friday && !saturday && !sunday}">
                    MWF</p>
                <p (click)="selectDay('tth')"
                    [ngClass]="{'dayCheckbox': monday || !tuesday || wednesday || !thursday || friday || saturday || sunday, 'dayCheckbox-active': !monday && tuesday && !wednesday && thursday && !friday && !saturday && !sunday}">
                    TTH</p>
                <p (click)="selectDay('mt')"
                    [ngClass]="{'dayCheckbox': !monday || !tuesday || wednesday || thursday || friday || saturday || sunday, 'dayCheckbox-active': monday && tuesday && !wednesday && !thursday && !friday && !saturday && !sunday}">
                    MT</p>
                <p (click)="selectDay('wth')"
                    [ngClass]="{'dayCheckbox': monday || tuesday || !wednesday || !thursday || friday || saturday || sunday, 'dayCheckbox-active': !monday && !tuesday && wednesday && thursday && !friday && !saturday && !sunday}">
                    WTH</p>
                <p (click)="selectDay('fsat')"
                    [ngClass]="{'dayCheckbox': monday || tuesday || wednesday || thursday || !friday || !saturday || sunday, 'dayCheckbox-active': !monday && !tuesday && !wednesday && !thursday && friday && saturday && !sunday}">
                    FSAT</p>
                <p (click)="selectDay('m-sat')"
                    [ngClass]="{'dayCheckbox': !monday || !tuesday || !wednesday || !thursday || !friday || !saturday || sunday, 'dayCheckbox-active': monday && tuesday && wednesday && thursday && friday && saturday && !sunday}">
                    M-SAT</p>
                <div style="display: flex; align-items: center;" (click)="hideUnhideCustomDays()"
                    *ngIf="hideCustomDays == false">
                    <mat-icon style="user-select: none; cursor: pointer; color: gray;">keyboard_arrow_down</mat-icon>
                </div>
                <div style="display: flex; align-items: center;" (click)="hideUnhideCustomDays()"
                    *ngIf="hideCustomDays == true">
                    <mat-icon style="user-select: none; cursor: pointer; color: gray;">keyboard_arrow_up</mat-icon>
                </div>
            </div>

            <!-- custom day picker -->
            <div style="width: 100%;" *ngIf="hideCustomDays == true" [@slideInOut]>
                <div style="display: flex;">
                    <p (click)="selectDay('m')" [ngClass]="{'dayCheckbox': !monday, 'dayCheckbox-active': monday}">
                        Monday
                    </p>
                    <p (click)="selectDay('t')" [ngClass]="{'dayCheckbox': !tuesday, 'dayCheckbox-active': tuesday}">
                        Tuesday
                    </p>
                    <p (click)="selectDay('w')"
                        [ngClass]="{'dayCheckbox': !wednesday, 'dayCheckbox-active': wednesday}">
                        Wednesday</p>
                    <p (click)="selectDay('th')" [ngClass]="{'dayCheckbox': !thursday, 'dayCheckbox-active': thursday}">
                        Thursday
                    </p>
                    <p (click)="selectDay('f')" [ngClass]="{'dayCheckbox': !friday, 'dayCheckbox-active': friday}">
                        Friday
                    </p>
                </div>
                <div style="display: flex;">
                    <p (click)="selectDay('sat')"
                        [ngClass]="{'dayCheckbox': !saturday, 'dayCheckbox-active': saturday}">
                        Saturday
                    </p>
                    <p (click)="selectDay('sun')" [ngClass]="{'dayCheckbox': !sunday, 'dayCheckbox-active': sunday}">
                        Sunday
                    </p>
                </div>
            </div>
        </div>

        <!-- classification picker -->
        <div style="display: flex;">
            <p class="form-label">Classification&nbsp;</p>
            <div style="margin-top: 10px; position: relative;" *ngIf="lecture || laboratory">
                <mat-icon style="color: green; font-size: large; position: absolute;">check</mat-icon>
            </div>
        </div>
        <div>
            <div style="display: flex; width: 100%; align-items: stretch;">
                <p (click)="selectDay('lec')" [ngClass]="{'dayCheckbox': !lecture, 'dayCheckbox-active': lecture}">
                    Lecture</p>
                <p (click)="selectDay('lab')"
                    [ngClass]="{'dayCheckbox': !laboratory, 'dayCheckbox-active': laboratory}">
                    Laboratory</p>
                <p (click)="selectDay('lec/lab')"
                    [ngClass]="{'dayCheckbox': !laboratory || !lecture, 'dayCheckbox-active': laboratory && lecture}">
                    Lec / Lab</p>
            </div>

        </div>

        <!-- add another schedule for selected room button -->
        <button *ngIf="completeForm == true" (click)="addToFinalSchedule()" [@fadeInOut]
            style="margin-left: 4px; margin-top: 10px; background-color: #294A70; padding: 4px; border-radius: 3px; color: white; border: none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); cursor: pointer;">
            &nbsp;Add another schedule for this room&nbsp;
        </button>

        <!-- bottom buttons -->
        <div style="width: 100%; margin-top: 15px;">
            <button style="margin-right: 5px;" color="warn" mat-raised-button (click)="deleteSchedule()"
                *ngIf="!checkIfActionIsString()">
                <i class="material-icons" style="margin-left: -5px;">delete</i> Delete schedule
            </button>

            <button style="margin-right: 5px; float: right;" *ngIf="checkIfActionIsString()"
                [ngClass]="{'gray-button': !completeForm && finalSchedules.length == 0, 'blue-button': completeForm || finalSchedules.length > 0}"
                [disabled]="!completeForm && finalSchedules.length == 0" mat-raised-button (click)="close('save')">
                Done
            </button>

            <button style="margin-right: 5px; float: right;" *ngIf="!checkIfActionIsString()"
                [ngClass]="{'gray-button': !completeForm && finalSchedules.length == 0, 'blue-button': completeForm || finalSchedules.length > 0}"
                [disabled]="!completeForm && finalSchedules.length == 0" mat-raised-button (click)="editSchedule()">
                Done
            </button>

            <button style="background-color: #FFFFFF; float: right; margin-right: 7px;" mat-raised-button
                (click)="close('')">Cancel</button>

            <div style="background-color: white; height: 10px; width: 100%; float: right;">

            </div>
        </div>
    </div>

    <!-- instructor -->
    <div *ngIf="action == 'Add Instructor'" style="padding: 0px 4px 0px 4px; height: 300px;">
        <mat-form-field style="margin-left: 4px; width: 100%;" id="matFieldInput">
            <mat-label style="color: gray; margin-bottom: -15px; font-size: small;">Select Instructor</mat-label>
            <input type="text" aria-label="Number" matInput id="roomInputRef" [formControl]="myControl"
                autofocus="false" [matAutocomplete]="auto" [(ngModel)]="instructorString">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredInstructors | async; let i = index" [value]="option"
                    (click)="selectInstructor(option)">
                    {{ option.fullname }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

</mat-card>