#example-card-x {

	.example-form {
		min-width: 150px;
		max-width: 580px;
		width: 100%;
	}

	::ng-deep .mat-card-header {
		background-color: #294a70 !important;
		padding: 15px 5px 5px 5px !important;
		color: white;
	}

	::ng-deep .mat-card-header * {
		color: white;
	}

	::ng-deep .mat-card {
		padding: 0 !important;
	}

	::ng-deep .mat-card-content {
		padding: 15px !important;
	}

	mat-form-field {
		margin-bottom: -20px;
	}

	.card {
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		background-color: #fff;
		margin: 5px;
		overflow: hidden;
		width: 700px;

		.card-header {
			background-color: #f0f0f0;
			// padding: 5px;
			display: flex;
			// justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}

		.card-title {
			margin: 0;
		}

		.card-body {
			padding: 10px;
		}
	}

	.schedule-table {
		border-collapse: collapse;
		font-size: small;
		width: 100%;

		td,
		th {
			border: 5px solid #f5fbff;
			border-radius: 10px;
			text-align: center;
			padding: 2px;
		}

		th {
			background-color: #B8E2F2;
		}

		tr {
			background-color: #CAE9F5;
		}

		.highlight {
			background-color: yellow;
		}

	}

	.list-item {
		background-color: black;
		height: 100px;
		width: 100px;
	}

	.searchTable tr:hover {
		background-color: #ddd;
	}

	.scrollable-div {
		max-height: 200px;
		overflow-y: scroll;
		width: 100%;
	}

	.scrollable-div::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	.scrollable-div::-webkit-scrollbar-thumb {
		background-color: #BABABA;
		border-radius: 7px;
	}

	.scrollable-div::-webkit-scrollbar-track {
		background-color: #FFFFFF;
	}

	.dayCheckStyle {}

	.rounded-border {
		border: 1px solid #E0E0E0;
		border-radius: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.mat-checkbox {
		margin-right: 15px;
	}

	.dayCheckbox {
		border: 1px solid #E0E0E0;
		border-radius: 5px;
		background-color: #ffffff;
		padding: 5px;
		margin-right: 15px;
		color: gray;
		cursor: pointer;
		transition: background-color 0.3s ease;
		margin: 5px;
		user-select: none;
	}

	.dayCheckbox:hover {
		background-color: #9CD1F3;
	}

	.dayCheckbox-active {
		border: 1px solid #E0E0E0;
		border-radius: 5px;
		background-color: #7ABAE8;


		// background-color: #0E529C; new color do not delete
		// background-color: #7ABAE8; old color do not delete

		padding: 5px;
		margin-right: 15px;
		color: black;
		cursor: pointer;
		transition: background-color 0.3s ease;
		margin: 5px;
		user-select: none;
	}


	.glowing-line {
		margin-top: 7px;
		margin-bottom: -8px;
		position: relative;
		height: 1px;
		background-color: #fff;
	}

	.glowing-line::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 0;
		height: 1px;
		background-color: #1C324C;
		opacity: 0.7;
		animation: glowing-line-animation 1.5s linear infinite;
	}

	@keyframes glowing-line-animation {
		0% {
			width: 0;
			left: 50%;
		}

		50% {
			width: 100%;
			left: 0;
		}

		100% {
			width: 0;
			left: 50%;
		}
	}

	.timeBox-input {
		width: 33px;
		height: 33px;
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		transition: border 0.3s;
		font-size: 19px;
		text-align: center;
	}

	.timeBox-text {
		width: 33px;
		height: 33px;
		border: 1px solid #E0E0E0;
		border-radius: 3px;
		transition: border 0.3s;
		font-size: 19px;
		text-align: center;
		display: flex;
		align-items: center;
		text-align: center;
		cursor: pointer;
		user-select: none;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		justify-content: center;
	}

	/* Style for the input text when hovered */
	.timeBox-input:hover {
		border: 2px solid black;
	}

	.arrow-up {
		width: 0;
		height: 0;
		border-left: 4.5px solid transparent;
		border-right: 4.5px solid transparent;
		border-bottom: 4.5px solid #8B8B8B;
		/* Default color: gray */
		cursor: pointer;
		/* Add pointer cursor */
	}

	.arrow-up:hover {
		border-bottom-color: black;
		/* Change color to black on hover */
	}

	.arrow-down {
		width: 0;
		height: 0;
		border-left: 4.5px solid transparent;
		border-right: 4.5px solid transparent;
		border-top: 4.5px solid #8B8B8B;
		cursor: pointer;
		/* Add pointer cursor */
	}

	.arrow-down:hover {
		border-top-color: black;
		/* Change color to black on hover */
	}

	.form-label {
		color: gray;
		margin-bottom: 0px;
		font-size: small;
	}

	.invalid-form-label {
		color: red;
	}

	.btnstyle {
		font-size: 11px !important;
		;
		min-width: 18px !important;
		line-height: 15px !important;
		height: 28px !important;
		padding: 0 !important;
		margin-left: 5px !important
	}

	.blue-button {
		background-color: #294A70;
		color: white;
	}

	.gray-button {
		background-color: gray;
		color: white;
	}

}