<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title><b>Job Posting</b></mat-card-title>
      <mat-card-subtitle>insert your description here</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class='colo'>

    <!-- insert your code and design here -->

  </mat-card-content>


</mat-card>
