<div style="width: 100%;">
    <mat-card class="example-card" id="school-year-setting" style='padding: 0;'>
      <mat-card-header>
        <br>
        <mat-card-title><b>Manage Faculty Evaluation Settings</b></mat-card-title>
        <mat-card-subtitle>
          <p>This page allows you to set start date and end date and close/open faculty evaluation by department in student portal.</p>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class='colo'>
        <mat-form-field style="width: 450px">
          <mat-label>Department</mat-label>
          <mat-select [(ngModel)]="settingToUpdate"
            (selectionChange)="onChange($event,'deptNameSelector')">
            <mat-option *ngFor="let a of facultyEvaluationSettingsArray" value={{a.departmentId}}>
              {{a.departmentName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card style="width: 600px;" *ngIf="settingToUpdate!==''">
            <mat-card-content>
                <form [formGroup]="form">
                    <table>
                        <tr>
                            <td style="width: 125px">Term: &nbsp; &nbsp;</td>
                            <td>
                            <mat-form-field style="width: 200px">
                                <mat-select formControlName="term" (selectionChange)="onChange($event, 'term')">
                                <mat-option value="1">
                                    First Semester
                                </mat-option>
                                <mat-option value="2">
                                    Second Semester
                                </mat-option>
                                <mat-option value="3">
                                    Summer
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>School Year: &nbsp; &nbsp;</td>
                            <td>
                                <table style="width: 100%">
                                    <tr>
                                        <td>
                                            <mat-form-field style="width: 130px">
                                            <input matInput formControlName="year1" type="number" min="1900" max="2999" maxlength="4"
                                                (change)='yearchange1()' (ngModelChange)="onChange($event, 'year1')">
                                            </mat-form-field>
                                            <div *ngIf="f.year1.errors && this.submitted" class="invalid-feedback">
                                            <div style="font-size:11px" *ngIf="f.year1.errors.required && this.submitted">
                                                *Start Year is Required
                                            </div>
                                            <div style="font-size:11px" *ngIf="f.year1.errors.minmaxlength && this.submitted">
                                                *Start Year should be 4 digits
                                            </div>
                                            </div>
                                        </td>
                                        <td> &nbsp; to &nbsp; </td>
                                        <td>
                                            <mat-form-field style="width: 130px">
                                            <input matInput formControlName="year2" type="number" min="1900" max="2999" maxlength="4"
                                                (change)='yearchange2()' (ngModelChange)="onChange($event, 'year2')">
                                            </mat-form-field>
                                            <div *ngIf="f.year2.errors && this.submitted" class="invalid-feedback">
                                                <div style="font-size:11px" *ngIf="f.year2.errors.required && this.submitted">
                                                    *End Year is Required
                                                </div>
                                                <div style="font-size:11px" *ngIf="f.year2.errors.minmaxlength && this.submitted">
                                                    *End Year should be 4 digits
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 125px">Status: &nbsp; &nbsp;</td>
                            <td>
                            <mat-form-field style="width: 200px">
                                <mat-select formControlName="status" (selectionChange)="onChange($event, 'status')">
                                <mat-option value="1">
                                    Open
                                </mat-option>
                                <mat-option value="0">
                                    Close
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 125px">Start Date: &nbsp; &nbsp;</td>
                            <td>
                              <mat-form-field appearance="outline" style="height: 50px;">
                                <!-- <mat-label>Start Date</mat-label>                    -->
                                <input matInput
                                  formControlName="startDate"
                                  [matDatepicker]="dp1"
                                  (ngModelChange)="onChange($event, 'startDate')">
                                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <div *ngIf="this.submitted && f.startDate.errors" class="invalid-feedback">
                                <div style="font-size:11px" *ngIf="f.startDate.errors.LowerThanEndDate && this.submitted">
                                    *Start Date should be higher than End Date
                                </div>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 125px">End Date: &nbsp; &nbsp;</td>
                            <td>
                              <mat-form-field appearance="outline" style="height: 50px;">
                                <!-- <mat-label>Start Date</mat-label>                    -->
                                <input matInput
                                  formControlName="endDate"
                                  [matDatepicker]="dp2"
                                  (ngModelChange)="onChange($event, 'endDate')">
                                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                            </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </form>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer>
              <div style="margin-right:20px; display: block; text-align: right; padding: 10px;">
                <ng-container *ngIf="global.checkaccess(':FacultyEvaluation:FacultyEvalSettingUpdate')">
                  <button mat-raised-button color="primary" (click)="save()" matTooltip="Save Changes"
                    [disabled]="btnSaveDisabled">
                    <mat-icon>save</mat-icon>
                  </button>
                  &nbsp;
                </ng-container>
                <button mat-raised-button color="success" (click)="cancel()" matTooltip="Cancel"
                  [disabled]="btnSaveDisabled">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </mat-card-footer>
        </mat-card>

        </mat-card-content>
    </mat-card>
</div>
