<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>Employee List</b></mat-card-title>
        <mat-card-title><p style="font-size: 10px;">NOTE: This page will allow you to search for DTR ID.</p></mat-card-title>
    </mat-card-header>

    <mat-card-content class="colo">
        <mat-divider></mat-divider>
        <div style="padding: 10px"></div>

        <table class="apptable">
            <tr>
                <th style="width:75px">DTR ID</th>
                <th style="width:85px">ID NUMBER</th>
                <th style="width:300px">NAME</th>
            </tr>
            <tr>
                <td style="width:75px;" colspan="3">
                    <mat-form-field appearance="outline"
                        style="padding: 0px !important; margin: 0px !important; width: 75px !important;">
                        <input matInput [(ngModel)]="dtrid" (keyup)="Filter()" autocomplete="off">
                    </mat-form-field>
                </td>
            </tr>
            <tr *ngFor="let a of employeeAllData | paginate: config" matTooltip="Click to select DTR ID"
                (click)="select(a.dtrid)">
                <td>{{a.dtrid}}</td>
                <td>{{a.idnumber}}</td>
                <td>{{a.fullname}}</td>
            </tr>
        </table>
        <br>
        <ng-container *ngIf="employeeAllData!=undefined">
            <pagination-controls (pageChange)="pageChanged($event)" *ngIf="employeeAllData.length!=0">
            </pagination-controls>
        </ng-container>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <div style="margin:20px; padding: 5px; text-align: right;">
            <button mat-raised-button color="primary" (click)="close()" matTooltip="Cancel">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </mat-card-footer>
</mat-card>