<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <p style="font-size: 14px; padding: 0; margin: 0; padding-top: 5px;"><b>CLEAR ONLINE SUBMITTED
                    REQUIREMENTS</b></p>
        </mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 12px; padding: 0; margin: 0; margin-bottom: -1em;">
                This page allows you to clear online submitted requirements.
            </p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class='colo'>

        <mat-tab-group (selectedTabChange)='getindex($event)'>
            <mat-tab label="Online Registration" [disabled]="disableTab" *ngIf="global.checkaccess(':Maintenance:OnlineApplicantPut')">
                <app-clear-online-submitted-requirements-applicant></app-clear-online-submitted-requirements-applicant>
            </mat-tab>   
            <mat-tab label="PreEnrollment" [disabled]="disableTab" *ngIf="global.checkaccess(':Maintenance:PreEnrolledStudentPut')">
                <app-clear-online-submitted-requirements-preenrollment></app-clear-online-submitted-requirements-preenrollment>
            </mat-tab>              
        </mat-tab-group>
        
        <div style="width: 20px;"></div>
    </mat-card-content>
</mat-card>