<mat-card class="example-card">
    <mat-card-header >
      <mat-card-title><b>Assessment Setup</b></mat-card-title>
      <mat-card-subtitle>This page allows you to Manage the Assessment Setup</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content class='colo' style="overflow-x: auto;" >
        <mat-divider></mat-divider>
          
          <mat-divider></mat-divider>
          <br>
          <mat-form-field style="width: 350px">
            <mat-label>- School Year -</mat-label>
            <mat-select [(ngModel)]="selectedsem">
              <mat-option *ngFor="let sy of SchoolYearList" [value]="sy.schoolYear" (click)="loadActiveTab()">
                {{ sy.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="primary" (click)="openSchoolYearDialog(1)"
            style="font-size:11px;width: 115px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px"
            ><i class="material-icons">note_add
            </i>
            <span style="margin-top: 7px"> Add School Year&nbsp;&nbsp;&nbsp;</span>
          </button>
          <style type="text/css">
            .leftside {
              width: 30%;
              text-align: right
            }
          </style>
        <mat-tab-group (selectedTabChange)="getindex($event)">
            <mat-tab label="Assessment Lock" id="arLockTab" *ngIf="global.checkaccess(':FMIS_ARSetUp:SchoolTermPut')">
              <mat-card class="example-card" id="school-year-setting" style="padding: 0">
                <mat-card-header>
                  <mat-card-title><b>{{setUpHeader}}</b></mat-card-title>
                  <mat-card-subtitle>{{setUpSubHeader}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class='colo'>
                  <div style="width: 50%; min-width: 200px; overflow: auto;">
                    <table class="apptable">
                      <tr>
                        <th style="width:70px">Department</th>
                        <th class="tableCenter" style="width:70px">Fees Setup</th>
                        <th class="tableCenter" style="width:70px">Student Assessment</th>
                      </tr>
                      <tr *ngFor="let item of LockAssessmentList">
                        <td >{{item.departmentGroup}}</td>
                        <td class="tableCenter">
                          <mat-slide-toggle [(ngModel)]="item.lockFeesSetup"></mat-slide-toggle>
                        </td>
                        <td class="tableCenter">
                          <mat-slide-toggle [(ngModel)]="item.lockAssessment"></mat-slide-toggle>
                        </td>
                      </tr>
                    </table>
                    <div style="height: 5px"></div>
                    <p style="text-align: right;">
                      <button mat-raised-button color="primary" (click)="saveARLock()"
                      *ngIf="global.checkaccess(':FMIS_ARSetUp:SchoolTermPut')">Save Changes</button>
                    </p>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
          
            <mat-tab label="Payment Schedules" id="paymentSchedTab">
              <mat-card class="example-card" id="school-year-setting" style="padding: 0">
                <mat-card-header>
                  <mat-card-title><b>{{setUpHeader}}</b></mat-card-title>
                  <mat-card-subtitle>{{setUpSubHeader}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class='colo'>
                  <div style="width: 50%; min-width: 200px; overflow: auto;">
                    <mat-form-field style="width: 350px">
                      <mat-label>- Department -</mat-label>
                      <mat-select [(ngModel)]="selectedDept">
                        <mat-option *ngFor="let d of DepartmentList" [value]="d.DID" (click)="loadPaymentSchedules(d.DID)">
                          {{ d.DName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <table class="apptable">
                      <tr>
                        <th>Period</th>
                        <th>Due Date</th>
                        <th *ngIf="global.checkaccess(':FMIS_ARSetUp:PaymentSchedDelete') && this.suMode=='Save Changes'">Action</th>
                      </tr>
                      <tr *ngFor="let item of PaymentScheduleList">
                        <td >{{item.period}}</td>
                        <td>
                          <mat-form-field *ngIf="item.period=='Prelims'" appearance="outline" style="height: 50px;">
                            <mat-label>1st Day of Exam</mat-label>
                            <input matInput [value]="item.dueDate" [(ngModel)]="item.dueDate" [matDatepicker]="psp">
                            <mat-datepicker-toggle matSuffix [for]="psp"></mat-datepicker-toggle>
                            <mat-datepicker #psp></mat-datepicker>
                          </mat-form-field>
                          <mat-form-field *ngIf="item.period=='Midterms'" appearance="outline" style="height: 50px;">
                            <mat-label>1st Day of Exam</mat-label>
                            <input matInput [value]="item.dueDate"  [(ngModel)]="item.dueDate" [matDatepicker]="psm">
                            <mat-datepicker-toggle matSuffix [for]="psm"></mat-datepicker-toggle>
                            <mat-datepicker #psm></mat-datepicker>
                          </mat-form-field>
                          <mat-form-field *ngIf="item.period=='Finals'" appearance="outline" style="height: 50px;">
                            <mat-label>1st Day of Exam</mat-label>
                            <input matInput [value]="item.dueDate" [(ngModel)]="item.dueDate" [matDatepicker]="psf">
                            <mat-datepicker-toggle matSuffix [for]="psf"></mat-datepicker-toggle>
                            <mat-datepicker #psf></mat-datepicker>
                          </mat-form-field>
                          <mat-form-field *ngIf="item.period=='1st Grading'" appearance="outline" style="height: 50px;">
                            <mat-label>1st Day of Exam</mat-label>
                            <input matInput [value]="item.dueDate" [(ngModel)]="item.dueDate" [matDatepicker]="ps1">
                            <mat-datepicker-toggle matSuffix [for]="ps1"></mat-datepicker-toggle>
                            <mat-datepicker #ps1></mat-datepicker>
                          </mat-form-field>
                          <mat-form-field *ngIf="item.period=='2nd Grading'" appearance="outline" style="height: 50px;">
                            <mat-label>1st Day of Exam</mat-label>
                            <input matInput [value]="item.dueDate" [(ngModel)]="item.dueDate" [matDatepicker]="ps2">
                            <mat-datepicker-toggle matSuffix [for]="ps2"></mat-datepicker-toggle>
                            <mat-datepicker #ps2></mat-datepicker>
                          </mat-form-field>
                          <mat-form-field *ngIf="item.period=='3rd Grading'" appearance="outline" style="height: 50px;">
                            <mat-label>1st Day of Exam</mat-label>
                            <input matInput [value]="item.dueDate" [(ngModel)]="item.dueDate" [matDatepicker]="ps3">
                            <mat-datepicker-toggle matSuffix [for]="ps3"></mat-datepicker-toggle>
                            <mat-datepicker #ps3></mat-datepicker>
                          </mat-form-field>
                        </td>
                        <td *ngIf="global.checkaccess(':FMIS_ARSetUp:PaymentSchedDelete') && this.suMode=='Save Changes'">
                          <button mat-raised-button color="warn" class="btnstyle" (click)="deleteSetup(item.psid,1)">
                            <i class="material-icons">delete</i>
                            <!-- <span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span> -->
                          </button>
                        </td>
                      </tr>
                    </table>
                    <div style="height: 5px"></div>
                    <p style="text-align: right;" *ngIf="PaymentScheduleList.length>0">
                      <button mat-raised-button color="primary" (click)="savePS()"
                        *ngIf="global.checkaccess(':FMIS_ARSetUp:PaymentSchedPost')||global.checkaccess(':FMIS_ARSetUp:PaymentSchedPut')">{{suMode}}</button>
                    </p>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
          
            <mat-tab label="Tuition Fee Rate" id="tuitionFeeRate">
              <mat-card class="example-card" id="school-year-setting" style="padding: 0">
                <mat-card-header>
                  <mat-card-title><b>{{setUpHeader}}</b></mat-card-title>
                  <mat-card-subtitle>{{setUpSubHeader}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class='colo'>
                  <div style="width: 50%; min-width: 200px; overflow: auto;">
                    <mat-form-field style="width: 350px">
                      <mat-label>- Program Level -</mat-label>
                      <mat-select [(ngModel)]="selectedProgram">
                        <mat-option *ngFor="let p of ProgramList" [value]="p.progID" (click)="loadTuitionFeeRate(p.progID)">
                          {{ p.progName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <table class="apptable">
                      <tr>
                        <th>Course Code</th>
                        <th>Amount</th>
                        <th *ngIf="global.checkaccess(':FMIS_ARSetUp:TuitionFeeRateDelete') && this.suMode=='Save Changes'">Action</th>
                      </tr>
                      <tr *ngFor="let item of TuitionFeeRateList">
                          <td >{{item.courseCode}}</td>
                          <td>
                            <mat-form-field appearance="outline" style="height: 50px;">
                              <input matInput [value]="item.tf"  [(ngModel)]="item.tf"  type="number">
                            </mat-form-field>
                          </td>
                          <td *ngIf="global.checkaccess(':FMIS_ARSetUp:TuitionFeeRateDelete') && this.suMode=='Save Changes'">
                            <button mat-raised-button color="warn" class="btnstyle" (click)="deleteSetup(item.tfRateID,2)">
                              <i class="material-icons">delete</i>
                            </button>
                          </td>
                        </tr>
                    </table>
                    <div style="height: 5px"></div>
                    <p style="text-align: right;" *ngIf="TuitionFeeRateList.length>0">
                      <button mat-raised-button color="primary" (click)="saveTFR()"
                        *ngIf="global.checkaccess(':FMIS_ARSetUp:TuitionFeeRatePost')||global.checkaccess(':FMIS_ARSetUp:TuitionFeeRatePut')">{{suMode}}
                      </button>
                    </p>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
        
            <mat-tab label="Fees" id="fees">
              <mat-card class="example-card" id="school-year-setting" style="padding: 0">
                <mat-card-header>
                  <mat-card-title><b>{{setUpHeader}}</b></mat-card-title>
                  <mat-card-subtitle>{{setUpSubHeader}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class='colo'>
                  <div style="width: 50%; min-width: 200px; overflow: auto;">
                    <mat-form-field style="width: 350px">
                      <mat-label>- Fee Type -</mat-label>
                      <mat-select [(ngModel)]="selectedFType">
                        <mat-option *ngFor="let f of FTLIst" [value]="f.typeID" (click)="loadFees(f.typeID)">
                          {{ f.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <table class="apptable">
                      <tr>
                        <th style="width: 150px;">Description</th>
                        <th>TF</th>
                        <th>MF</th>
                        <th>SF</th>
                        <th>Per Unit</th>
                        <th>Once Per SY</th>
                        <th>Not Summer</th>
                        <th style="text-align: center;">
                          <button mat-raised-button color="primary" style="font-size:11px;width: 50px;color:white;background-color: #006400;margin-bottom: 5px"
                          *ngIf="global.checkaccess(':FMIS_ARSetUp:FeesPost')" (click)="openFeesDialog(1,'')"  class="buttondesign">
                              <mat-icon matTooltip="Add Fees">add</mat-icon>
                          </button>
                        </th>
                      </tr>
                      <tr *ngFor="let item of FeesList">
                          <td >{{item.feesDesc}}</td>
                          <td class="tableCenter">
                            <mat-slide-toggle  [disabled]="true" [(ngModel)]="item.tf"></mat-slide-toggle>
                          </td>
                          <td class="tableCenter">
                            <mat-slide-toggle [disabled]="true" [(ngModel)]="item.mf"></mat-slide-toggle>
                          </td>
                          <td class="tableCenter">
                            <mat-slide-toggle [disabled]="true"  [(ngModel)]="item.sf"></mat-slide-toggle>
                          </td>
                          <td class="tableCenter">
                            <mat-slide-toggle [disabled]="true"  [(ngModel)]="item.perUnit"></mat-slide-toggle>
                          </td>
                          <td class="tableCenter">
                            <mat-slide-toggle [disabled]="true" [(ngModel)]="item.oncePerSY"></mat-slide-toggle>
                          </td>
                          <td class="tableCenter">
                            <mat-slide-toggle [disabled]="true" [(ngModel)]="item.notSummer"></mat-slide-toggle>
                          </td>
                          <td style="text-align: center;">
                            <button mat-raised-button color="primary" class="buttondesign" style="width: 50px;color:white;margin-bottom: 5px"  (click)="openFeesDialog(2,item)"
                                *ngIf="global.checkaccess(':FMIS_ARSetUp:FeesPut')" [disabled]="updating">
                              <mat-icon matTooltip="Edit Fees">edit</mat-icon>
                            </button>
                            <button mat-raised-button color="warn" class="buttondesign" style="width: 50px;color:white;margin-bottom: 5px" (click)="deleteSetup(item.fid,3)"
                                  *ngIf="global.checkaccess(':FMIS_ARSetUp:FeesDelete')">
                              <mat-icon matTooltip="Delete Fees">delete</mat-icon>
                            </button>
                          </td>
                        </tr>
                    </table>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
        
            <mat-tab label="Fees Breakdown" id="feesBreakdown">
              <mat-card class="example-card" id="school-year-setting" style="padding: 0">
                <mat-card-header>
                  <mat-card-title><b>{{setUpHeader}}</b></mat-card-title>
                  <mat-card-subtitle>{{setUpSubHeader}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class='colo'>
                  <div style="width: 50%; min-width: 200px; overflow: auto;">
                    <mat-form-field style="width: 350px">
                      <mat-label>- Fee Type -</mat-label>
                      <mat-select [(ngModel)]="selectedProgram">
                        <mat-option *ngFor="let f of FTLIst" [value]="f.typeID" (click)="loadFeesRate(f.typeID)">
                          {{ f.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-divider></mat-divider>
                      <table class="apptable">
                        <tr>
                          <th>Description</th>
                          <th>Amount</th>
                          <th>TF</th>
                          <th>MF</th>
                          <th>SF</th>
                          <th>Once Per SY</th>
                          <th>Not Summer</th>
                        </tr>
                        <tr *ngFor="let item of FeesRateList">
                            <td >{{item.feesDesc}}</td>
                            <td>
                              <mat-form-field appearance="outline" style="height: 50px;">
                                <input matInput [value]="item.amount"  [(ngModel)]="item.amount"  type="number">
                              </mat-form-field>
                            </td>
                            <td>
                              <mat-form-field appearance="outline" style="height: 50px;">
                                <input matInput [value]="item.tf"  [(ngModel)]="item.tf"  type="number">
                              </mat-form-field>
                            </td>
                            <td class="tableCenter">
                              <mat-slide-toggle [(ngModel)]="item.tf"></mat-slide-toggle>
                            </td>
                            <td class="tableCenter">
                              <mat-slide-toggle [(ngModel)]="item.mf"></mat-slide-toggle>
                            </td>
                            <td class="tableCenter">
                              <mat-slide-toggle [(ngModel)]="item.sf"></mat-slide-toggle>
                            </td>
                            <td class="tableCenter">
                              <mat-slide-toggle [(ngModel)]="item.oncePerSY"></mat-slide-toggle>
                            </td>
                            <td class="tableCenter">
                              <mat-slide-toggle [(ngModel)]="item.notSummer"></mat-slide-toggle>
                            </td>
                          </tr>
                      </table>
                      <div style="height: 5px"></div>
                      <p style="text-align: right;">
                        <button mat-raised-button color="primary" (click)="saveTFR()"
                          *ngIf="global.checkaccess(':Maintenance:SYSettingsPut')">{{suMode}}</button>
                      </p>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
        
            <mat-tab label="Laboratory and Contact Fees">
              <!-- <app-manage-online-registration-setting></app-manage-online-registration-setting> -->
            </mat-tab>

          </mat-tab-group>
    </mat-card-content>
  </mat-card>
  

