<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><b>TEACHER'S LOAD SUMMARY</b></mat-card-title>
    <mat-card-subtitle>
      <span style="padding: 0;margin:0; font-size: small; max-width: 700;">
        NOTE: This page displays a teacher's load based on selected school year in the Active Configuration. Please
        enter the ID NUMBER and hit the [ENTER] key. You can also search a techer's ID NUMBER by clicking the magnifying
        glass icon below. If the teacher has more than one program which is assigned to different departments, you can
        filter the result by checking or unchecking the checkbox list above the table.
      </span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class='colo' style="max-width: 900px">
    <mat-divider></mat-divider>
    <div style="height: 10px"></div>
    <table style="width: 100%">
      <tr>

        <!-- <td colspan="2">
            <mat-form-field style="width: 500px" appearance="outline">
              <mat-label>Departments</mat-label>
              <mat-select  [(ngModel)]="dept" (ngModelChange)='generate()'>
                <mat-option value="">
                  ALL
                </mat-option>
                <mat-option value="{{a.departmentId}}" *ngFor="let a of departments2">
                  {{a.departmentCode}} - {{a.departmentName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </td> -->

        <!--  <td valign="top" *ngIf="array!=undefined">
         	<span   *ngIf="array!=null">
          <button mat-raised-button (click)="generatePDF()" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;background-color:#006600;color: white;float: right;"    *ngIf="array.length!=0">
            &nbsp;&nbsp;<i class="material-icons">print
            </i> <span style="margin-top: 7px"> Download PDF&nbsp;&nbsp;&nbsp;</span></button>
            </span>
         </td> -->
      </tr>
      <tr>
        <td style="width: 200px">
          <mat-form-field class="txtid" style="width: 150px" *ngIf="filter=='faculty'">
            <input matInput #idno maxlength="7" placeholder="ID Number" [(ngModel)]="id" value="" name="idno"
              (keydown)="keyDownFunction($event)"> </mat-form-field>
          <button mat-mini-fab color="primary" (click)="emplookup()" *ngIf="filter=='faculty'">
            <mat-icon>search</mat-icon>
          </button>
        </td>
        <div>
          <td *ngIf="finalProgramList.length>0&&global.viewdomain.length > 1" style="text-align: right; margin-right: auto; width: 100%;">
            <mat-form-field appearance="outline" style="width: 110px;">
              <mat-label>Signatory</mat-label>
              <mat-select [(ngModel)]="signatureToPrint">
                <mat-option *ngFor="let a of signatures" value={{a.deptHead}}>
                  {{a.deptCode}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td *ngIf="finalProgramList.length>0" style="text-align: right; margin-right: auto; width: 100%;">
            <span>
              <button id="pdfButton" mat-raised-button (click)="generatePDF()"
                style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;color: white; float: right;"
                *ngIf="finalProgramList.length!=0" [disabled]="signatureToPrint==''"
                [ngClass]="activatePDF() ? 'buttonPDFGray' : 'buttonPDFGreen'">
                &nbsp;&nbsp;<i class="material-icons">print
                </i> <span style="margin-top: 7px"> Download PDF&nbsp;&nbsp;&nbsp;</span>
              </button>
            </span>
          </td>
        </div>
      </tr>
      <tr>
        <td style="width: 500px" valign="top" *ngIf="finalProgramList.length > 0">
          Name: <b>{{finalProgramList[0].instructor.toUpperCase()}}</b>
        </td>
      </tr>
    </table>
    <br>
    <div *ngIf="finalProgramList.length>0" style="border: 1px solid; border-radius: 7px; width: 360px; padding: 5px;">
      <table>
        <tr>
          <td style="width: 130px;">
            <b>No. of hours/week:</b>
          </td>
          <td style="width: 25px;"></td>
          <td style="width: 200px;">
            <b>No. of units or its equivalent:</b>
          </td>
        </tr>
        <tr>
          <td>
            Lecture: <span style="float: right;">{{lecHTML}}</span>
          </td>
          <td style="width: 25px;"></td>
          <td>
            Lecture: <span style="float: right;">{{lecHTML}}</span>
          </td>
        </tr>
        <tr>
          <td>
            Laboratory: <span style="float: right;">{{labHoursHTML}}</span>
          </td>
          <td style="width: 25px;"></td>
          <td>
            Laboratory: <span style="float: right;">{{labHTML}}</span>
          </td>
        </tr>
        <tr>
          <td>
            TOTAL: <span style="float: right;"><b>{{lecHTML + labHoursHTML}}</b></span>
          </td>
          <td style="width: 25px;"></td>
          <td>
            TOTAL: <span style="float: right;"><b>{{lecHTML + labHTML}}</b></span>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <table>
      <tr>
        <td style="width: 500px" valign="top" *ngIf="departmentList.length > 1">
          <b>Select which department you want to include in the load.</b>
        </td>
      </tr>
      <tr>
        <td *ngIf="departmentList.length > 1">
          <ul>
            <li *ngFor="let deptList of departmentList">
              <mat-checkbox (change)="checkBox(deptList.index, $event)" checked="true">
                {{deptList.name}}
              </mat-checkbox>
            </li>
          </ul>
        </td>
        <td>

        </td>
      </tr>
    </table>

    <div style="width: 100%;max-height: calc(100vh - 360px); overflow-y: scroll;">
      <div *ngIf="finalProgramList!=undefined">
        <table class="apptable" *ngIf="finalProgramList!=null">
          <tr *ngIf="finalProgramList.length!=0">
            <th style="width: 50px">TIME</th>
            <th style="width: 75px">DAYS</th>
            <th style="width: 35px">CODE NO.</th>
            <th style="min-width: 100px">COURSE NUMBER/ DESCRIPTIVE TITLE</th>
            <th style="width: 35px">ROOM NO.</th>
            <th style="width: 35px">LEC HRS.</th>
            <th style="width: 35px">LAB HRS.</th>
            <th style="width: 50px">NO. OF STUD.</th>

          </tr>
          <tr *ngFor="let a of finalProgramList">
            <td>{{a.time}}</td>
            <td>{{a.day}}</td>
            <td>{{a.codeNo}}</td>
            <td>{{a.subjectId}} - {{a.subjectTitle}}</td>
            <td>{{a.roomNumber}}</td>
            <td>{{a.lecUnits}}</td>
            <td>{{a.labUnits}}</td>
            <td>{{a.oe}}</td>
          </tr>
          <!-- <tr>
    		<th style="width: 50px">Code No.</th>
            <th style="width: 75px">Subject ID</th>
            <th style="min-width: 100px">Subject Title</th>
            <th style="width: 25px">Lab Units</th>
            <th style="width: 25px">Lec Units</th>
            <th style="width: 50px">Room</th>
            <th style="width: 75px">Time</th>
            <th style="width: 50px">Department</th>
            <th style="width: 30px">Class Size</th>
            <th style="width: 25px">OE</th>
            <th style="width: 25px">Res</th>
            <th style="width: 100px">Instructor</th>
            <th style="min-width: 125px">Loading Department</th>
            <th style="width: 100px">Department Head</th>

    	</tr>
    	<tr *ngFor="let a of array">
            <td>{{a.codeNo}}</td>
            <td>{{a.subjectId}}</td>
            <td>{{a.subjectTitle}}</td>
            <td>{{a.labUnits}}</td>
            <td>{{a.lecUnits}}</td>
            <td>{{a.roomNumber}}</td>
            <td>{{a.time}}</td>
            <td>{{a.dept}}</td>
            <td>{{a.classSize}}</td>
            <td>{{a.oe}}</td>
            <td>{{a.res}}</td>
            <td>{{a.instructor}}</td>
            <td>{{a.loadingDepartment}}</td>
            <td>{{a.departmentName}}</td>
        </tr> -->
        </table>
      </div>
    </div>
    <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="finalProgramList===undefined"></mat-spinner>
    <div *ngIf="finalProgramList!=undefined">
      <p *ngIf="finalProgramList==null" style="text-align: center;"><i>{{message}}</i></p>
      <p *ngIf="finalProgramList!=null" style="text-align: center;"><i *ngIf="finalProgramList.length===0&&id!=''">- No
          result found! -</i>
      </p>
    </div>
  </mat-card-content>
</mat-card>
