.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-full-width2 {
    width: 175px;
  }
  .example-full-width3 {
    width: 60px;
  }
  
  ::ng-deep .mat-card-header {
      background-color: #294a70 !important;
      padding: 0px 0px 0px 0px !important;
      color:white;
  }
  ::ng-deep .mat-card-header * {
      color:white;
  }
  
  ::ng-deep .mat-card {
      padding: 0 !important;
  }
  
  ::ng-deep .mat-card-content {
      padding: 5px !important;
  }
  
  .mat-form-field-infix{
    width: auto !important;
  }
  
  .example-full-widthminus{
    width: calc(210 - 50px)
  }

  /* ::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em !important;
 } */


 /* .my-mat-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
} */

#icon {
  font-size: 1.4em;
  margin-left: 10px;
}