<mat-card class="example-card">
    <mat-card-header>

        <mat-card-title>
            <p style="font-size: 14px; padding: 0; margin: 0; padding-top: 5px;"><b>ACADEMIC HISTORY MANAGER</b></p>
        </mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 12px; padding: 0; margin: 0; margin-bottom: -1em;">
                This page allows you to manage {{this.global.domain}} STUDENT'S ACADEMIC HISTORY.<br>
                Please enter the student's ID NUMBER and hit the [ENTER] key on your keyboard.
            </p>
        </mat-card-subtitle>

    </mat-card-header>


    <mat-card-content class='colo'>
        <table style="margin: 0px; padding: 0px;">
            <tr>
                <td width="110">
                    <img [src]="image" width="85" onError="this.src='assets/noimage.jpg'" />
                </td>
                <td>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td width="50%">
                                <mat-form-field class="example-full-widthminus">
                                    <input autofocus matInput #idno2 placeholder="ID Number" value="" [(ngModel)]="id"
                                        name="idno" required="required" (keydown)="keyDownFunction($event)"
                                        maxlength="7">
                                </mat-form-field>
                                <button mat-mini-fab color="primary" (click)="studentlookup()">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </table>

                    <h3 *ngIf="lname!=''" style="margin: 0px">{{lname}}, {{fname}} {{mname}} {{suffix}}</h3>
                    <div style="height: 10px"></div>
                </td>
            </tr>
        </table>
        <mat-divider></mat-divider>

        <div style="height: 10px"></div>

        <mat-spinner diameter=50 *ngIf="IsWait && lname!=''" style="margin:10px auto 10px auto"></mat-spinner>

        <div style="width: 100%; text-align: right;padding-bottom: 2px;" *ngIf="this.lname!=''">
            <!-- <button 
            mat-raised-button color="primary" 
            style="width : 10px;"
            (click)="openDialogAddAcadHist()"
            matTooltip="Add Academic History Record"
            *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryRecordPost')"
        >    -->
            <button color="primary" mat-icon-button>
                <mat-icon style="font-size: 3em; margin-right: 25px;" matTooltip="Add Academic History Record"
                    *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryRecordPost')"
                    (click)="openDialogAddAcadHist()">
                    add_circle
                </mat-icon>
            </button>
            <!-- </button>          -->
        </div>

        <table class="apptablegrade" *ngIf="this.lname!=''">
            <tr>
                <th style="width: 100px; padding-top:2px; padding-bottom: 2px;">Subject ID</th>
                <th style="padding-top:2px; padding-bottom: 2px;">Descriptive Title</th>
                <th style="width: 75px; padding-top:2px; padding-bottom: 2px;">Grade</th>
                <th style="width: 75px; padding-top:2px; padding-bottom: 2px;">Units</th>
                <!-- <th style="width:100px; padding-top:2px; padding-bottom: 2px; text-align: center;min-width: 120px">
                - Action -               
            </th> -->
            </tr>
        </table>

        <div style="max-height: calc(100vh - 250px);overflow-y: scroll;">
            <table *ngFor="let grade of gradearray; let i = index;" class="apptablegrade">

                <tr *ngIf="sy(grade.schoolYear)" style="text-align: center; color:black; background-color: gray;">
                    <td colspan="4" style="margin: 5px; padding: 5px;">
                        <b>{{ getsy(grade.schoolYear) }}</b>
                    </td>
                </tr>

                <tr *ngIf="sem(grade.schoolYear)" style="background-color:silver;">
                    <td colspan="4" style="margin: 5px; padding: 5px;">                      

                        <b>{{ getsem(grade.schoolYear) }}</b>                 

                        <a style="cursor: pointer !important;" 
                            matTooltip="Click to Unhide Grade" 
                            (click)="unhideGrade(grade.schoolYear)"
                            *ngIf="grade.gradeWasHidden==='1' && global.checkaccess(':Student:GradeHideUnhidePut')"
                        >
                            <!-- <div class="icon"> -->
                                <mat-icon class="material-icons" id="icon">lock</mat-icon>
                            <!-- </div> -->
                            
                        </a>                          
                    </td>
                </tr>

                <!-- <tr *ngIf="sem(grade.schoolYear)" bgcolor="#f4f8fd">
                <td colspan="4" style="padding-top:1px; padding-bottom: 1px;">
                    <b><i>{{  getsem(grade.schoolYear) }}</i></b>                   
                </td>
            </tr> -->

                <!-- <tr bgcolor="#f4f8fd" *ngIf="grade.gradeWasHidden==='1'" matTooltip="Click to Unhide Grade">
                <td colspan="4" style="padding-top:1px; padding-bottom: 1px;">
                    <b><i>{{  getsem(grade.schoolYear) }}</i></b>                   
                </td>
            </tr> -->

                <tr matTooltip="Click to View/Update/Delete Record"
                    [ngStyle]="grade.gradeWasHidden==='1'?{'background-color': 'AntiqueWhite'} : {}"
                    (click)="openDialogUpdateAcadHist(grade.recordID,  getsy(grade.schoolYear), getsem(grade.schoolYear))"
                    *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryGet')">
                    <!-- <tr 
                [ngStyle]="grade.gradeWasHidden==='1'?{'background-color': 'orange'} : {}"
                matTooltip={{getMatToolTipTxt(grade.gradeWasHidden)}}
            > -->
                    <td style="width: 100px; padding-top:1px; padding-bottom: 1px;">
                        {{ grade.subjectID }}
                    </td>
                    <td>
                        {{grade.subjectTitle }}
                    </td>
                    <td style="width: 62px; padding-top:1px; padding-bottom: 1px;">
                        {{grade.gradeWasHidden==='0' ? grade.grade :'Hidden' }}
                    </td>
                    <td style="width: 69px; padding-top:1px; padding-bottom: 1px;">
                        {{ grade.units }}
                    </td>
                    <!-- <td style="text-align: center; width:100px; padding-top:1px; padding-bottom: 1px;">
                    <button  mat-raised-button color="primary" style="font-size:11px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px"
                        [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button 
                            mat-menu-item
                            matTooltip="Add Academic History Record"
                            (click)="openDialogAddAcadHist()"
                            *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryRecordPut')">
                            <mat-icon>add</mat-icon>
                            <span>Add</span>
                        </button>
                        <button 
                            matTooltip="View/Update/Delete Academic History Record"
                            mat-menu-item 
                            (click)="openDialogUpdateAcadHist(grade.recordID,  getsy(grade.schoolYear), getsem(grade.schoolYear))" 
                            *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryGet')">
                            <mat-icon>info</mat-icon>
                            <span>View</span>
                        </button>
                         <button mat-menu-item (click)="openDialogDeleteAcadHist()" 
                            *ngIf="global.checkaccess(':AcademicHistory:AcademicHistoryRecordDelete' && grade.codeExists===false)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button> 
                    </mat-menu>
                </td> -->
                </tr>
                <tr *ngIf="sem2(grade.schoolYear,i)">
                    <td colspan="4" style="text-align: right;color: red; margin: 0px; padding: 3px;">
                        <b><i>{{ calcgrade(grade.schoolYear) }}</i></b>
                    </td>
                </tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>