<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>SUBJECTS</b></mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 12px; padding: 0; margin: 0;">
                This page presents a table-based record of the student's subject information with fees.
            </p>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class='colo'>
        <mat-divider></mat-divider>
        <div style="width: 990px;">  
            <div style="max-height: calc(100vh - 385px);overflow-y: scroll;width: 100%;">
                <table class="apptable">

                    <tr>
                        <th style="text-align: center;">Code</th>
                        <th style="text-align: center;">Subject ID</th>
                        <th style="text-align: center;">Title</th>
                        <th style="text-align: center;">Lec</th>
                        <th style="text-align: center;">Lab</th>
                        <th style="text-align: center;">Units</th>
                        <th style="text-align: center;">Grade</th>
                        <th style="text-align: center;">TFR</th>
                        <!-- <th style="text-align: center;">Type</th> -->
                        <th style="text-align: center;">LabType</th>
                        <!-- <th style="text-align: center;">TF</th> -->
                        <th style="text-align: center;">Amount</th>
                        <th style="text-align: center;">LabFee</th>
                        <th style="text-align: center;">Contact</th>
                        <th style="text-align: center;">Test Paper</th>
                    </tr>
                    <tr *ngFor="let subjects of arrSubjects">
                        <td style="text-align: center;">
                            {{subjects.codeNo}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.subjectID}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.subjectTitle}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.lecUnits}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.labUnits}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.units}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.final}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.tfr | currency:' '}}
                        </td>
                        <!-- <td style="text-align: center;">
                            {{subjects.labType}}
                        </td> -->
                        <td style="text-align: center;">
                            {{subjects.labTypeDesc}}
                        </td>
                        <!-- <td style="text-align: center;">
                            {{subjects.tf | currency:' '}}
                        </td> -->
                        <td style="text-align: center;">
                            {{subjects.tfAmount | currency:' '}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.labFee | currency:' '}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.contact}}
                        </td>
                        <td style="text-align: center;">
                            {{subjects.testPaperFee}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<b style="color:#294a70; font-size: 15px; margin-left: 10px;">TOTAL UNITS: {{totalUnits | currency:' '}}</b>
<b style="color:#294a70; font-size: 15px; margin-left: 10px;">TOTAL LABFEE: {{totallabfee | currency:' '}}</b>
<b style="color:#294a70; font-size: 15px; margin-left: 10px;">TOTAL CONTACT: {{totalContact | currency:' '}}</b>
<b style="color:#294a70; font-size: 15px; margin-left: 10px;">TOTAL AMOUNT: {{totaltfAmount | currency:' '}}</b>
<button mat-raised-button style="float: right" (click)="onNoClickclose()" color="warning">Close</button>