.example-form {
  min-width: 150px;
  width: 100%;
}
input {
  width: 148px;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color:white;
}
::ng-deep .mat-card-header * {
    color:white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.bluebutton{
  font-size:12px;
  min-width:18px !important;
  line-height: 15px;
  height: 28px;
  padding: 0;
  background-color:#294a70;
  color: white;
  margin-top: 15px !important;
  margin-left: 5px  !important;
}
.codered{
	background-color: red !important;
	color: white !important;
}

.codered:hover{
	background-color: red !important;
	color: white !important;

}

.codeorange{
	background-color: orange !important;
	color: white !important;
}

.codeorange:hover{
	background-color: orange !important;
	color: white !important;

}

.codegray{
	background-color: rgb(123, 123, 123) !important;
	color: white !important;
}

.codegray:hover{
	background-color: rgb(123, 123, 123) !important;
	color: white !important;

}
