<mat-card class="example-card" id="emplookup" style='padding: 0 !important;'>
	<mat-card-header>
		<mat-card-title><b>Edit Area</b></mat-card-title>
	</mat-card-header>

	<mat-card-content>

		<table>
			<tr>
				<td>
					<mat-form-field>
						<mat-label>Area Name</mat-label>
						<input autofocus matInput placeholder="" value="" [(ngModel)]="areaName" name="idno"
							required="required" autocomplete="off">
					</mat-form-field>
				</td>

			</tr>
			<tr>
				<td>
					<mat-form-field>
						<mat-label>Area Head ID</mat-label>
						<input autofocus matInput placeholder="" value="" [(ngModel)]="areaHeadID" name="idno"
							required="required" autocomplete="off" readonly>
					</mat-form-field>

					<button mat-mini-fab color="primary" (click)="search()" style="margin-left: 10px;" matTooltip="Search by Name"> 
						<mat-icon>search</mat-icon>
					</button>
				</td>
			</tr>
			<tr *ngIf="deptIDList.length>1">
				<td>
					<mat-form-field [style.width.px]=477>	
						<mat-label>Department</mat-label>
						<input autofocus matInput placeholder="" value="" [(ngModel)]="areaDeptName" name="idno"
							required="required" autocomplete="off" disabled>
					</mat-form-field>
				</td>
			</tr>
			<tr>
				<td>
					<mat-form-field [style.width.px]=477>
						<mat-label>Description</mat-label>
						<textarea autofocus matInput placeholder="" value="" [(ngModel)]="areaDesciption" name="idno"
							required="required" autocomplete="off"></textarea>	
					</mat-form-field>
				</td>
			</tr>
			<tr>
				<p></p>
			</tr>
		</table>

		<button mat-raised-button (click)="close()">Cancel</button>

		<button mat-raised-button (click)="save()"
			style="color: white; background-color: #294A70; float: right">Save</button>




	</mat-card-content>
</mat-card>