<mat-card class="example-card" id="departments" style="padding: 0">
    <mat-card-header>
        <mat-card-title><b>Payment Verification Manager</b></mat-card-title>
    </mat-card-header>

    <mat-card-content class='colo'>

        <div style="width: 700px;">

            <mat-form-field class="example-full-width2">
                <input autofocus matInput #idno2 placeholder="ID Number" [(ngModel)]="id" name="idno"
                    (keydown)="keyDownFunction($event)">

            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="studentlookup()">
                <mat-icon>search</mat-icon>
            </button>


            <fieldset style="flex: 1; padding-right: 10px; width: fit-content;" *ngIf="personInfo">
                <legend><b>Person Information</b></legend>

                <table id=" viewTable">
                    <tr>
                        <td style="width: 90px" valign="top">
                            Id Number:
                        </td>
                        <td>
                            {{personInfo.idNumber}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 90px" valign="top">
                            Name:
                        </td>
                        <td>
                            {{personInfo.lastName +" "+ personInfo.firstName +" "+personInfo.middleName}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button mat-raised-button color="primary" *ngIf="!checkIfRecordExist()"
                                style="width: 75px;color:white; margin-top: 5px; float: right;" class="buttondesign"
                                (click)="verify()">
                                <i class="material-icons">done_all</i>
                                <span style="margin-top: 7px"> Verify&nbsp;&nbsp;</span>
                            </button>
                            <p style="float: right; margin-bottom: -5px;" *ngIf="checkIfRecordExist()"> <b>This person is verified</b> </p>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <p style="margin-bottom: 10px;"> Verification records for: <b>{{global.syDisplay(global.syear)}}</b></p>

            <table class="apptableSmall">
                <tr>
                    <th>Id Number</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date Verified</th>
                </tr>

                <tr>
                    <td>
                        <mat-form-field appearance="outline"
                            style="margin-bottom: -25px; margin-top: -5px; padding-top: -5px; padding-bottom: -5px;">
                            <input autofocus matInput placeholder="Filter ID#" value="" [(ngModel)]="filterId"
                                (keyup)="filter()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline"
                            style="margin-bottom: -25px; margin-top: -5px; padding-top: -5px; padding-bottom: -5px;">
                            <input autofocus matInput placeholder="Filter Name" value="" [(ngModel)]="filterName"
                                (keyup)="filter()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>

                    </td>
                    <td>
                        <mat-form-field appearance="outline"
                            style="margin-bottom: -25px; margin-top: -5px; padding-top: -5px; padding-bottom: -5px;">
                            <input autofocus matInput placeholder="Filter Date Verified" value=""
                                [(ngModel)]="filterDateVerified" (keyup)="filter()" autocomplete="off">
                        </mat-form-field>
                    </td>
                </tr>

                <tr *ngFor="let record of recordsDisplay | paginate: config">
                    <td>
                        {{record.idNumber}}
                    </td>
                    <td>
                        {{record.name}}
                    </td>
                    <td>
                        {{record.statusDesc}}
                        <!-- <mat-select [(ngModel)]="record.statusDesc">
                            <mat-option value="Verified">Verified</mat-option>
                            <mat-option value="Not Verified">Not Verified</mat-option>
                        </mat-select> -->
                    </td>
                    <td style="text-align: center;">
                        {{record.dateVerified | date}}
                        <!-- style="display: flex; align-items: center; justify-content: center;" -->
                        <!-- <button mat-raised-button (click)="confirmDelete(a.id)" matTooltip="Remove"
                            style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right"
                            *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyDeleteOne')">
                            &nbsp;&nbsp;<i class="material-icons">delete
                            </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span></button> -->
                    </td>
                </tr>
            </table>

            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

        </div>


    </mat-card-content>
</mat-card>
