.example-full-width {
    width: 100%;
}

.example-full-width2 {
    width: 40%;
}

.example-full-width3 {
    width: 60px;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

::ng-deep .mat-card-header * {
    color: white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix {
    width: auto !important;
}


select:focus {
    outline: none;
}
