<div id="appointment">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>Appointment</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>

            <form [formGroup]="form">
                <table cellspacing="0" style="width: 100%">
                    <tr>
                        <td width="100%">
                            <!-- <mat-form-field style="width: 100%">
                                <mat-label>Department</mat-label>
                                <mat-select formControlName="selectedDept" required>
                                    <mat-option value="{{c.departmentName}}" *ngFor="let c of deptArr" (click)="getItem()">
                                        {{c.departmentName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get('selectedDept').invalid && (form.get('selectedDept').touched )">Department is required</mat-error>
                            </mat-form-field> -->

                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <input type="text" placeholder="Department" aria-label="Number" matInput [formControl]="deparmentValue" [matAutocomplete]="auto" (click)="fillInDepartment()" required>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getItem()">
                                        <mat-option *ngFor="let option of deparmentOptions | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="deparmentValue.invalid || deparmentValue.touched">Department is required</mat-error>
                                </mat-form-field>
                            </form>

                        </td>

                    </tr>
                    <tr>
                        <td width="100%">

                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Position" aria-label="Number" matInput [formControl]="posValue" [matAutocomplete]="auto1" required>
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <mat-option *ngFor="let option1 of posOptions | async" [value]="option1">
                                        {{option1}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="posValue.invalid || posValue.touched">Position is required</mat-error>


                                <!-- 
                            <mat-form-field style="width: 100%">
                                <mat-label>Position</mat-label>
                                <mat-select formControlName="selecteditem" required>
                                    <mat-option value="{{p.fullposition}}" *ngFor="let p of itemArr">
                                        {{p.fullposition}}
                                    </mat-option>
                                </mat-select> -->

                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <mat-form-field style="width: 100%">
                                <mat-label>Employee Type</mat-label>
                                <mat-select formControlName="empTypeID" required>
                                    <mat-option *ngFor="let t of empType" [value]="t.empTypeID">
                                        {{t.type}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get('empTypeID').invalid && (form.get('empTypeID').touched )">Employee Type is required</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <mat-form-field style="width: 100%">
                                <mat-label>Employee Category</mat-label>
                                <mat-select formControlName="empCatID" required>
                                    <mat-option *ngFor="let t of empCat" [value]="t.appointmentCategoryID">
                                        {{t.appointmentCategory}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.get('empCatID').invalid && (form.get('empCatID').touched )">Employee Category is required</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td width="50%">
                            <mat-form-field class="example-full-width">
                                <input readonly matInput [matDatepicker]="picker1" placeholder="Date Appointed" (click)="picker1.open()" [(ngModel)]="appointmentDate" (dateInput)="handleDateChange($event)" formControlName="dateappointed" name="dateappointed" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error *ngIf="form.get('dateappointed').invalid && (form.get('dateappointed').touched)">Date Appointed is required</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>

            <table cellspacing="0" style="width: 100%">
                <tr>
                    <td colspan="2">
                        Has Effectivity: &nbsp;
                        <mat-slide-toggle [checked]="statusid===1" (change)="checked()">
                            <span *ngIf="statusid==1"></span>
                            <span *ngIf="statusid==0"></span>
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr *ngIf="statusid===1">
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="startDate" (click)="picker.open()" formControlName="sdate" name="sdate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form.get('sdate').invalid && (form.get('sdate').touched )">Start Date is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker2" placeholder="End Date" [(ngModel)]="endDate" (click)="picker2.open()" formControlName="edate" name="edate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="form.get('edate').invalid && (form.get('edate').touched )">End Date is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="statusid===0">
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker" placeholder="Start Date" (click)="picker.open()" formControlName="disabledSdate" name="sdate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form.get('disabledSdate').invalid && (form.get('disabledSdate').touched )">Start Date is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker2" placeholder="End Date" (click)="picker2.open()" formControlName="disabledSdate" name="edate">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-error *ngIf="form.get('disabledSdate').invalid && (form.get('disabledSdate').touched )">End Date is required</mat-error>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="data.type === 'add'">
                    <td align="left">
                        Main: &nbsp;
                        <mat-slide-toggle [checked]="main===1" (change)="checkMain()" [disabled]="checker === true">
                            <span *ngIf="main==1"></span>
                            <span *ngIf="main==0"></span>
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr *ngIf="data.type === 'update'">

                    <td>
                        Active:&nbsp;
                        <mat-slide-toggle [checked]="active===1" (change)="checkActive()">
                            <span *ngIf="active==1"> </span>
                            <span *ngIf="active==0"></span>
                        </mat-slide-toggle>
                    </td>

                    <td align="right">
                        Main: &nbsp;
                        <mat-slide-toggle [checked]="main===1" (change)="checkMain()" [disabled]="checker === true">
                            <span *ngIf="main==1"></span>
                            <span *ngIf="main==0"></span>
                        </mat-slide-toggle>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>