<div id="aelig" style="">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>Add Eligibility</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>
            <table cellspacing="0" style="width: 100%">
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="Examination" formControlName="exam" required>
                            <mat-error *ngIf="form.get('exam').invalid && (form.get('exam').touched )">Exam is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="50%" style="padding-right: 5px" [formGroup]="form">
                        <mat-form-field class="example-full-width">
                            <input matInput type="number" placeholder="Rating" formControlName="rating" required>
                            <mat-error *ngIf="form.get('rating').invalid && (form.get('rating').touched )">Rating is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker" placeholder="Date" (click)="picker.open()" formControlName="date" name="date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form.get('date').invalid && (form.get('date').touched )">Date is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="License Number" formControlName="lnumber">
                            <mat-error *ngIf="form.get('lnumber').invalid && (form.get('lnumber').touched )">License Number is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker1" placeholder="Expiration Date" (click)="picker1.open()" formControlName="edate" name="edate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <!-- <mat-error *ngIf="form.get('edate').invalid && (form.get('edate').touched )">End Date is required</mat-error> -->
                        </mat-form-field>
                    </td>
                </tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>