<mat-card class="example-card">
    <mat-card-header class="fis-mat-card-header">
        <mat-card-title>Status History</mat-card-title>
    </mat-card-header>

    <mat-list>
    </mat-list>

    <div class="mat-elevation-z8 ">
        <div class="menu">
            <table class="table table-striped">
                <thead class="fis-table-header">
                    <th>Reference Date</th>
                    <th>Status</th>
                    <th>Description</th>
                    <th>Remarks</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of StatusHistory">
                        <td>{{item.refDate | date:'MM/dd/yyyy'}}</td>
                        <td>{{item.transStatusName}}</td>
                        <td>{{item.transStatusDesc}}</td>
                        <td>{{item.remarks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




    <div mat-dialog-actions align="end">
        <button mat-button class="fis-buttonBlue" mat-dialog-close>Done</button>
    </div>

</mat-card>