<mat-card class="example-card" id="school-year-setting" style='padding: 0 !important;'>
    <mat-card-header >
      <mat-card-title><b>{{feesHeader}}</b></mat-card-title>
      <mat-card-subtitle><p>{{feesSubHeader}}</p></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class='colo'>
        <table cellspacing="0" style="width: 100%">
            <tr>
                <td width="70%">	
                    <mat-form-field style="width: 100%">
                        <mat-label>- Fees -</mat-label>
                        <mat-select [(ngModel)]="selectedFees">
                        <mat-option *ngFor="let f of FeesList" [value]="f.feesID">
                            {{ f.feesDesc }}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-icon-button color="primary">
                        <mat-icon matTooltip="Add Description" (click)="showDescription(1)">add_box</mat-icon>
                    </button>
                </td>
            </tr>
            <tr *ngIf="showDesc">
                <td>
                    <mat-form-field  style="width: 100%">
                    <input matInput type="text" placeholder="Description" [(ngModel)]="idesc" >
                    </mat-form-field>
                </td>
                <td>
                    <button mat-icon-button style="float: right;">
                        <mat-icon matTooltip="Cancel" (click)="cancelDescription()">clear</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" style="float: right;">
                        <mat-icon matTooltip="Save" (click)="saveDesciption()">save</mat-icon>
                    </button>
                </td>
            </tr>
            <tr *ngIf='showError'>
                <td colspan="2">
                    <p style="color: red;font-size: 12px;">{{eMessage}}</p>
                </td>
            </tr>
            <tr>
                <td>Tuition Fee </td>
                <td>
                        <mat-slide-toggle [(ngModel)]="itf" [checked]="itf" (change)="checked(1)"></mat-slide-toggle>
                </td>
            </tr>  
            <tr>
                <td>Miscellaneous Fee </td>
                <td>	
                    <mat-slide-toggle [(ngModel)]="imf"  (change)="checked(2)"></mat-slide-toggle>
                </td>
            </tr> 
            <tr>
                <td>Student Fee </td>
                <td>	
                    <mat-slide-toggle [(ngModel)]="isf" (change)="checked(3)"></mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>Charge Per Unit </td>
                <td>	
                    <mat-slide-toggle [(ngModel)]="iperUnit"></mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>Once Per School Year </td>
                <td>
                    <mat-slide-toggle [(ngModel)]="ioncePerSY"></mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>Not Included in Summer </td>
                <td>	
                    <mat-slide-toggle [(ngModel)]="inotSummer"></mat-slide-toggle>
                </td>
            </tr>
        </table>  
    </mat-card-content>
  </mat-card>
<div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="onNoClickclose()">Cancel</button>
    <button mat-raised-button color="primary" (click)="SaveFees()" style="float: right;" *ngIf="data.x==1">{{feesMode}}</button><br>&nbsp;
    <!-- <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button> -->
</div>