<div id="ares" style="">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>{{type}} Speaking Engagement</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>
            <table cellspacing="0" style="width: 100%">
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="Award Title" formControlName="EventTitle">
                            <mat-error *ngIf="form.get('EventTitle').invalid && (form.get('EventTitle').touched )">Event Title is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="Award Received" formControlName="AwardReceived">
                            <mat-error *ngIf="form.get('AwardReceived').invalid && (form.get('AwardReceived').touched )">Award Received is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="Awarding Body" formControlName="AwardingBody">
                            <mat-error *ngIf="form.get('AwardingBody').invalid && (form.get('AwardingBody').touched )">Awarding Body is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="Venue" formControlName="Venue">
                            <mat-error *ngIf="form.get('Venue').invalid && (form.get('Venue').touched )">Venue is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput [matDatepicker]="picker" placeholder="Date Awarded" (click)="picker.open()" formControlName="DateAwarded" name="DateAwarded" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form.get('DateAwarded').invalid && (form.get('DateAwarded').touched )">Date Awarded is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td></td>
                </tr>
                <tr *ngIf="type==='Update'">
                    <td>
                        Status: &nbsp;
                        <mat-slide-toggle [checked]="statusid===1" (change)="checked()">
                            <span *ngIf="statusid==1||statusid==null">Approved</span>
                            <span *ngIf="statusid==0">For approval</span>
                        </mat-slide-toggle>
                    </td>
                </tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
    <table width="100%">
        <tr>
            <td align="right">
                <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
                <button mat-raised-button color="primary" (click)="save()">Save</button>
            </td>
        </tr>
    </table>
</div>