<div id="contract" style="">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>Contracts</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>
            <table cellspacing="0" style="width: 100%">
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>Terms of Contract</mat-label>
                            <mat-select formControlName="selectedClass" required>
                                <mat-option value="{{c.classificationId}}" *ngFor="let c of classificationsArr">
                                    {{c.classification}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('selectedClass').invalid && (form.get('selectedClass').touched )">Terms of Contract is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
                        </mat-form-field>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        Status: &nbsp;
                        <mat-slide-toggle [checked]="active===1" (change)="checked()">
                            <span *ngIf="active==1">Active</span>
                            <span *ngIf="active==0">Not Active</span>
                        </mat-slide-toggle>
                    </td>
                </tr>
                <tr *ngIf="active===0">
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width">
                            <input readonly matInput [matDatepicker]="picker" placeholder="Start Date" (click)="picker.open()" [(ngModel)]="sdate" name="sdate" disabled="true">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>

                        </mat-form-field>
                    </td>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width">
                            <input readonly matInput [matDatepicker]="picker2" placeholder="End Date" (click)="picker2.open()" [(ngModel)]="edate" name="edate" disabled="true">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>

                        </mat-form-field>
                    </td>
                </tr>

                <tr *ngIf="active===1">
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker" placeholder="Start Date" (click)="picker.open()" formControlName="sdate" name="sdate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="form.get('sdate').invalid && (form.get('sdate').touched )">Start Date is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker2" placeholder="End Date" (click)="picker2.open()" formControlName="edate" name="edate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="form.get('edate').invalid && (form.get('edate').touched )">End Date is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>