<div id="educbcg" style="">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>Update educational attainment/background</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>
            <table cellspacing="0" style="width: 100%">

                <tr>
                    <td width="100%">

                        <mat-form-field class="example-full-width">
                            <mat-label>Program Level</mat-label>

                            <input type="text" placeholder="Program Level" aria-label="Number" matInput [formControl]="progLvl" (click)="fillInProgLvl()" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getProgramName()">
                                <mat-option *ngFor="let option of progLvlfilteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="progLvl.invalid && progLvl.touched">Program Level is required</mat-error>

                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Program Name" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="autoProgName" (click)="verifyClick()">
                                <mat-autocomplete #autoProgName="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="recordSelectedProgname(option)">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="myControl.invalid && myControl.touched">Program Name is required</mat-error>
                            </mat-form-field>
                        </form>
                        <!-- <mat-form-field style="width: 100%" >
	              <mat-label>Program Name</mat-label>
	              <mat-select  [(ngModel)]="progName" >
	                <mat-option value="{{p.programTitle}}" *ngFor="let p of progNameArr" (click)="recordSelectedProgname(p)">
	                  {{p.programTitle}}
	                </mat-option>
	              </mat-select>
	            </mat-form-field> -->
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <form class="example-form" [formGroup]='usersForm'>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="School Name" [matAutocomplete]="autoSchool" formControlName='userInput'>
                                <mat-error *ngIf="usersForm.get('userInput').invalid && (usersForm.get('userInput').touched )">School Name is required</mat-error>
                            </mat-form-field>
                            <mat-autocomplete #autoSchool="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <mat-spinner diameter="50" style="margin: 5px auto 5px auto"></mat-spinner>
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let sch of filteredSchs" [value]="sch" (click)="recordSelectedSchname(sch.companyName)">
                                        <span>{{ sch.companyName }}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </form>
                    </td>
                </tr>
            </table>
            <table cellspacing="0" style="width: 100%">
                <tr>
                    <td width="40%">
                        <mat-form-field class="example-full-width" [formGroup]='usersForm'>
                            <input matInput placeholder="Year Graduated" formControlName='yrGrad'>
                            <mat-error *ngIf="usersForm.get('yrGrad').invalid && (usersForm.get('yrGrad').touched )">Year Graduated is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td width="60%">
                        <mat-form-field class="example-full-width" [formGroup]='usersForm'>
                            <input matInput placeholder="S.O. Number" formControlName='sonumber'>
                            <mat-error *ngIf="usersForm.get('sonumber').invalid && (usersForm.get('sonumber').touched )">S.O. Number is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" [formGroup]='usersForm'>
                            <input matInput placeholder="Units Earned" formControlName='UnitsEarned'>
                            <mat-error *ngIf="usersForm.get('UnitsEarned').invalid && (usersForm.get('UnitsEarned').touched )">Units Earned Number is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td></td>
                </tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>