<mat-card class="example-card">
  <mat-card-header >
    <mat-card-title><b>Faculty Evaluation</b>
      </mat-card-title>
  </mat-card-header>

  <mat-card-content class='colo' >
  	<mat-divider></mat-divider>
    <div>
      <table>
        <tr>
          <td width="160">
            <img [src]="image" width="150" onError="this.src='assets/noimage.jpg'"/>
          </td>
          <td>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td width="50%">
                  <table>
                    <tr>
                      <td width="180px">
                        <mat-form-field style="width: 180px">
                          <input autofocus matInput #idno2 placeholder="ID Number" value="" [(ngModel)]="id"
                                            name="idno" required="required" (keydown)="keyDownFunction($event)" maxlength="7">
                        </mat-form-field>
                      </td>
                      <td>
                        <button mat-mini-fab color="primary" (click)="personlookup()">
                          <mat-icon>search</mat-icon>
                        </button>
                      </td>
                      <td>
                        <ng-container *ngIf="checkEmployeeBasicEdDomain()">
                          <p style="color: rgb(237, 74, 74);font-size: smaller;">Note: Dual domain assigned. Select your desired view domain</p>
                          <mat-radio-group style="margin-top: -20px;" [(ngModel)]="proglevel">
                            <mat-radio-button value="High School" (click)="setViewDomain('High School')" selected>Junior High School&emsp;</mat-radio-button>
                            <mat-radio-button value="Senior High School" (click)="setViewDomain('Senior High School')">Senior High School&emsp;</mat-radio-button>
                          </mat-radio-group>
                        </ng-container>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <div style="height: 10px"></div>
                <div style="height: 85px" *ngIf="!(facultyName!='')"></div>
            <div *ngIf="facultyName!=''">
              <h2 style="margin: 0px">{{facultyName}}</h2>
              <div style="height: 5px"></div>
              <b style="font-size: 14px">{{formValueGet.position.value}}</b>
              <br>
              <br>
              <div>

                <table style="width: auto;" *ngIf="!dualDomainTrigger">
                  <tr>
                    <td *ngIf="global.domain == 'HIGHSCHOOL'">
                      <ng-container *ngIf="!arrayComments_spinner;else addQ">
                        <button mat-raised-button color="primary" class="btnstyle" style="min-width: 10px;width: 170px!important;margin-bottom: 10px" (click)="generateAQ()">
                          &nbsp;&nbsp;<i class="material-icons">receipt</i> <span style="margin-top: 7px"> Generate A.Q. Results&nbsp;&nbsp;&nbsp;</span>
                        </button>&nbsp;
                      </ng-container>
                      <ng-template #addQ>
                        <button mat-raised-button color="primary" class="btnstyle" style="min-width: 10px;width: 170px!important;margin-bottom: 10px" disabled>
                          &nbsp;&nbsp;<i class="material-icons">receipt</i> <span style="margin-top: 7px"> Generate A.Q. Results&nbsp;&nbsp;&nbsp;</span>
                        </button>&nbsp;
                      </ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!arrayComments_spinner;else pointsSummary">
                        <button mat-raised-button color="primary" class="btnstyle" style="min-width: 10px;width: 170px!important;margin-bottom: 10px" (click)="generatePointsSummary()">
                          &nbsp;&nbsp;<i class="material-icons">library_books</i> <span style="margin-top: 7px"> Generate Points Summary&nbsp;&nbsp;&nbsp;</span>
                        </button>&nbsp;
                      </ng-container>
                      <ng-template #pointsSummary>
                        <button mat-raised-button color="primary" class="btnstyle" style="min-width: 10px;width: 170px!important;margin-bottom: 10px" disabled>
                          &nbsp;&nbsp;<i class="material-icons">library_books</i> <span style="margin-top: 7px"> Generate Points Summary&nbsp;&nbsp;&nbsp;</span>
                        </button>&nbsp;
                      </ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!arrayComments_spinner;else comment">
                        <button mat-raised-button color="primary" class="btnstyle" style="min-width: 10px;width: 160px!important;margin-bottom: 10px" (click)="generateComment()">
                          &nbsp;&nbsp;<i class="material-icons">vertical_split</i> <span style="margin-top: 7px">Generate Comments&nbsp;&nbsp;&nbsp;</span>
                        </button>&nbsp;
                      </ng-container>
                      <ng-template #comment>
                        <button mat-raised-button color="primary" class="btnstyle" style="min-width: 10px;width: 160px!important;margin-bottom: 10px" disabled>
                          &nbsp;&nbsp;<i class="material-icons">vertical_split</i> <span style="margin-top: 7px">Generate Comments&nbsp;&nbsp;&nbsp;</span>
                        </button>&nbsp;
                      </ng-template>
                    </td>
                    <td>
                      <div *ngIf="arrayComments_spinner">
                        <p style="margin-top: -10px;">Loading reports generation data | {{progressBarPercentage}}%</p><mat-progress-bar mode="buffer" style="width:30px;margin-top:-22px;margin-left:240px"></mat-progress-bar>
                      </div>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <mat-divider></mat-divider>

    <!-- <mat-tab-group (selectedTabChange)='getindex($event)'>
		  <mat-tab label="Evaluation">
		  	<mat-card *ngIf="tabbing===0">
          <table class="apptable">
            <tr>
              <th style="text-align: center;">
                CODE NUMBER
              </th>
              <th style="text-align: center;">
                SUBJECT ID
              </th>
              <th style="text-align: center;">
                SUBJECT TITLE
              </th>
              <th style="text-align: center;">
                TYPE
              </th>
              <th style="text-align: center;">
                EVALUATION STATUS
              </th>
              <th style="width: 80px;text-align: center;">
                - ACTION -
              </th>
            </tr>
            <tr *ngFor="let f of facultyLoadArray; let i=index" (click) = "showCodeEvalDetails(f.evaluationSheetHeader,f.subjectDetails,f.evaluationSheetHeader);">
              <td>{{f.codeNo}}</td>
              <td>{{f.subjectID}}</td>
              <td>{{f.subjectTitle}}</td>
              <td width="12%">{{getSchedType(f.schedType)}}</td>
              <td width="7%">{{getEvaluationStatus(f.evaluationSheetHeader)}}</td>
              <td style="text-align: center;">
                <ng-container *ngIf="f.evaluationSheetHeader == null || f.evaluationSheetHeader == '' ; else btntoggle">
                  <button mat-raised-button color="primary" class="btnstyle" (click)="createEvaluation(f,f.subjectDetails)">
                    <i class="material-icons">add</i><span style="margin-top: 7px">Create</span>
                  </button>
                </ng-container>
                <ng-template #btntoggle>
                  <mat-slide-toggle [checked]="statusid === 0" (change)="checkToggleActiveStatus(f.evaluationSheetHeader.isActive)">
                    <span *ngIf="statusid==1">Not Active</span>
                    <span *ngIf="statusid==0">Active</span>
                  </mat-slide-toggle>
                </ng-template>
              </td>
            </tr>
          </table>
  			</mat-card>
		  </mat-tab>

		  <mat-tab label="Computation">
		  	<mat-card *ngIf="tabbing===1">
		  		<div style="margin-top: 25px">
            <app-computation [employeeData]="eData"></app-computation>
				  </div>
		  	</mat-card>
		  </mat-tab>
		</mat-tab-group> -->



  <mat-accordion class="example-headers-align"  *ngIf="facultyName">
    <div *ngIf="dualDomainTrigger">
      <br>
      <br>
      <table width="100%">
        <tr align="center">
          <td><strong>----- No data to show -----</strong></td>
        </tr>
      </table>
    </div>
    <div *ngIf="!dualDomainTrigger">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Graphs and Value Interpretation</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="grid-container">

          <mat-grid-list cols="2" rowHeight="400px">

            <!-- LABORATORY PIE CHART-->
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-header style="background-color: #ffffff !important;
                padding: 15px 5px 5px 5px !important;
                color:black !important;">
                  <mat-card-title>
                    <strong style="color:black!important;">Lecture - Strong points, Developing Points and Points for improvement</strong>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content" style="margin-top: -27px!important;">

                  <div class="chart-container">
                    <canvas  id="pie_chart_lec" >{{ pie_chart_lec }}</canvas>

                  </div>
                  <div style="justify-content: center!important; margin-left: 40%; margin-right: 60%;" *ngIf="pie_chart_lec_spinner">
                    <mat-progress-spinner
                        class="example-margin"
                        [mode]="mode">
                    </mat-progress-spinner>
                  </div>

                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <!-- LECTURE PIE CHART-->
            <mat-grid-tile [colspan]="1" [rowspan]="1" >
              <mat-card class="dashboard-card" >
                <mat-card-header style="background-color: #ffffff !important;
                padding: 15px 5px 5px 5px !important;
                color:black !important;">
                  <mat-card-title>
                    <strong style="color:black!important;"> Laboratory - Strong points, Developing Points and Points for improvement</strong>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content" style="margin-top: -27px!important;">

                  <div class="chart-container">
                    <canvas  id="pie_chart_lab" >{{ pie_chart_lab }}</canvas>
                  </div>
                  <div style="justify-content: center!important; margin-left: 40%; margin-right: 60%;" *ngIf="pie_chart_lab_spinner">
                    <mat-progress-spinner
                        class="example-margin"
                        [mode]="mode">
                    </mat-progress-spinner>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <!-- LABORATORY AND LECTURE BAR GRAPH-->
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-card class="dashboard-card" style="height:300px!important">
                <mat-card-header style="background-color: #ffffff !important;
                padding: 15px 5px 5px 5px !important;
                color:black !important;">
                  <mat-card-title>
                    <strong  style="color:black!important;">Summary of Student Evaluation</strong>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content" style="margin-top: -27px!important;">

                  <div class="example-full-width" style="width: 100%;">
                    <canvas  id="Summary_of_Student_Evaluation" class="example-full-width" style="height:250px!important">{{ Summary_of_Student_Evaluation_chart }}</canvas>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <!-- LABORATORY BAR GRAPH-->
            <!-- <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-card class="dashboard-card" style="width: auto;">
                <mat-card-header style="background-color: #ffffff !important;
                padding: 15px 5px 5px 5px !important;
                color:black !important;">
                  <mat-card-title>
                    <p  style="color:black!important;">Laboratory</p>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content" style="margin-top: -27px!important;">

                  <div class="chart-container">
                    <canvas  id="Summary_of_Student_Evaluation_lab" style="height:300px!important">{{ Summary_of_Student_Evaluation_lab_chart }}</canvas>
                  </div>

                </mat-card-content>
              </mat-card>
            </mat-grid-tile> -->

            <!-- LECTURE BAR GRAPH-->
            <!-- <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-card class="dashboard-card">
                <mat-card-header style="background-color: #ffffff !important;
                padding: 15px 5px 5px 5px !important;
                color:black !important;">
                  <mat-card-title>
                    <p  style="color:black!important;">Lecture</p>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content" style="margin-top: -27px!important;">

                  <div class="chart-container">
                    <canvas  id="Summary_of_Student_Evaluation_lec" style="height:300px!important">{{ Summary_of_Student_Evaluation_lec_chart }}</canvas>
                  </div>

                </mat-card-content>
              </mat-card>
            </mat-grid-tile> -->

          </mat-grid-list>
          <div>
            <table width="100%">
              <tr>
                <td align="left">
                  <br>
                  <p style="color: red;font-size: 12px;">*Note: Click the code row to take show more evaluation details.</p>
                </td>
                <td>
                  <table width="100%">
                    <tr>
                      <td width="50%"><strong> Lecture transmutation average: </strong></td>
                      <td align="left">{{getAverage(0)}}</td>
                    </tr>
                    <tr>
                      <td><strong>Laboratory transmutation average:</strong></td>
                      <td>{{getAverage(1)}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <mat-sidenav-container>

            <mat-sidenav-content>
                <div class="table-container">
                    <div class="table-content">

                      <table mat-table [dataSource]="dataSource" style="width: 100%;" class="transmutationTable">
                        <ng-container matColumnDef="codeNo" sticky >
                          <mat-header-cell *matHeaderCellDef style="width: 200px;flex: 0 0 auto"  >
                            <div *ngIf="checkDomain()">Code Number</div>
                            <div *ngIf="!checkDomain()">Section</div>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let element" style="width: 200px;flex: 0 0 auto" (click)="getCodeStudentEvalDetails(element)">
                            <div class="rolerow" *ngIf="checkDomain()">
                              <b>{{element.codeNo}}</b><br>
                            </div>
                            <div class="rolerow" *ngIf="!checkDomain()">
                              <b>{{element.section}}</b><br>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- <ng-container matColumnDef="subjectID" sticky *ngIf="this.global.domain == 'COLLEGE' && this.global.domain == 'GRADUATE SCHOOL'">
                            <mat-header-cell *matHeaderCellDef style="width: 100px;flex: 0 0 auto" > Subject ID</mat-header-cell>
                            <mat-cell *matCellDef="let element" style="width: 100px;flex: 0 0 auto" (click)="getCodeStudentEvalDetails(element)">
                            <div class="rolerow">
                              <b>{{element.subjectID}}</b> <br>
                            </div>
                          </mat-cell>
                        </ng-container> -->
                        <ng-container matColumnDef="subjectTitle">
                          <mat-header-cell *matHeaderCellDef style="min-width: 500px"> Subject Title </mat-header-cell>
                          <mat-cell *matCellDef="let element" style="min-width: 500px" (click)="getCodeStudentEvalDetails(element)">
                            <div class="rolerow">
                              <b>{{element.subjectTitle}}</b> <br>
                            </div>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="schedType">
                          <mat-header-cell *matHeaderCellDef style="width: 70px;flex: 0 0 70px"> Type </mat-header-cell>
                          <mat-cell *matCellDef="let element" style="width: 70px;flex: 0 0 70px" (click)="getCodeStudentEvalDetails(element)">
                            <div class="rolerow">
                              <b>{{getSchedType(element.schedType)}}</b> <br>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="evaluationSheetSummary">
                          <mat-header-cell *matHeaderCellDef style="width: 120px;flex: 0 0 130px"> Value Interpretation </mat-header-cell>
                          <mat-cell *matCellDef="let element" style="width: 120px;flex: 0 0 130px" (click)="getCodeStudentEvalDetails(element)">
                            <div class="rolerow">
                              <mat-chip-list>
                                <mat-chip style="margin-top: 19px; text-align: center !important;" color="{{ verifyInterpretation(element.evaluationSheetSummary,element.oe) == 'EXCELLENT' ||verifyInterpretation(element.evaluationSheetSummary,element.oe) == 'VERY SATISFACTORY' ? 'primary' : ( verifyInterpretation(element.evaluationSheetSummary,element.oe) == 'POOR' ||verifyInterpretation(element.evaluationSheetSummary,element.oe) == 'SATISFACTORY' ? 'accent' : ( verifyInterpretation(element.evaluationSheetSummary,element.oe) == 'NONE' ? 'gray' : 'warn' ) ) }}" selected>
                                  {{verifyInterpretation(element.evaluationSheetSummary,element.oe)}}
                                </mat-chip>
                              </mat-chip-list> <br>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="transmutedValue">
                          <mat-header-cell *matHeaderCellDef style="width: 70px;flex: 0 0 70px"> T-Value </mat-header-cell>
                          <mat-cell *matCellDef="let element" style="width: 70px;flex: 0 0 70px" (click)="getCodeStudentEvalDetails(element)">
                            <div class="rolerow" style="margin-left: 10px;">
                              {{verifyTransmutedValue(element.evaluationSheetSummary)}}
                            </div>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="oe">
                          <mat-header-cell *matHeaderCellDef style="width: 110px;flex: 0 0 110px"> Respondents/O.E. </mat-header-cell>
                          <mat-cell *matCellDef="let element" style="width: 110px;flex: 0 0 110px;text-align: center;" (click)="getCodeStudentEvalDetails(element)">
                            <div class="rolerow" style="margin-left: 30px;">
                              {{getValidResponseOverOE(element.oe,element.evaluationSheetSummary)}}
                            </div>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="respondentsCount">
                          <mat-header-cell *matHeaderCellDef style="width: 90px;flex: 0 0 90px"> Status </mat-header-cell>
                          <mat-cell *matCellDef="let element" style="width: 90px;flex: 0 0 90px" (click)="getCodeStudentEvalDetails(element)">
                            <div class="rolerow">
                              <mat-chip-list>
                                <mat-chip style="margin-top: 19px; text-align: center !important; min-width: 60px!important;" color="{{ getValidInvalidStatus(element.oe,element.evaluationSheetSummary) == 'VALID' ? 'primary' : getValidInvalidStatus(element.oe,element.evaluationSheetSummary) == 'INVALID' ? 'warn' : 'gray'}}" selected>
                                  {{getValidInvalidStatus(element.oe,element.evaluationSheetSummary)}}
                                </mat-chip>
                              </mat-chip-list> <br>
                            </div>
                          </mat-cell>
                        </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </table>
                    </div>
                </div>
                <!-- end table container -->
            </mat-sidenav-content>
          </mat-sidenav-container>


        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Strong points, Developing Points and Points for improvement</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>


          <mat-tab-group>
            <mat-tab label="Strong points">
              <div>
                <table class="apptable">
                  <tr>
                    <th width="150px">Item Number</th>
                    <th>Questions</th>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>LECTURE</strong></td>
                  </tr>
                  <tr *ngFor="let item of arrayStrongPoints">
                    <td>{{item.itemNo}}</td>
                    <td>{{item.question}}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>LABORATORY</strong></td>
                  </tr>
                  <tr *ngFor="let item of arrayStrongPointsLab">
                    <td>{{item.itemNo}}</td>
                    <td>{{item.question}}</td>
                  </tr>
                </table>
              </div>
            </mat-tab>
            <mat-tab label="Developing Points">
              <div>
                <table class="apptable">
                  <tr>
                    <th width="150px">Item Number</th>
                    <th>Questions</th>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>LECTURE</strong></td>
                  </tr>
                  <tr *ngFor="let item of arrayDevelopingPoints">
                    <td>{{item.itemNo}}</td>
                    <td>{{item.question}}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>LABORATORY</strong></td>
                  </tr>
                  <tr *ngFor="let item of arrayDevelopingPointsLab">
                    <td>{{item.itemNo}}</td>
                    <td>{{item.question}}</td>
                  </tr>
                </table>
              </div>
            </mat-tab>
            <mat-tab label="Points for improvement">
              <div>
                <table class="apptable">
                  <tr>
                    <th width="150px">Item Number</th>
                    <th>Questions</th>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>LECTURE</strong></td>
                  </tr>
                  <tr *ngFor="let item of arrayPointsForImporvement">
                    <td>{{item.itemNo}}</td>
                    <td>{{item.question}}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>LABORATORY</strong></td>
                  </tr>
                  <tr *ngFor="let item of arrayPointsForImporvementLab">
                    <td>{{item.itemNo}}</td>
                    <td>{{item.question}}</td>
                  </tr>
                </table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <!-- <div>
          <br>
          <h3>Strong Points:</h3>


          <br>
          <h3>Developing Points:</h3>


          <br>
          <h3>Points for Improvement:</h3>

        </div> -->

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           <strong>Comments</strong>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <div>
          <br>
          <table width="100%">
            <tr>
              <td align="left"><strong>LECTURE</strong></td>
              <td align="right"><p style="font-style: italic;">(Lecture comment count:{{arrayCommentsLec.length}})</p></td>
            </tr>
          </table>
          <div *ngIf="!arrayComments_spinner" style="max-height: calc(75vh - 250px);overflow-y: scroll;">
            <table class="apptable">
              <tr>
                <th width="150px">Class</th>
                <th>Comments</th>
              </tr>
              <tr *ngFor="let item of arrayCommentsLec">
                <td>{{item.class}}</td>
                <td>{{item.comment}}</td>
              </tr>
            </table>
          </div>
          <div style="justify-content: center!important; margin-left: 40%; margin-right: 60%;" *ngIf="arrayComments_spinner">
            <mat-progress-spinner
                class="example-margin"
                [mode]="mode">
            </mat-progress-spinner>
          </div>


          <br>
          <table width="100%">
            <tr>
              <td align="left"><strong>LABORATORY</strong></td>
              <td align="right"><p style="font-style: italic;">(Laboratory comment count:{{arrayCommentslab.length}})</p></td>
            </tr>
          </table>
          <div style="max-height: calc(75vh - 250px);overflow-y: scroll;" *ngIf="!arrayComments_spinner">
            <table class="apptable">
              <tr>
                <th width="150px">Class</th>
                <th>Comments</th>
              </tr>
              <tr *ngFor="let item of arrayCommentslab">
                <td>{{item.class}}</td>
                <td>{{item.comment}}</td>
              </tr>
            </table>
          </div>
          <div style="justify-content: center!important; margin-left: 40%; margin-right: 60%;" *ngIf="arrayComments_spinner">
            <mat-progress-spinner
                class="example-margin"
                [mode]="mode">
            </mat-progress-spinner>
          </div>

        </div>
      </mat-expansion-panel>
    </div>


  </mat-accordion>


  </mat-card-content>
</mat-card>
