.example-form {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-full-width {
  width: 100%;
}
.example-full-width2 {
  width: 175px;
}
.example-full-width3 {
  width: 60px;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color:white;
}
::ng-deep .mat-card-header * {
    color:white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix{
  width: auto !important;
}

.example-full-widthminus{
  width: calc(100% - 50px)
}

mat-header-cell:nth-child(1), mat-cell:nth-child(1),mat-header-cell:nth-child(3), mat-cell:nth-child(3),mat-header-cell:nth-child(4), mat-cell:nth-child(4){
    flex: 0 0 100px;
}

.mat-form-field{
  margin-bottom: -20px;
}
.btnstyle{
  font-size:11px;
  width: 70px;
  min-width:18px;
  line-height: 15px;
  height: 28px;
  padding: 0;
  margin-left: 5px
}


tr.example-detail-row {
  height: 0;
}
.mat-row:hover {
  background-color: rgb(180, 180, 180);
}
.transmutationTable tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

.transmutationTable tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.codeCSS{
  width: 120px;flex: 0 0 auto;
}
.sectionCSS{
  width: 500px;flex: 0 0 auto;
}

.btnstyle {
  font-size: 11px !important;
  width: 70px !important;
  min-width: 18px !important;
  line-height: 15px !important;
  height: 28px !important;
  padding: 0 !important;
  margin-left: 5px !important
}
.mat-standard-chip {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  text-align: center;
  cursor: default;
  min-height: 19px;
  min-width: 120px;
  font-size: 8.75px;
  margin-top: 10px;
  text-align: center!important;
}

.mat-progress-bar-background {
  fill: #ffffff;
}


:host {
  height: 100%;

  mat-sidenav-container {
      display: flex;
      flex-flow: column;
      height: 100%;
      width: 100%;

      mat-sidenav {
          display: flex;
          flex-direction: column;
          height: 100%;
          min-width: 300px;
          max-width: 300px;
          overflow-y: hidden;
          background: white;
          padding: 0 6px 0 18px;
      }

      mat-sidenav-content {
          display: flex;
          flex-direction: column;
          align-content: flex-start;
          justify-content: flex-start;
          height: 100%;
          overflow-y: hidden;
          background: white;

          .table-container {
              width: 100vw;

          }

          .mat-table {
              display: block;
              width: 100%;
              overflow-x: auto;
          }

      }

  }
}



