<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>Add Graduation Record</b></mat-card-title>
    </mat-card-header>
    <div style="height: 10px"></div>
    <mat-card-content class='colo'>
        <table style="width: 440px;">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Degree/Title</mat-label>
                        <mat-select [(ngModel)]="Degree" (selectionChange)="onDegreeSelectionChange()" required>
                            <mat-option *ngFor="let degree of EnrolledCourse" [value]="degree">
                                {{degree.courseCode}} - {{degree.version}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 440px;">
                        <input matInput placeholder="Course" [(ngModel)]="Course" required >
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Major" [(ngModel)]="Major" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" style="width: 150px;">
                        <input matInput placeholder="Date of Graduation"
                               [matDatepicker]="graduationDatePicker"
                               [(ngModel)]="Date"
                               [max]="currentDate" required>
                        <mat-datepicker-toggle matSuffix [for]="graduationDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #graduationDatePicker></mat-datepicker>
                      </mat-form-field>
                      
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Special Order Number" [(ngModel)]="SONumber" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Awards Received</mat-label>
                        <mat-select [(ngModel)]="AwardsReceived">
                            <mat-option [value]="null">None</mat-option>
                            <mat-option [value]="'CUM LAUDE'">Cum Laude</mat-option>
                            <mat-option [value]="'MAGNA CUM LAUDE'">Magna Cum Laude</mat-option>
                            <mat-option [value]="'SUMA CUM LAUDE'">Suma Cum Laude</mat-option>
                          </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="NSTP / ROTC Serial No" [(ngModel)]="SerialNo">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-radio-group [(ngModel)]="Evaluation">
                        <span style="margin-right: 15px;">With Evaluation:</span>
                        <mat-radio-button value=1 style="margin-right: 15px;">Yes</mat-radio-button>
                        <mat-radio-button value=0>No</mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-radio-group [(ngModel)]="Clearance">
                        <span style="margin-right: 15px; margin-left: 1px;">With Clearance:</span>
                        <mat-radio-button value=1 style="margin-right: 15px;">Yes</mat-radio-button>
                        <mat-radio-button value=0>No</mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
        </table>



    </mat-card-content>
</mat-card>

<button mat-raised-button style="float: right" (click)="onNoClickclose()" color="warning">Close</button>
<button mat-raised-button style="float: right" color="primary" (click)="Update()">Save</button>
