<mat-card class="example-card" id="example-card-x" style="padding: 0">
    <mat-card-header>
        <mat-card-title><b>Area/Faculty Uploader</b></mat-card-title>
    </mat-card-header>
    <div style="width: 700px;">

        <table>
            <tr>
                <td>
                    <mat-form-field style="width: 300px;" appearance="outline"
                        *ngIf="global.checkaccess(':FacultyEvaluation:AreaGet')">
                        <mat-label>- View Area -</mat-label>
                        <mat-select [(ngModel)]="areaID" (ngModelChange)='generateAreaDetails()'>
                            <mat-option *ngFor="let a of areaList" value={{a.id}}>
                                {{a.areaName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button color="primary" (click)="openDialogAddArea()"
                        style="font-size:11px; line-height: 15px;height: 28px; padding: 0;margin-left: 5px"
                        *ngIf="global.checkaccess(':FacultyEvaluation:AreaPost')"><i class="material-icons">note_add
                        </i>
                        <span style="margin-top: 7px"> Add Area&nbsp;&nbsp;&nbsp;</span></button>
                </td>
            </tr>
        </table>
        <input type="file" (change)="onFileChange($event)" multiple="false" #uploadthis />

        <div *ngIf="areaID != ''">
            <table id=" viewTable" style="width:100%">
                <tr>
                    <td style="width: 120px" valign="top">
                        Area:
                    </td>
                    <td style="width: calc(100% - 200px)">
                        <b>{{areaName}}</b>
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px" valign="top">
                        Area Head:
                    </td>
                    <td style="width: calc(100% - 200px)">
                        <b>{{areaHeadName}}</b>
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px" valign="top">
                        Department:
                    </td>
                    <td style="width: calc(100% - 200px)">
                        <b>{{areaDeptName}}</b>
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px" valign="top">
                        Description:
                    </td>
                    <td style="width: calc(100% - 200px)">
                        <b>{{areaDescription}}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-raised-button (click)="openDialogEditArea()" color="primary" class="btnstyle"
                            *ngIf="global.checkaccess(':FacultyEvaluation:AreaPut') && fromUpload===false"
                            style="min-width: 10px; width: 120px!important; float: right; margin-bottom: 10px">
                            &nbsp;&nbsp;<i class="material-icons">list
                            </i> <span style="margin-top: 7px"> Edit Area Details&nbsp;&nbsp;&nbsp;</span>
                        </button>
                    </td>
                    <td>
                        <button mat-raised-button (click)="deleteArea()" class="btnstyle"
                            *ngIf="global.checkaccess(':FacultyEvaluation:AreaFacultyAllDelete')  && fromUpload===false"
                            style="min-width: 10px; width: 100px!important; margin-bottom: 10px; background-color:#990000;color: white;">
                            &nbsp;&nbsp;<i class="material-icons">delete
                            </i><span style="margin-top: 7px"> Delete Area&nbsp;&nbsp;&nbsp;</span></button>
                    </td>
                    <!-- add table -->
                    <td style="float: right;" *ngIf="fromUpload === false">
                        <p></p>
                        <button color="primary" mat-icon-button
                            *ngIf="global.checkaccess(':FacultyEvaluation:AreaPost')">
                            <mat-icon style="font-size: 3em; margin-right: 25px;" matTooltip="Add Faculty"
                                (click)="addAreaFacultyIndividual()">
                                add_circle
                            </mat-icon>
                        </button>
                    </td>
                    <!-- cancel table -->
                    <td style="float: right;" *ngIf="fromUpload === true">
                        <p></p>
                        <button mat-raised-button color="success" (click)="generateAreaFacultyList()"
                            matTooltip="Close/Cancel">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <div *ngIf="areaID != '' && fromUpload===false">
            <table id="viewTable" class="apptable" *ngIf="global.checkaccess(':FacultyEvaluation:AreaFacultGet')">
                <tr>
                    <th>
                        Faculty ID
                    </th>
                    <th>
                        Faculty Name
                        <i style="font-weight: normal!important; float: right;">
                            (Total: {{areaFacultyList.length}})
                        </i>
                    </th>
                </tr>
                <tr *ngFor="let a of areaFacultyList">
                    <td>
                        {{a.facultyID}}
                    </td>
                    <td>
                        {{a.facultyName}}
                        <button mat-raised-button (click)="deleteIndividual(a.id)" matTooltip="Remove"
                            style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right"
                            [disabled]="deletechecklisttemp">
                            &nbsp;&nbsp;<i class="material-icons">delete
                            </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span></button>
                    </td>
                </tr>
                <tr *ngIf="areaFacultyList.length===0">
                    <td colspan="10">
                        <div>
                            <p style="text-align: center;">
                                <i>- No Data -</i>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
            <br>

            <button mat-raised-button (click)="downloadExcel()" color="primary" class="btnstyle"
                style="min-width: 10px;width: 120px!important;float: right;margin-bottom: 10px">
                &nbsp;&nbsp;<i class="material-icons">cloud_download
                </i> <span style="margin-top: 7px"> Download File&nbsp;&nbsp;&nbsp;</span>
            </button>
            <button mat-raised-button (click)="uploadthis.click()" color="primary" class="btnstyle"
                style="min-width: 10px;width: 120px!important;float: right;margin-bottom: 10px">
                &nbsp;&nbsp;<i class="material-icons">cloud_upload
                </i> <span style="margin-top: 7px"> Upload File&nbsp;&nbsp;&nbsp;</span>
            </button>
        </div>

        <div *ngIf="areaID != '' && fromUpload===true">
            <!-- View Table for Excel-->
            <table id="viewTable" class="apptable">
                <tr>
                    <th>
                        Faculty ID
                    </th>
                    <th>
                        Faculty Name
                        <i style="font-weight: normal!important; float: right;">
                            (Total: {{employeeArray.length}})
                        </i>
                    </th>
                </tr>
                <tr *ngFor="let a of employeeArray">
                    <td *ngIf="a.name==='ID Not Found' || a.name==='Duplicated Value'" class="redCell">
                        {{a.id}}
                    </td>
                    <td *ngIf="a.name==='ID Not Found' || a.name==='Duplicated Value'" class="redCell">
                        {{a.name}}
                        <button mat-raised-button (click)="deleteUploadedError(a.id)" matTooltip="Remove"
                            style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right"
                            *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyDeleteOne')">
                            &nbsp;&nbsp;<i class="material-icons">delete
                            </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span>
                        </button>
                    </td>
                    <td *ngIf="a.name!='ID Not Found' && a.name!='Duplicated Value'">
                        {{a.id}}
                    </td>
                    <td *ngIf="a.name!='ID Not Found' && a.name!='Duplicated Value'">
                        {{a.name}}
                        <button mat-raised-button (click)="deleteUploadedError(a.id)" matTooltip="Remove"
                            style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right"
                            *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyDeleteOne')">
                            &nbsp;&nbsp;<i class="material-icons">delete
                            </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="employeeArray.length === 0">
                    <td colspan="10">
                        <div>
                            <p style="text-align: center;">
                                <i>- No Data -</i>
                            </p>
                        </div>
                    </td>
                </tr>
                <div *ngIf="errorData === false && employeeArray.length != 0">
                    <button mat-raised-button (click)="uploadFacultyList()"
                        style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;margin-bottom: 15px;background-color:#006600;color: white; text-align: right;">
                        &nbsp;&nbsp;<i class="material-icons"
                            *ngIf="global.checkaccess(':FacultyEvaluation:AreaFacultyPost') && global.checkaccess(':FacultyEvaluation:AreaFacultyAllDelete')">done_all
                        </i> <span style="margin-top: 7px"> Save&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </div>
                <div *ngIf="errorData === true || employeeArray.length === 0">
                    <button mat-raised-button
                        style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;margin-bottom: 15px;background-color:#555555;color: white; text-align: right;">
                        &nbsp;&nbsp;<i class="material-icons"
                            *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyInsert')">done_all
                        </i> <span style="margin-top: 7px"> Save&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </div>
            </table>
        </div>

    </div>
</mat-card>