<div id="rankrecords">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>Rank-Records</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>
            <table cellspacing="0" style="width: 100%">
                <tr>

                    <td width="50%">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>Appointment</mat-label>
                            <mat-select formControlName="appointmentID" required>
                                <mat-option value="{{c.appointmentID}}" *ngFor="let c of appointmentArr" (click)="appointmentPopulate()">
                                    {{ c.position + ' ' + (c.dateAppointed | date:'yyyy') }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('appointmentID').invalid && (form.get('appointmentID').touched)">Appointment is required</mat-error>
                        </mat-form-field>
                    </td>

                    <td width="22%">
                        <mat-form-field style="width: 104px">
                            <input matInput [(ngModel)]="year1" type="number" min="1900" max="2999" (change)='yearchange1()' style="text-align: center;">
                        </mat-form-field>
                    </td>
                    <td width="6%"> &nbsp; to &nbsp; </td>
                    <td width="22%">
                        <mat-form-field style="width: 104px">
                            <input matInput [(ngModel)]="year2" type="number" min="1900" max="2999" (change)='yearchange2()' style="text-align: center;">
                        </mat-form-field>
                    </td>

                </tr>

                <!-- <tr>
                    <td width="50%">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="School Year" formControlName="sy" required>
                            <mat-error *ngIf="form.get('sy').invalid && (form.get('sy').touched)">School Year is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td width="50%"></td>
                </tr> -->
            </table>
            <table cellspacing="0" style="width: 100%">
                <tr>
                    <td width="100%">

                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Rank" aria-label="Number" matInput [formControl]="rrValue" [matAutocomplete]="auto4" (click)="fillInRank()" required>
                                <mat-autocomplete #auto4="matAutocomplete">
                                    <mat-option *ngFor="let option of rrOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="rrValue.invalid || rrValue.touched">Rank is required</mat-error>
                            </mat-form-field>
                        </form>


                        <!-- 
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>Rank</mat-label>
                            <mat-select formControlName="rank" required>
                                <mat-option value="{{c.rank}}" *ngFor="let c of rankArr">
                                    {{c.rank}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('rank').invalid && (form.get('rank').touched )">Rank is required</mat-error>
                        </mat-form-field> -->
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Department" aria-label="Number" matInput [formControl]="deparmentValue" [matAutocomplete]="auto3" (click)="fillInDepartment()" required>

                                <mat-autocomplete #auto3="matAutocomplete">
                                    <mat-option *ngFor="let option of deparmentOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="deparmentValue.invalid || deparmentValue.touched">Department is required</mat-error>
                            </mat-form-field>
                        </form>
                    </td>
                    <!-- <td width="100%">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>Department/Office</mat-label>
                            <mat-select formControlName="department" required>
                                <mat-option value="{{c.departmentName}}" *ngFor="let c of deptArr">
                                    {{c.departmentName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('department').invalid && (form.get('department').touched )">Department/Office is required</mat-error>
                        </mat-form-field>
                    </td> -->
                </tr>

                <tr>
                    <td width="100%">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Position" aria-label="Number" matInput [formControl]="positionValue" [matAutocomplete]="auto1" required>
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <mat-option *ngFor="let option1 of positionOptions | async" [value]="option1">
                                        {{option1}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="positionValue.invalid || positionValue.touched">Position is required</mat-error>
                            </mat-form-field>
                        </form>
                    </td>
                    <!-- <td width="100%">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>Position</mat-label>
                            <mat-select formControlName="position" required>
                                <mat-option value="{{c.position}}" *ngFor="let c of posArr">
                                    {{c.position}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('position').invalid && (form.get('position').touched )">Position is required</mat-error>
                        </mat-form-field>
                    </td> -->
                </tr>
            </table>
            <table cellspacing="0" style="width: 100%">
                <tr>

                    <td width="50%">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status" required>
                                <mat-option value="{{c.classificationId}}" *ngFor="let c of classArr">
                                    {{c.classification}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('status').invalid && (form.get('status').touched )">Status is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td width="50%">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>Rank Status</mat-label>
                            <mat-select formControlName="rankStatusID" required>
                                <mat-option value="{{c.rankStatusID }}" *ngFor="let c of rankStatusArr">
                                    {{c.rankStatus}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('rankStatusID').invalid && (form.get('rankStatusID').touched )">Rank Status is required</mat-error>
                        </mat-form-field>
                    </td>

                </tr>
                <tr>

                    <td width="50%">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <mat-label>Evaluation</mat-label>
                            <input matInput type="number" min="1" max="100" formControlName="evaluation" (input)="evalChecker()">
                            <!-- <mat-error *ngIf="form.get('evaluation').invalid && (form.get('evaluation').touched)">Evaluation is required</mat-error> -->
                        </mat-form-field>
                    </td>


                    <td width="50%">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>Evaluation Status</mat-label>
                            <mat-select formControlName="evaluationStatus" required>
                                <mat-option value="{{c.evaluationStatusID}}" *ngFor="let c of evalStatArr">
                                    {{c.evaluationStatus}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('evaluationStatus').invalid && (form.get('evaluationStatus').touched)">Evaluation Status is required</mat-error>
                        </mat-form-field>
                    </td>

                </tr>

            </table>

            <table cellspacing="0" style="width: 100%">
                <tr>
                    <td width="50%">
                        <mat-form-field style="width: 100%" [formGroup]="form">
                            <mat-label>Term of Contract</mat-label>
                            <mat-select formControlName="term" required>
                                <mat-option value="{{c.empStatusID}}" *ngFor="let c of tocArr">
                                    {{c.empStatus}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('term').invalid && (form.get('term').touched )">Term of Contract is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table cellspacing="0" style="width: 100%">
                <tr>
                    <td>
                        <form>
                            <mat-form-field class="example-chip-list">
                                <mat-label>Recommendation</mat-label>
                                <input style="width: 100%;" matInput #Input [formControl]="recommendations" [matAutocomplete]="auto" [matChipInputFor]="chipList" (matChipInputTokenEnd)="add($event)" />
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                    <mat-option *ngFor="let option of filteredRecommendations | async" [value]="option">{{ option }}</mat-option>
                                </mat-autocomplete>
                                <mat-chip-list #chipList aria-label="Recommendation selection">
                                    <mat-chip *ngFor="let option of option" (removed)="remove(option)">
                                        {{ option }}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </form>
                    </td>
                </tr>
                <!-- <tr>
                    <td align="left">
                        <button mat-raised-button color="primary" (click)="add()">Add</button>
                    </td>
                    <td>
                        <p style="text-align: right; margin-top: -25px; margin-bottom: -15px;">{{characterCount}}/150</p>
                    </td>
                </tr> -->
            </table>
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>