<mat-card class="example-card" style="padding: 0">
    <mat-card-header>
        <mat-card-title><b>Employee Active Masterlist</b></mat-card-title>
    </mat-card-header>
    <mat-card-content class='colo'>
        <mat-divider></mat-divider>

        <div style="height: 14px"></div>

        <button mat-raised-button style="width: 170px; height:30px; background-color: #294a70;color:white;float: right; margin-bottom: 10px; margin-right: 50px;" class="buttondesign" (click)="exportExcel()">
        <i class="material-icons">save_alt</i>
        <span style="margin-top: 7px"> Download Excel File&nbsp;&nbsp;</span>
         </button>

        <button mat-raised-button style="width: 80px;background-color:#990000;color:white;float: right;" class="buttondesign" (click)="filterClear()">
            <i class="material-icons">code</i>
              <span style="margin-top: 7px"> Clear&nbsp;&nbsp;</span>
          </button>

        <div style="width: 100%;">
            <table class="apptable">
                <tr style="width: 500%;">
                    <th style="width: 180px;">ID Number</th>
                    <th style="width: 230px;">Last Name</th>
                    <th style="width: 230px;">First Name</th>
                    <th style="width: 230px;">Middle Name</th>
                    <th style="width: 100px;">Date of Birth</th>
                    <th style="width: 80px;">Civil Status</th>
                    <th style="width: 370px;">Department</th>
                </tr>
                <tr>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="idNumber" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="lastName" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="firstName" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="middleName" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="dateOfBirth" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="civilStatus" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>

                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input type="text" aria-label="Number" matInput [formControl]="deparmentValue" [(ngModel)]="deptValue" (ngModelChange)="filterall($event)" [matAutocomplete]="auto" (click)="fillInDepartment()">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterall($event)">
                                <mat-option *ngFor="let option of deparmentOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                            <!-- <mat-error *ngIf="deparmentValue.invalid || deparmentValue.touched">Department is required</mat-error> -->
                        </mat-form-field>
                    </td>

                    <!-- <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="pagIbigNo" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="philHealthNo" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="sssNo" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td>
                    <td>

                        <mat-form-field appearance="outline">
                            <mat-label>filter</mat-label>
                            <input matInput placeholder="" autocomplete="off" [(ngModel)]="tinNo" (ngModelChange)="filterall($event)">
                        </mat-form-field>

                    </td> -->

                </tr>

                <tr *ngFor="let item of filteredList | paginate: configList">
                    <td>{{item.idnumber}}</td>
                    <td>{{item.lastname}}</td>
                    <td>{{item.firstname}}</td>
                    <td>{{item.middlename}}</td>
                    <td>{{item.dateOfBirth}}</td>
                    <td>{{item.civilStatus}}</td>
                    <td>{{item.departmentName}}</td>
                    <!-- <td>{{item.pagIbigNo}}</td>
                    <td>{{item.philHealthNo}}</td>
                    <td>{{item.sssNo}}</td>
                    <td>{{item.tin}}</td> -->

                </tr>


                <tr *ngIf="filteredList.length == 0">
                    <td colspan="7">
                        <p style="text-align: center; width: 100%;">
                            <i>- No Data -</i>
                        </p>
                    </td>
                </tr>
            </table>

        </div>
        <div style="float: right; margin-right: 10px;">
            <pagination-controls (pageChange)="pageChangedList($event)"></pagination-controls>
        </div>
    </mat-card-content>
</mat-card>
