#example-card-x {


	.redCell {
		background-color: #FF6863;
	}

	.example-form {
		min-width: 150px;
		max-width: 580px;
		width: 100%;
	}

	::ng-deep .mat-card-header {
		background-color: #294a70 !important;
		padding: 15px 5px 5px 5px !important;
		color: white;
	}

	::ng-deep .mat-card-header * {
		color: white;
	}

	::ng-deep .mat-card {
		padding: 0 !important;
	}

	::ng-deep .mat-card-content {
		padding: 15px !important;
	}

	mat-form-field {
		margin-bottom: -20px;
	}

	.custom-file-input::-webkit-file-upload-button {
		visibility: hidden !important;
	}

	.custom-file-input:active::before {
		background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
	}

	input[type='file'] {
		opacity: 0
	}
}

.btnstyle {
	font-size: 11px !important;
	width: 70px !important;
	min-width: 18px !important;
	line-height: 15px !important;
	height: 28px !important;
	padding: 0 !important;
	margin-left: 5px !important
}

.changeAdviserBtn {
	border: none;
	background-color: inherit;
	padding: 0px 0px;
	cursor: pointer;
	display: inline-block;
	text-decoration: underline;
	white-space: nowrap;
	display: inline
}

.mat-tooltip {
	font-size: large !important;
}



.btn-grad {
	background-image: linear-gradient(to right, #294A70 0%, #FFAB1F 100%);
	margin-left: 40%;
	padding: 5px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 5px;
	display: block;
	//remove outline
	outline: 0 !important;
	border: none !important;
	cursor: pointer;
}

.btn-grad:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
	display: none;
}

input[type=time]::-webkit-clear-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	margin: -10px;
}

.inputHover:hover{
	background-color: #ddd;
}