<mat-card class="example-card" id="example-card-x" style="padding: 0">

  <mat-card-header>
    <mat-card-title><b>Basic Education Class Schedule Uploader</b></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table *ngIf="fromUpload === false">
      <tr>
        <td>
          <mat-form-field style="width: 150px;" appearance="outline"
            *ngIf="global.checkaccess(':Maintenance:ScheduleBasicEdGet')">
            <mat-label>- Grade Level -</mat-label>
            <mat-select [(ngModel)]="grade" (ngModelChange)='generate()'>
              <mat-option *ngIf="programArray.includes('elem')" value="P1">
                P1
              </mat-option>
              <mat-option *ngIf="programArray.includes('elem')" value="0">
                0
              </mat-option>
              <mat-option *ngIf="programArray.includes('elem')" value="1">
                1
              </mat-option>
              <mat-option *ngIf="programArray.includes('elem')" value="2">
                2
              </mat-option>
              <mat-option *ngIf="programArray.includes('elem')" value="3">
                3
              </mat-option>
              <mat-option *ngIf="programArray.includes('elem')" value="4">
                4
              </mat-option>
              <mat-option *ngIf="programArray.includes('elem')" value="5">
                5
              </mat-option>
              <mat-option *ngIf="programArray.includes('elem')" value="6">
                6
              </mat-option>
              <mat-option *ngIf="programArray.includes('hs')" value="7">
                7
              </mat-option>
              <mat-option *ngIf="programArray.includes('hs')" value="8">
                8
              </mat-option>
              <mat-option *ngIf="programArray.includes('hs')" value="9">
                9
              </mat-option>
              <mat-option *ngIf="programArray.includes('hs')" value="10">
                10
              </mat-option>
              <mat-option *ngIf="programArray.includes('hss')" value="11">
                11
              </mat-option>
              <mat-option *ngIf="programArray.includes('hss')" value="12">
                12
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field *ngIf="grade!=''" style="width: 200px;" appearance="outline">
            <mat-label>- Section -</mat-label>
            <mat-select [(ngModel)]="section" (ngModelChange)='getSchedules()'>
              <mat-option *ngFor="let x of array" value={{x.sectionName}}>
                {{ x.sectionName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td *ngIf="section != ''">
          <button mat-raised-button (click)="downloadExcel()" color="primary" class="btnstyle"
            style="min-width: 10px;width: 120px!important;float: right;margin-bottom: 10px">
            &nbsp;&nbsp;<i class="material-icons">cloud_download
            </i> <span style="margin-top: 7px"> Download File&nbsp;&nbsp;&nbsp;</span>
          </button>
        </td>
        <td *ngIf="section != ''">
          <button mat-raised-button (click)="uploadthis.click()" color="primary" class="btnstyle"
            *ngIf="global.checkaccess(':Maintenance:ScheduleBasicEdPost') && global.checkaccess(':Maintenance:ScheduleBasicEdDelete')"
            style="min-width: 10px;width: 120px!important;float: right;margin-bottom: 10px">
            &nbsp;&nbsp;<i class="material-icons">cloud_upload
            </i> <span style="margin-top: 7px"> Upload File&nbsp;&nbsp;&nbsp;</span>
          </button>
        </td>
      </tr>
    </table>

    <input type="file" (change)="onFileChange($event)" multiple="false" #uploadthis />

    <div *ngIf="section != ''">

      <table id="viewTable" style="width:100%" *ngIf="programID!=''">
        <tr>
          <td style="width: 145px" valign="top">
            Grade and Section:
          </td>
          <td style="width: calc(100% - 200px)">
            <b>{{grade + ' - ' +section}}</b>
          </td>
        </tr>
        <tr>
          <td style="width: 145px" valign="top">
            Class Adviser:
          </td>
          <td style="width: calc(100% - 200px)" valign="top" *ngIf="fromUpload === false">
            <b (click)="openDialogAdviserEdit()" class="changeAdviserBtn"
              matTooltip="Click to update Class Adviser">{{classAdviserName}}</b>
          </td>
          <td style="width: calc(100% - 200px)" valign="top" *ngIf="fromUpload === true">
            <b class="changeAdviserBtn" matTooltip="Click cancel to update Class Adviser">{{classAdviserName}}</b>
          </td>
        </tr>
        <br>
        <tr *ngIf="global.checkaccess(':FacultyEvaluation:AreaPut') && fromUpload===false">
          <td>
            <button mat-raised-button (click)="editTable()" color="primary" class="btnstyle"
              style="min-width: 10px; width: 120px!important; margin-bottom: 10px">
              &nbsp;&nbsp;<i class="material-icons">list
              </i> <span style="margin-top: 7px"> Edit Table&nbsp;&nbsp;&nbsp;</span>
            </button>
          </td>
        </tr>
      </table>

      <div style="text-align: right; padding-right: 15px;" *ngIf="fromUpload == true">
        <i style="font-weight: normal!important;" *ngIf="fromUpload === true">
          (Total: {{finaldata.length}})
        </i>
        <i style="font-weight: normal!important;" *ngIf="fromUpload === true">
          (Errors: {{errors}})
        </i>
        <button mat-raised-button style="width: 80px;background-color:#990000;color:white;margin: 5px;"
          class="buttondesign" (click)="funcClear()">
          <i class="material-icons">code</i>
          <span style="margin-top:  7px"> Cancel&nbsp;&nbsp;</span>
        </button>
        <button mat-raised-button style="width: 130px;color:white; margin-top: 5px; background-color: #7C7C7C;"
          class="buttondesign" *ngIf="finaldata.length > 0 && errors > 0 || editStateOn === true" disabled>
          <i class="material-icons">done_all</i>
          <span style="margin-top: 7px"> Upload Schedule&nbsp;&nbsp;</span>
        </button>
        <button mat-raised-button color="primary" style="width: 130px;color:white; margin-top: 5px;"
          class="buttondesign" (click)="upload()" *ngIf="finaldata.length > 0 && errors < 1 && editStateOn === false">
          <i class="material-icons">done_all</i>
          <span style="margin-top: 7px"> Upload Schedule&nbsp;&nbsp;</span>
        </button>
      </div>

      <p *ngIf='fromUpload === true' style="color: red;font-size: 12px;margin-top: -20px">*Note: Click on the cell/data
        you want to update.</p>

      <div style="overflow-y: scroll; height:600px;">
        <table class="apptableSmall" width="100%">
          <tr>
            <th style="width: 150px">
              Subject
            </th>
            <th style="width: 150px">
              Time
            </th>
            <th style="width: 50px">
              Day
            </th>
            <th style="width: 80px">
              Teacher ID
            </th>
            <th style="width: 170px">
              Teacher Name
            </th>
            <th style="width: 150px">
              Area
              <i style="font-weight: normal!important; float: right;" *ngIf="fromUpload === false">
                (Total: {{schedulesFromDBArray.length}})
              </i>
            </th>
            <th style="width: 10px" *ngIf="fromUpload == true">
              Action
            </th>
          </tr>

          <ng-container *ngIf="section != '' && fromUpload===true">
            <tr *ngFor="let a of finaldata; let a = 'index+2'">
              <!-- subject with validation -->
              <td matTooltip="Click to edit Subject Name" style="cursor: pointer;">
                <mat-form-field>
                  <span *ngIf="a.subject == '' ||  a.subject == null || a.subject == undefined"
                    style="color: #FF6863; float: left;">**</span>
                  <input matInput [(ngModel)]="a.subject" (ngModelChange)="subjectEdit(a.subject, a.index)"
                    style="width: 100%;" required>
                </mat-form-field>
              </td>
              <!-- time with validation -->
              <td *ngIf="a.editTime === true" style="background-color: #F3D2CC;" matTooltip='Press ENTER to save'>
                <mat-form-field style="width: 40%; float: left;">
                  <input matInput type="time" class="without_ampm" min="06:00" max="20:00" [(ngModel)]="a.time"
                    style="font-weight: bold;" required="required" (keydown)="keyDownFunctionTime($event, a.index)">
                  <small>Start</small>
                </mat-form-field>
                <mat-form-field style="width: 40%; float: right;">
                  <input matInput type="time" class="without_ampm" min="06:00" max="20:00" [(ngModel)]="a.time2"
                    style="font-weight: bold; float: right;" required="required"
                    (keydown)="keyDownFunctionTime($event, a.index)">
                  <small>End</small>
                </mat-form-field>
              </td>
              <td *ngIf="a.editTime === false" (click)="enterEditModeTime(a.index, a.time)"
                matTooltip="Click to edit Time" style="cursor: pointer;">
                <span *ngIf="(a.time === '' || a.time === null || a.time === undefined || a.time.includes('**'))"
                  style="color: #FF6863;">{{a.time}}</span>
                <span
                  *ngIf="!(a.time === '' || a.time === null || a.time === undefined || a.time.includes('**'))">{{a.time}}</span>
              </td>
              <!-- day with validation -->
              <td
                *ngIf="!(a.day==='Monday' || a.day==='Tuesday' || a.day==='Wednesday' || a.day==='Thursday' || a.day==='Friday')"
                style="color: #FF6863;">
                <mat-form-field [style.width.px]=110 style="width: 100%;" appearance="none">
                  <mat-label style="color: #FF6863; padding: 0px;">**{{a.day}}
                  </mat-label>
                  <mat-select [(ngModel)]="a.day" (ngModelChange)='checkErrors()'>
                    <mat-option *ngFor="let a of days" value={{a}}>
                      {{a}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td
                *ngIf="(a.day==='Monday' || a.day==='Tuesday' || a.day==='Wednesday' || a.day==='Thursday' || a.day==='Friday')">
                <mat-form-field [style.width.px]=110 style="width: 100%;" appearance="none">
                  <mat-select [(ngModel)]="a.day">
                    <mat-option *ngFor="let a of days" value={{a}}>
                      {{a}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <!-- teacher ID with validation -->
              <td
                *ngIf="a.subject != 'RECESS' && !(a.teacherName!= '' && a.teacherName != null && a.teacherName != undefined)"
                style="width: 150px; color: #FF6863; cursor: pointer;" (click)="search(a.index)"
                matTooltip="Click to change Subject Teacher">
                **{{a.teacherId}}
              </td>
              <td
                *ngIf="a.subject != 'RECESS' && a.teacherName != '' && a.teacherName != null && a.teacherName != undefined"
                (click)="search2(a)" matTooltip="Click to change Subject Teacher" style="cursor: pointer;">
                {{a.teacherId}}
              </td>
              <td *ngIf="a.subject != 'RECESS'" (click)="search2(a)" matTooltip="Click to change Subject Teacher"
                style="cursor: pointer;">
                <span *ngIf="a.teacherName === '' || a.teacherName === null || a.teacherName === undefined"
                  style="color: #FF6863;">**</span>{{a.teacherName}}
              </td>
              <!-- area -->
              <td
                *ngIf="a.subject != 'RECESS' && (a.area.includes('**') || a.area === '' || a.area === null || a.area === undefined)">
                <mat-form-field style="width: 100%; margin-bottom: -15px; padding: 0px;" appearance="none">
                  <mat-label style="color: #FF6863;">{{a.area}}</mat-label>
                  <mat-select [(ngModel)]="a.area" (ngModelChange)='checkErrors()'>
                    <mat-option *ngFor="let a of areaList" value={{a.areaName}}>
                      {{a.areaName}}&nbsp; [{{a.deptCode}}]
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td
                *ngIf="a.subject != 'RECESS' && !((a.area.includes('**') || a.area === '' || a.area === null || a.area === undefined))">
                <mat-form-field style="width: 100%; margin-bottom: -15px; padding: 0px;" appearance="none">
                  <mat-select [(ngModel)]="a.area">
                    <mat-option *ngFor="let a of areaList" value={{a.areaName}}>
                      {{a.areaName}}&nbsp; [{{a.deptCode}}]
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <!-- delete row -->
              <td *ngIf="a.subject != 'RECESS'">
                <button mat-raised-button (click)="removeRow(a.index)" matTooltip="Remove Subject"
                  style="min-width:10px; padding: 0;background-color:#990000;color: white; float: right;">
                  &nbsp;&nbsp;<i class="material-icons">delete
                  </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span></button>
              </td>
              <td *ngIf="a.subject === 'RECESS'" colspan="4">
                <button mat-raised-button (click)="removeRow(a.index)" matTooltip="Remove Subject"
                  style="min-width:10px; padding: 0;background-color:#990000;color: white; float: right;">
                  &nbsp;&nbsp;<i class="material-icons">delete
                  </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span></button>
              </td>
            </tr>
            <!-- add row -->
            <tr>
              <td colspan="10" style=" text-align: right!important;">
                <button mat-raised-button color="primary" style="color:white; margin-top: 5px;" class="buttondesign"
                  (click)="addRow()">
                  <i class="material-icons">add</i>
                  <span style="margin-top: 7px"> Add Row&nbsp;&nbsp;</span>
                </button>
              </td>
            </tr>
            <tr *ngIf="finaldata==''">
              <td colspan="10">
                <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="finaldata===''">
                </mat-spinner>
                <div>
                  <p style="text-align: center;">
                    <i>- No Data -</i>
                  </p>
                </div>
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="section != '' && fromUpload===false">
            <tr *ngFor="let a of schedulesFromDBArray;">
              <td>{{a.subject}}</td>
              <td>{{a.time}}</td>
              <td>{{a.day}}</td>
              <!-- <td>{{a.adviserID}}</td>
              <td>{{a.adviserName}}</td> -->
              <td>{{a.teacherID}}</td>
              <td>{{a.teacherName}}</td>
              <td>{{a.area}}</td>
            </tr>

            <tr *ngIf="schedulesFromDBArray.length===0">
              <td colspan="10">
                <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="schedulesFromDBArray===''">
                </mat-spinner>
                <div>
                  <p style="text-align: center;">
                    <i>- No Data -</i>
                  </p>
                </div>
              </td>
            </tr>
          </ng-container>


        </table>
      </div>

    </div>
  </mat-card-content>


</mat-card>