<mat-card class="example-card" id="example-card-x" style="padding: 0">
	<mat-card-header>
		<mat-card-title><b>Section Uploader</b></mat-card-title>
	</mat-card-header>
	<mat-card-content class='colo'>
		<!-- <mat-divider></mat-divider> -->



		<button mat-raised-button (click)="uploadthis.click()"
			style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 5px;margin-bottom: 10px;background-color:#006600;color: white;"
			*ngIf="global.checkaccess(':Code:ExamScheduleDelete')">
			&nbsp;&nbsp;<i class="material-icons">cloud_upload</i>
			<span style="margin-top: 7px"> Upload Excel&nbsp;&nbsp;&nbsp;</span>
		</button>

		<button mat-raised-button (click)="downloadExcelFile()"
			style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 5px;margin-bottom: 10px;background-color:#294A70;color: white;"
			*ngIf="global.checkaccess(':Code:ExamScheduleDelete')">
			&nbsp;&nbsp;<i class="material-icons">cloud_download</i>
			<span style="margin-top: 7px"> Download Excel Format&nbsp;&nbsp;&nbsp;</span>
		</button>

		<button mat-raised-button color="primary" style="width: 130px; color: white; float: right; margin-top: 5px;"
			class="buttondesign" (click)="funcSave()" *ngIf="data.length > 0" [disabled]="error"
			[ngStyle]="{ 'background-color': error ? 'gray' : '' }">
			<i class="material-icons">done_all</i>
			<span style="margin-top: 7px"> Upload Section&nbsp;&nbsp;</span>
		</button>

		<div *ngIf="firstdata!=undefined" style="float: right;">
			<button mat-raised-button
				style="width: 80px;background-color:#990000;color:white;float: right;margin-top: 5px;"
				class="buttondesign" (click)="funcDelete()" *ngIf="data.length>0">
				<i class="material-icons">code</i>
				<span style="margin-top: 7px"> Clear&nbsp;&nbsp;</span>
			</button>
		</div>

		<input type="file" (change)="onFileChange($event)" multiple="false" #uploadthis />

		<div *ngIf="firstdata.length != 0" style="max-height: calc(100vh - 320px); overflow-y: scroll;">
			<table class="apptable" *ngIf="datadisplay==undefined">
				<tr>
					<th style="width: 70px">
						ID Number
					</th>
					<th style="min-width: 150px">
						Name
					</th>
					<th style="width: 80px">
						Year/Grade
					</th>
					<th style="width: 130px">
						Section
					</th>
					<th style="width: 150px">
						Enrolment Status for <br>{{this.global.syDisplay(this.global.syear)}}
					</th>
				</tr>
				<tr *ngFor="let a of firstdata"
					[ngStyle]="{'background-color': (a[1].includes('NOT FOUND') || a[3].includes('NO INPUT')) ? 'red' : 'transparent'}">
					<td>{{a[0]}}</td>
					<td>{{a[1]}}</td>
					<td>{{a[2]}}</td>
					<td>{{a[3]}}</td>
					<td>{{a[4]}}</td>
				</tr>

				<tr *ngIf="firstdata===undefined">
					<td colspan="6">
						<mat-spinner style="margin-left: auto;margin-right: auto;"
							*ngIf="firstdata===undefined"></mat-spinner>
						<div *ngIf="firstdata!=undefined">
							<p *ngIf="firstdata.length===0" style="text-align: center;">
								<i>- No Data -</i>
							</p>
						</div>
					</td>
				</tr>
			</table>
			<table class="apptable" *ngIf="datadisplay!=undefined">
				<tr>
					<th style="width: 50px">
						Code
					</th>
					<th style="width: 100px">
						Subject ID
					</th>
					<th>
						Descriptive Title
					</th>
					<th style="width: 100px">
						Date
					</th>
					<th style="width: 100px">
						Time
					</th>
					<th style="width: 60px">
						Room
					</th>
					<th>
						Instructor
					</th>
				</tr>
				<tr *ngFor="let row of datadisplay">
					<td *ngFor="let val of row; let i = index">
						<span>{{val}}</span>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<mat-spinner style="margin-left: auto;margin-right: auto;"
							*ngIf="datadisplay===undefined"></mat-spinner>
						<div *ngIf="datadisplay!=undefined">
							<p *ngIf="datadisplay.length===0" style="text-align: center;">
								<i>- Error reading uploaded file. -</i>
							</p>
						</div>
					</td>
				</tr>
			</table>

		</div>



	</mat-card-content>
</mat-card>