<div *ngIf="studentProfiles.arrayGender!=null && studentProfiles.arrayGender.length!=0" style="margin:10px;">
    <!-- <mat-card-title><b>{{studentProfiles.profile}}</b></mat-card-title> -->
    <table class="apptable" *ngIf="studentProfiles.arrayGender!=null && studentProfiles.global.domain!='HIGHSCHOOL'" style="width: auto" id="Gender">              
        <tr>
          <th style="width:300px;">DepartmentName</th>
          <th style="width:25px">MX</th>
          <th style="width:25px">FX</th>
          <th style="width:25px">M1</th>
          <th style="width:25px">F1</th>
          <th style="width:25px">M2</th>
          <th style="width:25px">F2</th>
          <th style="width:25px">M3</th>
          <th style="width:25px">F3</th>
          <th style="width:25px">M4</th>
          <th style="width:25px">F4</th>
          <th style="width:25px">M5</th>
          <th style="width:25px">F5</th>
          <th style="width:25px">M6</th>
          <th style="width:25px">F6</th>
        </tr>
       
        <tr *ngFor="let a of studentProfiles.arrayGender">
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.departmentName}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.mx}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.fx}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.m1}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.f1}}</td>                  
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.m2}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.f2}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.m3}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.f3}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.m4}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.f4}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.m5}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.f5}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.m6}}</td>
              <td [ngStyle]="setBGColor(a.departmentName)">{{a.f6}}</td>
        </tr>     
       <!--  <tr>
          <td><b>TOTAL:</b></td>
          <td><b>{{getTotal(1)}}</b></td>
          <td><b>{{getTotal(2)}}</b></td>
          <td><b>{{getTotal(3)}}</b></td>
          <td><b>{{getTotal(4)}}</b></td>
          <td><b>{{getTotal(5)}}</b></td>
          <td><b>{{getTotal(6)}}</b></td>
          <td><b>{{getTotal(7)}}</b></td>
          <td><b>{{getTotal(8)}}</b></td>
          <td><b>{{getTotal(9)}}</b></td>
          <td><b>{{getTotal(10)}}</b></td>
          <td><b>{{getTotal(11)}}</b></td>
          <td><b>{{getTotal(12)}}</b></td>
          <td><b>{{getTotal(13)}}</b></td>
          <td><b>{{getTotal(14)}}</b></td>          
        </tr>                   -->  
    </table> 

    <table class="apptable" *ngIf="studentProfiles.arrayGender!=null && studentProfiles.global.domain==='HIGHSCHOOL'" style="width: auto" id="Gender">              
      <tr>
        <th style="width:300px">DepartmentName</th>
        <th style="width:25px">MX</th>
        <th style="width:25px">FX</th>
        <th style="width:25px">M7</th>
        <th style="width:25px">F7</th>
        <th style="width:25px">M8</th>
        <th style="width:25px">F8</th>
        <th style="width:25px">M9</th>
        <th style="width:25px">F9</th>
        <th style="width:25px">M10</th>
        <th style="width:25px">F10</th>
        <th style="width:25px">M11</th>
        <th style="width:25px">F11</th>
        <th style="width:25px">M12</th>
        <th style="width:25px">F12</th>
      </tr>
     
      <tr *ngFor="let a of studentProfiles.arrayGender">
            <td>{{a.departmentName}}</td>
            <td>{{a.mx}}</td>
            <td>{{a.fx}}</td>
            <td>{{a.m1}}</td>
            <td>{{a.f1}}</td>                  
            <td>{{a.m2}}</td>
            <td>{{a.f2}}</td>
            <td>{{a.m3}}</td>
            <td>{{a.f3}}</td>
            <td>{{a.m4}}</td>
            <td>{{a.f4}}</td>
            <td>{{a.m5}}</td>
            <td>{{a.f5}}</td>
            <td>{{a.m6}}</td>
            <td>{{a.f6}}</td>
      </tr>         
     <!--  <tr>
        <td><b>TOTAL:</b></td>
        <td><b>{{getTotal(1)}}</b></td>
        <td><b>{{getTotal(2)}}</b></td>
        <td><b>{{getTotal(3)}}</b></td>
        <td><b>{{getTotal(4)}}</b></td>
        <td><b>{{getTotal(5)}}</b></td>
        <td><b>{{getTotal(6)}}</b></td>
        <td><b>{{getTotal(7)}}</b></td>
        <td><b>{{getTotal(8)}}</b></td>
        <td><b>{{getTotal(9)}}</b></td>
        <td><b>{{getTotal(10)}}</b></td>
        <td><b>{{getTotal(11)}}</b></td>
        <td><b>{{getTotal(12)}}</b></td>
        <td><b>{{getTotal(13)}}</b></td>
        <td><b>{{getTotal(14)}}</b></td>          
      </tr>          -->      
  </table>     
</div>