<mat-card class="example-card" id="items" style="padding: 0">
    <mat-card-header>
        <mat-card-title><b>Items</b></mat-card-title>
    </mat-card-header>

    <mat-card-content class='colo'>
        <mat-divider></mat-divider>
        <br>

        <p style="margin-top: -5px"><b>DETAILS:</b></p>
        <table cellspacing="0" style="width: 50%; margin-top: -15px">
            <tr>
                <td width="150px">
                    <p>Department:</p>
                    <p style="margin-top: -7px">Position:</p>
                    <p style="margin-top: -7px">Classification:</p>
                    <p style="margin-top: -7px">Reports to:</p>
                </td>
                <td align="left">
                    <p><strong>{{deptName}}</strong></p>
                    <p style="margin-top: -7px"><strong>{{postName}}</strong></p>
                    <p style="margin-top: -7px"><strong>{{className}}</strong></p>
                    <p style="margin-top: -7px"><strong>{{reportsto}}</strong></p>
                </td>
            </tr>

        </table>
        <table>
            <tr>
                <td>Actions:</td>
            </tr>
            <tr>
                <td>
                    <button mat-raised-button class="btnstyle" (click)="additem()">
	    				<i class="material-icons">note_add</i><span style="margin-top: 7px">Add&nbsp;&nbsp;&nbsp;</span>
		    		</button>
                    <button mat-raised-button color="primary" class="btnstyle" (click)="editItem()" disabled="{{editCTRL}}" *ngIf="global.checkaccess(':HRISMaintenance:ItemPut') && global.checkaccess(':HRISMaintenance:ItemPost')">
	    				<i class="material-icons">edit</i><span style="margin-top: 7px">Edit&nbsp;&nbsp;&nbsp;</span>
		    		</button>

                    <button mat-raised-button color="warn" class="btnstyle" (click)="deleteItem()" disabled="{{editCTRL}}" *ngIf="global.checkaccess(':HRISMaintenance:ItemDelete')">
		    			<i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
		    		</button>
                    <button mat-raised-button style="background-color: #8a0900; color: white" class="btnstyle" (click)="Cancel()" *ngIf="editCTRL===false">
		    			<i class="material-icons">cancel</i><span style="margin-top: 7px">Cancel&nbsp;&nbsp;&nbsp;</span>
		    		</button>
                </td>
            </tr>
        </table>
        <br>
        <div style="max-height: calc(75vh - 250px);overflow-y: scroll;">
            <table class="apptablegrade">
                <tr>
                    <th style="display: none;">
                        ITID
                    </th>
                    <th style="display: none;">
                        DID
                    </th>
                    <th style="display: none;">
                        PID
                    </th>
                    <th style="display: none;">
                        CID
                    </th>
                    <th style="display: none;">
                        RID
                    </th>
                    <th width="20.3%" style="text-align: center;">
                        POSITION
                    </th>
                    <th width="20.2%" style="text-align: center;">
                        DEPARTMENT
                    </th>
                    <th width="20%" style="text-align: center;">
                        CLASSIFICATION
                    </th>
                    <th width="21%" style="text-align: center;">
                        REPORTS TO
                    </th>
                </tr>
                <tr>
                    <td scope="row" width="20.3%">
                        <mat-form-field appearance="outline" style="margin-bottom: -25px; width: 100%">
                            <input autofocus matInput placeholder="Position" value="" [(ngModel)]="Position" (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td scope="row" width="20.2%">
                        <mat-form-field appearance="outline" style="margin-bottom: -25px; width: 100%">
                            <input autofocus matInput placeholder="Department" value="" [(ngModel)]="Department" (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td scope="row" width="20%">
                        <mat-form-field style="width: 100%; margin-bottom: -25px" appearance="outline">
                            <mat-label>Classification</mat-label>
                            <mat-select [(ngModel)]="Classification" (ngModelChange)='keyDownFunction()'>
                                <mat-option value="">
                                    - both -
                                </mat-option>
                                <mat-option value="Part Time">
                                    Part Time
                                </mat-option>
                                <mat-option value="Full Time">
                                    Full Time
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td scope="row" width="21%">
                        <mat-form-field appearance="outline" style="margin-bottom: -25px; width: 100%">
                            <input autofocus matInput placeholder="ReportsTo" value="" [(ngModel)]="ReportsTo" (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngFor="let d of itemArr">
                    <td (click)="getiteminfo(d)" style="display: none">{{d.itemid}}</td>
                    <td (click)="getiteminfo(d)" style="display: none">{{d.departmentID}}</td>
                    <td (click)="getiteminfo(d)" style="display: none">{{d.positionID}}</td>
                    <td (click)="getiteminfo(d)" style="display: none">{{d.classificationID}}</td>
                    <td (click)="getiteminfo(d)" style="display: none">{{d.reportsToItemId}}</td>
                    <td (click)="getiteminfo(d)" width="20.3%">{{d.position}}</td>
                    <td (click)="getiteminfo(d)" width="20.2%">{{d.departmentName}}</td>
                    <td (click)="getiteminfo(d)" width="20%">{{d.classification}}</td>
                    <td (click)="getiteminfo(d)" width="21%">{{d.reportsTo}}</td>
                </tr>
            </table>
        </div>


    </mat-card-content>
</mat-card>