<!-- <h2 mat-dialog-title>Confirmation</h2>
<mat-dialog-content>Are you sure you want to post the Official Receipt?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button color="primary" (click)="onYesClick()">Yes</button>
</mat-dialog-actions> -->

