<mat-card class="example-card">
    <mat-card-header>

        <mat-card-title>
            <p style="font-size: 14px; padding: 0; margin: 0; padding-top: 5px;"><b>EMPLOYEE MANAGER</b></p>
        </mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 14px; padding: 0; margin: 0; margin-bottom: -10px;">
                This page allows you to manage employee's basic hiring information.<br> Please enter the person's ID NUMBER and PRESS the [ENTER] key on your keyboard.<br> You can also search the person's NAME by clicking the magnifying glass icon below..
            </p>
        </mat-card-subtitle>

    </mat-card-header>


    <mat-card-content class='colo'>
        <table style="margin: 0px; padding: 0px;">
            <tr>
                <td width="110">
                    <img [src]="image" width="150" onError="this.src='assets/noimage.jpg'" />
                </td>
                <td>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td width="11%" *ngIf="main==0">
                                <mat-form-field class="id">
                                    <input autofocus matInput #idno2 placeholder="ID Number" value="" [(ngModel)]="id" name="idno" required="required" (keydown)="keyDownFunction($event)" maxlength="7">
                                </mat-form-field>
                                <button mat-mini-fab color="primary" (click)="personlookup()" style="margin-right: 10px;">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <mat-slide-toggle [checked]="main===1" (change)="checkMain()">
                                    <span *ngIf="main==1">Employee</span>
                                    <span *ngIf="main==0">Applicant</span>
                                </mat-slide-toggle>
                            </td>

                            <td width="11%" *ngIf="main==1">
                                <mat-form-field class="id">
                                    <input autofocus matInput #idno2 placeholder="ID Number" value="" [(ngModel)]="id" name="idno" required="required" (keydown)="keyDownFunction($event)" maxlength="7">
                                </mat-form-field>
                                <button mat-mini-fab color="primary" (click)="employeelookup()" style="margin-right: 10px;">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <mat-slide-toggle [checked]="main===1" (change)="checkMain()">
                                    <span *ngIf="main==1">Employee</span>
                                    <span *ngIf="main==0">Applicant</span>
                                </mat-slide-toggle>
                            </td>

                            <!-- <td>
                                <div>
                                    <mat-slide-toggle [checked]="main===1" (change)="checkMain()">
                                        <span *ngIf="main==1">:Employee</span>
                                        <span *ngIf="main==0">:Applicant</span>
                                    </mat-slide-toggle>
                                </div>
                            </td> -->

                        </tr>
                    </table>

                    <h3 *ngIf="headerShowContent" style="margin: 0px">{{lname}}, {{fname}} {{mname}} {{suffix}}</h3>
                    <span *ngIf="headerShowContent"><strong>{{dtridnum}} </strong>Position: <strong>{{position}} </strong> </span>
                    <span style="color: green;" *ngIf="headerShowContent"><br>
                        <b>*With MyPortal Account
                            <span style="color:red" *ngIf="accountLocked">( Account: Disabled)</span>
                    </b>
                    </span>
                    <div style="height: 10px"></div>
                </td>
            </tr>
        </table>
        <mat-divider></mat-divider>


        <div style="margin: 10px;" *ngIf="showContent">

            <mat-tab-group (selectedTabChange)='getindex($event)'>

                <!--Basic Hiring Information-->
                <mat-tab label="Basic Hiring Information">
                    <mat-card class="card-wrapper" *ngIf="tabbing===0">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <form [formGroup]="form">
                                    <table>
                                        <tr>
                                            <td style="width: 100%;">
                                                <mat-form-field style="width: 40%; display:inline;" appearance="outline">
                                                    <mat-label>Rank</mat-label>
                                                    <mat-select formControlName="rankID" (selectionChange)="onChange($event, 'rankID')">
                                                        <mat-option *ngFor="let r of rank" [value]="r.rankid">
                                                            {{r.rank}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div *ngIf="f.rankID.errors && this.submitted" class="invalid-feedback">
                                                    <div *ngIf="f.rankID.errors && this.submitted">*Rank is required</div>
                                                </div>
                                            </td>

                                            <td style="width: 100%;">
                                                <mat-form-field style="width: 30%; display:inline;" appearance="outline">
                                                    <mat-label>Type</mat-label>
                                                    <mat-select formControlName="empTypeID" (selectionChange)="onChange($event, 'empTypeID')">
                                                        <mat-option *ngFor="let t of empType" [value]="t.empTypeID">
                                                            {{t.type}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div *ngIf="f.empTypeID.errors && this.submitted" class="invalid-feedback">
                                                    <div *ngIf="f.empTypeID.errors && this.submitted">*Type is required</div>
                                                </div>
                                            </td>
                                            <td style="width: 100%;">
                                                <mat-form-field style="width: 25%; display:inline;" appearance="outline">
                                                    <mat-label>DTR ID</mat-label>
                                                    <input matInput formControlName="dtrid" (ngModelChange)="onChange($event, 'dtrid')">
                                                </mat-form-field>
                                                <div *ngIf="f.dtrid.errors && this.submitted" class="invalid-feedback">
                                                    <div style="font-size:11px" *ngIf="f.dtrid.errors.required && this.submitted">
                                                        *DTR ID is Required
                                                    </div>
                                                    <div style="font-size:11px" *ngIf="f.dtrid.errors.duplicate && this.submitted">
                                                        *DTR ID has already been assigned to {{dtrIdAssignedto}}
                                                    </div>
                                                    <div style="font-size:11px" *ngIf="f.dtrid.errors.minmaxlength && this.submitted">
                                                        *DTR ID should be 5 digits
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div style="margin:2px; text-align: left;" *ngIf="global.checkaccess(':Employee:EmployeeAllGet') && this.employee==undefined">
                                                    <button mat-mini-fab color="primary" (click)="openDialogDTRIDLookUp()" matTooltip="Search DTR ID">
                                                        <mat-icon>find_in_page</mat-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100%;">
                                                <mat-form-field style="width: 40%; display:inline;" appearance="outline">
                                                    <mat-label>Status</mat-label>
                                                    <mat-select formControlName="empStatusID" (selectionChange)="onChange($event, 'empStatusID')">
                                                        <mat-option *ngFor="let s of empStatus" [value]="s.empStatusID">
                                                            {{s.empStatus}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div *ngIf="f.empStatusID.errors && this.submitted" class="invalid-feedback">
                                                    <div *ngIf="f.empStatusID.errors && this.submitted">*Status is required</div>
                                                </div>
                                            </td>
                                            <td style="width: 100%;">
                                                <mat-form-field style="width: 30%; display:inline;" appearance="outline">
                                                    <mat-label>Date Hired</mat-label>
                                                    <input matInput formControlName="datehired" [matDatepicker]="dp3" (ngModelChange)="onChange($event, 'datehired')">
                                                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                                <div *ngIf="f.datehired.errors && this.submitted" class="invalid-feedback">
                                                    <div *ngIf="f.datehired.errors.required && this.submitted">*Date hired is required</div>
                                                </div>
                                            </td>
                                            <td style="width: 100%;">
                                                <mat-form-field style="width: 25%; display:inline;" appearance="outline">
                                                    <mat-label>Active</mat-label>
                                                    <mat-select formControlName="active" (selectionChange)="onChange($event, 'active')">
                                                        <mat-option value="1">Active</mat-option>
                                                        <mat-option value="0">InActive</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div *ngIf="f.active.errors && this.submitted" class="invalid-feedback">
                                                    <div *ngIf="f.active.errors && this.submitted">*Active is required</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>

                                <mat-divider></mat-divider>

                                <mat-card-footer>
                                    <div style="margin:20px; padding: 5px; text-align: right;">
                                        <ng-container *ngIf="global.checkaccess(':Employee:EmployeePost') || global.checkaccess(':Employee:EmployeePut')">
                                            <button mat-raised-button color="primary" (click)="save()" matTooltip="Save Changes" [disabled]="this.btnSaveDisabled">
                                                <mat-icon>save</mat-icon>
                                            </button> &nbsp;
                                        </ng-container>
                                        <ng-container *ngIf="global.checkaccess(':Employee:EmployeePost') || global.checkaccess(':Employee:EmployeePut')">
                                            <button mat-raised-button color="primary" (click)="cancel()" matTooltip="Cancel" [disabled]="this.btnCancelDisabled">
                                                <mat-icon>cancel</mat-icon>
                                            </button> &nbsp;
                                        </ng-container>
                                    </div>
                                </mat-card-footer>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <div *ngIf="this.employee !=undefined">

                    <div *ngIf="global.checkaccess(':Employee:AppointmentGet')">
                        <!--Appointments-->
                        <mat-tab label="Appointments">
                            <mat-card *ngIf="tabbing===1">
                                <div style="margin-top: 25px">
                                    <mat-accordion style="overflow: hidden">

                                        <table class="apptable" id="childrenCSS">
                                            <tr>
                                                <th style="display:none;">
                                                    ID
                                                </th>
                                                <th style="display:none;">
                                                    DEPTID
                                                </th>
                                                <th style="text-align: center;">
                                                    DEPARTMENT
                                                </th>
                                                <th style="display:none;">
                                                    ITEMID
                                                </th>
                                                <th style="display:none;">
                                                    effectivity
                                                </th>
                                                <th style="text-align: center;">
                                                    POSITION
                                                </th>
                                                <th style="text-align: center;">
                                                    DATE
                                                </th>
                                                <th style="text-align: center;">
                                                    FROM
                                                </th>
                                                <th style="text-align: center;">
                                                    TO
                                                </th>
                                                <th style="text-align: center;">
                                                    STATUS
                                                </th>
                                                <th style="width: 180px;text-align: center;">
                                                    - ACTION -
                                                </th>
                                            </tr>
                                            <tr *ngFor="let a of appointmentArr | paginate: configRooms" matTooltip="{{a.main === 1 ? 'Main position' : ''}}" [ngClass]="{'red-row': a.main === 1}">
                                                <td style="display:none;">{{a.appointmentID}}</td>
                                                <td style="display:none;">{{a.departmentID}}</td>
                                                <td width="25%">{{a.departmentName}}</td>
                                                <td style="display:none;">{{a.itemID}}</td>
                                                <td style="display:none;">{{a.hasEffectivity}}</td>
                                                <td>{{a.position}}</td>
                                                <td>{{a.dateAppointed}}</td>
                                                <td>{{a.startdate}}</td>
                                                <td>{{a.enddate}}</td>
                                                <td *ngIf="a.active===1">Active</td>
                                                <td *ngIf="a.active===0">Not Active</td>
                                                <td style="text-align: center;">
                                                    <button mat-raised-button color="primary" [disabled]="!global.checkaccess(':Employee:AppointmentPut')" class="btnstyle" (click)="updateAppointmentOpenDialog(a)">
                                                <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                                    <button mat-raised-button color="warn" [disabled]="!global.checkaccess(':Employee:AppointmentDelete')" (click)="deleteAppointment(a.appointmentID)" class="btnstyle">
                                                <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                                </td>
                                            </tr>
                                        </table>

                                        <table>
                                            <button mat-raised-button color="primary" [disabled]="!global.checkaccess(':Employee:AppointmentPost')" (click)="addAppointmentOpenDialog()" style="margin-left: 10px; margin-top: 10px;">
                                                <i class="material-icons">add</i> Add new (Appointment)
                                            </button>

                                            <div style="float: right; margin-right: 10px;">
                                                <pagination-controls (pageChange)="pageChangedRooms($event)"></pagination-controls>
                                            </div>
                                        </table>


                                    </mat-accordion>
                                </div>
                            </mat-card>
                        </mat-tab>

                    </div>

                    <div *ngIf="global.checkaccess(':Employee:ContractGet')">
                        <!--Contracts-->
                        <mat-tab label="Contracts">
                            <mat-card *ngIf="tabbing===2">
                                <div style="margin-top: 25px">
                                    <mat-accordion style="overflow: hidden">

                                        <table class="apptable" id="childrenCSS">
                                            <tr>
                                                <th style="display:none;">
                                                    ID
                                                </th>

                                                <th style="text-align: center;">
                                                    START DATE
                                                </th>
                                                <th style="text-align:center;">
                                                    END DATE
                                                </th>
                                                <th style="text-align: center;">
                                                    TERM OF CONTRACT
                                                </th>
                                                <th style="text-align: center;">
                                                    DESCRIPTION
                                                </th>
                                                <th style="text-align: center;">
                                                    STATUS
                                                </th>
                                                <th style="width: 180px;text-align: center;">
                                                    - ACTION -
                                                </th>
                                            </tr>
                                            <tr *ngFor="let c of contractArr">
                                                <td style="display:none;">{{c.contractid}}</td>
                                                <td>{{c.startdate}}</td>
                                                <td>{{c.enddate}}</td>
                                                <td>{{c.classification}}</td>
                                                <td>{{c.description}}</td>
                                                <td *ngIf="c.active==='True'">Active</td>
                                                <td *ngIf="c.active==='False'">Not Active</td>
                                                <td style="text-align: center;">
                                                    <button mat-raised-button color="primary" [disabled]="!global.checkaccess(':Employee:ContractPut')" class="btnstyle" (click)="updateContractOpenDialog(c)">
                                                <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                                    <button mat-raised-button color="warn" [disabled]="!global.checkaccess(':Employee:ConractDelete')" (click)="deleteContract(c.contractid)" class="btnstyle">
                                                <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                                </td>
                                            </tr>
                                        </table>

                                        <br>

                                        <table>
                                            <button mat-raised-button color="primary" [disabled]="!global.checkaccess(':Employee:ConractPost')" (click)="addContractOpenDialog()" style="margin-left: 10px;">
                                      <i class="material-icons">add</i> Add new (Contract)
                                  </button>
                                        </table>

                                        <br>

                                    </mat-accordion>
                                </div>
                            </mat-card>
                        </mat-tab>

                    </div>

                    <div *ngIf="global.checkaccess(':Employee:RankGet')">
                        <!--Rank Record-->
                        <mat-tab label="Rank Record">
                            <mat-card *ngIf="tabbing===3">
                                <div style="margin-top: 25px">
                                    <mat-accordion style="overflow: hidden">

                                        <table class="apptable" id="childrenCSS">
                                            <tr>
                                                <th style="display:none;">
                                                    ID
                                                </th>

                                                <th style="text-align: center;">
                                                    SCHOOL YEAR
                                                </th>
                                                <th style="text-align:center;">
                                                    RANK
                                                </th>
                                                <th style="text-align: center;">
                                                    DEPARTMENT/OFFICE
                                                </th>
                                                <th style="text-align: center;">
                                                    POSITION
                                                </th>
                                                <th style="text-align: center;">
                                                    STATUS
                                                </th>
                                                <th style="text-align: center;">
                                                    TERMS OF CONTRACT
                                                </th>
                                                <th style="text-align: center;">
                                                    EVALUATION
                                                </th>
                                                <th style="text-align: center;">
                                                    RECOMMENDATION
                                                </th>
                                                <th style="width: 180px;text-align: center;">
                                                    - ACTION -
                                                </th>
                                            </tr>

                                            <tr *ngFor="let c of rankRecordsArr | paginate: configRooms1">
                                                <td style="display:none;">{{c.evaluationid}}</td>
                                                <td>{{c.sy}}</td>
                                                <td>{{c.rank}}</td>
                                                <td>{{c.department}}</td>
                                                <td>{{c.position}}</td>
                                                <td *ngIf="c.status && c.status==='1'">Part Time</td>
                                                <td *ngIf="c.status && c.status==='2'">Full Time</td>
                                                <td *ngIf="c.status && c.status==='3'">Substitute</td>
                                                <td>{{c.empStatus}}</td>
                                                <td *ngIf="c.evaluation == null">No Evaluation</td>
                                                <td *ngIf="c.evaluation != null">{{c.evaluation}}</td>
                                                <td>
                                                    <div *ngIf="c.recommendation">
                                                        <ng-container *ngFor="let recommendation of c.recommendation.split(';')">
                                                            <span style="display: block">{{ recommendation.trim() }}<span *ngIf="recommendation.trim() !== ''">;</span></span>
                                                        </ng-container>
                                                    </div>
                                                </td>

                                                <td style="text-align: center;">
                                                    <button mat-raised-button color="primary" [disabled]="!global.checkaccess(':Employee:RankPut')" class="btnstyle" (click)="updateRankRecordOpenDialog(c)">
                                                <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                                    <button mat-raised-button color="warn" [disabled]="!global.checkaccess(':Employee:RankDelete')" (click)="deleteRankRecord(c.evaluationid)" class="btnstyle">
                                                <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                            </button>
                                                </td>
                                            </tr>

                                        </table>

                                        <table>
                                            <button mat-raised-button color="primary" [disabled]="!global.checkaccess(':Employee:RankPost')" (click)="addRankRecordOpenDialog()" style="margin-left: 10px; margin-top: 10px;">
                                            <i class="material-icons">add</i> Add new (Rank Record)
                                        </button>
                                            <div style="float: right; margin-right: 10px;">
                                                <pagination-controls (pageChange)="pageChangedRoomsRR($event)"></pagination-controls>
                                            </div>
                                        </table>

                                    </mat-accordion>
                                </div>
                            </mat-card>
                        </mat-tab>

                    </div>

                    <div *ngIf="global.checkaccess(':Employee:EndOfServiceGet')">
                        <!--End of Service-->
                        <mat-tab label="End of Service">
                            <mat-card *ngIf="tabbing===4">
                                <div style="margin-top: 25px; width: 60%;">
                                    <mat-accordion style="overflow: hidden">

                                        <table class="apptable" id="childrenCSS">
                                            <tr>
                                                <th style="display:none;">
                                                    ID
                                                </th>

                                                <th style="text-align: center;">
                                                    EOS Type
                                                </th>
                                                <th style="text-align:center;">
                                                    EOS Date
                                                </th>
                                                <th style="text-align: center;">
                                                    Remarks
                                                </th>

                                                <th style="width: 180px;text-align: center;">
                                                    - ACTION -
                                                </th>
                                            </tr>

                                            <tr *ngFor="let c of eosArr">
                                                <td>{{c.eosType}}</td>
                                                <td>{{c.eosDate}}</td>
                                                <td>{{c.remarks}}</td>
                                                <td style="text-align: center;">
                                                    <button mat-raised-button color="primary" [disabled]="!global.checkaccess(':Employee:EndOfServicePut')" class="btnstyle" (click)=" updateEndOfServiceOpenDialog(c) ">
                                                    <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                                    <button mat-raised-button color="warn" [disabled]="!global.checkaccess(':Employee:EndOfServiceDelete')" (click)="deleteEOS(c.eosType)" class="btnstyle">
                                                    <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                                </td>
                                            </tr>
                                        </table>

                                        <br>

                                        <table>
                                            <button mat-raised-button color="primary" [disabled]="!global.checkaccess(':Employee:EndOfServicePost')" (click)="addEndOfServiceOpenDialog(eosArr)" style="margin-left: 10px;">
                                          <i class="material-icons">add</i> Add new (End Of Service)
                                      </button>
                                        </table>

                                        <br>


                                    </mat-accordion>
                                </div>
                            </mat-card>
                        </mat-tab>

                    </div>
                </div>
            </mat-tab-group>

        </div>

    </mat-card-content>
</mat-card>