<!-- Added by Kurt. This view is used to close the component if the component was opened in cpdes manager -->
<button color="primary" mat-raised-button (click)="closeComponent()" *ngIf="codesManagerDisplay('viewClassroom')" style="position: absolute; right: 230px; z-index: 999; font-size:11px; line-height: 15px;height: 28px; padding: 3px 0px 2px 0px;">
    <i class="material-icons" style="margin-left: 3px;">cancel</i>
    <span style="margin-top: 7px;"> Close&nbsp;&nbsp;&nbsp;</span></button>


<mat-tab-group [selectedIndex]="tab" *ngIf="!codesManagerDisplay('selectSchedule')">

    <mat-tab label="Manage Classrooms">
        <mat-card class="example-card">
            <mat-card-header>
                <!-- <mat-card-title><b>FILTER OPTIONS</b></mat-card-title> -->
                <mat-card-subtitle>
                    <p style="font-size: 12px; padding: 0; margin: 0;">
                        This page display a tabular list of classrooms for a specific building.
                        <br>To add another classroom, click the <strong>Add Classroom</strong> button and fill up the necessary details then press the <strong>Save</strong> button.
                        <br>On the -Action- column, click the menu botton to update & delete classrom details and press the <strong>SAVE</strong> to save changes.
                    </p>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class='colo'>

                <div style="width: 990px;">
                    <table style="width: 100%">
                        <mat-form-field style="width: 300px;" appearance="outline">
                            <mat-label>Select Building Location</mat-label>
                            <mat-select [(ngModel)]="location" (ngModelChange)="generateManageClassroomBuilding()">
                                <mat-option *ngFor="let location of uniqueOfLocation" [value]="location">
                                    {{location}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- <button mat-raised-button *ngIf="location !=''" style="width: 125px;background-color:#006600;color:white;float: right;margin-top: 5px;" class="buttondesign" (click)="downloadExcel()">
                                          <i class="material-icons">save_alt</i>
                                              <span style="margin-top: 7px"> Export File&nbsp;&nbsp;</span>
                                     </button> -->
                        <button mat-raised-button color="primary" (click)="AddClassroom(location)" style="float: right;margin-top: 5px;" *ngIf="location != ''">
                            <i class="material-icons">add</i> Add Classroom</button>
                    </table>
                    <!-- <mat-divider style=" margin-bottom: 10px; margin-top: 10px;"></mat-divider> -->

                    <div style="max-height: calc(100vh - 385px); width: 101%;">
                        <table class="apptable" style="width: 100%" *ngIf="location !=''">
                            <tr>
                                <th>Room Number</th>
                                <th>Capacity</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th style="width: 180px;text-align: center;">- Action -</th>
                            </tr>
                            <td>
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>filter</mat-label>
                                    <input matInput placeholder="" autocomplete="off" [(ngModel)]="aroomNo" (keyup)="filterall($event)">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>filter</mat-label>
                                    <input matInput placeholder="" autocomplete="off" [(ngModel)]="aseatingCapacity" (keyup)="filterall($event)">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>filter</mat-label>
                                    <input matInput placeholder="" autocomplete="off" [(ngModel)]="atype" (keyup)="filterall($event)">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>filter</mat-label>
                                    <input matInput placeholder="" autocomplete="off" [(ngModel)]="atypeDesc" (keyup)="filterall($event)">
                                </mat-form-field>
                            </td>

                            <td style="text-align:center;">
                                <button mat-raised-button style="width: 80px;background-color:#990000;color:white; margin-bottom: 5px;" class="buttondesign" *ngIf="aroomNo != '' || atypeDesc !='' || aseatingCapacity !='' || atype !=''" (click)="funcClear()">
                                    <i class="material-icons">code</i>
                                    <span> Clear&nbsp;&nbsp;</span>
                                </button>

                                <button mat-raised-button style="width: 80px;background-color:#8d8989;color:white; margin-bottom: 5px;" class="buttondesign" *ngIf="aroomNo == '' && atypeDesc=='' && aseatingCapacity =='' && atype ==''" [disabled]="true">
                                    <i class="material-icons">code</i>
                                    <span> Clear&nbsp;&nbsp;</span>
                                </button>
                            </td>
                        </table>
                    </div>

                    <div style="max-height: calc(100vh - 385px);overflow-y: scroll; width: 101%;">
                        <table class="apptable" style="width: 100%" *ngIf="location !=''">

                            <tr *ngFor="let classroom of filteredArray; let i = index">
                                <td style="width: 201px;">
                                    {{classroom.roomNo}}
                                </td>
                                <td style="width: 201px;">
                                    {{classroom.seatingCapacity}}
                                </td>
                                <td style="width: 201px;">
                                    {{classroom.type}}
                                </td>
                                <td style="width: 201px;">
                                    {{classroom.typeDesc}}
                                </td>

                                <td style="text-align: center;">
                                    <button mat-button [matMenuTriggerFor]="menu"><i
                                            class="material-icons">menu</i></button>
                                    <mat-menu #menu="matMenu" xPosition="after" yPosition="below">
                                        <button mat-menu-item class="btnAction" (click)="EditEntry(classroom.roomNo, classroom.seatingCapacity, classroom.type, classroom.typeDesc)">
                                            <i class="material-icons">edit</i><span
                                                style="margin: -15px 0 0 25px!important ">&nbsp;Edit
                                                Entry&nbsp;</span>
                                        </button>
                                        <button mat-menu-item class="btnAction" (click)="funcRemove(i, classroom.roomNo)">
                                            <i class="material-icons">delete</i><span
                                                style="margin: -15px 0 0 25px!important ">&nbsp;Delete
                                                Entry&nbsp;</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div style="max-height: calc(100vh - 385px);  width: 101%;">
                        <table class="apptable" style="width: 100%" *ngIf="location !=''">
                            <tr>
                                <th colspan="5">
                                    <i style="font-weight: normal!important; float: right;">
                                        (Total: {{filteredArray.length}})
                                    </i>
                                </th>
                            </tr>
                        </table>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab label="Classroom Schedule">
        <mat-card class="example-card">
            <mat-card-header>
                <!-- <mat-card-title><b>CLASSROOM SCHEDULE</b></mat-card-title> -->
                <mat-card-subtitle>
                    <p style="font-size: 12px; padding: 0; margin: 0;">
                        This page displays the class schedule of a specific room.
                        <br> Select the building location and Room Number, after selecting click the <strong>Download
                            Excel File</strong>.
                    </p>
                </mat-card-subtitle>
            </mat-card-header>
            <!-- <mat-spinner diameter=75 *ngIf="container == ''" style="margin:0 auto; margin-top: 15px; margin-bottom: 15px;"></mat-spinner> -->
            <div>
                <mat-card-content class='colo'>
                    <div style="width: 990px;">
                        <table style="width: 100%">
                            <mat-form-field style="width: 300px;" appearance="outline">

                                <mat-label>Select Building Location</mat-label>
                                <mat-select [(ngModel)]="location2" (ngModelChange)="generateClassroomScheduleBuilding()">
                                    <!-- <mat-option [value]="" (click)="classroomAvailArray = []">
                                            - None -
                                        </mat-option> -->
                                    <mat-option *ngFor="let location of uniqueOfLocation2" [value]="location">
                                        {{location}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field style="width: 100px; margin-left: 10px;" appearance="outline">
                                <mat-label>Select Room Number</mat-label>
                                <mat-select [(ngModel)]="roomNo2" (ngModelChange)="generateRoom()">
                                    <mat-option *ngFor="let array of newFilteredArray" [value]="array.roomNo">
                                        {{array.roomNo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </table>

                        <div style="width: 90%;">
                            <table class="apptable1" style="width: 100%; margin-top: 10px;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;" rowspan="2">{{roomNo2}}</th>
                                        <th style="text-align: center;" colspan="7">{{location2}}</th>
                                    </tr>
                                    <tr>
                                        <th style=" text-align: center;">MON</th>
                                        <th style=" text-align: center;">TUE</th>
                                        <th style=" text-align: center;">WED</th>
                                        <th style=" text-align: center;">THU</th>
                                        <th style=" text-align: center;">FRI</th>
                                        <th style="  text-align: center;">SAT</th>
                                        <th style=" text-align: center;">SUN</th>
                                    </tr>
                                </thead>
                                <tbody id="classroomTable">
                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">07:00AM</td>
                                        <td id="1-07:00AM"></td>
                                        <td id="2-07:00AM"></td>
                                        <td id="3-07:00AM"></td>
                                        <td id="4-07:00AM"></td>
                                        <td id="5-07:00AM"></td>
                                        <td id="6-07:00AM"></td>
                                        <td id="7-07:00AM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "> </td>
                                        <td id="1-07:30AM"></td>
                                        <td id="2-07:30AM"></td>
                                        <td id="3-07:30AM"></td>
                                        <td id="4-07:30AM"></td>
                                        <td id="5-07:30AM"></td>
                                        <td id="6-07:30AM"></td>
                                        <td id="7-07:30AM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">08:00AM</td>
                                        <td id="1-08:00AM"></td>
                                        <td id="2-08:00AM"></td>
                                        <td id="3-08:00AM"></td>
                                        <td id="4-08:00AM"></td>
                                        <td id="5-08:00AM"></td>
                                        <td id="6-08:00AM"></td>
                                        <td id="7-08:00AM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-08:30AM"></td>
                                        <td id="2-08:30AM"></td>
                                        <td id="3-08:30AM"></td>
                                        <td id="4-08:30AM"></td>
                                        <td id="5-08:30AM"></td>
                                        <td id="6-08:30AM"></td>
                                        <td id="7-08:30AM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">09:00AM</td>
                                        <td id="1-09:00AM"></td>
                                        <td id="2-09:00AM"></td>
                                        <td id="3-09:00AM"></td>
                                        <td id="4-09:00AM"></td>
                                        <td id="5-09:00AM"></td>
                                        <td id="6-09:00AM"></td>
                                        <td id="7-09:00AM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-09:30AM"></td>
                                        <td id="2-09:30AM"></td>
                                        <td id="3-09:30AM"></td>
                                        <td id="4-09:30AM"></td>
                                        <td id="5-09:30AM"></td>
                                        <td id="6-09:30AM"></td>
                                        <td id="7-09:30AM"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">10:00AM</td>
                                        <td id="1-10:00AM"></td>
                                        <td id="2-10:00AM"></td>
                                        <td id="3-10:00AM"></td>
                                        <td id="4-10:00AM"></td>
                                        <td id="5-10:00AM"></td>
                                        <td id="6-10:00AM"></td>
                                        <td id="7-10:00AM"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-10:30AM"></td>
                                        <td id="2-10:30AM"></td>
                                        <td id="3-10:30AM"></td>
                                        <td id="4-10:30AM"></td>
                                        <td id="5-10:30AM"></td>
                                        <td id="6-10:30AM"></td>
                                        <td id="7-10:30AM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">11:00AM</td>
                                        <td id="1-11:00AM"></td>
                                        <td id="2-11:00AM"></td>
                                        <td id="3-11:00AM"></td>
                                        <td id="4-11:00AM"></td>
                                        <td id="5-11:00AM"></td>
                                        <td id="6-11:00AM"></td>
                                        <td id="7-11:00AM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-11:30AM"></td>
                                        <td id="2-11:30AM"></td>
                                        <td id="3-11:30AM"></td>
                                        <td id="4-11:30AM"></td>
                                        <td id="5-11:30AM"></td>
                                        <td id="6-11:30AM"></td>
                                        <td id="7-11:30AM"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">12:00PM</td>
                                        <td id="1-12:00PM"></td>
                                        <td id="2-12:00PM"></td>
                                        <td id="3-12:00PM"></td>
                                        <td id="4-12:00PM"></td>
                                        <td id="5-12:00PM"></td>
                                        <td id="6-12:00PM"></td>
                                        <td id="7-12:00PM"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-12:30PM"></td>
                                        <td id="2-12:30PM"></td>
                                        <td id="3-12:30PM"></td>
                                        <td id="4-12:30PM"></td>
                                        <td id="5-12:30PM"></td>
                                        <td id="6-12:30PM"></td>
                                        <td id="7-12:30PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">01:00PM</td>
                                        <td id="1-01:00PM"></td>
                                        <td id="2-01:00PM"></td>
                                        <td id="3-01:00PM"></td>
                                        <td id="4-01:00PM"></td>
                                        <td id="5-01:00PM"></td>
                                        <td id="6-01:00PM"></td>
                                        <td id="7-01:00PM"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-01:30PM"></td>
                                        <td id="2-01:30PM"></td>
                                        <td id="3-01:30PM"></td>
                                        <td id="4-01:30PM"></td>
                                        <td id="5-01:30PM"></td>
                                        <td id="6-01:30PM"></td>
                                        <td id="7-01:30PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">02:00PM</td>
                                        <td id="1-02:00PM"></td>
                                        <td id="2-02:00PM"></td>
                                        <td id="3-02:00PM"></td>
                                        <td id="4-02:00PM"></td>
                                        <td id="5-02:00PM"></td>
                                        <td id="6-02:00PM"></td>
                                        <td id="7-02:00PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-02:30PM"></td>
                                        <td id="2-02:30PM"></td>
                                        <td id="3-02:30PM"></td>
                                        <td id="4-02:30PM"></td>
                                        <td id="5-02:30PM"></td>
                                        <td id="6-02:30PM"></td>
                                        <td id="7-02:30PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">03:00PM</td>
                                        <td id="1-03:00PM"></td>
                                        <td id="2-03:00PM"></td>
                                        <td id="3-03:00PM"></td>
                                        <td id="4-03:00PM"></td>
                                        <td id="5-03:00PM"></td>
                                        <td id="6-03:00PM"></td>
                                        <td id="7-03:00PM"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-03:30PM"></td>
                                        <td id="2-03:30PM"></td>
                                        <td id="3-03:30PM"></td>
                                        <td id="4-03:30PM"></td>
                                        <td id="5-03:30PM"></td>
                                        <td id="6-03:30PM"></td>
                                        <td id="7-03:30PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">04:00PM</td>
                                        <td id="1-04:00PM"></td>
                                        <td id="2-04:00PM"></td>
                                        <td id="3-04:00PM"></td>
                                        <td id="4-04:00PM"></td>
                                        <td id="5-04:00PM"></td>
                                        <td id="6-04:00PM"></td>
                                        <td id="7-04:00PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "> </td>
                                        <td id="1-04:30PM"></td>
                                        <td id="2-04:30PM"></td>
                                        <td id="3-04:30PM"></td>
                                        <td id="4-04:30PM"></td>
                                        <td id="5-04:30PM"></td>
                                        <td id="6-04:30PM"></td>
                                        <td id="7-04:30PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">05:00PM</td>
                                        <td id="1-05:00PM"></td>
                                        <td id="2-05:00PM"></td>
                                        <td id="3-05:00PM"></td>
                                        <td id="4-05:00PM"></td>
                                        <td id="5-05:00PM"></td>
                                        <td id="6-05:00PM"></td>
                                        <td id="7-05:00PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-05:30PM"></td>
                                        <td id="2-05:30PM"></td>
                                        <td id="3-05:30PM"></td>
                                        <td id="4-05:30PM"></td>
                                        <td id="5-05:30PM"></td>
                                        <td id="6-05:30PM"></td>
                                        <td id="7-05:30PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">06:00PM</td>
                                        <td id="1-06:00PM"></td>
                                        <td id="2-06:00PM"></td>
                                        <td id="3-06:00PM"></td>
                                        <td id="4-06:00PM"></td>
                                        <td id="5-06:00PM"></td>
                                        <td id="6-06:00PM"></td>
                                        <td id="7-06:00PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-06:30PM"></td>
                                        <td id="2-06:30PM"></td>
                                        <td id="3-06:30PM"></td>
                                        <td id="4-06:30PM"></td>
                                        <td id="5-06:30PM"></td>
                                        <td id="6-06:30PM"></td>
                                        <td id="7-06:30PM"></td>
                                    </tr>


                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">07:00PM</td>
                                        <td id="1-07:00PM"></td>
                                        <td id="2-07:00PM"></td>
                                        <td id="3-07:00PM"></td>
                                        <td id="4-07:00PM"></td>
                                        <td id="5-07:00PM"></td>
                                        <td id="6-07:00PM"></td>
                                        <td id="7-07:00PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-07:30PM"></td>
                                        <td id="2-07:30PM"></td>
                                        <td id="3-07:30PM"></td>
                                        <td id="4-07:30PM"></td>
                                        <td id="5-07:30PM"></td>
                                        <td id="6-07:30PM"></td>
                                        <td id="7-07:30PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">08:00PM</td>
                                        <td id="1-08:00PM"></td>
                                        <td id="2-08:00PM"></td>
                                        <td id="3-08:00PM"></td>
                                        <td id="4-08:00PM"></td>
                                        <td id="5-08:00PM"></td>
                                        <td id="6-08:00PM"></td>
                                        <td id="7-08:00PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  "></td>
                                        <td id="1-08:30PM"></td>
                                        <td id="2-08:30PM"></td>
                                        <td id="3-08:30PM"></td>
                                        <td id="4-08:30PM"></td>
                                        <td id="5-08:30PM"></td>
                                        <td id="6-08:30PM"></td>
                                        <td id="7-08:30PM"></td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;height: 35px;  ">09:00PM</td>
                                        <td id="1-09:00PM"></td>
                                        <td id="2-09:00PM"></td>
                                        <td id="3-09:00PM"></td>
                                        <td id="4-09:00PM"></td>
                                        <td id="5-09:00PM"></td>
                                        <td id="6-09:00PM"></td>
                                        <td id="7-09:00PM"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <mat-divider style="width: 1000px;"></mat-divider> -->
                        <div style="width: 90%;">
                            <table class="apptable1" *ngIf="tempArray2.length != 0">
                                <tr>
                                    <th style="text-align: center;" colspan="6">List of Conflict Class Schedules</th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;">
                                        Code No
                                    </th>
                                    <th style="text-align: center;">
                                        Subject ID
                                    </th>
                                    <th style="text-align: center;">
                                        Instructor
                                    </th>
                                    <th style="text-align: center;">
                                        Day
                                    </th>
                                    <th style="text-align: center;">
                                        Vacant Schedule
                                    </th>
                                    <th style="text-align: center;">
                                        Department Code
                                    </th>
                                </tr>

                                <tbody>
                                    <tr *ngFor=" let classrom of tempArray2 ">
                                        <td style="text-align: center;">
                                            {{ classrom.codeNo}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{ classrom.subjectID}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{ classrom.instructor}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{ classrom.theDay}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{ classrom.vacantSched}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{ classrom.departmentCode}}
                                        </td>
                                    </tr>
                                    <!-- <tr *ngIf="tempArray2.length == 0">
                                        <td colspan="6">
                                            <p style="text-align: center; width: 100%;">
                                                <i>- No Data -</i>
                                            </p>
                                        </td>
                                    </tr> -->
                                </tbody>

                            </table>
                        </div>

                        <div style="width: 100%" *ngIf="tempArray.length == 0">
                            <button mat-raised-button [disabled]="disabled" style="width: 190px; height:30px;  background-color: #e0e0e0;color:a6a6a6; float: right;margin-top: 10px; margin-bottom: 10px; margin-right: 150px;" class="buttondesign">
                                <i class="material-icons">save_alt</i>
                                <span style="margin-top: 7px"> Download Excel File&nbsp;&nbsp;</span>
                            </button>
                        </div>

                        <div style="width: 100%" *ngIf="tempArray.length != 0">
                            <button mat-raised-button style="width: 190px; height:30px; background-color: #294a70;color:white;float: right;margin-top: 10px; margin-bottom: 10px; margin-right: 150px;" class="buttondesign" (click)="downloadClassroomScheduleExcel()">
                                <i class="material-icons">save_alt</i>
                                <span style="margin-top: 7px"> Download Excel File&nbsp;&nbsp;</span>
                            </button>
                        </div>

                    </div>
                </mat-card-content>
            </div>
        </mat-card>
    </mat-tab>

    <mat-tab label="Classroom Availability ">

        <mat-card class="example-card">
            <mat-card-header>
                <!-- <mat-card-title><b>FILTER OPTIONS</b></mat-card-title> -->
                <mat-card-subtitle>
                    <p style="font-size: 12px; padding: 0; margin: 0;">
                        This page display a tabular list of vacant schedule classes for a specific classroom.
                        <br> Apply the appropriate filter options and click the <strong>Download Excel File</strong>.
                    </p>
                </mat-card-subtitle>
            </mat-card-header>

            <!-- <mat-spinner diameter=75 *ngIf="container3 == ''" style="margin:0 auto; margin-top: 15px; margin-bottom: 15px;"></mat-spinner> -->
            <div style="margin-left: 25px; margin-top: 25px; white-space: nowrap;">
                <table>
                    <tr>
                        <td>
                            <div style="margin-right: 15px;">
                                <mat-checkbox class="example-margin" [(ngModel)]="checkedRoomNo" style="margin-right: 10px;" (click)="selectedRoom=''"></mat-checkbox>

                                <mat-form-field style="width: 250px;" appearance="outline" *ngIf="checkedRoomNo">
                                    <mat-label>Select Building Location</mat-label>
                                    <mat-select [(ngModel)]="location3" (ngModelChange)="generateClassroomAvailabilityBuilding()" [disabled]="!checkedRoomNo" (click)="classroomAvailArray = []">

                                        <mat-option *ngFor="let location of uniqueOfLocation3 " [value]="location ">
                                            {{location}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field style="width: 100px; margin-left: 10px; " appearance="outline">
                                    <mat-label>Room</mat-label>
                                    <mat-select [(ngModel)]="selectedRoom " [disabled]="!checkedRoomNo " (click)="classroomAvailArray=[ ] ">
                                        <mat-option *ngFor="let array of filteredArray3 " [value]="array.roomNo ">
                                            {{array.roomNo}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <!-- <div style="margin-right: 15px;">
                                <mat-checkbox class="example-margin" [(ngModel)]="checkedRoomNo" style="margin-right: 10px;" (click)="selectedRoom=''"></mat-checkbox>
                                <mat-form-field class="example-form-field" appearance="outline">
                                    <mat-label>Room Number</mat-label>
                                    <input matInput type="text" [(ngModel)]="selectedRoom" [disabled]="!checkedRoomNo" (click)="classroomAvailArray = []"> -->
                            <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                <mat-icon>close</mat-icon>
                                </button> -->
                            <!-- </mat-form-field>
                            </div> -->
                        </td>

                        <td>
                            <div style="margin-right: 15px;">
                                <mat-checkbox class="example-margin" [(ngModel)]="checkedType" style="margin-right: 10px;" (click)=" classroomType=''"></mat-checkbox>
                                <mat-form-field style="width: 250px;" appearance="outline">
                                    <mat-label>Classroom Type</mat-label>
                                    <mat-select [disabled]="!checkedType" [(ngModel)]="classroomType">
                                        <!-- <mat-option [value]="" (click)="classroomAvailArray = []">
                                            - None -
                                        </mat-option> -->
                                        <mat-option *ngFor="let classroomType of typeListFinal" [value]="classroomType" (click)="classroomAvailArray = []">
                                            {{classroomType}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>

                        <td>
                            <div style="margin-right: 15px;">
                                <mat-checkbox class="example-margin" [(ngModel)]="checkedDay" style="margin-right: 10px;" (click)="day=''"></mat-checkbox>
                                <mat-form-field style="width: 150px;" appearance="outline">
                                    <mat-label>Day</mat-label>
                                    <mat-select [disabled]="!checkedDay" [(ngModel)]="day" (click)="classroomAvailArray = []">
                                        <mat-option *ngFor="let day of weekdays" [value]="day.value">
                                            {{day.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>

                        <td>
                            <div align="right">
                                <button mat-raised-button color="primary" [disabled]="disabled" style="font-size:11px; min-width:18px; line-height: 15px; height: 28px; padding: 0;margin-left: 5px" *ngIf="selectedRoom =='' && day =='' && classroomType ==''">
                                    &nbsp;<i class="material-icons">search</i>
                                    <span style="margin-top: 7px"> Search&nbsp;&nbsp;&nbsp;</span></button>

                                <button mat-raised-button color="primary" (click)="searchButton($event)" style="font-size:11px; min-width:18px; line-height: 15px; height: 28px; padding: 0;margin-left: 5px" *ngIf="selectedRoom !='' || day !='' || classroomType !=''">
                                    &nbsp;<i class="material-icons">search</i>
                                    <span style="margin-top: 7px"> Search&nbsp;&nbsp;&nbsp;</span></button>
                            </div>
                        </td>
                        <td>


                            <div *ngIf="classroomType != '' || day != '' || selectedRoom !=''">
                                <div style="width: 100%" *ngIf="classroomAvailArray.length == 0">
                                    <button mat-raised-button [disabled]="disabled" style="width: 190px; height:30px; background-color: #e0e0e0;color:a6a6a6;float: right; margin-right: 580px;" class="buttondesign">
                                        <i class="material-icons">save_alt</i>
                                        <span style="margin-top: 7px"> Download Excel File&nbsp;&nbsp;</span>
                                    </button>
                                </div>

                                <div style="width: 100%" *ngIf="classroomAvailArray.length != 0">
                                    <button mat-raised-button style="width: 190px; height:30px; background-color: #294a70;color:white;float: right; margin-right: 580px;" class="buttondesign" (click)="downloadClassroomAvailabilityExcel()">
                                        <i class="material-icons">save_alt</i>
                                        <span style="margin-top: 7px"> Download Excel File&nbsp;&nbsp;</span>
                                    </button>
                                </div>
                            </div>
                        </td>
                </table>

                <mat-divider style="width: 1020px; margin-left: 10px;"></mat-divider>

                <div style="max-height: calc(100vh - 385px); width: 65%;">
                    <table id="availabilityTable" class="apptable" style="width: 100%" *ngIf="classroomType != '' || day != '' || selectedRoom !=''">
                        <tr>
                            <th style="text-align: center;">
                                Room Number
                            </th>
                            <th style="text-align: center;">
                                Classroom Type
                            </th>
                            <th style="text-align: center;">
                                Day
                            </th>
                            <th style="text-align: center;">
                                Vacant Schedule
                            </th>
                        </tr>

                        <td>
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="broomNo" (keyup)="filterall2($event)">
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-form-field style="width: 100%; display: non;" appearance="outline">
                                <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="btype" (keyup)="filterall2($event)">
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="bTheDay" (keyup)="filterall2($event)">
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>filter</mat-label>
                                <input matInput placeholder="" autocomplete="off" [(ngModel)]="bVacantSchedule" (keyup)="filterall2($event)">
                            </mat-form-field>
                        </td>
                        <tr *ngFor=" let classroom of classroomAvailArray | paginate: configRooms ">
                            <td style="width: 210px;">
                                {{classroom.roomNumber}}
                            </td>
                            <td style="width: 210px;">
                                {{classroom.type}}
                            </td>
                            <td style="width: 210px;">
                                {{classroom.theDay}}
                            </td>
                            <td style="width: 210px;">
                                {{classroom.vacantSched}}
                            </td>
                        </tr>

                        <tr *ngIf="classroomAvailArray.length == 0">
                            <td colspan="4">
                                <p style="text-align: center; width: 100%;">
                                    <i>- No Data -</i>
                                </p>
                            </td>

                        </tr>
                    </table>
                    <pagination-controls (pageChange)="pageChangedRooms($event)" style="float: right;" *ngIf="classroomAvailArray.length != 0"></pagination-controls>


                </div>


                <!-- <div style="max-height: calc(100vh - 385px);  width: 65%;">

                    <table class="apptable" style="width: 100%" *ngIf="classroomType != '' || day != '' || selectedRoom !=''">
                        <tr>
                            <th colspan="4">    
                                <i style="font-weight: normal!important; float: right;">
                                    (Total: {{classroomAvailArray.length}})
                                </i>
                            </th>
                        </tr>
                    </table>
                </div> -->

            </div>
        </mat-card>
    </mat-tab>

</mat-tab-group>


<mat-card class="example-card" style="overflow: auto; max-height: 500px;" *ngIf="codesManagerDisplay('selectSchedule')">selectSchedule
    <mat-card-header>
        <mat-card-title>
            <b> Select Schedule from room {{codesManagerData.room}}
            </b>
        </mat-card-title>
    </mat-card-header>
    <br>

    <table id="availabilityTable" class="apptable" style="width: 100%" *ngIf="classroomType != '' || day != '' || selectedRoom !=''">
        <tr>
            <th style="text-align: center;">
                Select Multiple
            </th>
            <th style="text-align: center;">
                Classroom Type
            </th>
            <th style="text-align: center;">
                Day
            </th>
            <th style="text-align: center;">
                Vacant Schedule
            </th>
            <th style="text-align: center;">
                Duration
            </th>
            <th style="text-align: center;">
                Action
            </th>
        </tr>

        <!-- filters but not working -->
        <!-- <tr>
            <td>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>filter</mat-label>
                    <input matInput placeholder="" autocomplete="off" [(ngModel)]="broomNo"
                        (keyup)="filterall2($event)">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field appearance="outline">
                    <mat-label>filter</mat-label>
                    <input matInput placeholder="" autocomplete="off" [(ngModel)]="bTheDay"
                        (keyup)="filterall2($event)">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field appearance="outline">
                    <mat-label>filter</mat-label>
                    <input matInput placeholder="" autocomplete="off" [(ngModel)]="bVacantSchedule"
                        (keyup)="filterall2($event)">
                </mat-form-field>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr> -->

        <tr *ngFor="let classroom of classroomAvailArray; let i = index">
            <td style="width: 50px; text-align: center;">
                <mat-checkbox [(ngModel)]="classroom.checked"></mat-checkbox>
            </td>
            <td style="width: 180px;">
                {{classroom.type}}
            </td>
            <td style="width: 180px;">
                {{classroom.theDay}}
            </td>
            <td style="width: 180px;">
                {{classroom.vacantSched}}
            </td>
            <td style="width: 180px;">
                {{classroom.duration}}
            </td>
            <td style="width:100px; text-align: center;">
                <button (click)="selectSchedule(classroom.theDay, classroom.vacantSched)" style="margin-left: 4px; margin-top: 5px; background-color: #294A70; padding: 4px; border-radius: 3px; color: white; border: none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); cursor: pointer;">
                    &nbsp;&nbsp;&nbsp;Select&nbsp;&nbsp;&nbsp;
                </button>
            </td>
        </tr>

        <tr *ngIf="classroomAvailArray.length == 0">
            <td colspan="4">
                <p style="text-align: center; width: 100%;">
                    <i>- No Data -</i>
                </p>
            </td>
        </tr>
    </table>
    <br>
</mat-card>

<button style="margin-bottom: 10px; margin-right: 10px; background-color: #294A70; color: white; float: right;" mat-raised-button *ngIf="codesManagerDisplay('selectSchedule') && detectMultipleSelection()" (click)="selectMultiple()">Proceed with Selection<i class="material-icons"
        style="margin-right: -11px;">navigate_next</i></button>

<button style="margin-bottom: 10px; margin-right: 25px; background-color: #294A70; color: white; float: right;" mat-raised-button *ngIf="codesManagerDisplay('selectSchedule')" (click)="closeComponent()">Close</button>