.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-full-width2 {
    width: 175px;
}

.example-full-width3 {
    width: 60px;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

::ng-deep .mat-card-header * {
    color: white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix {
    width: auto !important;
}

.example-full-widthminus {
    width: calc(100% - 50px)
}

mat-header-cell:nth-child(1),
mat-cell:nth-child(1),
mat-header-cell:nth-child(3),
mat-cell:nth-child(3),
mat-header-cell:nth-child(4),
mat-cell:nth-child(4) {
    flex: 0 0 100px;
}

.mat-form-field {
    margin-bottom: -20px;
}

.example-spacer {
    flex: 1 1 auto;
}

span {
    font-size: 14px
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

::ng-deep .mat-card-header * {
    color: white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix {
    width: auto !important;
}

.apptable1 {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    position: relative;
}

.apptable1 thead {
    position: sticky;
    top: 0;
}

.apptable1 td,
.apptable1 th {
    border: 1px solid #ddd;
    padding: 8px;
}

.apptable1 tr:nth-child(even) {
    background-color: white;
}

.apptable1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #294a70;
    color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 20%;
}


/* 
.scrollable-content {
    overflow-y: scroll;
    width: 100%;
}




 ::-webkit-scrollbar {
    width: 8px;
  
}

.availabilityTable {
    position: sticky;
} */