<div  id="itembcg" style="">
<mat-card class="example-card">
   <mat-card-header >
    <mat-card-title><b>Add Item</b></mat-card-title>
  </mat-card-header>
  <div style="height: 10px"></div>
  <mat-card-content class='colo'>
	  <table  cellspacing="0" style="width: 100%">
		  <tr >
		    <td width="100%">
	        <form class="example-form">
            <mat-form-field class="example-full-width" style="width: 100%" >
              <input type="text" placeholder="Department" aria-label="Number" matInput [formControl]="deptmyControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of deptfilteredOptions | async" [value]="option" (click)="setDept()">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

		    </td>
		  </tr>
		  <tr>
		  	<td width="100%">

	        <form class="example-form">
	          <mat-form-field class="example-full-width" style="width: 100%" >
              <input type="text" placeholder="Position" aria-label="Number" matInput [formControl]="postmyControl" [matAutocomplete]="auto1">
              <mat-autocomplete #auto1="matAutocomplete">
                <mat-option *ngFor="let postoption of postfilteredOptions | async" [value]="postoption">
                  {{postoption}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
		    </td>
		  </tr>
		  <tr>
		  	<td width="100%">
	            <mat-form-field style="width: 100%" >
	              <mat-label>Classification</mat-label>
	              <mat-select  [(ngModel)]="selectedClass" >
	                <mat-option value="{{p.classificationId}}" *ngFor="let p of classArr">
	                  {{p.classification}}
	                </mat-option>
	              </mat-select>
	            </mat-form-field>
		    </td>
		  </tr>
		  <tr>
		  	<td width="100%">


	            <form class="example-form" style="width: 100%" >
	              <mat-form-field class="example-full-width" style="width: 100%" >
				    <input type="text" placeholder="Reports to" aria-label="Number" matInput [formControl]="HoFmyControl" [matAutocomplete]="auto2">
				    <mat-autocomplete #auto2="matAutocomplete">
				      <mat-option *ngFor="let HoFoption of HoFfilteredOptions | async" [value]="HoFoption">
				        {{HoFoption}}
				      </mat-option>
				    </mat-autocomplete>
				  </mat-form-field>
				</form>

		    </td>
		  </tr>
	  </table>

	</mat-card-content>
</mat-card>
</div>
<div mat-dialog-actions style="float: right">
  <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
  <button mat-raised-button color="primary" (click)="save()" >Save</button>
</div>
