<mat-card class="example-card" id="example-card-x" style="padding: 0">
    <mat-card-header>
        <mat-card-title><b>Basic-Ed Class Schedule Viewer</b></mat-card-title>
    </mat-card-header>
    <mat-card-content class='colo'>
        <mat-divider></mat-divider>
        <div style="max-height: calc(100vh - 320px);">
            <!-- header table -->
            <table id="headerTable">
                <tr>
                    <!-- proglevel filter -->
                    <td style="width: 150px">
                        <mat-form-field style="width: 150px;" appearance="outline">
                            <mat-label>Program Level</mat-label>
                            <mat-select [(ngModel)]="progLevel" (ngModelChange)='selectAll()'>
                                <mat-option value="Elem">
                                    ELEMENTARY
                                </mat-option>
                                <mat-option value="HS">
                                    JHS
                                </mat-option>
                                <mat-option value="SHS">
                                    SHS
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <!-- grade level filter -->
                    <td style="width: 150px">
                        <mat-form-field style="width: 150px;" appearance="outline">
                            <mat-label>Grade Level</mat-label>
                            <mat-select [(ngModel)]="yearLevel">
                                <mat-option value='all'>
                                    - include all -
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'Elem' || progLevel === 'all'" value=p1>
                                    Prep
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'Elem' || progLevel === 'all'" value=0>
                                    Kinder
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'Elem' || progLevel === 'all'" value=1>
                                    Grade 1
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'Elem' || progLevel === 'all'" value=2>
                                    Grade 2
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'Elem' || progLevel === 'all'" value=3>
                                    Grade 3
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'Elem' || progLevel === 'all'" value=4>
                                    Grade 4
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'Elem' || progLevel === 'all'" value=5>
                                    Grade 5
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'Elem' || progLevel === 'all'" value=6>
                                    Grade 6
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'HS' || progLevel === 'all'" value=7>
                                    Grade 7
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'HS' || progLevel === 'all'" value=8>
                                    Grade 8
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'HS' || progLevel === 'all'" value=9>
                                    Grade 9
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'HS' || progLevel === 'all'" value=10>
                                    Grade 10
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'SHS' || progLevel === 'all'" value=11>
                                    Grade 11
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'SHS' || progLevel === 'all'" value=12>
                                    Grade 12
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <!-- generate data button -->
                    <td valign="top" style="width: 100px">
                        <button mat-raised-button (click)="generateData()"
                            style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#294a70;color: white;margin-top: 15px;margin-left: 5px">
                            &nbsp;&nbsp;
                            <span style="margin-top: 7px"> Generate&nbsp;&nbsp;&nbsp;</span>
                        </button>
                    </td>
                    <!-- show number of records -->
                    <td style="text-align: right;">
                        <p *ngIf="showTable == true" style="margin-top: 5px">
                            {{ array.length }} Record(s)
                        </p>
                        <!-- <button mat-raised-button (click)="export()" style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;background-color:#006600;color: white;float: right;"   *ngIf="array!=null&&array.length!=0">
                          &nbsp;&nbsp;<i class="material-icons">print
                          </i> <span style="margin-top: 7px"> Print&nbsp;&nbsp;&nbsp;</span></button> -->
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 100%;max-height: calc(100vh - 390px); overflow-y: scroll;margin-top: -15px">
            <table *ngIf="showTable == true" class="apptable">
                <!-- main table header -->
                <tr>
                    <th style="width: 70px">
                        Grade
                    </th>
                    <th style="min-width: 150px">
                        Section
                    </th>
                    <th style="width: 130px">
                        Time
                    </th>
                    <th style="width: 150px">
                        Day
                    </th>
                    <th style="width: 150px">
                        Subject
                    </th>
                    <th style="width: 80px">
                        Adviser Name
                    </th>
                    <th style="width: 150px">
                        Teacher Name
                    </th>
                    <th style="width: 150px">
                        Area Head Name
                    </th>
                    <th style="width: 150px">
                        Area
                    </th>
                </tr>
                <!-- filters -->
                <tr>
                    <!-- grade level -->
                    <td scope="row">
                        <mat-form-field style="width: 100px; margin-bottom: -15px" appearance="outline">
                            <mat-label>Grade</mat-label>
                            <mat-select [(ngModel)]="fgrade" (ngModelChange)='keyDownFunction()'>
                                <mat-option value=''>
                                    - all -
                                </mat-option>
                                <mat-option *ngIf="progLevel == 'Elem'" value=p1>
                                    Prep
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'Elem'" value=1>
                                    Grade 1
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'Elem'" value=2>
                                    Grade 2
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'Elem'" value=3>
                                    Grade 3
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'Elem'" value=4>
                                    Grade 4
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'Elem'" value=5>
                                    Grade 5
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'Elem'" value=6>
                                    Grade 6
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'HS'" value=7>
                                    Grade 7
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'HS'" value=8>
                                    Grade 8
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'HS'" value=9>
                                    Grade 9
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'HS'" value=10>
                                    Grade 10
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'SHS'" value=11>
                                    Grade 11
                                </mat-option>
                                <mat-option *ngIf="progLevel === 'SHS'" value=12>
                                    Grade 12
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <!-- section -->
                    <td scope="row">
                        <mat-form-field appearance="outline" style="margin-bottom: -15px">
                            <input autofocus matInput placeholder="Section" value="" [(ngModel)]="fsection"
                                (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <!-- time -->
                    <td scope="row">
                        <mat-form-field appearance="outline" style="margin-bottom: -15px">
                            <input autofocus matInput placeholder="Time" value="" [(ngModel)]="ftime"
                                (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <!-- day -->
                    <td scope="row">
                        <mat-form-field style="width: 150px; margin-bottom: -15px" appearance="outline">
                            <mat-label>Day</mat-label>
                            <mat-select [(ngModel)]="fday" (ngModelChange)='keyDownFunction()'>
                                <mat-option value="">
                                    All
                                </mat-option>
                                <mat-option value="Monday">
                                    Monday
                                </mat-option>
                                <mat-option value="Tuesday">
                                    Tuesday
                                </mat-option>
                                <mat-option value="Wednesday">
                                    Wednesday
                                </mat-option>
                                <mat-option value="Thursday">
                                    Thursday
                                </mat-option>
                                <mat-option value="Friday">
                                    Friday
                                </mat-option>
                                <mat-option value="Saturday">
                                    Saturday
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <!-- subject -->
                    <td scope="row">
                        <mat-form-field appearance="outline" style="margin-bottom: -15px">
                            <input autofocus matInput placeholder="Subject" value="" [(ngModel)]="fsubject"
                                (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <!-- adviser name -->
                    <td scope="row">
                        <mat-form-field appearance="outline" style="margin-bottom: -15px">
                            <input autofocus matInput placeholder="Last, First Middle" value=""
                                [(ngModel)]="fadvisername" (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <!-- teacher name -->
                    <td scope="row">
                        <mat-form-field appearance="outline" style="margin-bottom: -15px">
                            <input autofocus matInput placeholder="Last, First Middle" value=""
                                [(ngModel)]="fteachername" (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <!-- coordinator name -->
                    <td scope="row">
                        <mat-form-field appearance="outline" style="margin-bottom: -15px">
                            <input autofocus matInput placeholder="Last, First Middle" value=""
                                [(ngModel)]="fcoordinatorname" (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <!-- area -->
                    <td scope="row">
                        <mat-form-field appearance="outline" style="margin-bottom: -15px">
                            <input autofocus matInput placeholder="Area" value="" [(ngModel)]="farea"
                                (keyup)="keyDownFunction()" autocomplete="off">
                        </mat-form-field>
                    </td>
                </tr>
                <!-- display data on table -->
                <tr *ngFor="let a of array">
                    <td>
                        {{a.gradeLevel}}
                    </td>
                    <td>
                        {{a.section}}
                    </td>
                    <td>
                        {{a.time}}
                    </td>
                    <td>
                        {{a.day}}
                    </td>
                    <td>
                        {{a.subject}}
                    </td>
                    <td>
                        {{a.adviserName}}
                    </td>
                    <td>
                        {{a.teacherName}}
                    </td>
                    <td>
                        {{a.coordinatorName}}
                    </td>
                    <td>
                        {{a.area}}
                    </td>
                </tr>
            </table>
            <!-- show if no results are found -->
            <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="array===undefined"></mat-spinner>
            <div *ngIf="array.length===0 && showTable === true">
                <p style="text-align: center;"><i>- No result found! -</i></p>
            </div>
        </div>
        <!-- export to excel button -->
        <button mat-raised-button (click)="exportExcel()"
            style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;margin-bottom: 15px;background-color:#006600;color: white;float: right;"
            *ngIf="array!=null&&array.length!=0">
            &nbsp;&nbsp;<i class="material-icons">print
            </i> <span style="margin-top: 7px"> Export to Excel&nbsp;&nbsp;&nbsp;</span></button>

    </mat-card-content>

</mat-card>
