<!-- design based on Sets Manager in Academic / Learning Modality Manager / Rank HRIS-->
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>Check Disbursement</b></mat-card-title>
        <mat-card-subtitle>Use to manage the disursement of checks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class='colo'>
        <mat-divider></mat-divider>
        <table style="width: 100%">
            <tr>
                <td style="width: 150px">
                    <mat-form-field appearance="outline" style="width: 80px">
                        <mat-label>Year</mat-label>
                        <mat-select name="CPYear" [(ngModel)]="selectedYear">
                            <mat-option *ngFor="let item of CPyears" [value]="item.year"
                                (click)="changeYear(item.year)">
                                {{item.year}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 100px" *ngIf='CheckPayments!=undefined'>{{CheckPayments.length}} record(s)
                            </td>
                            <td>
                                <button mat-raised-button color="primary"
                                    style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-right: 15px;float: right;">
                                    &nbsp;&nbsp;<i class="material-icons">add
                                    </i> <span style="margin-top: 7px"> Check Management&nbsp;&nbsp;&nbsp;</span>
                                </button>
                                <button mat-raised-button
                                    style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-right: 15px;background-color:#006600;color: white;float: right;">
                                    &nbsp;&nbsp;<i class="material-icons">add
                                    </i> <span style="margin-top: 7px"> Check Preparation&nbsp;&nbsp;&nbsp;</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div style="max-height: calc(80vh - 339px);overflow-y: scroll; width: 100% !important">
            <table cclass="apptableSmall">
                <tr>
                    <th style="width:80px" scope="col">DTS No.</th>
                    <th>Check Date</th>
                    <th>Check No.</th>
                    <th>Payee</th>
                    <th>Amount</th>
                    <th>Particulars</th>
                    <th>CV No.</th>
                    <th>Check Type</th>
                    <th>Status</th>
                    <th>
                        - Action -
                    </th>
                </tr>
                <tr>
                    <td scope="row">
                        <mat-form-field appearance="outline" style="width: 80px">
                            <input autofocus matInput placeholder="DTS No." value="" [(ngModel)]="fDTSNo"
                                (keyup)="filterTable()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="width:100px">
                            <input autofocus matInput placeholder="Check Date" value="" [(ngModel)]="fCheckDate"
                                (keyup)="filterTable()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="width:100px">
                            <input autofocus matInput placeholder="Check No." value="" [(ngModel)]="fCheckNo"
                                (keyup)="filterTable()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="width:125px">
                            <input autofocus matInput placeholder="Payee" value="" [(ngModel)]="fPayee"
                                (keyup)="filterTable()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td></td>
                    <td>
                        <mat-form-field appearance="outline" style="width:200px">
                            <input autofocus matInput placeholder="Particulars" value="" [(ngModel)]="fParticulars"
                                (keyup)="filterTable()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="width:80px">
                            <input autofocus matInput placeholder="CV No." value="" [(ngModel)]="fCVNo"
                                (keyup)="filterTable()" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>CheckType</mat-label>
                            <mat-select [(ngModel)]="fCheckType" (ngModelChange)='filterTable()'>
                                <mat-option value="">- All -</mat-option>
                                <mat-option *ngFor="let item of CheckbookTypes"
                                    value="{{item.cbTypeCode}}">{{item.cbTypeName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Status</mat-label>
                            <mat-select [(ngModel)]="fStatus" (ngModelChange)='filterTable()'>
                                <mat-option value="">- All -</mat-option>
                                <mat-option *ngFor="let item of CPStatus"
                                    value="{{item.transStatusID}}">{{item.transStatusName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td></td>
                </tr>
                <tr (dblclick)="openStatusHistoryDialog(item)" *ngFor="let item of CheckPayments | paginate: config">
                    <td scope="row">
                        <b>{{item.dtsNo}}</b>
                    </td>
                    <td scope="row">{{item.checkDate | date:'MM/dd/yyyy'}}</td>
                    <td scope="row">{{item.checkNo}}</td>
                    <td scope="row">{{item.payee}}</td>
                    <td scope="row">{{item.amount | number}}</td>
                    <td scope="row">{{item.particulars}}</td>
                    <td scope="row">{{item.cvNo}}</td>
                    <td scope="row">{{item.checkType}}</td>
                    <td scope="row">{{item.cStatus}}</td>
                    <td style="width: 5%;text-align: center;">
                        <button mat-raised-button color="primary"
                            style="font-size:11px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 25px"
                            [matMenuTriggerFor]="menu">
                            &nbsp;<i class="material-icons">launch</i>
                            <span style="margin-top: 7px"> Options&nbsp;&nbsp;&nbsp;</span>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <span style="margin-top: 7px"> Update Status</span>
                            </button>
                            <button mat-menu-item>
                                <span style="margin-top: 7px">Status History</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>
            </table>
        </div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        <div *ngIf="tempCheckPayments!=CheckPayments">
            <p style="text-align: center;" *ngIf="CheckPayments.length===0">- No result found! -</p>
        </div>
        <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="CheckPayments===undefined"></mat-spinner>
    </mat-card-content>
</mat-card>