.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-full-width2 {
    width: 175px;
}

.example-full-width3 {
    width: 60px;
}

::ng-deep .mat-card-header {
    background-color: #294a70 !important;
    padding: 15px 5px 5px 5px !important;
    color: white;
}

::ng-deep .mat-card-header * {
    color: white;
}

::ng-deep .mat-card {
    padding: 0 !important;
}

::ng-deep .mat-card-content {
    padding: 15px !important;
}

.mat-form-field-infix {
    width: auto !important;
}

.example-full-widthminus {
    width: calc(100% - 50px)
}

mat-header-cell:nth-child(1),
mat-cell:nth-child(1),
mat-header-cell:nth-child(3),
mat-cell:nth-child(3),
mat-header-cell:nth-child(4),
mat-cell:nth-child(4) {
    flex: 0 0 100px;
}

.mat-form-field {
    margin-bottom: -20px;
}