<mat-tab-group>
    <!-- <input type="file" (change)="onFileChange($event)" multiple="false" #uploadthis /> -->

    <!-- Search this to easily find views and fuctions
        Views:
        1. First tab
        2. input fields
        3. display fields
        4. table row: dispalys the code cards form the data array
        5. container: this view houses the code card and hide button
        6. card view: this is the code card view
        7. header: this is the code card header
        8. body: this is the code card body
        9. calendar: display and edit schedule
        10. second tab

        Functions:
        1. search code
        2. clear table
        3. undo
        4.  add code
        5. add schedule
        6. edit code
        7. delete code
        8. hide card
     -->

    <!-- First tab -->
    <mat-tab label="Codes Manager">
        <mat-card class="example-card" id="example-card-x" style="padding: 0;">

            <mat-card-header>
                <mat-card-title><b>Codes Manager</b></mat-card-title>
            </mat-card-header>

            <br>
            <div style="width: 97%;">
                <!-- input fields -->
                <div id="input-fields-region">
                    <!-- search code -->
                    <mat-form-field appearance="outline" style="margin-left: 5px;">
                        <mat-label>Code Number</mat-label>
                        <div style="display: flex;">
                            <input matInput (keydown)="keyDownFunction($event)" [(ngModel)]="codeString">
                            <mat-icon style="float: right; color: #294A70; cursor: pointer;"
                                matTooltip='Search by Course'>library_books</mat-icon>
                        </div>
                    </mat-form-field>
                    <!-- clear table -->
                    <button mat-raised-button color="primary" (click)="clearTable()" *ngIf="data.length != 0"
                        style="font-size:11px; line-height: 15px;height: 28px; padding: 0;margin-left: 15px; float: right; margin-top: 25px; margin-right: 30px;">
                        <i class="material-icons" style="margin-left: 3px;">cancel</i>
                        <span style="margin-top: 7px;"> Clear View&nbsp;&nbsp;&nbsp;</span>
                    </button>
                    <!-- undo -->
                    <button mat-raised-button color="primary" (click)="undo()" *ngIf="arraySave.length != 0"
                        style="font-size:11px; line-height: 15px;height: 28px; padding: 0;margin-left: 15px; float: right; margin-top: 25px;"><i
                            class="material-icons" style="margin-left: 3px;">undo</i>
                        <span style="margin-top: 7px;"> Undo&nbsp;&nbsp;&nbsp;</span>
                    </button>
                    <!-- add code -->
                    <button mat-raised-button color="primary" (click)="addEditCodes('Add Code')"
                        style="font-size:11px; line-height: 15px;height: 28px; padding: 0;margin-left: 10px"><i
                            class="material-icons" style="margin-left: 1px;">note_add</i>
                        <span style="margin-top: 7px"> Add Code&nbsp;&nbsp;&nbsp;</span>
                    </button>
                </div>
                <!-- display fields -->
                <table style="width: 100%;">
                    <tbody *ngIf="data.length != 0">
                        <!-- table row: dispalys the code cards form the data array -->
                        <tr *ngFor="let item of data; let i = index">
                            <!-- container: this view houses the code card and hide button -->
                            <div class="container" style="width: 100%; display: flex;">
                                <!-- card view: this is the code card view -->
                                <div class="card">
                                    <!-- header: this is the code card header -->
                                    <div class="card-header" (click)="showCodeDetails(i, $event.target)"
                                        style="cursor: pointer; background-color: #294A70;">
                                        <h4 style="margin: 10px; color: white; user-select: none;">{{ item[0].codeNo }}
                                        </h4>
                                        <h3 class="card-title"
                                            style="margin: auto; color: white; max-width: 70%; padding-top: 5px; padding-bottom: 5px; text-align: center; user-select: none;">
                                            {{ item[0].subjectTitle }}
                                        </h3>
                                        <div style="height: 10px; width: 35px; margin-right: 12px; border-radius: 10px;"
                                            [style.background]="getGradientColor(item[0].department)">
                                        </div>
                                    </div>
                                    <!-- body: this is the code card body -->
                                    <div class="card-body" *ngIf="item.expand == true" [@slideInOut]
                                        style="background-color: #f5fbff;">
                                        <b>{{item[0].instructor}}</b>

                                        <!-- do not delete. field display with design -->
                                        <!-- <div
                                            style="display: flex;   justify-content: space-between;">
                                            <div>
                                                <div class="item">
                                                    <div class="itemName">
                                                        <p>Course: </p>
                                                    </div>
                                                    <div class="itemDesc">
                                                        <p>{{item[0].course}}</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="itemName">
                                                        <p>Subject ID: </p>
                                                    </div>
                                                    <div class="itemDesc">
                                                        <p>{{item[0].subjectId}}</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="itemName">
                                                        <p>Lecture Unit: </p>
                                                    </div>
                                                    <div class="itemDesc">
                                                        <p>{{item[0].lecUnits}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="item">
                                                    <div class="itemName">
                                                        <p>Laboratory Units: </p>
                                                    </div>
                                                    <div class="itemDesc">
                                                        <p>{{item[0].labUnits}}</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="itemName">
                                                        <p>Department: </p>
                                                    </div>
                                                    <div class="itemDesc">
                                                        <p>{{item[0].department}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="fields">
                                            <div style="margin-left: 7px; margin-right: 9px; margin-bottom: 2px;">
                                                <p><span style="font-weight: bold; color: gray;">Course:</span>
                                                    {{item[0].course}}</p>
                                                <p><span style="font-weight: bold; color: gray;">Department:</span>
                                                    {{item[0].department}}</p>
                                                <p><span style="font-weight: bold; color: gray;">Subject ID:</span>
                                                    {{item[0].subjectId}}</p>
                                            </div>
                                            <div style="margin-left: 7px; margin-right: 9px; margin-bottom: 2px;">
                                                <p><span style="font-weight: bold; color: gray;">Version:</span>
                                                    {{item[0].version}}</p>
                                                <p><span style="font-weight: bold; color: gray;">Lecture Units:</span>
                                                    {{item[0].lecUnits}}</p>
                                                <p><span style="font-weight: bold; color: gray;">Laboratory
                                                        Units:</span>
                                                    {{item[0].labUnits}}</p>
                                            </div>
                                            <div style="margin-left: 7px; margin-right: 9px; margin-bottom: 2px;">
                                                <p *ngIf="item[0].gender == ' '"><span style="font-weight: bold; color: gray;">Gender:</span>
                                                    M/F</p>
                                                <p *ngIf="item[0].gender != ' '"><span style="font-weight: bold; color: gray;">Gender:</span>
                                                    {{item[0].gender}}</p>
                                                <p><span style="font-weight: bold; color: gray;">Class Size:</span>
                                                    {{item[0].classSize}}</p>
                                                <p><span style="font-weight: bold; color: gray;">Admitted:</span>
                                                    {{item[0].admitted}}</p>
                                            </div>
                                            <div style="margin-left: 7px; margin-right: 9px; margin-bottom: 2px;">
                                                <p><span style="font-weight: bold; color: gray;">Officially
                                                        Enrolled:</span> {{item[0].oe}}</p>
                                            </div>
                                        </div>

                                        <!-- calendar: display and edit schedule -->
                                        <table class="schedule-table">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Monday</th>
                                                    <th>Tuesday</th>
                                                    <th>Wednesday</th>
                                                    <th>Thursday</th>
                                                    <th>Friday</th>
                                                    <th>Saturday</th>
                                                    <th>Sunday</th>

                                                </tr>
                                            </thead>
                                            <tbody *ngIf="isString(item[0].day)">
                                                <tr *ngFor="let time of item" style="cursor: pointer"
                                                    (click)="editSchedule({room: time.roomNo, time: time.time, dayString: time.day, classification: time.schedType, recordID: time.recordID, codeString: item[0].codeNo})">
                                                    <td matTooltip="Click to edit this Schedule">{{time.time}}</td>
                                                    <td [ngClass]="{'highlight': time.day.includes('1')}"
                                                        matTooltip="Click to edit this Schedule">
                                                        <div *ngIf=" time.day.includes('1')">{{time.roomNo}} <div
                                                                style="font-size: 10px;">{{"("+time.schedType+")"}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'highlight': time.day.includes('2')}"
                                                        matTooltip="Click to edit this Schedule">
                                                        <div *ngIf=" time.day.includes('2')">{{time.roomNo}} <div
                                                                style="font-size: 10px;">{{"("+time.schedType+")"}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'highlight': time.day.includes('3')}"
                                                        matTooltip="Click to edit this Schedule">
                                                        <div *ngIf=" time.day.includes('3')">{{time.roomNo}} <div
                                                                style="font-size: 10px;">{{"("+time.schedType+")"}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'highlight': time.day.includes('4')}"
                                                        matTooltip="Click to edit this Schedule">
                                                        <div *ngIf=" time.day.includes('4')">{{time.roomNo}} <div
                                                                style="font-size: 10px;">{{"("+time.schedType+")"}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'highlight': time.day.includes('5')}"
                                                        matTooltip="Click to edit this Schedule">
                                                        <div *ngIf=" time.day.includes('5')">{{time.roomNo}} <div
                                                                style="font-size: 10px;">{{"("+time.schedType+")"}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'highlight': time.day.includes('6')}"
                                                        matTooltip="Click to edit this Schedule">
                                                        <div *ngIf=" time.day.includes('6')">{{time.roomNo}} <div
                                                                style="font-size: 10px;">{{"("+time.schedType+")"}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'highlight': time.day.includes('7')}"
                                                        matTooltip="Click to edit this Schedule">
                                                        <div *ngIf=" time.day.includes('7')">{{time.roomNo}} <div
                                                                style="font-size: 10px;">{{"("+time.schedType+")"}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- add schedule -->
                                        <button mat-raised-button (click)="addEditCodes('Add Schedule for code: ' + item[0].codeNo)" color="primary"
                                            class="btnstyle" style="min-width: 10px; margin-top: 5px;">
                                            &nbsp;&nbsp;<i class="material-icons">av_timer
                                            </i> <span style="margin-top: 7px"> Add Schedule&nbsp;&nbsp;&nbsp;</span>
                                        </button>
                                        <!-- edit code -->
                                        <button mat-raised-button (click)="addEditCodes('Edit Code')" color="primary"
                                            class="btnstyle"
                                            style="min-width: 10px; float: right; margin-top: 5px; margin-right: 5px;">
                                            &nbsp;&nbsp;<i class="material-icons">list
                                            </i> <span style="margin-top: 7px"> Edit Code&nbsp;&nbsp;&nbsp;</span>
                                        </button>
                                        <!-- delete code -->
                                        <button mat-raised-button (click)="deleteArea()" class="btnstyle" color="warn"
                                            style="min-width: 10px; margin-top: 5px; color: white; float: right; margin-right: 2px;">
                                            &nbsp;&nbsp;<i class="material-icons">delete
                                            </i><span style="margin-top: 7px"> Delete
                                                Code&nbsp;&nbsp;&nbsp;</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- hide card -->
                                <mat-icon class="hover-button"
                                    style="margin-top: 12px; float: right; color: #294A70; cursor: pointer;"
                                    (click)="hideCodeFromView(i)" matTooltip="Hide">cancel
                                </mat-icon>
                            </div>

                        </tr>
                    </tbody>
                </table>

            </div>
        </mat-card>
    </mat-tab>

    <!-- second tab -->
    <mat-tab label="Start New School Year">

    </mat-tab>

</mat-tab-group>