#example-card-x {

	.example-form {
		min-width: 150px;
		max-width: 580px;
		width: 100%;
	}

	::ng-deep .mat-card-header {
		background-color: #294a70 !important;
		padding: 15px 5px 5px 5px !important;
		color: white;
	}

	::ng-deep .mat-card-header * {
		color: white;
	}

	::ng-deep .mat-card {
		padding: 0 !important;
	}

	::ng-deep .mat-card-content {
		padding: 15px !important;
	}

	mat-form-field {
		margin-bottom: -20px;
	}

	.card {
		border-radius: 4px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		/* Updated box-shadow property */
		background-color: #fff;
		margin: 5px;
		overflow: hidden;
		width: 100%;


		.card-header {
			background-color: #f0f0f0;
			// padding: 5px;
			display: flex;
			// justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}

		.card-title {
			margin: 0;
		}

		.card-body {
			padding: 10px;
		}
	}

	.schedule-table {
		border-collapse: collapse;
		font-size: small;
		width: 100%;

		td,
		th {
			border: 5px solid #f5fbff;
			border-radius: 10px;
			text-align: center;
			padding: 4px;
		}

		th {
			background-color: #B8E2F2;
		}

		tr {
			background-color: #CAE9F5;
		}

		.highlight {
			background-color: #82CFF9;
		}
	}



	.btnstyle {
		font-size: 11px !important;
		;
		min-width: 18px !important;
		line-height: 15px !important;
		height: 28px !important;
		padding: 0 !important;
		margin-left: 5px !important
	}


	.container {
		position: relative;
	}

	.hover-button {
		visibility: hidden;
	}

	.container:hover .hover-button {
		visibility: visible;
	}

	.item {
		display: flex;
		margin-bottom: 5px;
		margin-left: 5px;

		.itemName {
			height: 23px;
			width: 110px;
			background-color: #CAE9F5;
			padding-left: 5px;
			padding-right: 5px;
			display: flex;
			align-items: center;
			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
		}

		.itemDesc {
			width: 150px;
			height: 23px;
			display: flex;
			margin-left: -1px;
			padding-left: 10px;
			align-items: center;
			background:
				radial-gradient(circle 2px at 108.7% 50%, transparent, transparent 11.5px, #DDDDDD 11.5px),
				radial-gradient(circle 2px at -4.35% 50%, transparent, transparent 11.5px, #DDDDDD 11.5px);
			background-size: 11.5px 23px, auto, 11.5px 23px;
			background-position: 100% 0, 50% 0, 0 0;
			background-repeat: no-repeat;
			border-top-right-radius: 7px;
			border-bottom-right-radius: 7px;
		}
	}

	.fields {
		display: flex;
		justify-content: left;
		margin-top: -7px;
		margin-bottom: 14px;
	}

	.fields p {
		margin-bottom: -11px;
	}

	.fields span {
		user-select: none;
	}


}