<mat-tab-group>
    <input type="file" (change)="onFileChange($event)" multiple="false" #uploadthis />

    <mat-tab label="Program/Faculty Uploader" *ngIf="programLevel === 'COLLEGE'">

        <mat-card class="example-card" id="example-card-x" style="padding: 0">

            <mat-card-header>
                <mat-card-title><b>Program/Faculty Uploader</b></mat-card-title>
            </mat-card-header>

            <div style="width: 700px;">
                <table>
                    <tr>
                        <td>
                            <mat-form-field style="width: 300px;" appearance="outline">
                                <mat-label>- View Program -</mat-label>
                                <mat-select [(ngModel)]="programID" (ngModelChange)='generate()'>
                                    <mat-option *ngFor="let a of finalDeptPrograms" value={{a.programId}}>
                                        {{a.courseCode}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                        </td>
                        <td *ngIf="programID!='' && fromUpload!=true">
                            <button mat-raised-button (click)="downloadExcel()" color="primary" class="btnstyle"
                                style="min-width: 10px;width: 120px!important;float: right;margin-bottom: 10px">
                                &nbsp;&nbsp;<i class="material-icons">cloud_download
                                </i> <span style="margin-top: 7px"> Download File&nbsp;&nbsp;&nbsp;</span>
                            </button>
                        </td>
                        <td *ngIf="programID!='' && fromUpload!=true">
                            <button mat-raised-button (click)="uploadthis.click()" color="primary" class="btnstyle"
                                style="min-width: 10px;width: 120px!important;float: right;margin-bottom: 10px">
                                &nbsp;&nbsp;<i class="material-icons">cloud_upload
                                </i> <span style="margin-top: 7px"> Upload File&nbsp;&nbsp;&nbsp;</span>
                            </button>
                        </td>
                    </tr>
                </table>

                <br>
                <!-- view table headers -->
                <div *ngIf="programID!=''" style="margin-bottom: 7px;">
                    <table id="viewTable" style="width:100%" *ngIf="programID!=''">
                        <tr>
                            <td style="width: 120px" valign="top">
                                Program Code:
                            </td>
                            <td style="width: calc(100% - 200px)">
                                <b>{{programCode}}</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 120px" valign="top">
                                Program Title:
                            </td>
                            <td style="width: calc(100% - 200px)">
                                <b>{{programTitle}}</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 120px" valign="top">
                                Program Chair:
                            </td>
                            <td style="width: calc(100% - 200px)" valign="top">
                                <b (click)="openDialogProgChairEdit()" class="changeProgramChairBtn"
                                    matTooltip="Click to update Program Chair"
                                    *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairPut')">{{programChairName}}</b>
                            </td>
                            <!-- add faculty -->
                            <td style="float: right;" *ngIf="fromUpload === false">
                                <button color="primary" mat-icon-button
                                    *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyInsert')">
                                    <mat-icon style="font-size: 3em; margin-right: 25px;" matTooltip="Add Faculty"
                                        (click)="openDialog()">
                                        add_circle
                                    </mat-icon>
                                </button>
                            </td>
                            <!-- cancel table -->
                            <td style="float: right;" *ngIf="fromUpload === true">
                                <button mat-raised-button color="success" (click)="generate()"
                                    matTooltip="Close/Cancel">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </td>
                        </tr>

                    </table>
                </div>

                <div *ngIf="programID!=''">
                    <!-- View Table for API-->
                    <table id="viewTable" class="apptable" *ngIf="fromUpload === false && facultyDataList != null">
                        <tr>
                            <th>
                                Faculty ID
                            </th>
                            <th>
                                Faculty Name
                                <i style="font-weight: normal!important; float: right;">
                                    (Total: {{facultyDataList.length}})
                                </i>
                            </th>
                        </tr>
                        <tr *ngFor="let a of facultyDataList">
                            <td>
                                {{a.facultyID}}
                            </td>
                            <td>
                                {{a.facultyName}}
                                <!-- <button (click)="deleteIndividual(a.id)" style="float: right;">delete</button> -->
                                <button mat-raised-button (click)="confirmDelete(a.id)" matTooltip="Remove"
                                    style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right"
                                    *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyDeleteOne')">
                                    &nbsp;&nbsp;<i class="material-icons">delete
                                    </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span></button>
                            </td>
                        </tr>
                        <tr *ngIf="facultyDataList.length===0">
                            <td colspan="10">
                                <div>
                                    <p style="text-align: center;">
                                        <i>- No Data -</i>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- View Table for Excel-->
                    <table id="viewTable" class="apptable" *ngIf="fromUpload===true">
                        <tr>
                            <th>
                                Faculty ID
                            </th>
                            <th>
                                Faculty Name
                                <i style="font-weight: normal!important; float: right;">
                                    (Total: {{employeeArray.length}})
                                </i>
                            </th>
                        </tr>
                        <tr *ngFor="let a of employeeArray">
                            <td *ngIf="a.name==='ID Not Found' || a.name==='Duplicated Value'" class="redCell">
                                {{a.id}}
                            </td>
                            <td *ngIf="a.name==='ID Not Found' || a.name==='Duplicated Value'" class="redCell">
                                {{a.name}}
                                <button mat-raised-button (click)="deleteUploadedError(a.id)" matTooltip="Remove"
                                    style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right"
                                    *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyDeleteOne')">
                                    &nbsp;&nbsp;<i class="material-icons">delete
                                    </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span>
                                </button>
                            </td>
                            <td *ngIf="a.name!='ID Not Found' && a.name!='Duplicated Value'">
                                {{a.id}}
                            </td>
                            <td *ngIf="a.name!='ID Not Found' && a.name!='Duplicated Value'">
                                {{a.name}}
                                <button mat-raised-button (click)="deleteUploadedError(a.id)" matTooltip="Remove"
                                    style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;background-color:#990000;color: white; float: right"
                                    *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyDeleteOne')">
                                    &nbsp;&nbsp;<i class="material-icons">delete
                                    </i> <span style="margin-top: 7px">&nbsp;&nbsp;&nbsp;</span>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="employeeArray.length === 0">
                            <td colspan="10">
                                <div>
                                    <p style="text-align: center;">
                                        <i>- No Data -</i>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <div *ngIf="errorData === false && employeeArray.length != 0">
                            <button mat-raised-button (click)="uploadFacultyList()"
                                style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;margin-bottom: 15px;background-color:#006600;color: white; text-align: right;">
                                &nbsp;&nbsp;<i class="material-icons"
                                    *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyInsert') && global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyDeleteAll')">done_all
                                </i> <span style="margin-top: 7px"> Save&nbsp;&nbsp;&nbsp;</span>
                            </button>
                        </div>
                        <div *ngIf="errorData === true || employeeArray.length === 0">
                            <button mat-raised-button
                                style="font-size:12px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px;margin-top: 15px;margin-bottom: 15px;background-color:#555555;color: white; text-align: right;">
                                &nbsp;&nbsp;<i class="material-icons"
                                    *ngIf="global.checkaccess(':FacultyEvaluation:ProgramProgramChairFacultyInsert')">done_all
                                </i> <span style="margin-top: 7px"> Save&nbsp;&nbsp;&nbsp;</span>
                            </button>
                        </div>
                    </table>

                </div>

            </div>
        </mat-card>
    </mat-tab>

    <ng-container>
        <mat-tab label="Area/Faculty Uploader" *ngIf="global.checkaccess(':FacultyEvaluation:AreaFacultyPost')" >
            <app-area-uploader></app-area-uploader>
        </mat-tab>
    </ng-container>


</mat-tab-group>
