<div *ngIf="studentProfiles.arrayJHS!=null && studentProfiles.arrayJHS.length!=0" style="margin:10px;">
    <!-- <mat-card-title><b>{{profile}}</b></mat-card-title> -->
    <table class="apptable" *ngIf="studentProfiles.arrayJHS!=null" style="width: 650px" id="Senior_JuniorHighSchoolGraduatedFrom">
        <tr>                
          <th style="width:200px">Year Level</th>
          <th style="width:200px">USL SHS</th>
          <th style="width:200px">CN SHS</th>
          <th style="width:100px">Other Feeder School</th>                 
          <th style="width:100px">No Data</th>                 
        </tr>
      
        <tr *ngFor="let a of studentProfiles.arrayJHS">
              <td>{{a.yearOrGradeLevel}}</td>
              <td>{{a.uslhs}}</td>
              <td>{{a.cnhs}}</td>
              <td>{{a.otherFeederSchool}}</td>
              <td>{{a.noData}}</td>                     
        </tr>                   
    </table> 
</div>