<div *ngIf="studentProfiles.arraySHS!=null && studentProfiles.arraySHS.length!=0" style="margin:10px;">
      <table class="apptable" *ngIf="studentProfiles.arraySHS!=null" style="width: 650px" id="SeniorHighSchoolGraduatedFrom">      
        <tr>                
          <th style="width:200px">Year Level</th>
          <th style="width:200px">USL SHS</th>
          <th style="width:200px">CN SHS</th>
          <th style="width:100px">Other Feeder School</th>                 
          <th style="width:100px">No Data</th>                 
        </tr>
      
        <tr *ngFor="let a of studentProfiles.arraySHS">
              <td>{{a.yearLevel}}</td>
              <td>{{a.uslhs}}</td>
              <td>{{a.cnhs}}</td>
              <td>{{a.otherFeederSchool}}</td>
              <td>{{a.noData}}</td>                     
        </tr>                   
    </table> 
</div>