<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <p style="font-size: 14px; padding: 0; margin: 0; padding-top: 5px;"><b>OTHER INFORMATION</b></p>
        </mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 14px; padding: 0; margin: 0; margin-bottom: -10px;">
                Use to search, edit update employee's other information
            </p>
        </mat-card-subtitle>
    </mat-card-header>



    <mat-card-content class='colo'>

        <!-- <table>
            <tr>
                <td width="160">
                    <form class="example-form" id="ngForm" #documentEditForm="ngForm" style="margin-top: 5px;">
                        <mat-form-field class="txtid">
                            <input matInput #idno maxlength="7" placeholder="ID Number" [(ngModel)]="id" value="" name="idno" required="required" (keydown)="keyDownFunction($event)">
                            <mat-hint align="start">{{idno.value.length}} / 7</mat-hint>
                        </mat-form-field>
                    </form>
                </td>
                <td>
                    <button mat-mini-fab color="primary" (click)="employeelookup()">
                      <mat-icon>search</mat-icon>
                  </button>
                </td>
            </tr>
        </table> -->

        <!-- <div style="height: 120px" *ngIf="showContent">
            <table class="tblInfo" #content>
                <tr>
                    <td id="info1stCol">
                        <div class="BasicInformationDisplay">

                            <table>
                                <tr>
                                    <td>
                                        <h1 id="EmpFullName" *ngIf="updatenamevar==false">{{name}}</h1>
                                        <div *ngIf="updatenamevar==true">
                                            <table cellspacing="0" width="100%" style="width: 100%!important">
                                                <tr>
                                                    <td>
                                                        <mat-form-field class="example-full-width2">
                                                            <input matInput placeholder="Last Name" [(ngModel)]="lname" name="lname" required autocomplete="off">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field class="example-full-width2">
                                                            <input matInput placeholder="First Name" [(ngModel)]="fname" name="fname" required autocomplete="off">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field class="example-full-width2">
                                                            <input matInput placeholder="Middle Name" [(ngModel)]="mname" name="mname" autocomplete="off">
                                                        </mat-form-field>
                                                    </td>

                                                    <td>
                                                        <mat-form-field class="example-full-width3">
                                                            <input matInput placeholder="Suffix" [(ngModel)]="suffix" name="suffix" autocomplete="off">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                            </table>
                                            <br>
                                        </div>

                                    </td>
                                    <td>
                                        <i class="material-icons" (click)="updatename()" style="color: #294a70" *ngIf="updatenamevar==false&&global.checkaccess(':Employee:EmployeePersonPut')">edit</i>
                                        <button mat-raised-button color="primary" style="width: 75px;color:white;margin-bottom: 5px" class="buttondesign" (click)="updatenameapi()" *ngIf="updatenamevar==true">
                                          <i class="material-icons" >edit</i>
                                          <span style="margin-top: 7px"> Update&nbsp;&nbsp;</span>
                                      </button>

                                        <button mat-raised-button style="width: 75px;background-color:#990000;color:white;" class="buttondesign" (click)="updatename()" *ngIf="updatenamevar==true">
                                            <i class="material-icons">close</i>
                                          <span style="margin-top: 7px"> Cancel&nbsp;&nbsp;</span>
                                      </button>
                                    </td>
                                </tr>
                                <tr>
                                    <p id="EmpPosition">{{position}}</p>
                                    <hr id="hr">
                                    <h3 id="EmpIDnumber">{{idnumber}}</h3>
                                    <p id="DTRIDnum">{{dtridnum}}</p>
                                </tr>
                            </table>

                        </div>

                    </td>

                </tr>
            </table>
        </div> -->

        <table>
            <tr>
                <table style="margin: 0px; padding: 0px;">
                    <tr>
                        <td width="110">
                            <img [src]="image" width="150" onError="this.src='assets/noimage.jpg'" />
                        </td>
                        <td>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td width="100">
                                        <form class="example-form1" id="ngForm" #documentEditForm="ngForm" style="margin-top: 5px;">
                                            <mat-form-field class="txtid">
                                                <input matInput #idno maxlength="7" placeholder="ID Number" [(ngModel)]="id" value="" name="idno" required="required" (keydown)="keyDownFunction($event)">
                                                <!-- <mat-hint align="start">{{idno.value.length}} / 7</mat-hint> -->
                                            </mat-form-field>
                                        </form>
                                    </td>
                                    <td>
                                        <button mat-mini-fab color="primary" (click)="employeelookup()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    </td>
                                </tr>
                            </table>
                            <div style="margin-top: -10px;">
                                <h4 *ngIf="showContent" style="margin: 0px">{{name}} <i class="material-icons" (click)="nameUpdate()" style="color: #294a70" *ngIf="updatenamevar==false&&global.checkaccess(':Employee:EmployeePersonPut')">edit</i></h4>
                                <span *ngIf="showContent"><strong>{{dtridnum}} </strong>Position: <strong>{{position}} </strong> </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </tr>
        </table>
        <mat-divider style="margin-top: 5px;"></mat-divider>
        <div *ngIf="showContent">

            <mat-tab-group (selectedTabChange)='getindex($event)'>
                <!--Seminars and Trainings-->
                <mat-tab label="Seminars, training and conferences">
                    <mat-card *ngIf="tabbing===0">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display:none;">
                                            seminarid
                                        </th>
                                        <th style="text-align: center;">
                                            SEMINAR DESCRIPTIOM
                                        </th>
                                        <th style="text-align: center;">
                                            SPONSOR
                                        </th>
                                        <th style="text-align: center;">
                                            VENUE
                                        </th>
                                        <th style="text-align: center;">
                                            START DATE
                                        </th>
                                        <th style="text-align: center;">
                                            END DATE
                                        </th>
                                        <th style="text-align: center;">
                                            CATEGORY
                                        </th>
                                        <th style="display:none;">
                                            TRAINING ID
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let SaT of SeminarTableArr | paginate: config">
                                        <td style="display:none;">{{SaT.seminarid}}</td>
                                        <td>{{SaT.seminardescription}}</td>
                                        <td>{{SaT.companyname}}</td>
                                        <td>{{SaT.venue}}</td>
                                        <td width="6%">{{SaT.startdate}}</td>
                                        <td width="6%">{{SaT.enddate}}</td>
                                        <td width="7%">{{SaT.trainingType}}</td>
                                        <td style="display:none;">{{SaT.trainingTypeID}}</td>

                                        <td style="text-align: center;" width="230px">
                                            <ng-container *ngIf="SaT.statusID===0&&global.requestid()!==idnumber ; else btnA">

                                                <button mat-raised-button color="accent" class="btnstyle" (click)="approveSat(SaT)" [disabled]="!global.checkaccess(':Employee:SeminarAndTrainingPut')">
                                          <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                      </button>
                                            </ng-container>
                                            <ng-template #btnA>
                                                <ng-container>
                                                    <button mat-raised-button color="accent" class="btnstyle" (click)="approveSat(SaT)" disabled>
                                              <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                          </button>
                                                </ng-container>
                                            </ng-template>

                                            <ng-container *ngIf="global.requestid()!==idnumber; else second">
                                                <button mat-raised-button color="primary" class="btnstyle" (click)="updateSaTOpenDialog(SaT)" [disabled]="!global.checkaccess(':Employee:SeminarAndTrainingPut')">
                                          <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                      </button>
                                                <button mat-raised-button color="warn" (click)="deleteSat(SaT.seminarid)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:SeminarAndTrainingDelete')">
                                          <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                      </button>
                                            </ng-container>
                                            <ng-template #second>
                                                <ng-container *ngIf="SaT.statusID===0; else third">
                                                    <button mat-raised-button color="primary" class="btnstyle" (click)="updateSaTOpenDialog(SaT)" [disabled]="!global.checkaccess(':Employee:SeminarAndTrainingPut')">
                                          <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                          </button>
                                                    <button mat-raised-button color="warn" (click)="deleteSat(SaT.seminarid)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:SeminarAndTrainingDelete')">
                                              <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                          </button>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #third>
                                                <ng-container>
                                                    <button mat-raised-button color="primary" class="btnstyle" disabled>
                                          <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                          </button>
                                                    <button mat-raised-button color="warn" class="btnstyle" disabled>
                                              <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                          </button>
                                                </ng-container>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </table>


                                <!-- <br>
                                 <br> -->

                                <table>
                                    <tr>
                                        <td>
                                            <button mat-raised-button color="primary" (click)="addSaTOpenDialog()" style="margin-left: 10px; margin-top: 10px;" [disabled]="!global.checkaccess(':Employee:SeminarAndTrainingPost')">
                                         <i class="material-icons">add</i> Add new (Seminar/Training/Conference)
                                        </button>
                                            <pagination-controls (pageChange)="pageChanged($event)" style="float: right;"></pagination-controls>
                                        </td>

                                        <td>
                                            <!-- <button mat-raised-button color="primary" (click)="addSaTOpenDialog()" style="float: left" *ngIf="global.checkaccess(':Employee:SeminarAndTrainingPost')">
                                            <i class="material-icons">add</i> Add new (Seminar/Training/Conference)
                                        </button> -->
                                        </td>
                                    </tr>
                                </table>


                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <!--Organizations-->
                <mat-tab label="Professional membership to organizations">
                    <mat-card *ngIf="tabbing===1">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display: none;">
                                            id
                                        </th>
                                        <th style="text-align: center;">
                                            POSITION
                                        </th>
                                        <th style="text-align: center;">
                                            ORGANIZATION
                                        </th>
                                        <th style="text-align: center;width: 100px">
                                            EXPIRATION DATE
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let ot of OrgTableArr">
                                        <td style="display: none;">{{ot.organizationid}}</td>
                                        <td>{{ot.position}}</td>
                                        <td>{{ot.organization}}</td>
                                        <td>{{ot.expirationDate}}</td>


                                        <td style="text-align: center;" width="230px">
                                            <ng-container *ngIf="ot.statusID===0&&global.requestid()!==idnumber ; else btnAorg">

                                                <button mat-raised-button color="accent" class="btnstyle" (click)="approveOrg(ot)" [disabled]="!global.checkaccess(':Employee:OrganizationPut')">
                                                    <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                            </ng-container>
                                            <ng-template #btnAorg>
                                                <ng-container>
                                                    <button mat-raised-button color="accent" class="btnstyle" (click)="approveOrg(ot)" disabled>
                                                        <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>

                                            <ng-container *ngIf="global.requestid()!==idnumber; else secondorg">
                                                <button mat-raised-button color="primary" class="btnstyle" (click)="updateOrgOpenDialog(ot)" [disabled]="!global.checkaccess(':Employee:OrganizationPut')">
                                                    <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                                <button mat-raised-button color="warn" (click)="deleteOrg(ot.organizationid)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:OrganizationDelete')">
                                                    <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                            </ng-container>
                                            <ng-template #secondorg>
                                                <ng-container *ngIf="ot.statusID===0; else thirdorg">
                                                    <button mat-raised-button color="primary" class="btnstyle" (click)="updateOrgOpenDialog(ot)" [disabled]="!global.checkaccess(':Employee:OrganizationPut')">
                                                        <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                    <button mat-raised-button color="warn" (click)="deleteOrg(ot.organizationid)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:OrganizationDelete')">
                                                        <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #thirdorg>
                                                <ng-container>
                                                    <button mat-raised-button color="primary" class="btnstyle" (click)="updateOrgOpenDialog(ot)" disabled>
                                                        <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                    <button mat-raised-button color="warn" (click)="deleteOrg(ot.organizationid)" class="btnstyle" disabled>
                                                        <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>
                                        </td>

                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addOrgOpenDialog()" style="margin-left: 10px;" [disabled]="!global.checkaccess(':Employee:OrganizationPost')">
                                      <i class="material-icons">add</i> Add new (Organization)
                                      </button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <!--Researches-->
                <mat-tab label="Research and Publications">
                    <mat-card *ngIf="tabbing===2">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display: none;">
                                            rid
                                        </th>
                                        <th style="text-align: center;">
                                            RESEARCH TITLE
                                        </th>
                                        <th style="text-align: center;width: 80px">
                                            DATE COMPLETED
                                        </th>
                                        <th style="text-align: center;width: 80px">
                                            COPYRIGHT YEAR
                                        </th>
                                        <th style="text-align: center;">
                                            REMARKS
                                        </th>
                                        <th style="text-align: center;">
                                            RESEARCH TYPE
                                        </th>
                                        <th style="display: none;">
                                            research id
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let rt of ResearchTableArr">
                                        <td style="display: none;">{{rt.researchID}}</td>
                                        <td>{{rt.title}}</td>
                                        <td>{{rt.dateCompleted}}</td>
                                        <td>{{rt.copyrightYear}}</td>
                                        <td>{{rt.remarks}}</td>
                                        <td>{{rt.researchType}}</td>
                                        <td style="display: none;">{{rt.researchTypeID}}</td>

                                        <td style="text-align: center;" width="230px">
                                            <ng-container *ngIf="rt.statusID===0&&global.requestid()!==idnumber ; else btnAres">

                                                <button mat-raised-button color="accent" class="btnstyle" (click)="approveRes(rt)" [disabled]="!global.checkaccess(':Employee:ResearchPut')">
                                                    <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                            </ng-container>
                                            <ng-template #btnAres>
                                                <ng-container>
                                                    <button mat-raised-button color="accent" class="btnstyle" disabled>
                                                        <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>

                                            <ng-container *ngIf="global.requestid()!==idnumber; else secondres">
                                                <button mat-raised-button color="primary" class="btnstyle" (click)="updateResearchOpenDialog(rt)" [disabled]="!global.checkaccess(':Employee:ResearchPut')">
                                                    <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                                <button mat-raised-button color="warn" (click)="deleteResearch(rt.researchID)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:ResearchDelete')">
                                                    <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                            </ng-container>
                                            <ng-template #secondres>
                                                <ng-container *ngIf="rt.statusID===0; else thirdres">
                                                    <button mat-raised-button color="primary" class="btnstyle" (click)="updateResearchOpenDialog(rt)" [disabled]="!global.checkaccess(':Employee:ResearchPut')"><i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                    <button mat-raised-button color="warn" (click)="deleteResearch(rt.researchID)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:ResearchDelete')">
                                                        <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #thirdres>
                                                <ng-container>
                                                    <button mat-raised-button color="primary" class="btnstyle" disabled>
                                                        <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                    <button mat-raised-button color="warn" class="btnstyle" disabled>
                                                        <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addResearchOpenDialog()" style="margin-left: 10px;" [disabled]="!global.checkaccess(':Employee:ResearchPost')">
                                      <i class="material-icons">add</i> Add new (Research)
                                    </button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <!--Community Extensions-->
                <mat-tab label="Community Engagement">
                    <mat-card *ngIf="tabbing===3">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display: none;">
                                            ID
                                        </th>
                                        <th style="display: none;">
                                            sID
                                        </th>

                                        <th style="text-align: center;">
                                            ACTIVITY
                                        </th>
                                        <th style="text-align: center;">
                                            LOCATION
                                        </th>
                                        <th style="text-align: center;">
                                            DATE CONDUCTED
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let ct of ComTableArr">
                                        <td style="display: none">{{ct.ceid}}</td>
                                        <td style="display: none">{{ct.statusID}}</td>
                                        <td>{{ct.activity}}</td>
                                        <td>{{ct.location}}</td>
                                        <td width="12%">{{ct.dateConducted}}</td>

                                        <td style="text-align: center;" width="230px">
                                            <ng-container *ngIf="ct.statusID===0&&global.requestid()!==idnumber ; else btnAres">
                                                <button mat-raised-button color="accent" class="btnstyle" (click)="approveCE(ct)" [disabled]="!global.checkaccess(':Employee:CommunityExtensionsPut')">
                                                    <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                            </ng-container>
                                            <ng-template #btnAres>
                                                <ng-container>
                                                    <button mat-raised-button color="accent" class="btnstyle" disabled>
                                                        <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>

                                            <ng-container *ngIf="global.requestid()!==idnumber; else secondres">
                                                <button mat-raised-button color="primary" class="btnstyle" (click)="updateComExtOpenDialog(ct)" [disabled]="!global.checkaccess(':Employee:CommunityExtensionsPut')">
                                                    <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                                <button mat-raised-button color="warn" (click)="deleteComExt(ct.ceid)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:CommunityExtensionsDelete')">
                                                    <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                            </ng-container>
                                            <ng-template #secondres>
                                                <ng-container *ngIf="ct.statusID===0; else thirdres">
                                                    <button mat-raised-button color="primary" class="btnstyle" (click)="updateComExtOpenDialog(ct)" [disabled]="!global.checkaccess(':Employee:CommunityExtensionsPut')">
                                                        <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                    <button mat-raised-button color="warn" (click)="deleteComExt(ct.ceid)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:CommunityExtensionsDelete')">
                                                        <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #thirdres>
                                                <ng-container>
                                                    <button mat-raised-button color="primary" class="btnstyle" disabled>
                                                        <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                    <button mat-raised-button color="warn" class="btnstyle" disabled>
                                                        <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addComExtOpenDialog()" style="margin-left: 10px;" [disabled]="!global.checkaccess(':Employee:CommunityExtensionsPost')">
                                      <i class="material-icons">add</i> Add new (Community Engagement)
                                     </button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <!--Speaking Engagement-->
                <mat-tab label="Professional Engagement">
                    <mat-card *ngIf="tabbing===4">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display: none;">
                                            ID
                                        </th>
                                        <th style="display: none;">
                                            EID
                                        </th>
                                        <th style="text-align: center;">
                                            TITLE
                                        </th>
                                        <th style="text-align: center;">
                                            ORGANIZER
                                        </th>
                                        <th style="text-align: center;">
                                            VENUE
                                        </th>
                                        <!-- <th style="text-align: center;">
                                            ROLE/S
                                        </th> -->
                                        <th style="text-align: center;">
                                            START DATE
                                        </th>
                                        <th style="text-align: center;">
                                            END DATE
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let e of speakingEngArr">
                                        <td style="display:none;">{{e.id}}</td>
                                        <td style="display:none;">{{e.employeeId}}</td>
                                        <td width="19%">{{e.conferenceTitle}}</td>
                                        <td width="19%">{{e.eventOrganizer}}</td>
                                        <td>{{e.venue}}</td>
                                        <!-- <td>{{e.speakingEngagementRoles}}</td> -->
                                        <td width="6%">{{e.startDate | date: 'MM/dd/yyyy'}}</td>
                                        <td width="6%">{{e.endDate | date: 'MM/dd/yyyy'}}</td>

                                        <td style="text-align: center;" width="230px">
                                            <ng-container *ngIf="e.statusId===0&&global.requestid()!==idnumber ; else btnAres">
                                                <button mat-raised-button color="accent" class="btnstyle" (click)="approveSE(e)" [disabled]="!global.checkaccess(':Employee:SpeakingEngagementPut')">
									    			<i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									    		</button>
                                            </ng-container>
                                            <ng-template #btnAres>
                                                <ng-container>
                                                    <button mat-raised-button color="accent" class="btnstyle" disabled>
										    			<i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
										    		</button>
                                                </ng-container>
                                            </ng-template>

                                            <ng-container *ngIf="global.requestid()!==idnumber; else secondres">
                                                <button mat-raised-button color="primary" class="btnstyle" (click)="updateSEOpenDialog(e)" [disabled]="!global.checkaccess(':Employee:SpeakingEngagementPut')">
									    			<i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
									    		</button>
                                                <button mat-raised-button color="warn" (click)="deleteSE(e.id)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:SpeakingEngagementDelete')">
									    			<i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
									    		</button>
                                            </ng-container>
                                            <ng-template #secondres>
                                                <ng-container *ngIf="e.statusId===0; else thirdres">
                                                    <button mat-raised-button color="primary" class="btnstyle" (click)="updateSEOpenDialog(e)" [disabled]="!global.checkaccess(':Employee:SpeakingEngagementPut')">
										    			<i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
										    		</button>
                                                    <button mat-raised-button color="warn" (click)="deleteSE(e.id)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:SpeakingEngagementDelete')">
										    			<i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
										    		</button>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #thirdres>
                                                <ng-container>
                                                    <button mat-raised-button color="primary" class="btnstyle" disabled>
										    			<i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
										    		</button>
                                                    <button mat-raised-button color="warn" class="btnstyle" disabled>
										    			<i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
										    		</button>
                                                </ng-container>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addSEOpenDialog()" style="margin-left: 10px;" [disabled]="!global.checkaccess(':Employee:SpeakingEngagementPost')">
					  				<i class="material-icons">add</i> Add new (Speaking Engagement)
                                </button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>

                <!--Awards-->
                <mat-tab label="Awards/Achievements">
                    <mat-card *ngIf="tabbing===5">
                        <div style="margin-top: 25px">
                            <mat-accordion style="overflow: hidden">

                                <table class="apptable" id="childrenCSS">
                                    <tr>
                                        <th style="display: none;">
                                            ID
                                        </th>
                                        <th style="display: none;">
                                            empID
                                        </th>
                                        <th style="text-align: center;">
                                            EVENT TITLE
                                        </th>
                                        <th style="text-align: center;">
                                            AWARD RECEIVED
                                        </th>
                                        <th style="text-align: center;">
                                            AWARDING BODY
                                        </th>
                                        <th style="text-align: center;">
                                            VENUE
                                        </th>
                                        <th style="text-align: center;">
                                            DATE AWARDED
                                        </th>
                                        <th style="width: 180px;text-align: center;">
                                            - ACTION -
                                        </th>
                                    </tr>
                                    <tr *ngFor="let e of awardsArr">
                                        <td style="display:none;">{{e.id}}</td>
                                        <td style="display:none;">{{e.employeeId}}</td>
                                        <td width="20%">{{e.eventTitle}}</td>
                                        <td width="20%">{{e.awardReceived}}</td>
                                        <td>{{e.awardingBody}}</td>
                                        <td>{{e.venue}}</td>
                                        <td width="6%">{{e.dateAwarded | date: 'MM/dd/yyyy'}}</td>

                                        <td style="text-align: center;" width="230px">
                                            <ng-container *ngIf="e.statusId===0&&global.requestid()!==idnumber ; else btnAres">
                                                <button mat-raised-button color="accent" class="btnstyle" (click)="approveAw(e)" [disabled]="!global.checkaccess(':Employee:AwardPut')">
                                                    <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                            </ng-container>
                                            <ng-template #btnAres>
                                                <ng-container>
                                                    <button mat-raised-button color="accent" class="btnstyle" disabled>
                                                        <i class="material-icons">done</i><span style="margin-top: 7px">Approve&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>

                                            <ng-container *ngIf="global.requestid()!==idnumber; else secondres">
                                                <button mat-raised-button color="primary" class="btnstyle" (click)="updateAwOpenDialog(e)" [disabled]="!global.checkaccess(':Employee:AwardPut')">
                                                    <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                                <button mat-raised-button color="warn" (click)="deleteAw(e.id)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:AwardDelete')">
                                                    <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                </button>
                                            </ng-container>
                                            <ng-template #secondres>
                                                <ng-container *ngIf="e.statusId===0; else thirdres">
                                                    <button mat-raised-button color="primary" class="btnstyle" (click)="updateAwOpenDialog(e)" [disabled]="!global.checkaccess(':Employee:AwardPut')">
                                                        <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                    <button mat-raised-button color="warn" (click)="deleteAw(e.id)" class="btnstyle" [disabled]="!global.checkaccess(':Employee:AwardDelete')">
                                                        <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #thirdres>
                                                <ng-container>
                                                    <button mat-raised-button color="primary" class="btnstyle" disabled>
                                                        <i class="material-icons">update</i><span style="margin-top: 7px">Update&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                    <button mat-raised-button color="warn" class="btnstyle" disabled>
                                                        <i class="material-icons">delete</i><span style="margin-top: 7px">Delete&nbsp;&nbsp;&nbsp;</span>
                                                    </button>
                                                </ng-container>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </table>

                                <br>

                                <table>
                                    <button mat-raised-button color="primary" (click)="addAwOpenDialog()" style="margin-left: 10px;" [disabled]="!global.checkaccess(':Employee:AwardPost')">
                                      <i class="material-icons">add</i> Add new (Awards/Achievements)
                                  </button>
                                </table>

                                <br>

                            </mat-accordion>
                        </div>
                    </mat-card>
                </mat-tab>


            </mat-tab-group>
        </div>
    </mat-card-content>

</mat-card>