<mat-card class="example-card" id="studlookup" style='padding: 0 !important;'>
  <mat-card-header >
    <mat-card-title><b>Person Finder</b></mat-card-title>
    <mat-card-subtitle>
      <span style="padding: 0;margin:0; font-size: small;">
        Search person by LAST NAME, FIRST NAME, or MIDDLE NAME
      </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class='colo'>
  	<mat-form-field class="example-full-widthminus" style="width: 300px;">
        <input autofocus matInput #idno2 placeholder="" value="" [(ngModel)]="keyword" name="idno" required="required"  (keydown)="keyDownFunction($event)" autocomplete="off">

    </mat-form-field>
      &nbsp;
      &nbsp;
      <button mat-raised-button color="primary" (click)="keyDownFunction('onoutfocus')" style="font-size:11px;min-width:18px;line-height: 15px;height: 28px; padding: 0;margin-left: 5px">
        &nbsp;<i class="material-icons">search</i>
        <span style="margin-top: 7px"> Search&nbsp;&nbsp;&nbsp;</span>
      </button>

      <div>
        <style type="text/css">
          #users td{
            border: 0px solid #ddd;
            font-size: 12px
          }
          .schedule td{
            font-size: 12px
          }
        </style>
        <strong style="font-size: 14px">PERSON INFORMATION:</strong>
        <table class="apptable" id="users" border="0" style="max-width: 700px !important">
          <tr align="left">
            <td>
              <strong>ID Number:</strong>
            </td>
            <td>
              {{idnumber}}
            </td>
          </tr>
          <tr align="left">
            <td>
              <strong>Full name:</strong>
            </td>
            <td>
              {{fullname}}
            </td>
          </tr>
          <tr align="left">
            <td>
              <strong>Gender:</strong>
            </td>
            <td>
              {{getGender(gender)}}
            </td>
          </tr>
          <tr align="left">
            <td>
              <strong>Date of birth:</strong>
            </td>
            <td>
              {{dob | date}}
            </td>
          </tr>
        </table>
      </div>
      <br>
      <div style="max-height: calc(100vh - 400px);overflow-y: scroll;width: 700px !important">
        <p style="text-align: center;"  *ngIf="x!=1">Note: Click the record to show the person information above</p>
        <table style="width: 100%"  (click)="select(f)" *ngFor="let f of arraystud">
          <tr>
            <td style="margin-left: 10px">
              <div style="height: 5px"></div>
            </td>
          </tr>
          <tr>
                  <td style="margin-left: 10px">
                    <b style="color: #294a70 !important;font-size: 16px">{{f.fullName}}</b>
                  </td>
          </tr>
          <tr>
                  <td style="margin-left: 10px"><b>ID Number:</b> {{f.idNumber}}
                  <div style="height: 10px"></div></td>
          </tr>
        </table>



        <p style="text-align: center;"  *ngIf="x==1">
          <br>
          *Please enter part of the Person's name in the SEARCH box then press the [ENTER] key to initiate query.
          <br><br><br>
        </p>
        <div *ngIf="x==0">
          <mat-spinner style="margin-left: auto;margin-right: auto;" *ngIf="arraystud==undefined"></mat-spinner>

          <div *ngIf="arraystud!=undefined">
            <p style="text-align: center;"  *ngIf="arraystud.length==0">
              - No results for {{tempkeyword}} -
            </p><br>
          </div>
        </div>

      </div>
                  <!-- <button mat-raised-button (click)="close()">Cancel</button> -->
  </mat-card-content>
</mat-card>
