<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><b>MISCELLANEOUS HISTORY</b></mat-card-title>
        <mat-card-subtitle>
            <p style="font-size: 12px; padding: 0; margin: 0;">
                This page presents a table-based record of the student's miscellaneous history.
            </p>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class='colo'>
        <mat-divider></mat-divider>
        <div style="width: 990px;">
            <table style="width: 100%">
                <mat-form-field style="width: 200px;" appearance="outline">
                    <mat-label>Select History</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let a of history" [value]="a.value">
                            {{a.viewValue}}
                          </mat-option>
                    </mat-select>
                </mat-form-field>
            </table>

            <div style="max-height: calc(100vh - 385px);overflow-y: scroll;width: 100%;">
                <table class="apptable" style="width: 100%" >

                    <tr>
                        <th>School Year</th>
                        <th>---</th>
                        <th>---</th>
                        <th>---</th>
                    </tr>
                    <tr *ngFor="let classroom of filteredArray">
                        <td>
                            {{classroom.roomNo}}
                        </td>
                        <td>
                            {{classroom.seatingCapacity}}
                        </td>
                        <td>
                            {{classroom.type}}
                        </td>
                        <td>
                            {{classroom.typeDesc}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<button mat-raised-button style="float: right" (click)="onNoClickclose()" color="warning">Close</button>