<mat-card class="example-card">
  <mat-card-header >
    <mat-card-title><b>Seminars and Trainings</b></mat-card-title>
  </mat-card-header>

  <mat-card-content class='colo'>
  	<mat-divider></mat-divider>

      <div>
        <table>
          <tr>
            <td width="160">
              <form class="example-form" id="ngForm" #documentEditForm="ngForm" style="margin-top: 5px;">
              <mat-form-field class="txtid">
                  <input matInput #idno maxlength="7" placeholder="ID Number" [(ngModel)]="id"  value="" name="idno" required="required"  (keydown)="keyDownFunction($event)" >
                  <mat-hint align="start">{{idno.value.length}} / 7</mat-hint>
                </mat-form-field>
            </form>
            </td>
            <td>
              <button mat-mini-fab color="primary" (click)="employeelookup()">
              <mat-icon>search</mat-icon>
            </button>
          </td>
          </tr>
        </table>

        <table *ngIf="showContent">
          <tr>
            <td>
              <h1 id="EmpFullName">{{name}}</h1>
            </td>
          </tr>
          <tr>
            <p id="EmpPosition">{{position}}</p>
            <hr id="hr">
            <h3 id="EmpIDnumber">{{idnumber}}</h3>
            <p id="DTRIDnum">{{dtridnum}}</p>
          </tr>
        </table>
        <br>
        <table style="width: 100%" *ngIf="showContent">
          <tr>
            <td align="right">
              <button
                mat-raised-button
                (click)="export(SeminarTableArr)"
                style="
                  font-size:12px;
                  min-width:18px;
                  line-height: 15px;
                  height: 28px;
                  padding: 0;
                  margin-left: 5px;
                  margin-top: 10px;
                  background-color:#006600;
                  color: white;
                  float: right;">
                &nbsp;&nbsp;<i class="material-icons">cloud_download
                </i> <span style="margin-top: 7px"> Export&nbsp;&nbsp;&nbsp;</span></button>
            </td>
          </tr>
        </table>

        <table class="apptable" id="childrenCSS" *ngIf="showContent">
          <tr>
            <th style="display:none;">
              seminarid
            </th>
            <th style="text-align: center;">
              SEMINAR DESCRIPTIOM
            </th>
            <th style="text-align: center;">
              SPONSOR
            </th>
            <th style="text-align: center;">
              VENUE
            </th>
            <th style="text-align: center;">
              START DATE
            </th>
            <th style="text-align: center;">
              END DATE
            </th>
            <th style="text-align: center;">
              CATEGORY
            </th>
            <th style="display:none;">
              TRAINING ID
            </th>
          </tr>
          <tr *ngFor="let SaT of SeminarTableArr | paginate: configSeminars">
            <td style="display:none;">{{SaT.seminarid}}</td>
            <td>{{SaT.seminardescription}}</td>
            <td>{{SaT.companyname}}</td>
            <td>{{SaT.venue}}</td>
            <td width="6%">{{SaT.startdate}}</td>
            <td width="6%">{{SaT.enddate}}</td>
            <td width="7%">{{SaT.trainingType}}</td>
            <td style="display:none;">{{SaT.trainingTypeID}}</td>
          </tr>
        </table>
        <pagination-controls (pageChange)="pageChangedSeminars($event)" style="float: right;"></pagination-controls>
      </div>


  </mat-card-content>
</mat-card>
