<div *ngIf="studentProfiles.arrayReligion!=null && studentProfiles.arrayReligion.length!=0" style="margin:10px;">
    <!-- <mat-card-title><b>{{studentProfiles.profile}}</b></mat-card-title> -->
    <table class="apptable" *ngIf="studentProfiles.arrayReligion!=null" style="width: 650px" id="Religion">
        <tr>                
          <th style="width:200px">Year Or Grade Level</th>
          <th style="width:200px">Catholic</th>
          <th style="width:100px">NonCatholic</th>                 
        </tr>
       
        <tr *ngFor="let a of studentProfiles.arrayReligion">
              <td>{{a.yearOrGradeLevel}}</td>
              <td>{{a.catholic}}</td>
              <td>{{a.nonCatholic}}</td>                      
        </tr>                   
    </table> 
</div>