<div id="aWE" style="">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><b>Add membership to professional organizations</b></mat-card-title>
        </mat-card-header>
        <div style="height: 10px"></div>
        <mat-card-content class='colo'>
            <table cellspacing="0" style="width: 100%">
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="Organization" formControlName="org">
                            <mat-error *ngIf="form.get('org').invalid && (form.get('org').touched)">Organization is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2">
                        <mat-form-field class="example-full-width" [formGroup]="form">
                            <input matInput placeholder="Position" formControlName="position">
                            <mat-error *ngIf="form.get('position').invalid && (form.get('position').touched)">Position is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td width="50%" style="padding-left: 5px">
                        <mat-form-field class="example-full-width" style="width: 50%;" [formGroup]="form">
                            <input readonly matInput [matDatepicker]="picker" placeholder="Expiration Date" (click)="picker.open()" formControlName="date" name="date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <!-- <mat-error *ngIf="form.get('date').invalid && (form.get('date').touched)">Expiration Date is required</mat-error> -->
                        </mat-form-field>
                    </td>
                </tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="onNoClickclose()" color="warning">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>